[2019-09-19 14:35] dnarcese commented on #2721
Blocked on merging until after the current release (4.5), so that the string has time to be localized.

[2019-09-19 14:38] abodea commented on #2833
Hi please note that I'm able to reproduce this issue only when sending a tab from `Nightly Desktop` browser. When I'm sending from `RC Desktop` there is no problem.
@mcomella can you please try to use `Nightly Desktop`?

[2019-09-19 14:56] abodea opened #2873 "[FxA] The avatar is not updated on FFTV after changing it on the account"
## Steps to reproduce
1. Login with valid credentials(same acc) on FFTV and desktop.
2. Send a tab, perform a sync.
3. Observe the avatar.
4. From the desktop change the avatar.
5. Restart FFTV few times.
### Expected behavior
The avatar is changed.
### Actual behavior
The avatar is not changed.
### Device information
* Fire TV device: **`Fire TV Stick 4k`**
* Latest affected Firefox version: **`F

[2019-09-19 15:00] dnarcese commented on #2864
[This commit](https://github.com/mozilla-mobile/firefox-tv/commit/d027a30d7e0af5922515598a81ecd3479cc1aa64) is where this broke

[2019-09-19 15:03] abodea commented on #2494
Verified as fixed in v4.5-LAT3.

[2019-09-19 15:05] dnarcese commented on #2864
Pinned tile toasts are also broken but should be fixed when this is fixed.

[2019-09-19 17:15] #2861 closed

[2019-09-19 17:50] mcomella commented on #2873
I don't think we receive push messages, or do automated polling, to update profile information: in the current implementation, I'd only expect the profile information to change when cold starting, when it has to be refreshed. This is similar to #2806 where user can revoke access to their account but it doesn't update the status on device.

[2019-09-19 17:59] #2865 closed

[2019-09-19 18:27] mcomella opened #2875 "[FxA] Send tab onboarding is shown each time app is cold started"
## Steps to reproduce
- Start app
- Sign in
- Clear Send tab onboarding
- Force stop app (I used `adb shell force-stop <app-id>`)
- Start app

### Expected behavior
Onboarding is not shown

### Actual behavior
Onboarding is shown

### Device information
* Fire TV device: ?
* Latest affected Firefox version: v4.5-LAT3 master
* Earliest affected Firefox version: ?
* Turbo Mode: ?

[2019-09-19 18:46] mcomella commented on #2833
This also doesn't work in Fenix so this is likely a problem with the library or the FxA server-side. We filed https://github.com/mozilla/fxa/issues/2546.

I haven't tested with Firefox Nightly but I was still able to reproduce this issue once (that is separate from #2867) so I won't repurpose this bug to track that upstream fxa issue.

[2019-09-19 18:47] mcomella opened #2877 "[FxA] Unable to receive tabs sent from Firefox Nightly 71"
This is likely a problem with FxA/send tab upstream. Tracking upstream in ~~https://github.com/mozilla/fxa/issues/2546~~ https://bugzilla.mozilla.org/show_bug.cgi?id=1582542

## Steps to reproduce
- Sign in on FFTV
- Send tab from Firefox Nightly to FFTV

### Expected behavior
Tab receiveid

### Actual behavior
Tab not received

### Device information
* Fire TV device: ?
* Latest affected Firefox

[2019-09-19 19:23] #2860 closed

[2019-09-19 20:20] mcomella commented on #2867
This is expected to be fixed with the a-c upgrade in https://github.com/mozilla-mobile/firefox-tv/pull/2879.

[2019-09-19 20:42] #2875 closed

[2019-09-19 20:42] mcomella commented on #2867
Merged in https://github.com/mozilla-mobile/firefox-tv/commit/e630830f9b228de6fc54ae8ca3fa287c25b7fbad

[2019-09-19 20:42] #2867 closed

[2019-09-20 03:25] ncalexan commented on #781
I imagine this is a Gecko (possibly Web Render?) interaction, 'cuz I see exactly this running a much newer GeckoView in an x86 emulator (under macOS).

[2019-09-20 11:44] abodea commented on #2835
Verified as fixed on v4.5-LAT4.
The default icon is now displayed.

[2019-09-20 11:57] abodea commented on #2861
Verified as fixed in v4.5-LAT4.
Note that I did 10+ logins on the same device and the onboarding screen was displayed every time.

[2019-09-20 12:45] abodea opened #2882 "[FxA] The screen is redirected to other section instead of FxA section when tapping menu overview button"
## Steps to reproduce
1. Install and launch FFTV.
2. Login with valid credentials.
3. Access the FxA section.
4. Tap on the menu overview from the remote.
5. Tap again on the menu overview from the remote in order to return to the FxA section.
### Expected behavior
When tapping the menu overview for the second time, the FxA section is displayed.
### Actual behavior
Any other section is displayed w

[2019-09-20 12:46] abodea commented on #2882
[code]

[2019-09-20 12:51] abodea commented on #2867
Verified as fixed in v4.5-LAT4 following the steps from the description.
Tabs are received correctly.

[2019-09-20 13:24] abodea commented on #2875
Verified as fixed in v.4.5-LAT4.
Note that I used the `adb shell am force-stop org.mozilla.tv.firefox` command to force stop.
When launching the onboarding wasn't displayed.

[2019-09-20 13:43] abodea commented on #2860
Verified as fixed in v4.5-LAT4.
Note that after the successfully login the user is redirected to the home screen overlay where the Onboarding is displayed, dismissing it, the screen remains to the user home screen overlay.

[2019-09-20 14:10] abodea commented on #2493
@Baron-Severin can you help me turn this on?
I tried this **`adb shell am start -n org.mozilla.tv.firefox/org.mozilla.tv.firefox.MainActivity -a android.intent.action.MAIN --esa qaActiveExperiments TurboModeRebrand-2689:B`** but I couldn't activate the experiment.

[2019-09-20 14:14] abodea commented on #2689
@Baron-Severin can you help me turn this on?
I tried this **`adb shell am start -n org.mozilla.tv.firefox/org.mozilla.tv.firefox.MainActivity -a android.intent.action.MAIN --esa qaActiveExperiments TurboModeRebrand-2689:B`** but I couldn't activate the experiment.

[2019-09-20 14:17] abodea commented on #2493
@athomasmoz for this
`If a user is logged out of their account unexpectedly, they have a simple way to log back in`
`To test, I think you can sign into accounts.firefox.com and revoke access from the Fire TV device`

I revoked the access for Fire TV device but I didn't got logged out.(is this intended?)
Everything worked as expected but I was still logged in. After a login I was able to see the de

[2019-09-20 15:17] athomasmoz commented on #2493
Was the broken account icon shown? And when you clicked it, did it take you to the sign in flow?

[2019-09-20 15:19] abodea commented on #2493
No, I was still logged in, my avatar was displayed. I wasn't logged out. Only when I logged out manually the broken account icon was displayed.

[2019-09-20 15:23] athomasmoz commented on #2689
Update on this ticket: for the A/B test, we can turn it to 100% for the new naming and just keep an eye on it over time. We don't have the tracking to plan out an A/B test for it at this time. Since the goal behind the rebrand is to align across products, not to increase usage, we should be ok to start it at 100%

[2019-09-20 15:27] athomasmoz commented on #2493
Ok thanks. I'll check in with the accounts team on expected behaviour, but I don't think we'd need to block release on any changes here.

[2019-09-20 16:05] abodea opened #2883 "[FxA] The Onboarding images after login are not translated on other languages then English"
## Steps to reproduce
1. Change the language on any other expect English.
2. Launch FFTV.
3. Login with valid credentials.
4. Observe the Onboarding images.
### Expected behavior
The onboarding images are displayed in the selected language.
### Actual behavior
The onboarding images are displayed in English no matter what language is selected.
### Device information
* Fire TV device: **`Fire TV Sti

[2019-09-20 16:08] mcomella commented on #2883
The obvious solution is provide a separate image asset per locale but I’m concerned how much space one of these large banner images for each locale will take up. It’s currently 103k for english so it’d be ~800k for an image that users see once.

[2019-09-20 16:08] mcomella commented on #2833
No STR so I can't actively work on this: unassigning.

[2019-09-20 16:19] mcomella commented on #2827
@abodea This doesn't seem to be reproducible in the v4.5-LAT3 (4?) build – if so, can you please close?

[2019-09-20 16:31] abodea commented on #2827
@mcomella Thank you for the reminder!
Verified as fixed on v4.5-LAT4, note that the icon was correctly displayed.

[2019-09-20 16:31] #2827 closed

[2019-09-20 16:36] mcomella commented on #2503
I believe all our UI tests are fixed now.

[2019-09-20 16:36] #2503 closed

[2019-09-20 16:51] mcomella commented on #1649
I can no longer reproduce this.

[2019-09-20 16:51] #1649 closed

[2019-09-20 17:04] mcomella commented on #304
Fire TV uses Chromium 70 now.

[2019-09-20 17:04] #304 closed

[2019-09-20 17:06] mcomella commented on #1455
This hasn't been seen since 3.0.2.

[2019-09-20 17:06] #1455 closed

[2019-09-20 17:07] #2336 closed

[2019-09-20 17:09] mcomella commented on #2287
I can no longer reproduce: this was probably fixed with the upgrade to Chromium 70. Though video playback performance is now poor: we can address that elsewhere (probably in some meta).

[2019-09-20 17:09] #2287 closed

[2019-09-20 17:10] mcomella commented on #2253
^ It sounds like we don't need a long-standing bug for this.

[2019-09-20 17:10] #2253 closed

[2019-09-20 17:12] mcomella commented on #2222
I don't see any changes that need to be made though Pocket/homescreen functionality is limited to this line: "Easily discover and watch videos from YouTube, Pocket (now part of Mozilla) and other popular sites from the home screen.". There are no screenshots so there are no screenshots to update. Closing.

[2019-09-20 17:12] #2222 closed

[2019-09-20 17:13] mcomella commented on #1884
afaik, we're not still implementing the split overlay.

[2019-09-20 17:13] #1884 closed

[2019-09-20 17:13] mcomella commented on #1878
afaik, we're not still doing the split overlay.

[2019-09-20 17:13] #1878 closed

[2019-09-20 17:15] mcomella commented on #2693
afaik, this was reviewed by No-Jun and he provided a label so I think it can be closed.

[2019-09-20 17:15] #2693 closed

[2019-09-20 17:17] mcomella commented on #2746
We're shipping send tab and we didn't add new permissions because there's a possibility send tab might not require an explicit upgrade by users.

[2019-09-20 17:17] #2746 closed

[2019-09-20 17:20] mcomella commented on #2171
I can no longer reproduce this. However, when clicking replay, the video content will be offset, like #2170, despite our hack fixes. The video is not offset the first time it is loaded.

[2019-09-20 17:20] #2171 closed

[2019-09-20 17:21] mcomella commented on #2170
I can no longer reproduce this on first playback, probably due to our video offset fixes. However, **replaying the video will cause the video to be offset**. I'm going to close this and add it to our meta tracking bug https://github.com/mozilla-mobile/firefox-tv/issues/2851.

[2019-09-20 17:21] #2170 closed

[2019-09-20 17:24] dnarcese commented on #2873
This is tracked in FxA here https://github.com/mozilla/application-services/issues/1418

[2019-09-20 17:25] dnarcese commented on #2493
Adding a push event when access is revoked is tracked in FxA here https://github.com/mozilla/application-services/issues/1418

[2019-09-20 17:34] Baron-Severin commented on #2689
@abodea it looks like there's a race condition in the code that prevents that command from taking effect.  I'm looking into it now.

[2019-09-20 17:49] dnarcese commented on #2806
Adding a push event when access is revoked is tracked in FxA here mozilla/application-services#1418

[2019-09-20 18:00] Baron-Severin commented on #2689
Following up on this: we set experiments to use values from the command line early during our startup process, but Fretboard does not allow us to do this in a blocking manner.  That means that anything querying that state within the next few MS will get incorrect values.  I've opened https://github.com/mozilla-mobile/android-components/issues/4488 to request a blocking call.

As for testing @abode

[2019-09-20 18:42] athomasmoz commented on #1962
Check if this is something in our control. Timebox ~3hrs

[2019-09-20 18:50] mcomella commented on #2806
Alternatively, we can do this with polling.

[2019-09-20 20:49] mcomella opened #2884 "Ensure build, publishing docs are up-to-date"
### Vision statement / What / Requirements
It's been a while since we've done a doc audit: let's make sure they're up-to-date.

### Impact
Without this, new folks coming on to the team may have outdated, misleading, or non-existent instructions.

### Acceptance criteria
A new developer to the team has the appropriate documentation to...
- build the app
- publish to the Amazon store

[2019-09-20 20:55] mcomella opened #2885 "Verify CI is working correctly after releng TC changes"
### Vision statement / What / Requirements
Releng is making major refactors to our CI integration in order to make it closer to what our other mobile apps are using and to reduce the amount of work relman has to do during a release.

### Impact
Without verifying that our CI is working in advance, it may not work when we need it to and it might be hard to merge code or create a release.

### Accept

[2019-09-20 20:57] mcomella commented on #2773
Repurposing this bug to deal with a11y across the entire app.

[2019-09-20 21:02] mcomella opened #2886 "Scan through crash dashboard to see if there's anything concerning"
### Vision statement / What / Requirements
Eng hasn't looked through the crash dashboards in a while: we should scan through and see if there's anything concerning.

### Impact
If we don't do this, there may be a crash that is easy to spot now but may become more problematic in the future. Also, it's possible a few crashes might uncover questionable code that results in another, more serious probl

[2019-09-20 21:38] mitchhentges commented on #2885
Automatically uploading builds to Github wasn't completed, but when `firefox-tv@mozilla.com` is emailed that automation is ready, it links to both the APK and the release to make uploading it a breeze

[2019-09-20 22:06] athomasmoz commented on #2689
@Baron-Severin I just realized that we can't send this out to all users because we held off localization pending the A/B test. Can we turn it on for all EN and I'll kick off the localization process in a separate ticket?

[2019-09-20 22:15] athomasmoz opened #2888 "Update Turbo Mode to Enhanced Tracking Protection for all users"
### Why/User Benefit/User Problem

In #2687 & #2689 , we updated the branding for Turbo Mode to Enhanced Tracking Protection for EN to better align with the naming across browsers. This is also more descriptive of the feature. This ticket is to do the same for our other locales

### Acceptance Criteria (how do I know when I’m done?)

* Turbo mode onboarding has been updated to ETP across all local

[2019-09-20 22:24] athomasmoz commented on #2888
Marking this a low priority. No issue with the current branding, but would be nice to align in future

[2019-09-20 23:31] Baron-Severin commented on #2689
Only displaying to EN users was part of the original AC for this ticket, so it's hardcoded in.  We can release this and turn it on in Kinto, and it'll still only show up for EN users.

[2019-09-23 01:26] brampitoyo commented on #2883
@mcomella @athomasmoz Let’s try replacing this image with a ‘universal’ illustration solely composed of shapes and icons – no word.

1. The illustration:
    * Allows users to identify what device they have, based on the position of the URL bar
    * Shows users where to click/tap to access the send-share menu
2. The instruction text tells users what each button and menu item say

What do you thin

[2019-09-23 13:58] abodea commented on #2720
#### Hi, I just finished the test cases for `Send Tab` here are some details:
Under the `send tab` folder you can find:
 - First Launch
 - Onboarding screens
 - Create accounts & Sign in & Logout
 - Send Tab Settings
 - Send tabs(from desktop/mobile)

Included in both FFTV Lite and Basic Functional Tests.
I tried to make sure that it contains a sign up or a login too, being part of the flow.
Based

[2019-09-23 13:58] #2720 closed

[2019-09-23 15:40] dnarcese commented on #2682
I will update our language support in the 4.5 release.

[2019-09-23 17:28] Baron-Severin commented on #2806
@athomasmoz how frequently do we want to poll here?  It's a trade off between how rapidly users see that they've been logged out vs how many extra requests we hit our backend with.

[2019-09-23 17:58] athomasmoz commented on #2806
Hmm what's the impact on sending the request? Could we start with 24hours?

[2019-09-23 18:34] Baron-Severin commented on #2806
Impact on us: e.g., I log out on desktop.  FFTV will still think I'm logged in (display the wrong icon, not nav to reauthenticate page on FxA button click) until we next poll.

Impact on FxA: the more frequently we poll, the more requests they need to handle.  This increases server costs.

I don't know where to balance this.  Anything longer than instant update is a bad user experience, but doing

[2019-09-23 18:35] #2883 closed

[2019-09-23 18:38] dnarcese commented on #2682
From Amazon docs https://developer.amazon.com/docs/app-submission/distribute-your-app-internationally.html#supported_languages:

So, changing these languages in the release dashboard does not affect which countries get the app, it goes to every country by default. It just lets users know which languages we support. So we should update it to be accurate.

[2019-09-23 19:18] dnarcese commented on #2682
Dashboard is now updated with language support: Chinese, English, French, German, Italian, Japanese, Portuguese, Spanish.

[2019-09-23 19:18] #2682 closed

[2019-09-23 20:13] mcomella commented on #2883
@brampitoyo Interesting! I didn't consider what this would look like without text. However, I'm concerned it's lacking a little context.

As someone who has used send tab on desktop, that illustration made sense to me. However, having not used send tab on Fenix or iOS, I was confused by those and had trouble distinguishing the devices or that they were even mobile devices.

I wonder if we could tr

[2019-09-23 21:08] #2844 closed

[2019-09-23 21:08] #2721 closed

[2019-09-23 21:48] brampitoyo commented on #2883
@mcomella That was my concern, as well. Unfortunately, because the image contains no text, we rely on the caption to do the bulk of the explanatory work. We hope it’s good enough to do that.

Let’s try adding platform icons:

![Homescreen - Receive tabs onboarding 2@2x](https://user-images.githubusercontent.com/51007/65464947-387efc00-deaf-11e9-9913-5fc735d025ec.png)

Or platform text:

![Homescre

[2019-09-23 23:15] Baron-Severin commented on #2689
Following up here.  I misinterpreted some documentation on Fretboard, and it looks like while the call is non-blocking, it should still give the correct response.  I did some additional debugging on our end, and afaict we're doing a substantial amount of setup before receiving and processing the intent that updates Fretboard state.  This is true for several other experiments as well, but we've bee

[2019-09-24 04:27] hackel commented on #2660
Very disappointing that Firefox TV *still* cannot run on Android TV.  This should be the priority, with third-party forks like Amazon's OS coming later as time permits.

[2019-09-24 04:37] hackel opened #2893 "Installation Failure: Package has no certificates at entry AndroidManifest.xml"
## Steps to reproduce
Install Firefox TV: `adb install firefox-tv-4.5.apk`

### Expected behavior
App installs normally

### Actual behavior
`failed to install firefox-tv-4.5.apk: Failure [INSTALL_PARSE_FAILED_NO_CERTIFICATES: Package /data/app/vmdl913086765.tmp/base.apk has no certificates at entry AndroidManifest.xml]`

### Device information
* Android TV device: Android 8
* Latest affected Fire

[2019-09-24 18:19] #2806 closed

[2019-09-24 21:56] mcomella commented on #2883
(having not viewed it on TV) I actually love the Android + iOS icons and while I can see what you mean, it doesn't feel too cluttered to me (then again, if users are in a rush...). Perhaps it'd feel less cluttered if we included a desktop icon (i.e. I think we usually use a laptop) and shrunk the desktop example too so that there are fewer horizontal lines?

This isn't clear to me, nor am I sure h

[2019-09-24 22:06] mcomella commented on #2893
Thanks for reporting, I think the uploaded APK was not signed so I:
- Uploaded a new APK that is a signed version of the old one: `firefox-tv-4.5-signed.apk`
- Renamed the existing APK (to avoid being destructive): `firefox-tv-4.5-unsigned.apk`

Please try installing `firefox-tv-4.5-signed.apk` and see if it works! If it doesn't, please reopen this issue.

[2019-09-24 22:06] #2893 closed

[2019-09-25 18:09] athomasmoz commented on #2873
Closing this in favour of tracking in FxA

[2019-09-25 18:09] #2873 closed

[2019-09-25 18:11] athomasmoz commented on #2872
Closing as lower priority for now. Agreed that a prompt will become important in future to describe the impact on account, will re-open when more sync features are considered

[2019-09-25 18:11] #2872 closed

[2019-09-25 18:17] athomasmoz commented on #2832
Should we also mention receive tab in the description? It's a competitive advantage over Silk @lwa-moz

[2019-09-25 18:18] athomasmoz commented on #2831
@abodea have you seen this since?

[2019-09-25 18:19] athomasmoz commented on #2829
Hey @abodea how often does this happen?

[2019-09-25 18:23] athomasmoz commented on #2810
@AndiAJ Have you seen this on any other sites? Or is it specific to Fandango

[2019-09-25 18:25] athomasmoz commented on #2808
Closing off as lower priority. This may be expected behaviour

[2019-09-25 18:25] #2808 closed

[2019-09-25 18:26] athomasmoz commented on #2801
Closed. No work identified as needed for branding updates

[2019-09-25 18:26] #2801 closed

[2019-09-25 19:44] mcomella commented on #2882
P3: it's not the intended behavior and feels unpolished but it doesn't stop the user from doing anything.

[2019-09-25 19:46] mcomella commented on #2870
P3: because there is a **workaround** for developers trying to bisect: check out and build locally.

[2019-09-25 19:48] mcomella commented on #2825
athomasmoz mentioned they actually kind of like this behavior because it indicates to the user sign is is happening in the same WebView and isn't independent from the browser.

[2019-09-25 19:48] mcomella commented on #2818
P3: users are very, very unlikely to visit accounts.firefox.com on FFTV.

[2019-09-25 23:30] mitchhentges opened #2897 "[automation] don't push to amazon if LAT release"
Based on the git tag, do either:
* (git tag is not `LAT`): push app to Amazon as "upcoming release"
* (git tag is `LAT`): don't push app to Amazon, update email with link to unsigned APK for a human to manually push to Amazon

[2019-09-25 23:52] mcomella commented on #2805
QA: after the user successfully signs in, the browser should update to the page the user was on before sign in: please verify this behavior. Note that the user will have to first close onboarding and then close the overlay to see the web content with the restored page.

[2019-09-25 23:54] mcomella opened #2899 "[FxA] User must explicitly click "Continue" for sign in success during email validation"
## Steps to reproduce
- Click FxA sign in
- Begin sign into an account **that requires email validation**. Complete email validation on another device then stop, taking no action on the Fire TV.

### Expected behavior
Device displays, "Login success" onboarding and internally saves the login success state.

### Actual behavior
User must manually click "Continue" before the device displays "Login s

[2019-09-26 00:04] #2730 closed

[2019-09-26 05:46] AndiAJ commented on #2810
@athomasmoz , no,haven't seen this video control bar on other websites, it's specific to Fandango

[2019-09-26 07:20] abodea commented on #2831
@athomasmoz I was able to reproduce this issue only once, I didn't encountered it anymore.

[2019-09-26 15:11] vladikoff commented on #2899
this is due to https://github.com/mozilla/fxa-content-server/issues/6089

and

https://stackoverflow.com/questions/41524087/navigation-is-blocked-when-redirecting-from-chrome-custom-tab-to-android-app/41882732#41882732

[2019-09-26 18:00] athomasmoz commented on #2831
Ok thanks, I'm going to close this as not reproducible. Please re-open if you see it again

[2019-09-26 18:00] #2831 closed

[2019-09-26 23:10] mcomella opened #2900 "Release management checklist - v4.6"
# Sprint Release Owner: mcomella

_Think something can be automated? Add it to [this doc](https://docs.google.com/document/d/1I_pf7RhR8uC0P_jB8o5Y8teNxUuLlpKiF_FyBW9veFY/edit?ts=5cdc4d67)._

#### Thursday # 1 (soft code freeze = EoD PT)

- [x] Verify all `strings-ready` issues in Sprint have strings landed (exports now happen automatically). If not, check with L10N/PM if the issue needs to be remo

[2019-09-27 20:54] #2864 closed

[2019-09-27 21:01] #2805 closed

[2019-09-30 15:32] #2637 closed

[2019-09-30 18:24] mcomella commented on #2833
@abodea Since we fixed #2867, have you seen this again on non-Nightly desktop builds (the issue for Nightly builds is #2877)?

If you haven't seen it again, it's possible this was a local build issue or that I mis-diagnosed the issue (e.g. confused it with #2867).

---

@athomasmoz If Andrei hasn't seen this issue and we want to make sure it's not really an issue, we could compare the telemetry on

[2019-10-01 00:07] liuche commented on #1932
Originally I thought that this would just be a quick change to start using the Glean SDK crash count ping in the metrics ping, and update the documentation, but it looks like we'd need to make a *permissions bump* in order to that, after talking w/ @mcomella .

I don't think that adding this ping is worth forcing a permissions bump - this still wouldn't give us a non-native exceptions count (bc th

[2019-10-01 06:52] Dexterp37 commented on #1932
@mcomella @liuche what's the new required permission?

Please note that this would also account for "sideloads" of FFTV, if that's a thing on this platform. Sentry does not contain data about sideloads AFAIK.

[2019-10-02 04:03] kick3468 commented on #2299
I would like to work in this issue.

[2019-10-02 16:57] athomasmoz commented on #1932
@Dexterp37 when new permissions are added, users won't be automatically updated to the newest version of the app. This means that we may have users stuck on old versions, not getting security updates or new features.

@liuche agreed with your recommendation that it's not worth the risk

[2019-10-02 17:00] Dexterp37 commented on #1932
Thanks for the clarification. I was interested in knowing what permission does this need and why does it need it: to understand if is something that could be relaxed or fixed on the `lib-crash` side of things :)

[2019-10-02 17:35] travis79 commented on #1932
It looks like FFTV [already uses](https://github.com/mozilla-mobile/firefox-tv/blob/66c82c126961f5dfa914495803bbf787128466b5/app/src/main/AndroidManifest.xml#L10) 2 of the 3 permissions that [lib-crash uses](https://github.com/mozilla-mobile/android-components/blob/18a27894dbcaca2e4f11d2eec443c869f8d2a212/components/lib/crash/src/main/AndroidManifest.xml#L7), it would appear that the adding of the

[2019-10-02 17:40] athomasmoz commented on #2779
@AndiAJ do you mind filing this on under https://github.com/mozilla/application-services/

Let's keep it open in our repo too so we can keep track of it.

[2019-10-02 17:51] athomasmoz commented on #2773
Can we do an initial pass on this? May look for expertise from A11y team later, but we could do a pass to start.

[2019-10-02 18:28] mcomella opened #2904 "Verify behavior when receiving multiple tabs at the same time"
### Vision statement / What / Requirements
I'm not sure we actually tested receiving many tabs at the same time: we should test and verify the behavior, e.g. so that we don't crash!

### Impact

### Acceptance criteria
- Filed any follow-ups necessary for behavior when receiving many tabs.

[2019-10-02 18:31] mcomella commented on #2904
From desktop -> Select All Tabs -> Send 2 tabs to Device, we will receive both tabs and record telemetry for both of them **but only actually show one to the user.** It appears the bottleneck is calling our `screenController.showBrowserScreenForUrl` method: it receives both tab events and drops one on the floor. We could fix this by adding a delays between multiple received tabs.

Waiting for @ath

[2019-10-02 18:35] mcomella commented on #1932
@travis79 We're still unsure if adding permissions that aren't tracked by the system forces users to explicitly update the app on the versions we're concerned about.

However, I think we can workaround this concern entirely by using the `<uses-permission-sdk-23` tag – which only declares the permission for SDK 23+ – instead of the `<uses-permission-sdk` tag.

[2019-10-02 18:46] travis79 commented on #1932
Thanks @mcomella! I honestly didn't know how it should work so I appreciate the extra information.

[2019-10-02 18:47] mcomella commented on #2299
@kick3468 Thanks for checking out Firefox and offering to contribute! Unfortunately, our upstream API doesn't include the duration of the videos yet so this is issue blocked.

If you'd like to work on another Mozilla issue, I'd recommend looking at [our Hacktoberfest blog post](https://medium.com/firefox-mobile-engineering/participating-in-hacktoberfest-with-firefox-preview-fc68cc318643). The two

[2019-10-02 20:50] mcomella opened #2905 "Bug 1583583"
https://bugzilla.mozilla.org/show_bug.cgi?id=1583583

[2019-10-02 20:50] #2905 closed

[2019-10-03 15:46] athomasmoz opened #2907 "When app is backgrounded, it will only receive the most recent tab"
### Why/User Benefit/User Problem

As a user, I want Firefox for Fire TV to receive tabs, even when backgrounded, so that I can send tabs to look at on my TV when I get home later

### Acceptance Criteria (how do I know when I’m done?)

* All sent tabs are received when Firefox is in the background
* If multiple tabs are sent, it is treated as though you are navigating to multiple URLs, with each

[2019-10-03 15:51] athomasmoz opened #2908 "Queue Received Tabs"
### Why/User Benefit/User Problem

As a user, I want to send multiple tabs to Firefox for Fire TV, so that when I'm finished with one, the next is already queued up

### Acceptance Criteria (how do I know when I’m done?)

* Handle receiving multiple tabs fat the same time
![image](https://user-images.githubusercontent.com/43346208/66142789-f5154380-e5ba-11e9-83d5-7f531af50a8c.png)
* When a tab is

[2019-10-03 15:53] athomasmoz commented on #2777
Closing issue in favour of the breakout issues:
#2904
#2907
#2908

[2019-10-03 15:53] #2777 closed

[2019-10-03 20:08] mcomella opened #2909 "If user receives many tabs at the same time in the foreground, only one will be opened"
Follow-up to https://github.com/mozilla-mobile/firefox-tv/issues/2904.

This bug is for the foreground use case; see #2907 for the background use case.

## Steps to reproduce
- Sign into FxA, leave FFTV in the foreground
- On desktop, open multiple tabs, right-click "Select all tabs", right-click "Send X tabs to device"

### Expected behavior
Each tab loads into the browsing history though natural

[2019-10-03 20:08] mcomella commented on #2904
I filed https://github.com/mozilla-mobile/firefox-tv/issues/2909 as my follow-up: closing in favor of that.

[2019-10-03 20:08] #2904 closed

[2019-10-04 16:53] mcomella opened #2911 "Bug 1586348"
https://bugzilla.mozilla.org/show_bug.cgi?id=1586348

[2019-10-04 22:49] #2911 closed

[2019-10-04 22:52] mcomella opened #2912 "Bundled Pocket tiles point to now invalid youtube TV URL"
## Steps to reproduce
- Clear app data
- Open FFTV
- Click a pocket tile

### Expected behavior
Taken to video on mobile youtube

### Actual behavior
Unable to watch video: taken to youTube TV redirect screen (because it's now unavailable), which redirects to YouTube desktop homescreen.

Note: these bundled tiles should only be visible for < 24 hours and only visible to new users.

### Device info

[2019-10-08 22:18] mcomella commented on #2538
I documented my challenges [in this doc](https://docs.google.com/document/d/1pClm1YruqbPnjcYT7tm8CWebPAJNWUiSxVW7cXyvbOg/edit#) and will share it with the FxA team.

[2019-10-08 22:18] #2538 closed

[2019-10-08 23:14] mcomella opened #2914 "[a11y] Pressing menu key on turbo mode onboarding will read out unactionable image description text"
## Steps to reproduce
- Enable VoiceView
- Clean app data
- Start app
- Wait for talking to finish
- Press menu

### Expected behavior
Screen is re-read but description of image is not read.

### Actual behavior
Screen is re-read but description of image is read despite being unactionable and redundant to the other text on the screen.

### Device information
* Fire TV device:
* Latest affected Fir

[2019-10-08 23:15] mcomella opened #2915 "[a11y] Screen reader does not read description on Send Tab onboarding"
## Steps to reproduce
- Clean install, open app

### Expected behavior
Screen reader reads entire screen including description text, "Send a tab from Firefox..."

### Actual behavior
Screen reader only reads title & button text.

### Device information
* Fire TV device: ?
* Latest affected Firefox version: v4.5+ master 2cc87063e1808eaaa291b818cb22c952c9469607
* Earliest affected Firefox version: ?

[2019-10-08 23:16] mcomella opened #2916 "[a11y] Pressing menu on send tab onboarding will read out unactionable image description text"
See #2914 for a similar issue.

## Steps to reproduce
- Turn on Voiceview
- get to send tab onboarding
- wait for speaking to finish
- press menu

### Expected behavior
Re-reads screen, no description of image

### Actual behavior
Re-reads screen with description of image

### Device information
* Fire TV device: ?
* Latest affected Firefox version: v4.5+ master 2cc87063e1808eaaa291b818cb22c952c94

[2019-10-08 23:18] mcomella opened #2917 "[a11y] Pocket title & description not read when entering Pocket section"
## Steps to reproduce
- Enable voiceview
- On homescreen, scroll to a pocket video

### Expected behavior
Pocket title and description are read before the first video content

### Actual behavior
Only the video content is read.

### Device information
* Fire TV device: ?
* Latest affected Firefox version: v4.5+ master 2cc87063e1808eaaa291b818cb22c952c9469607
* Earliest affected Firefox version: ?

[2019-10-08 23:19] mcomella commented on #2916
I'm going to merge into #2914.

[2019-10-08 23:19] #2916 closed

[2019-10-08 23:24] mcomella opened #2918 "[a11y] Settings channel tiles do not have any annoucements"
## Steps to reproduce
- Open VoiceView
- Scroll down to Settings channel
- Scroll between items in the channel

### Expected behavior
Announcements: "Send usage data", "About", etc.

### Actual behavior
No announcements. The Settings channel title is also not announced: #2917.

### Device information
* Fire TV device: ?
* Latest affected Firefox version: v4.5+ master 2cc87063e1808eaaa291b818cb22c9

[2019-10-08 23:28] mcomella opened #2919 "[a11y] WebView can be accessed when nav overlay is displayed and should take focus"
## Steps to reproduce
- Enable VoiceView
- Open a website
- Open nav overlay (double tap menu button)
- Move cursor around

### Expected behavior
Only navigation overlay is focusable

### Actual behavior
WebView is focusable, making it nearly impossible to interact with the navigation overlay

### Device information
* Fire TV device: ?
* Latest affected Firefox version: v4.5+ master 2cc87063e1808e

[2019-10-08 23:33] mcomella opened #2920 "[a11y] When pinning/unpinning sites, the pinned announcement is interrupted making it unclear what happened"
## Steps to reproduce
- enable voiceview
- Visit a page
- Open nav overlay
- Pin/unpin site

### Expected behavior
Announces pin/unpin toast: "Unpinned from Firefox TV homescreen". Then announces that it's focused the WebView and any site relevant content.

### Actual behavior
"Unpin... WebView. (sometimes site specific content"

### Device information
* Fire TV device: ?
* Latest affected Firefox

[2019-10-08 23:35] mcomella opened #2921 "[a11y] "Requested desktop version" toast is not announced"
## Steps to reproduce
- enable voiceview
- Visit a site
- Click "Request desktop site"

### Expected behavior
"Requested desktop version" toast is announced, followed by "WebView" and site specific content.

### Actual behavior
Toast is not announced: "WebView" is immediately spoken.

Because the tooltip is so clear, I'm not too concerned about this, at least for english users.

### Device informa

[2019-10-08 23:39] mcomella opened #2922 "[a11y] Google video search tile is announced as "Video search""
## Steps to reproduce
- enable voiceview
- Highlight google video search

### Expected behavior
"Google video search"

### Actual behavior
"Video search": it might be confusing to users.

### Device information
* Fire TV device: ?
* Latest affected Firefox version: v4.5+ master 2cc87063e1808eaaa291b818cb22c952c9469607
* Earliest affected Firefox version: ?
* Turbo Mode: ?

[2019-10-08 23:40] mcomella opened #2923 "[a11y] Tiles moving horizontally when navigating vertically between channels is confusing"
## Steps to reproduce
- enable voiceview
- Open app with cleared app data
- Pass through onboarding
- Mouse over "Vox: How to build a dinosaur"
- Move down (note: youtube is announced)
- Move up (vox)
- Move right (another pocket video)
- Move down

### Expected behavior
YouTube is announced again

### Actual behavior
Google search is announced because of a bug where we don't always focus the left

[2019-10-08 23:43] mcomella opened #2924 "[a11y] Contents of Send usage data screen are not read"
## Steps to reproduce
- enable voiceview
- Open Send Usage Data settings

### Expected behavior
"Send usage data. Mozilla strives... Switch, checked."

### Actual behavior
Nothing is read. Pressing down does nothing. Pressing up to focus the back button says, "Navigate back, button." Pressing down from there says, "Send usage data, switch." Clicking the switch says, "Send usage data, switch, not c

[2019-10-08 23:48] mcomella opened #2925 "[a11y] Pressing menu does not read contents of Send Usage Data, Clear all Cookies settings screens"
## Steps to reproduce
- enable voiceview
- Enter Send Usage Data or Clear all Cookies settings screens
- (nothing is read: bug #2924)
- Press menu

### Expected behavior
Screen contents are re-read

### Actual behavior
Nothing is announced.

### Device information
* Fire TV device: ?
* Latest affected Firefox version: v4.5 master 2cc87063e1808eaaa291b818cb22c952c9469607
* Earliest affected Firefox

[2019-10-08 23:51] mcomella opened #2926 "[a11y] Users may find it unintuitive that some settings screens display content in WebView, which requires review mode navigation"
## Steps to reproduce
- enable voiceview
- Visit About or Privacy notice settings screens

### Expected behavior
Page is navigable, likely because we automatically entered review mode.

### Actual behavior
Page is mostly unnavigable. The user must enter review mode to navigate it intuitively (like all WebView content) but they will not have context that we switched rendering from Android to WebVie

[2019-10-08 23:56] mcomella opened #2927 "[a11y] Transitioning to FxA log in screen is unintuitive with screen reader"
## Steps to reproduce
- enable voiceview
- Visit a web page
- open nav overlay
- Click send tabs button

### Expected behavior
"Loading... Enter your email address to sign into Firefox accounts, edit" or similar.

### Actual behavior
Content from previous page is read then, "Firefox Accounts, email, edit." If the page takes a while to load, it'll be really unclear what's happening.

### Device inf

[2019-10-09 00:00] hvianna opened #2928 "Keyboard events won’t trigger while site is in fullscreen"
I’m using a wireless keyboard. The issue began after the Shield TV updated to Android 9.

## Steps to reproduce

Open https://codepen.io/hvianna/full/bGGNoKB
Press any key on keyboard. Click the “toggle fullscreen” button. Press any key.

### Expected behavior

Keys pressed should appear in the darker text area.

### Actual behavior

While in fullscreen no keypresses are registered. Pressing the ‘

[2019-10-09 00:29] mcomella opened #2929 "[a11y] "Tab sent from Firefox on <device name>" toast is not announced"
## Steps to reproduce
- enable voiceview
- sign in to FxA
- Send tab to device

### Expected behavior
Toast is announced, "Tab sent from Firefox on mcomella's mac", then page contents are announced.

### Actual behavior
Nothing is announced until page has sufficiently loaded. Because we don't announce page loading states, it's unclear they're even receiving a tab and could users.

### Device infor

[2019-10-09 00:31] mcomella opened #2930 "[a11y][FxA] Mozilla logo on initial FxA sign in screen announces a link instead of something human readable"
## Steps to reproduce
- enable voiceview
- CLick sign in
- Mouse down until Mozilla logo is selecetd

### Expected behavior
Something human readable like, "Link to mozilla.org"

### Actual behavior
A link, or similar to read, "https:// (gibberish)"

### Device information
* Fire TV device: ?
* Latest affected Firefox version: v4.5+ master 2cc87063e1808eaaa291b818cb22c952c9469607
* Earliest affecte

[2019-10-09 00:33] mcomella opened #2931 "[a11y][FxA] FxA email, password screens do not describe what's happening"
## Steps to reproduce
- enable voiceview
- click FxA sign in button
- (see expected, actual behavior)
- Enter email, press continue to go to password screen
- (see expected, actual behavior)

### Expected behavior
"Enter your email address to begin signing into Firefox Accounts, edit."

### Actual behavior
"Firefox accounts, email, edit."

Note: this website may be more navigable by screen readers

[2019-10-09 00:37] mcomella opened #2932 "[a11y][FxA] When user enters username/pass and needs email validation, page contents are not announced"
## Steps to reproduce
- enable voiceview
- Start FxA sign in, entering email and password on an account that requires email validation

### Expected behavior
When email validation is required, that is announced to the user

### Actual behavior
Nothing is announced to the user: **they'll have no idea what to do next.**

This site may be more navigable in review mode (I haven't tested yet) but they

[2019-10-09 00:39] mcomella opened #2933 "[a11y][FxA] After email is validated, no announcement of appearance of "Continue" button"
## Steps to reproduce
- enable voiceview
- Start FxA sign in on an account that needs email validation
- Enter username, password, and validate your email on your remote machine
- Wait before pressing "Continue"

### Expected behavior
Announcement is made letting the user know their email was successfully validated and that they need to press continue to advance.

### Actual behavior
No announceme

[2019-10-09 00:44] mcomella opened #2934 "[a11y] YouTube's "tap to unmute" feature may be hard to use with screen reader"
## Steps to reproduce
- enable voiceview
- Click a Pocket video (can't be bundled: #2912)

### Expected behavior
Video plays & audio plays

### Actual behavior
Video plays but audio does not play. User must discover "Tap to unmute" spatially or through review mode before they can click it and get audio to play.

### Device information
* Fire TV device: ?
* Latest affected Firefox version: v4.5+ ma

[2019-10-09 00:45] mcomella commented on #2773
I have completed a review of the standard portions of the app and filed bugs. I still need to:
- Test review mode on FxA login (which is likely non-standard for users)
- Test out non-standard FxA flows
  - Create account
  - Invalid email, password
  - Enter an email that doesn't have an account
  - Use "Forgot password" option

[2019-10-09 17:33] mcomella commented on #2934
This may also be a problem for non-screen reader users that we want to fix.

[2019-10-09 17:38] athomasmoz commented on #300
This might fix a number of issues we've run into during the sign in & sign up flow. Adding this to our backlog to test out the potential impact

[2019-10-09 17:52] mcomella commented on #2929
P3: this is most concerning when there is someone else sending tabs to the device, which is less likely. With a single user, they'll probably remember they sent these tabs.

[2019-10-09 18:04] athomasmoz commented on #2928
Thanks for logging. Adding a P3 label to keep track of it. It's a little lower frequency because it's only an issue when keyboards are used to control the app

[2019-10-09 18:05] athomasmoz commented on #2920
This should be considered as part of #2631

[2019-10-09 18:06] athomasmoz commented on #2631
Consider #2920 when looking at renaming. The term "bookmark" may be more clear when read out aswell

[2019-10-09 18:53] mcomella commented on #388
We don't need individual issues to track orientation text: see #299.

[2019-10-09 18:53] #388 closed

[2019-10-09 18:54] mcomella commented on #364
We don't need individual issues to track orientation text: see #299.

[2019-10-09 18:54] #364 closed

[2019-10-09 18:58] mcomella opened #2935 "[a11y] Unable to enter text in WebView text fields without disabling review mode"
## Steps to reproduce
- enable voiceview
- visit a web page with a text field (e.g. google.com)
- enable review mode by long pressing menu. We expect users to generally use review mode to navigate WebView content
- Cursor over the text field
- Press select

### Expected behavior
Keyboard raises and user can enter text

### Actual behavior
Nothing happens.

Silk does the expected behavior here.

##

[2019-10-09 18:59] mcomella commented on #300
One problem I discovered with Review Mode in Firefox is that we're unable to enter text into WebView text fields without disabling Review Mode: https://github.com/mozilla-mobile/firefox-tv/issues/2935. This does not affect Silk.

[2019-10-09 19:07] mcomella commented on #2885
Mitch thinks we should try this out on a real release:

So I believe no further verification work is necessary here, if we keep this in mind before doing our next release.

[2019-10-09 19:07] #2885 closed

[2019-10-09 19:08] mcomella opened #2936 "[a11y][FxA] Review a11y of non-standard FxA flows"
Follow-up to #2773.

### Vision statement / What / Requirements
It's been a while since we've checked our ability to be used with a screen reader: we should ensure it's working. In particular, we just finished the Send Tab functionality so we ensure that is working too.

### Impact
Screen reader users may be unable to use these features without this testing.

### Acceptance criteria
*Other screens

[2019-10-09 19:10] mcomella commented on #2773
I tested review mode and updated the already filed bugs accordingly: it's a better experience besides the fact that we can't open text fields without disabling review mode: #2935.

The remaining work here has diminishing returns, I think, so I filed a follow-up to track instead: https://github.com/mozilla-mobile/firefox-tv/issues/2936

[2019-10-09 19:10] #2773 closed

[2019-10-09 19:28] mcomella commented on #2877
The upstream issue has been closed and Andrei reported on Slack that he believes it's fixed: closing.

[2019-10-09 19:28] #2877 closed

[2019-10-09 19:30] #2897 closed

[2019-10-09 19:30] #2842 closed

[2019-10-09 19:31] #2793 closed

[2019-10-09 19:31] mitchhentges commented on #2897
Fixed in #2906

[2019-10-09 19:31] mitchhentges commented on #2842
Fixed in #2892

[2019-10-09 22:56] mcomella opened #2937 "[FxA] "Not now" button telemetry is incorrect: sent every time preboarding is shown"
https://searchfox.org/mozilla-mobile/rev/5a11d65b0db47eab3a32946148ff68bd0d452ff5/firefox-tv/app/src/main/java/org/mozilla/tv/firefox/onboarding/ReceiveTabPreboardingActivity.kt#55 - we're currently triggering the "Not now" telemetry every time the receive tabs preboarding is shown, rather than when "Not now" is pressed.

### Device information
* Fire TV device: ?
* Latest affected Firefox version

[2019-10-11 08:38] abodea commented on #2877
I just verified the issue on the bugzilla, on the 70.0b14 and 71.0a1(latest nightly). Note that I've sent more than 15 tabs from beta 14 and the latest nightly, everything worked as expected, tabs being received on the Fire TV.

[2019-10-11 14:38] abodea opened #2938 "[FxA] Fennec doesn't display Fire TV as an option to send tabs"
## Steps to reproduce
1. Sing in on FFTV.
2. Sign in on Fennec(can be any nightly, beta, release)
3. Sync the accounts.
4. Open any tab on fennec and try to send it to Fire TV.
### Expected behavior
Fire TV is displayed on the devices option.
### Actual behavior
Fire TV is not displayed on the devices option after a sync.
### Device information
* Fire TV device: **`Fire TV 4k Stick`**
* Latest aff

[2019-10-11 14:38] abodea commented on #2938
Note that there is no problem when trying to send tabs from Fenix or desktop, everything works as expected.

[2019-10-11 14:45] abodea commented on #2938
I synced up with Edouard Oger on slack and he explained this:
`Fennec uses the old send tab back-end whereas Fenix and FireTV use the new one, and they are not compatible with each other
Desktop uses both the new and old one, which explain why it works with everybody`
I will close this issue based on my comment.

[2019-10-11 14:45] #2938 closed

[2019-10-14 19:02] charkes opened #2940 "Cast icon appears over video (when video has no player controls?)"
## Steps to reproduce

I have a web page with an HTML5 video playing.  When the video starts, the cast icon appears for a few seconds on the top left of the video.  I can use the cursor to hover over it and it'll appear.  Clicking it does nothing.  Any information on why this is appearing and how I can turn it off?

![IMG_0134](https://user-images.githubusercontent.com/3394450/66775970-e405e580-ee

[2019-10-15 00:14] mcomella commented on #2836
@athomasmoz FYI: there are monthly Democratic debate events in the US (including one tomorrow) and next year there will be cross-party presidential debates as well.

Then again, I'm not sure folks who may be trying to escape from the day-to-day want to see politics suggested on their homescreen. 😬

[2019-10-15 00:39] mcomella commented on #2940
afaik, we haven't added anything to the app that would create this behavior. **I'm unable to reproduce this** on mobile YouTube or the [W3C HTML 5 video event test site](https://www.w3.org/2010/05/video/mediaevents.html) also using the Fire TV Stick 2nd gen.

Thoughts:
- This may have been added at the Fire OS level, in the WebView, and, since I can't reproduce it, could be in the process of being

[2019-10-15 01:01] mcomella opened #2941 "Allow l10n string import bot to run CI"
### Vision statement / What / Requirements
We want CI to run for each PR but the l10n bot doesn't currently have access to run it, e.g. https://github.com/mozilla-mobile/firefox-tv/pull/2939

### Impact
Without letting it run CI:
- Only administrators can merge PRs
- It's time consuming to merge (since it requires disabling and re-enabling merge protections)
- We may forget to re-enable merge prot

[2019-10-15 15:38] charkes commented on #2940
I created a jsfiddle with some snippets of code and it displays the cast icon:
https://jsfiddle.net/charkes/tpq493gx/2/

The cast icon shows up if there are no controls on the video.

I have Fire OS 5.2.7.1 (646581820).  I installed Firefox from the Amazon app store.

[2019-10-15 21:44] JonTheNiceGuy opened #2942 "Piing.events/bigscreen renders too wide"
I was hoping to use a FireTV stick with Firefox for FireTV to act as the "big screen" for the multiplayer piing.events games.

Having created a demo account, created an "event" and added a game to the event, I navigate to piing.events/bigscreen and complete the event launch screen.

This renders the content at what appears to be 2x screen width. The calculated CSS (as seen in regular Firefox) impl

[2019-10-16 17:48] athomasmoz commented on #2917
A good example of the impact from this bug is #2923 where it can be confusing what the page is laid out like and where you are on it

[2019-10-16 20:18] athomasmoz commented on #2770
This is an issue on the FxA side - logged as https://github.com/mozilla/fxa/issues/2974

[2019-10-16 21:05] mcomella commented on #2940
I was able to reproduce this issue at the jsfiddle in both Firefox and in [a raw WebView](https://github.com/mcomella/WebViewRaw/blob/2940-cast-icon/app/src/main/java/xyz/mcomella/webviewevaljs/MainActivity.kt). Since we can reproduce in a raw WebView without the Firefox code base, this appears to be an issue at the Fire OS level.

Unfortunately, I don't think there's anything Firefox can do to mi

[2019-10-16 21:08] mcomella commented on #2942
fwiw, you can use Chrome Developer Tools' Remote Debugging feature over ADB to get developer tools on the browser.

That being said, let me take a look...

[2019-10-16 21:15] mcomella opened #2943 "Crash when visiting piing.events (GKI_exception 65524 getbuf: out of buffers ?)"
## Steps to reproduce
- Navigate to https://piing.events

### Expected behavior
No crash, decent perf

### Actual behavior
Poor performance (e.g. cursor doesn't really move, video stutters) until the app crashes. Logcat doesn't give us a stack trace which means this is probably crashing at the native WebView level. I see some logs:
[code]

### Device information
* Fire TV device: Stick 4K
* Latest

[2019-10-16 21:27] mcomella commented on #2942
I'm not a web developer but I don't see anything out of the ordinary in the CSS: the computed sizes of the canvas and other divs appears to be the device's screen size (1920x1080).

Unfortunately, I don't have time to look into this further at the moment but here are some thoughts:
- Does Silk do this? We discovered the system WebView does not fully support some CSS properties such as transforms (

[2019-10-16 21:36] mcomella commented on #2942
I think this is the problem. One discrepancy via the dev tools is that the `<body>` is 960x540 while the next level `<div id="scaleContainer"` is explicitly defined to be 1920x1080. It's possible the game is relying on transforms to scale the game down to the size of the body but, since the WebView does not support transforms 🙄, it's appearing larger than expected. Backing this theory up, when I c

[2019-10-16 21:39] mcomella commented on #2942
Maybe I was seeing extra performance issues, however, because I had the dev tools attached.

[2019-10-17 13:23] palmerama commented on #2942
Hi @JonTheNiceGuy. Yes, at Piing we use transforms to scale a 1080p game (webGL + html/css) to fit nicely on whatever screen it's on, so it would work fine scaled down to 960x540 on desktop Chrome. That's an odd resolution though. Doesn't the firestick output 1080p?

[2019-10-22 00:40] mcomella opened #2945 "Bug 1590260"
https://bugzilla.mozilla.org/show_bug.cgi?id=1590260

[2019-10-22 20:47] mcomella commented on #2942
The Fire Stick does output 1080p but it looks like the WebView renders to 960x540 (I verified the same behavior on google.com). Perhaps it's doing scaling to increase the size of elements on the screen because TVs are usually viewed from a longer distance than monitors.

[2019-10-23 20:08] athomasmoz commented on #2940
Closing, as this is out of our control.

[2019-10-23 20:08] #2940 closed

[2019-10-24 22:08] mcomella opened #2946 "IllegalStateException (no crash): beginAuthenticationSync returned null loginUri"
via:
- https://sentry.prod.mozaws.net/operations/firefox-tv/issues/6374550/
- https://sentry.prod.mozaws.net/operations/firefox-tv/issues/6354431/

## Steps to reproduce
Unknown. afaik, `beginAuthenticationSync` may return null when:
- Called `beginAuthenticationSync` was called but before we load the URL it returned (do we need to debounce button clicks?)
- The FxA lib encounters an error such as

[2019-10-24 22:18] mcomella commented on #2946
I tried clicking both the preboarding and the nav overlay button quickly but was unable to reproduce.

[2019-10-30 17:37] athomasmoz commented on #2763
This is likely because we are asking for the mobile version of Facebook site. Desktop mode could be a workaround for users.

[2019-10-30 17:38] athomasmoz commented on #2763
Closing as we are unlikely to address the issue, and the focus should be on pointing users to desktop version

[2019-10-30 17:38] #2763 closed

[2019-10-30 17:40] athomasmoz commented on #2728
Is this reproducible with turbo mode off?

[2019-11-05 20:45] mcladyz commented on #1698
Perhaps a more general question but might I ask why there has been no progress in [milestones](https://github.com/mozilla-mobile/firefox-tv/milestones) of this repo for 2 months?

Just asking because I don't know the development workflow here.

Keep up the good work!

[2019-11-06 18:40] #2886 closed

[2019-11-06 18:44] athomasmoz commented on #2745
Can we add it to our release management checklist to save time?

[2019-11-06 19:13] #2578 closed

[2019-11-06 19:13] mcomella opened #2947 "Bug 1594518"
https://bugzilla.mozilla.org/show_bug.cgi?id=1594518

[2019-11-07 09:13] abodea commented on #2911
Verified as fixed on **`FFTV 4.5`** all the pocket tiles and the youtube tile from menu overview points to YT mobile website.

[2019-11-07 09:23] abodea commented on #2905
Hi @liuche and @mcomella I have a question regarding this:
The https://ftv.cdn.mozilla.net/ytfc is referring to Echo Show - I cannot check this because I don't have Echo Show device.
The https://ftv.cdn.mozilla.net/ytht is referring to Fire TV - as I saw in the bugzilla bug that the endpoint was changed to redirect users to `https://m.youtube.com`, in this case I do believe this is fixed because e

[2019-11-07 09:36] abodea commented on #2637
Hi @mcomella @athomasmoz,
Can you please let me know what exactly I have to test here? I checked the bugzilla bug too, but I didn't find too much.
In case there is nothing for QA here, can you please add the qa-notneeded and move it to Done column?

[2019-11-07 09:55] abodea commented on #2805
Verified as fixed in **`FFTV 4.5`** note that after a successfully login, I was redirected to the menu overview and the `Your tabs. Now ready for prime time` overlay prompt was displayed, and after closing it the menu overview was displayed.

[2019-11-07 16:37] mcomella opened #2948 "Remove unused focus_preference and licenses.html"
### Vision statement / What / Requirements
afaict, these are unused and removing them are quick wins.

### Impact
If we don't remove licenses.html, we may mistakenly update it, wasting time and not getting our licenses listed.

### Acceptance criteria
- If unused, focus_preference and licenses.html are removed

[2019-11-07 16:40] mcomella commented on #2864
QA: please ensure request desktop site toasts are visible.

[2019-11-07 16:42] mcomella commented on #2883
QA: please verify the images in onboarding are localized in locales other than English (i.e. they have no text now so I think they should be localized :))

[2019-11-07 16:45] mcomella commented on #2806
QA: please
- Sign in to FxA
- via https://accounts.firefox.com, revoke access to this device
- Press the home button to background the app
- Open the app

Expected: the user's account needs reauthentication (i.e. a little exxclamation point appears nad clicking their account will request sign in).

[2019-11-07 16:46] mcomella commented on #2730
QA: we updated the tracking protection lists. Please verify tracking protection is still working as expected on a few sites.

[2019-11-08 19:56] athomasmoz commented on #1932
Hi @liuche what's the latest on this one? Can I move it off the board and into the backlog until we're ready to pick it up?

[2019-11-08 22:18] liuche commented on #1932
Yes! let's do that.

[2019-11-12 09:13] abodea commented on #2864
Verified as fixed on the latest build from master. Note that the desktop site toasts are visible when enabling and disabling desktop mode.
Thanks @Baron-Severin for the build.

[2019-11-12 10:17] abodea commented on #2883
Verified as fixed using the latest build made from master.
Everything looks fine.

[2019-11-12 12:53] abodea commented on #2806
Verified as fixed on the latest build from master.
After returning to the app, the user need to re-authenticate in order to can send tabs again.

[2019-11-12 13:28] abodea opened #2955 "Tabs are not received on FFTV latest build from Master only after resuming FFTV(not reproducible on RC 4.5)"
## Steps to reproduce
1. Install and launch FFTV.
2. Login with valid credentials.
3. Access the menu overview.
4. Send a tab from desktop.
### Expected behavior
The tab is received on FFTV.
### Actual behavior
The tab is not received on FFTV.
### Device information
* Fire TV device: **`Fire TV Stick 4k`**
* Latest affected Firefox version: **``Latest version built from master``**
* Earliest affec

[2019-11-12 13:31] abodea commented on #2955
[code]

[2019-11-12 13:33] abodea commented on #2955
Maybe this is a regression.

[2019-11-12 13:53] abodea commented on #2730
Verified as fixed on the latest build from Master.
Note that everything looks fine, no regressions found.

[2019-11-12 14:13] abodea commented on #2637
Verified as fixed using the latest build from Master.
Note that I was able to see MPL 2.0 and all the data from [dependencies in our app](/build.gradlehttps://searchfox.org/mozilla-mobile/rev/392e4629e2dcf31cd4d5e685d54fc595029c08ad/firefox-tv/app/build.gradle#128) and the [licenses.html from here](https://searchfox.org/mozilla-mobile/rev/392e4629e2dcf31cd4d5e685d54fc595029c08ad/firefox-tv/app/src

[2019-11-12 22:36] Baron-Severin opened #2956 "Master is crashing on bitbar"
See https://mozilla.testdroid.com/#testing/device-session/296208/1369793/35285766

[2019-11-13 12:40] abodea commented on #2637
Verified as fixed on the latest Master build.

[2019-11-18 18:10] athomasmoz commented on #2852
@mcomella can you try this out?

[2019-11-18 18:12] athomasmoz commented on #2912
NOTE: This is only the ones that show up on the first day, not the ones from Pocket server (daily)

[2019-11-18 18:13] athomasmoz commented on #2937
If this is a quick fix, let's do it. If larger, may be worth reprioritizing against other issues

[2019-11-18 18:20] athomasmoz commented on #1962
Try injecting into the page to fix this. Although it's hacky, we suspect that if it breaks, it will just fall back to the functionality we have today. Timebox 3 hours

[2019-11-18 18:20] mcomella commented on #1962
We've done previous research on something similar – https://github.com/mozilla-mobile/firefox-tv/issues/177 – that might have info about fixing this the "correct way".

[2019-11-18 18:23] athomasmoz commented on #2955
Could this be an issue on debug only? On debug builds, there is an extra step to have push work

[2019-11-18 18:28] mcomella commented on #2935
See if you can reproduce in a raw WebView to see if it's something we're doing wrong.

[2019-11-18 18:29] athomasmoz commented on #2935
Timebox to under 1 day

[2019-11-18 18:39] athomasmoz commented on #2888
This experiment is ready to be turned on. Just need to make sure we will be able to analyze the data

[2019-11-18 19:18] mcomella commented on #2851
There was an issue where, if you scrolled the page, the video would 1) shift while scrolling and 2) shift in fullscreen. 2) may have been fixed in the system on certain devices. We should:
- Disable our hack fix locally (I believe it was [this flag](https://searchfox.org/mozilla-mobile/rev/a97240f3e126327be539b7cf044f9713a8584afb/firefox-tv/app/src/main/java/org/mozilla/tv/firefox/experiments/Expe

[2019-11-18 21:25] mcomella commented on #2955
I was unable to reproduce: @abodea, did you set up the debug API key when you created your build? https://github.com/mozilla-mobile/firefox-tv/#adm-api-key

[2019-11-18 22:02] mcomella commented on #2852
Without changing preferences, sign in works fine but I arrive at a page requesting I install the Android app:
![device-2019-11-18-134732](https://user-images.githubusercontent.com/759372/69097158-d3f1a080-0a0a-11ea-88c1-a0c30fa1e715.png)

I requested the desktop version of disneyplus.com and tried hardcoding our desktop user agent when visiting the page but I arrive at a mostly blank page – https:

[2019-11-18 22:08] mcomella commented on #2852
I discovered Disney+ is available on the Amazon store: https://www.amazon.com/Disney/dp/B07Y8SJGCV/ref=sr_1_1

[2019-11-18 22:32] mcomella commented on #2956
@Baron-Severin Can this be closed? https://github.com/mozilla-mobile/firefox-tv/pull/2957 was merged.

[2019-11-18 22:34] mcomella opened #2961 "Remove youtube.com/tv specific code"
### Vision statement / What / Requirements
We had some code to make youtube.com/tv behave properly in the browser: since youtube.com/tv no longer exists, we should consider removing it.

### Impact
Keeping this code around makes it more complicated to change any code that interfaces with the YouTube TV specific code. We also run the risk of accidentally changing something only in the YouTube TV ca

[2019-11-18 22:38] mcomella commented on #2912
@Baron-Severin Can you add a note for QA about how to test this and what to look out for when doing so? It's a good practice when adding `qa-ready` labels.

[2019-11-18 23:09] Baron-Severin commented on #2956
I don't see any Bitbar crashes since 11-11, so I think so.

[2019-11-18 23:09] #2956 closed

[2019-11-18 23:09] mcomella commented on #2946
I checked the telemetry for Nov. 17th and our failure rate is similar to when I filed this bug: users see this error ~0.83% of the time.

[2019-11-18 23:10] #2912 closed

[2019-11-18 23:48] Baron-Severin commented on #2851
Testing notes:
- Device: Stick gen 2
- URL: https://www.nbcsports.com/video/bears-claim-mitchell-trubisky-has-hip-injury-was-he-benched
- App
  - Release build (to use Chromium 70)
  - Hardcoded `ExperimentsProvider#shouldUseMp4VideoWorkaround` to return either true or false
- Steps taken:
  - Scroll down until half of the video is off screen
  - Wait for ad to end
  - Wait for buffering
  - Click

[2019-11-19 00:11] Baron-Severin commented on #2948
Closed by https://github.com/mozilla-mobile/firefox-tv/pull/2960

[2019-11-19 00:11] #2948 closed

[2019-11-19 01:05] mcomella commented on #2946
I spoke with Grisha who believes this might be attributable to network errors.

The Sentry reports have an "online" field (see caveats below) and in the first 200 entries, 69.5% of users have "online = true".

### Next steps
- Do a static analysis of the code to look for bugs.
- Compare our failure rate to the network failure rates on desktop.

If the failure rate is significantly higher than desk

[2019-11-19 01:38] mcomella commented on #2946
Interesting note from Grisha regarding the severity of this issue:

[2019-11-19 13:55] abodea commented on #2955
Hello @mcomella please note that this was the build from @Baron-Severin. I do believe it was set as I was able to receive the tabs after resuming FFFTV.
@Baron-Severin can you please let us know if that build included the API key?

[2019-11-19 18:03] Baron-Severin commented on #2955
@abodea I don't know, tbh.  If @mcomella is unable to reproduce I'd be fine closing it, if that's alright with you.

[2019-11-19 19:09] athomasmoz commented on #2851
Yep, let's close. Thanks for the follow-up.

[2019-11-19 19:19] mcomella commented on #2955
@Baron-Severin Can you elaborate on why you don't think this might indicative of a larger problem? Perhaps I'm being paranoid but I'd like to eliminate the possibilities.

Do we still have access to the build? Can you send it to me? We can open the APK to see if the key is present.

afaik, there are two different mechanisms to receive tabs, only one of which requires an API key:
1) Push events, wh

[2019-11-19 19:20] Baron-Severin commented on #1962
Investigation note: I don't know if we'll be able to handle this by injecting hacks.  Google Search is pretty thoroughly minified (and minified properties are exceptionally volatile).  The only attributes I can see that we might be able to latch on to are either 1) locale specific (e.g., content description), or 2) layout specific (e.g., "click the icon furthest to the right").  1 isn't a viable o

[2019-11-19 19:22] mcomella commented on #2851
@athomasmoz Do we have another issue to track all the remaining problems we were having with shifting videos? If not, imo we should file a new one or reopen this one, removing it from the sprint.

[2019-11-19 19:24] mcomella commented on #1962
On Tue, Nov 19, 2019 at 11:20 AM Severin Rudie <notifications@github.com>
wrote:

 @Baron-Severin could we apply the transformation to all <input> on Google
search pages? I don't think it'd be too destructive.

[2019-11-19 19:32] Baron-Severin commented on #1962
@mcomella seems like a good suggestion.  I'll give it a shot, thanks.

[2019-11-19 22:01] mcomella opened #2963 "Pressing back from licenses screen does not return to About"
## Steps to reproduce
- Open Settings -> About
- Click "licenses"

### Expected behavior
User returns to the About page (firefox:about)

### Actual behavior
User returns to navigation overlay

### Device information
* Fire TV device: 4k stick
* Latest affected Firefox version: v4.5+ master
* Earliest affected Firefox version: ?
* Turbo Mode: ?

[2019-11-19 22:39] mcomella commented on #2946
After consulting with the FxA team and athomas, we decided that the ~0.8% error rate could be indicative of network errors and isn't worth investigating in the short term.

If we were to pursue next steps, we could:
- Send a data science request to compare our network error percentage to desktop’s in a similar case. If they’re different…
- Add additional logging in a-c (which will require an uplif

[2019-11-19 23:05] Baron-Severin commented on #2843
Note that there was a bug in the implementation of this telemetry that was fixed in #2937.

[2019-11-19 23:19] mcomella commented on #2935
I can reproduce the issue in a raw WebView: this is a bug at the platform level.

[2019-11-19 23:28] mcomella commented on #2935
I confirmed that I can't reproduce this issue in a standalone app (i.e. using an `EditText`; I tried the Amazon Shopping app).

---

One workaround we could do (and which might be what Silk is doing) is if we detect an IME request, we dynamically disable review mode and automatically re-enable it. I have no idea what this looks like under the hood though and if it's even possible.

[2019-11-19 23:54] mcomella commented on #2935
I confirmed that using Eitan's PR for automatically entering Review Mode when browsing (https://github.com/mozilla-mobile/firefox-tv/pull/2062/) does not correct this issue either. I assume it's because it activates review mode at the same time we'd activate the cursor rather than some other system condition. I'd think we actually need to intercept the IME event and change the state ourselves.

[2019-11-20 00:09] mcomella commented on #2935
I now recall how challenging/impossible it is to detect if the soft keyboard is raised on Android: therefore, we'd have to use other metrics as a work-around.

We could temporarily disable review mode if we detect an ENTER-down event in the WebView. If the timing window is small enough, it shouldn't disrupt normal browsing (i.e. the user pressed enter to click a link and we want to return to revie

[2019-11-20 15:03] abodea commented on #2955
If I'm on Fire TV home screen and then send a tab, when I resume FFTV I always receive the tabs immediately.
If FFTV is open and I send a tab, I don't receive it.

[2019-11-20 18:05] Baron-Severin commented on #2955
@mcomella I've never been able to get push to work consistently on my own builds.  I don't know what is wrong with my environment, but they've been working for everyone else.  If this were a blocker, push never would have gone out.

We'll test the release build before it goes out, we can verify behavior then.  Until that point I'm not concerned.

[2019-11-20 19:13] mcomella commented on #2955
Sounds like a plan: I'll close this bug and add it to the QA needed column for it to get extra scrutiny.

---

QA: please verify this issue doesn't happen on our LAT.

[2019-11-20 19:13] #2955 closed

[2019-11-20 21:45] #2937 closed

[2019-11-20 21:59] mcomella commented on #2935
Unlike spatial navigation mode, key events are not dispatched to the views in review mode so this isn't an option (I checked `WebViewClient`'s key methods, overrode the `WebView` and its parent containers key methods, and attached key listeners to both views).

It's possible there are accessibility events distributed to the views when changes are made in review mode: let's go look for those.

[2019-11-20 22:13] mcomella commented on #2935
a11y events are transmitted when the WebView elements are focused but **pressing enter on an editable field does not produce a11y events.** If we wanted to fix this, my only idea is to monitor DPAD_CENTER presses (via the device – is this possible? Activity key listeners are not called in review mode) and, if the focused element in the WebView is editable, disable review mode, send the DPAD_CENTER

[2019-11-20 22:18] mcomella commented on #2935
I've been unable to figure out how to do this.

When focusing the `<input>`, four a11y methods are called:
[code]

Perhaps we if modify one of these accessibility nodes, things will just work.

[2019-11-20 23:13] mcomella commented on #2935
The individual `onInitilaizeAccessibilityNodeInfo` events, as printed to the console, appear to be identical between review mode, non-review mode, and no matter which view is focused – it appears this value represents the WebView.

However, there is a discrepancy in the `onRequestSendAccessibilityEvent` calls. **In non-review mode,** moving from the search field to the back button:
[code]

And foc

[2019-11-20 23:37] mcomella commented on #2935
I simulated the events as best as I could:
[code]

However, the top custom events are clones of the ACCESSIBILITY_FOCUSED and the bottom custom events are clones of ACCESSIBILITY_FOCUS_CLEARED. **This did not work.**

---

If these accessibility are the root cause, I would assume if we highlight the `<input>` in spatial mode, switch to review mode, and click DPAD_CENTER, it would work correctly. H

[2019-11-20 23:41] mcomella commented on #2935
Reminder: since this is a WebView Fire OS bug (as per https://github.com/mozilla-mobile/firefox-tv/issues/2935#issuecomment-555763912), I suggest we report it.

[2019-11-21 01:12] Baron-Severin commented on #1962
Looks like we might need to make some changes to this.  Moving it back into 'in progress'.

[2019-11-21 17:41] #2884 closed

[2019-11-21 22:54] #1962 closed

[2019-11-22 00:08] athomasmoz commented on #2851
Re-opening to track proper fix. There is currently a workaround in place, but due to stability concerns, we don't want to keep it long term

[2019-11-22 00:11] mcomella commented on #177
Dupe #1962.

[2019-11-22 00:11] #177 closed

[2019-11-22 09:27] abodea commented on #2955
Verified as fixed on `v4.6-LAT1` using Fire TV Stick 4k.
Note that everything works as expected, I've sent more than 30 tabs.

[2019-11-22 09:39] abodea commented on #2937
@Baron-Severin can you please help me check this?
I never verified telemetry on FFTV, I understand that the changes are regarding pressing `Not Now` but I'm not really exactly sure where to check and see the fix.

[2019-11-22 12:42] abodea commented on #1962
Verified as fixed on **`v4.6-LAT1`** using Fire TV Stick 4k.
## For more details please check the following:

| Site  | Navigated to the results after pressing on Submit? |Comments?|
|-------------| :-------------: |:-------------:|
| **Google** | Yes ✔️ using both keyboard and remote button | Works on Desktop mode too  |
| **Amazon**  | Yes ✔️ using both keyboard and remote button   | Works on De

[2019-11-22 12:55] abodea commented on #2912
Verified as fixed on `v4.6-LAT1` using Fire TV Stick 4k.
Note that I freshly installed FFTV 5 times and at first launch, I opened all the Tiles from Pocket Recommends. Every single tile was opened in **`https://w.youtube.com`**.

I also used, Clear all cookies and site data(but I'm not really sure how relevant this one is).

@Baron-Severin can you please confirm that this is a valid verification?

[2019-11-22 16:54] Baron-Severin commented on #2912
Yep, that sounds valid to me.

[2019-11-22 16:54] Baron-Severin commented on #2937
We spoke about this synchronously, and dev will verify this issue.

[2019-11-22 22:40] mcomella commented on #2937
I verified this is working correctly by, in a local debug build, setting a conditional breakpoint in `TelemetryEvent.queue` for the condition `value != null && value.startsWith("fxa_preboarding")`. I:
- Cleared data, selected Sign in: verified it was not "not now" telemetry
- Restarted the app, verified "not now" was not fired
- Cleared data, select Not Now: verified "not now" telemetry is fired o

[2019-11-22 22:42] mcomella opened #2968 "Release management checklist - v4.7"
##### Sprint Release Owner: _[name here]_

_Think something can be automated? Add it to [this doc](https://docs.google.com/document/d/1I_pf7RhR8uC0P_jB8o5Y8teNxUuLlpKiF_FyBW9veFY/edit?ts=5cdc4d67)._

#### Tuesday # 1

- [ ] Upgrade a-c

#### Wednesday # 1

- [ ] Verify all `strings-ready` issues in Sprint have strings landed (exports now happen automatically). If not, check with L10N/PM if the iss

[2019-11-22 22:42] mcomella commented on #2900
Filed new RelMan ticket: https://github.com/mozilla-mobile/firefox-tv/issues/2968

[2019-11-27 02:11] Baron-Severin opened #2971 "Startup getText crash"
Sentry issues:
https://sentry.prod.mozaws.net/operations/firefox-tv/issues/6742145/
https://sentry.prod.mozaws.net/operations/firefox-tv/issues/6742146/

### Notes
- This has only happened to one person, but it happened twice in 2 (?) minutes
- Based on timestamps, it looks like it's happening on startup
- The crash is an invalid call to `getText`, but it's unclear exactly where it's happening

##

[2019-11-27 02:19] Baron-Severin commented on #2971
Investigation notes
- This has only happened to one person, but it happened twice in 2 (?) minutes
- Based on timestamps, it looks like it's happening on startup
- The crash is an invalid call to `getText`, but it's unclear exactly where it's happening
- I diffed `releases/v4.6` and `releases/v4.5` and grepped for `R.string`, and [this was the only added usage](https://github.com/mozilla-mobile/fi

[2019-11-27 19:29] jamie3 opened #2972 "Force Refresh"
This is not a bug but a question. How can one force a refresh in the firefox web browser on firetv. I have a toshiba led TV with firetv and firefox installed. Going to a website is caching the content.

[2019-11-27 19:46] jamie3 commented on #2972
NVM it looks like there is a clear cache feature

[2019-11-27 19:46] #2972 closed

[2019-11-27 22:44] mcomella commented on #2971
Random thoughts:
* It looks like Chromium is calling `getTextInputName` (what does that do?) without any of our code running in the current trace (so on user touch?).
* There are similar crash traces for `NotFoundException`s related to being unable to fetch a resource. In this case, an image file: https://sentry.prod.mozaws.net/operations/firefox-tv/issues/6610720/
* This is spread across multiple

[2019-11-27 23:01] mcomella commented on #2971
It's possible our hack fix for switching tabs to enters is causing a race condition in the WebView which is causing the crash. Since this hack affects a limited subset of pages, that could be why we're seeing such low user counts.

[2019-11-27 23:31] mcomella commented on #2971
I noticed the stack traces have, `updateBuellerCustomOptions`. This is an Amazon (or custom ROM) method because [it doesn't appear in androidxref](http://androidxref.com/9.0.0_r3/search?q=updateBuellerCustomOptions&defs=&refs=&path=&hist=&project=frameworks). I searched "fire tv bueller" and it appears this is a codename for the first Fire TV (via [aftvnews](http://www.aftvnews.com/amazons-next-ge

[2019-11-27 23:35] mcomella commented on #2971
The build code of the APK for the crashing users is all the same but we're unable to verify it comes from our actual APK because we're unable to get the final APK from the Amazon store because it's undergoing staged rollout (I tried uninstall & reinstall 6+ times and was unable to get it).

[2019-11-27 23:38] mcomella commented on #2971
We suspected there might be a startup crash with accessibility enabled – because we may not have tested that – but we were unable to reproduce (to be fair, we don't have the devices the issues are on). As such, we're okay increasing the staged rollout and seeing if it becomes a problem.

[2019-12-02 21:54] mcomella commented on #2971
There have been 887 crashes for 212 users since this issue was first seen 7 days ago (starting roll out) and since we finished rollout 5 days ago. It's at most ~200 events per day (on weekends).

This doesn't seem _too_ significant but it might be something to look out for.

Given the crypticness of the error, however, I wonder if this was an issue with:
1) How the APK was built
2) How the APK was

[2019-12-02 22:02] mcomella commented on #2900
We rolled out to 100%. There's a crash bug we should keep an eye on – https://github.com/mozilla-mobile/firefox-tv/issues/2971 – but don't think is worth spending time on right now. As such, closing ticket.

[2019-12-02 22:02] #2900 closed

[2019-12-10 21:06] Mostef69 opened #2973 "Unable to pin tiles on homescreen: pin button unavailable"
## Steps to reproduce

### Expected behavior

### Actual behavior

### Device information
* Fire TV device: ? Yes
* Latest affected Firefox version: ?
* Earliest affected Firefox version: ?
* Turbo Mode: ? Yes/no
Hello excuse me I use Google translation,
 I do not know if it's a bug, but I'm having trouble pinning a favorite page on
 Fire TV icon pin is not active, I am unable to choose this funct

[2019-12-11 01:10] mcomella commented on #2973
@Mostef69 Thanks for reporting this issue.

When you enter the name of the site in the Firefox search bar, did you click "Next" to load the page? The pin button will not be available until the page is loaded.

I recorded a video of myself pinning a page. Did you follow steps similar to mine? https://drive.google.com/file/d/1LKmsS9knpR9pcXSbgtt4dAx2aKHbCf29/view?usp=sharing

[2019-12-11 19:07] Mostef69 commented on #2973
I followed the procedure identical to the video I had already tried, here is a video the pinning function does not work

https://drive.google.com/file/d/1EpANllIphYbC4Kb47I6euj7Ha1VE2R8Y/view?usp=drivesdk

[2019-12-13 02:22] mcomella commented on #2973
@Mostef69 Thanks for the video – that was really helpful! Try the following steps to resolve the issue:
1. Enter the site you want to pin in the Firefox search bar.
1. Press the menu button ![2018-01-18-09-55-00-58a1d6](https://user-images.githubusercontent.com/759372/70764310-12c5fe00-1d0c-11ea-89c2-874f434ed357.png) to open the homescreen
    1. Note: in the provided video, the back button was p

[2019-12-13 17:30] Mostef69 commented on #2973
Excuse me really, the original method to pin a website with the button of the remote control with 3 horizontal lines had not occurred to me, I used the button of the remote control with the arrow back, here  why the Firefox pin button was not active or highlighted with the blue ring, I could not position myself on it, but now the problem is solved sorry again for the inconvenience, because I thoug

[2019-12-13 18:00] athomasmoz opened #2974 "Add ability to pin directly from website"
### Why/User Benefit/User Problem

As an FFTV user, I want the ability to pin a site while I'm looking at it, as it's not immediately obvious to click the menu (3 lines) button to open the overlay and pin from there

### Acceptance Criteria (how do I know when I’m done?)

* There is a visible option to pin a website while viewing it

### Not included

[2019-12-13 18:01] athomasmoz commented on #2973
Thank you for your feedback and logging the initial request. That's helpful to know and I agree, it's likely the others are trying the same approach. I have logged a a feature request for it #2974

[2019-12-13 18:01] #2973 closed

[2019-12-13 18:04] athomasmoz commented on #2974
[Example from someone using FFTV](https://github.com/mozilla-mobile/firefox-tv/issues/2973#issuecomment-565532212)

[2019-12-13 21:27] Mostef69 commented on #2973
Glad it could help the Firefox community, and I'm sure Firefox will be more ergonomic on Fire TV, good luck.

[2019-12-19 13:28] abodea opened #2975 "Scrolling not working on justwatch.com"
## Steps to reproduce
1. Navigate to justwatch.com.
2. Wait for the page to complete loading
3. Attempt to scroll.

### Expected behavior
Normal scrolling behavior.
### Actual behavior
Scrolling does not work. Selecting an article will load the new page but once it finishes loading scrolling no longer works.
### Device information
* Fire TV device: **Fire TV Stick 4K**
* Latest affected Firefox ve

[2019-12-20 01:12] mcomella commented on #2975
I wonder if this is related to #278.

[2019-12-24 23:01] mcl21014 opened #2976 "bookmark sync"
### Why/User Benefit/User Problem

### Acceptance Criteria (how do I know when I’m done?)

### Not included

[2019-12-24 23:01] #2976 closed

[2019-12-24 23:02] mcl21014 commented on #2976
Darn. Hit the enter key on keyboard on phone.

[2020-01-08 18:00] spogulis commented on #977
Same issue in FF of a fresh Ubuntu 18.04 insall: 71.0 (64-bit)

[2020-01-10 20:22] melmoxyz commented on #2973
Using First version on His ende AndroidTV. I cannot pit tile either.  Observed behavior.  Enter desired website address- successful to browse.
Enter address in search the pin icon stays grey
Enter address in search and press menu 3-line.... on remote .   Tv menu pops up.  Not Firefox menu.

The expected behavior does happen on my FireTV but not on AndroidTV same app version 4.6

[2020-01-10 20:27] melmoxyz opened #2977 "Firefox for direct on Android tv unable to pin tile"
## Steps to reproduce
Pin tile icon is already grey.
### Expected behavior
Pressing menu should provide option to pin tile
### Actual behavior
Menu button brings up tv menu not Firefox menu.
### Device information -Hisense AndroidTV side loaded api 4.6 for fire tv
* Fire TV device: ? No
* Latest affected Firefox version: ? 4.6
* Earliest affected Firefox version: ?
* Turbo Mode: ? On

[2020-01-10 22:25] athomasmoz commented on #2660
Note: We will need to give users another option to get to the menu over to support Android TV. Issue details #2977

[2020-01-10 22:25] athomasmoz commented on #2977
Hi @melmoxyz thanks for logging. Unfortunately, this is because we rely on the menu (3 line) icon on Fire TV remotes to get to the menu. Android TV is not officially supported, but something we may explore in future #2660 . Linking to this issue as a reminder that we would need to find a solution

[2020-01-23 02:25] oathzed opened #2979 "Cannot side scroll with cursor"
## Steps to reproduce

Go to a website that has a side scroller on it inside a certain area only, you can't side scroll on it.

Silk browser fixes this, on silk, you hold the center button in the side scrolling area and press the left or ride buttons at the same time to scroll in the direction you want.

### Expected behavior

Should be able to side scroll

### Actual behavior

You can't side scro

[2020-01-23 22:25] oathzed commented on #2979
@mcomella

[2020-02-07 09:24] mikespub commented on #2971
FYI I'm getting the same error on a Fire (2015) device with an app using the Android WebView after submission to the Amazon App Store.

Other Fire & Android devices don't report that issue, and I don't believe this has anything to do with your code.

[code]

[2020-02-19 07:45] jimmycr opened #2981 "FlowPlayer videos not playing"
This app is amazing! Works almost everything I need except:

## Steps to reproduce
open webpage for example https://www.lstv.cz/index.php?page=archiv&linkID=archiv5&ID=3063

### Expected behavior
video load, prepare for play

### Actual behavior
video not loaded

### Device information
* TV device: Smart TV Philips :)
* Latest affected Firefox version: 4.6
* Earliest affected Firefox version: don'

[2020-02-20 10:44] unicorn-io commented on #2947
Can I try to resolve it?

[2020-02-20 22:07] mcomella commented on #2947
@unicorn-io Thanks for offering to help out but unfortunately, we're not supporting contributors on this project at the moment: I'd recommend taking a look at [Fenix](https://github.com/mozilla-mobile/fenix/) and [android-components](https://github.com/mozilla-mobile/android-components/) if you'd like to contribute on Android.

[2020-02-25 17:06] athomasmoz commented on #2979
Thanks for logging. This sounds related to #278 . Marking a P2

[2020-03-14 08:37] qw123wh opened #2982 "Feature Request add-ons extension"
Please add support for add-ons extensions

[2020-03-19 18:49] mcomella commented on #2982
Dupe #1279.

[2020-03-19 18:49] #2982 closed

[2020-04-04 13:56] sorryusernameisalreadytaken commented on #240
Awesome to see the releases now in the github rls section!

Any news to this? Are there plans to release this for the google:play store or better (for me) the f-droid. Mozilla has already Firefox Klar there:
https://f-droid.org/de/packages/org.mozilla.klar/

[2020-04-06 23:42] mcomella commented on #240
Unfortunately, we don't have any current plans to ship FFTV to the Play Store or f-droid.

[2020-04-18 11:04] rzr opened #2986 "Wish: Publish to F-Droid ?"
I wish I can install firefox with TV UI/UX on my android tv device (FreeboxMini4K set top box)
Publishing apk in fdroid repo would make this easier and then grow users base.

[2020-04-20 20:43] mcomella commented on #2986
Thanks for reporting. Unfortunately, this isn't is a focus for us right now. That being said, you can find our APKs on our [GitHub releases](https://github.com/mozilla-mobile/firefox-tv/releases) to install manually.

[2020-04-21 08:28] rzr commented on #2986
Thanks for the hint, I may file an inclusion ticket once fdroid is fully supporting TV UI/UX:

https://gitlab.com/fdroid/fdroidclient/-/merge_requests/685

[2020-04-30 17:45] muslok commented on #2973
My Android TV remote does not have a menu button only back button and close button. The pin button should get activated when you type a web address in the search bar.

[2020-04-30 17:48] melmoxyz commented on #2973
It does not get activated.  Only opens TV setting menu.

I am using FireTV app in Android TV

From: muslok [mailto:notifications@github.com]
Sent: Thursday, April 30, 2020 1:46 PM
To: mozilla-mobile/firefox-tv
Cc: melmoxyz; Comment
Subject: Re: [mozilla-mobile/firefox-tv] Unable to pin tiles on homescreen: pin button unavailable (#2973)

My Android TV remote does not have a menu button only back b

[2020-04-30 18:10] athomasmoz opened #2987 "Product-Market Fit Survey"
**Acceptance Criteria**

* Banner on the homescreen to take a survey
  * Banner is highly visible, but does not get in the way of any other actions the user would take
  * Option to exit/close the banner if the user does not want to see it again
  * Banner added through Fretboard, so it can be shown to a limited audience and turned off without a new release
* Link goes to a webview survey
* When s

[2020-05-01 21:33] mcomella commented on #2973
@muslok We have an issue for being unable to pin tiles on Android TV devices: https://github.com/mozilla-mobile/firefox-tv/issues/2977 Quoting from that issue https://github.com/mozilla-mobile/firefox-tv/issues/2977#issuecomment-573230031:

[2020-05-27 12:18] albir16 commented on #1509
did you find out what the root cause of this bug is?

[2020-05-28 21:49] mcomella commented on #1509
Unfortunately no though it's unclear if users are actually seeing the app crash or if this only happens when the app is backgrounded. I also haven't followed up to see if this was fixed in subsequent releases (by something we didn't intentionally change).

[2020-06-11 16:14] athomasmoz opened #2988 "Remove Pocket from Homepage"
### Vision

Based on success criteria of Pocket on FFTV, we have decided to remove this from the homepage.

### Acceptance criteria

* Pocket has been removed from the homescreen
* Documentation that includes Pocket has a caveat added that it is no longer supported as of version X

[2020-06-15 18:05] psymoon opened #2989 "Update CCPA compilance for FFTV"
https://docs.google.com/document/d/1s_E-hmmwg95pLTZf-dB9ZV8zkg_bGqayeTW20BI7fk4/edit

[2020-06-15 18:32] psymoon opened #2990 "Update AC version to the latest (44.0.1)"
### Vision statement / What / Requirements
The current FFTV engine support and telemetry/glean integration is not up to date.

### Impact
- https://github.com/mozilla-mobile/firefox-tv/issues/2989
- up to date engine support.

### Acceptance criteria
AC version is updated.

[2020-06-17 21:05] mcomella opened #2991 "Add ability to zoom in or out"
### Why/User Benefit/User Problem
nalexander reported they were unable to watch airmo because it needed to zoom in or out. Perhaps we should investigate

### Acceptance Criteria (how do I know when I’m done?)

### Not included

[2020-06-25 14:23] psymoon opened #2993 "Upgrade to a-c 27 and use glean plugin"
### Vision statement / What / Requirements
Spawned from https://github.com/mozilla-mobile/firefox-tv/pull/2992#discussion_r445018566, the way that we import glean plugin is deprecated. We should address this shortly after the 4.7 release to mitigate the problem  of generating the wrong glean dependency code re-occuring in the future.

### Impact
FFTV + Glean may not work as intended unexpectedly i

[2020-06-26 18:11] psymoon opened #2995 "build-pr CI reporting failure with BUILD SUCCESSFUL"
Both PRs build locally fine and CI build status returns successful:

https://github.com/mozilla-mobile/firefox-tv/pull/2992

https://github.com/mozilla-mobile/firefox-tv/pull/2994

[code]

[2020-06-26 19:18] mcomella opened #2997 "Fix or ignore StrictMode violations"
### Vision statement / What / Requirements
On startup, we receive a lot of strictMode violations (i.e. warnings of performance issues): we should address them.

### Impact
At each violation either:
- Improved performance
- Performance problem is documented in the code

### Acceptance criteria

[2020-06-26 20:14] psymoon opened #2998 "Remove pocket assets"
We no longer need strings and other assets for pocket; we should remove them so we can reduce the APK size.

[2020-06-26 20:16] psymoon opened #2999 "Remove pocket from onboarding screen"
With pocket removed, the onboarding screen should reflect it:
<img width="1285" alt="Screen Shot 2020-06-26 at 4 14 56 PM" src="https://user-images.githubusercontent.com/3597594/85897446-5a076e00-b7c8-11ea-906e-b1e4747a622f.png">

@brampitoyo

[2020-06-26 22:22] #2989 closed

[2020-06-29 01:06] brampitoyo commented on #2999
@psymoon Posting updated onboarding screen, sans Pocket.

@mcomella I’m also posting an updated onboarding screen with the shield icon replacing the rocket, below.

They’re both sized ~160 KB – not that different from our previous asset.

![turbo_mode_onboarding_rocket](https://user-images.githubusercontent.com/51007/85963289-02a41080-ba09-11ea-99de-1145215d89f7.jpg)

![turbo_mode_onboarding_shiel

[2020-06-29 19:24] #2988 closed

[2020-06-29 23:31] #2999 closed

[2020-07-02 15:19] abodea commented on #2988
Verified as fixed on the latest build **v4.7-LAT1** with **FFTV 4k** and **FFTV pendant.**

[2020-07-02 21:43] athomasmoz opened #3004 "Use device name for send tab"
### Why/User Benefit/User Problem

As a user with multiple Fire TV devices, I want the list of devices I can send a tab to from my phone/desktop to use the name of my Fire TV so that I can differentiate between the TV in my living room and bedroom

### Acceptance Criteria (how do I know when I’m done?)

* Device name is used for the name of a Fire TV in send tab options

### Not included

[2020-07-13 21:42] mcomella opened #3012 "Validate FFTV is zipaligned"
https://github.com/mozilla-mobile/fenix/issues/12527 but for FFTV

[2020-07-14 00:04] mcomella opened #3013 "deletion-request ping is missing legacy ID if app is started with data disabled"
## Steps to reproduce
- Start app
- Disable data upload
- Force stop app
- Start app
- Trigger Glean Debug Activity uploads: `adb shell am start -n org.mozilla.tv.firefox/mozilla.telemetry.glean.debug.GleanDebugActivity --es tagPings connect`
- Enable data upload
- Disable data upload

### Expected behavior
Legacy client ID appears in deletion-request ping data on dashboard

### Actual behavior
Le

[2020-07-14 00:06] mcomella commented on #3013
It's unclear if additional data deletion requests might be sent the next time the app is started but I'd assume not.

The issue is that `UuidMetricType.set` will only set a value if Glean is enabled:
[code]

[2020-07-14 15:14] travis79 commented on #3013
Okay, the reason this is happening is because when the upload is disabled on the previous run, when the app next starts, `LegacyIds.clientId.set(UUID.fromString(legacyId))` is a no-op for Glean and doesn't get recorded.  In this case, it is probably best to re-set the metric whenever the preference is toggled to "on".

[2020-07-14 18:16] #3013 closed

[2020-07-16 11:13] abodea commented on #3013
Verified as fixed on the latest build **v4.7.1** with Fire Stick TV.
Please note that after following the steps from the description the **Legacy client ID is in deletion-request ping**:

[code]

[2020-07-16 14:04] abodea opened #3017 ""JSON_VALIDATION_ERROR_DEBUG_VIEW " error is displayed on the "deletion_request" ping"
## Steps to reproduce
1. Start app
2. Disable data upload
3. Force stop app
4. Start app
5. Trigger Glean Debug Activity uploads: `adb shell am start -n org.mozilla.tv.firefox/mozilla.telemetry.glean.debug.GleanDebugActivity --es tagPings connect`
6. Enable data upload
7. Restart FF and launch it again.
7. Disable data upload

### Expected behavior
Deletion_request ping is displayed without errors

[2020-07-16 15:38] Dexterp37 commented on #3017
Note that this is probably already fixed by a recent version of Glean. Specifically, this was fixed in 31.2.0 by mozilla/glean#996

[2020-07-20 20:23] mcomella opened #3018 "Use built-in optimized proguard config"
Currently we're using the [default proguard config](https://searchfox.org/mozilla-mobile/rev/c568977e7c3d7b7986c4af65b17e6f1c0e2f89bf/firefox-echo-show/app/build.gradle#70) which does not optimize. We should used the optimized version, similar to: https://searchfox.org/mozilla-mobile/rev/c568977e7c3d7b7986c4af65b17e6f1c0e2f89bf/fenix/app/build.gradle#46 (but without a custom file).

[2020-07-22 16:48] mcomella opened #3019 "Ensure chrome intent URIs, other unknown protocols embeded in pages, don't result in "Unknown protocol" pages"
[Chrome intent URIs](https://developer.chrome.com/multidevice/android/intents) allow pages to open apps using URIs (e.g. `<a href="intent://scan/#Intent;scheme=zxing;package=com.google.zxing.client.android;end"> Take a QR code </a>`. A intuitive behavior for our developers is to show an error when seeing a protocol we can't handle. However, in my experience, some pages will try to open an intent U

[2020-07-22 16:52] mcomella commented on #3019
My test page might be helpful here: http://mcomella.xyz/test/uri.html I _think_ we should take no action when these links are clicked. If "Unknown protocol" shows up, we're probably doing the wrong thing but look at Chrome – we should follow their behavior (reasoning: even though I feel it's less correct, too many sites rely on Chrome's behavior so we must copy it).

[2020-07-22 16:58] mcomella commented on #3019
I confirmed that we have the "Unknown protocol behavior" both on master 4.7.1 and prior to 4.7 (i.e. this is not a regression). Fenix has the correct behavior so upgrading a-c is likely to address the issue.

[2020-08-15 07:14] AnsisMalins opened #3020 "Will you accept pull requests related to Android TV? Also, how do I talk to you?"
The CONTRIBUTING page says "mailing list" without providing an address, and the IRC link leads to a page saying that IRC has been decommissioned. How do I talk to you?

I'm interested in:
* Mapping the menu button to something that exists on Android TV (currently, it's unavailable, making pinning tabs impossible)
* Publishing Firefox TV on Google Play, so I don't have to sideload it

[2020-08-18 01:57] st3fan commented on #3020
Hi @AnsisMalins - I'm sorry but we currently do not accept patches for Firefox TV.

[2020-10-20 19:28] max1c commented on #2977
@athomasmoz is there any kind of temporary workaround?

[2020-10-21 08:46] CB-wee opened #3021 "Long press to open menu"
Some Android TV devices do not have a menu/option button on their remote controls.
For example, the Mi Box.
Because of this, it is almost impossible to **bookmark/pin** a website on these devices.

It will be a lot better to add a different way to open the menu in Firefox for TV,
I suggest that what can be done is to add a new feature that can open the menu by long pressing the **confirm/center bu

[2020-10-31 20:58] Queuecumber commented on #240
Why not? Is it a complex process?

[2020-11-15 04:04] machsix commented on #3021
+1 fore this feature

[2020-11-15 04:28] CB-wee opened #3022 "Remote Control Cursor does not disappear when a mouse is used"
In version 4.7.1, after the browsing is controlled with a USB mouse, the cursor should disappear, since the remote control was not used.

I suggest that this can be fixed by hiding the remote control cursor if the browser detects that a mouse is moving,
or hiding the remote control cursor after 5 seconds of not using the remote control, and unhide again if it detects that the arrow keys on the rem

[2020-11-15 08:58] machsix commented on #3021
This commit https://github.com/machsix/firefox-tv/commit/6224314a56566bde55f912f2ce1aa74de423acda adds the function to CC button to open menu. APK is here https://github.com/machsix/firefox-tv/releases/tag/4.7.1.43200038

[2020-11-15 11:19] tianrui233 opened #3023 "Questions about desktop site settings"
Hello, developers of the Firefox TV,
I found a problem when using this application. This problem may be a bug or it may not be done yet.
For example, when I visit some web pages, the mobile version is https://m.bilibili.com and the desktop version is https://www.bilibili.com.
If I want to access the desktop version at this time, I cannot access the desktop correctly (m will not  Jump to www, many

[2020-11-15 11:30] tianrui233 opened #3024 "A bug about an unknown protocol"
## Steps to reproduce
![Screenshot_2020-11-15-19-21-14-738_org mozilla tv firefox](https://user-images.githubusercontent.com/37788769/99183686-9a1bbd00-2778-11eb-8959-895d4ef5066d.jpg)

### Expected behavior
Return to the previous page
### Actual behavior
Jump to the about:blank page
### Device information
* Latest affected Firefox version: 4.7.1

[2020-11-22 22:14] xeyownt commented on #2973
Info for Nvidia Shield TV owner: the menu button on the remote can be configured to send the `menu` command to the application, instead of open the Shield settings instead.

[2020-11-29 20:44] MendozaRodriguezDaniel opened #3025 "play video"
**Problem when playing videos:**
![video_mega](https://user-images.githubusercontent.com/37033087/100553036-d529f000-3250-11eb-85c0-aa585b6fb5bf.jpg)

There is a problem when playing videos, which did not occur before (perhaps the outdated component), for example, an error message is displayed when trying to play a video from an online storage page.

[2020-12-02 16:42] ghost opened #3026 "Ability to change the default search engine"
### Why/User Benefit/User Problem
Google is not the best search engine for privacy and many users want privacy letting choose another search engine like DuckDuckGo, or Qwant would be very beneficial.

### Acceptance Criteria (how do I know when I’m done?)

When their is an ability to set a new default search engine besides google whether that be custom or a select handful.

[2020-12-02 18:45] charkes opened #3027 "Out of memory crash while running videos"
## Steps to reproduce

I have a web page that uses Javascript to display videos by loading them in a video tag, playing, changing the video reference, playing again, and repeat.  The issue can sometimes take 3 hours to appear.

### Expected behavior

The videos loop without interruption.

### Actual behavior

The amount of memory used by the com.amazon.webview.chromium:sandboxed_process0 increases

[2020-12-03 19:47] #3026 closed, assigned to nobody

[2020-12-05 19:06] jakeistapper opened #3028 "Add more search engines"
### Why/User Benefit/User Problem

Add adds a level of privacy and freedom to the app. A search engine like DuckDuckGo as your default is less intrusive

### Acceptance Criteria (how do I know when I’m done?)

When the default search engine can be changed to something besides google. Such as duckduckgo or even a custom search engine

[2020-12-10 05:36] tookie610 opened #3029 "Using voice search on youtube causes fast scrolling"
## Steps to reproduce
Search YouTube, open link from search results, use voice feature on fire stick remote to search up video
### Expected behavior
Video results display
### Actual behavior
Video results display before scrolling down the page quickly (only happened on occasion and I'm unclear on whether this is a glitch with the voice search or Firefox)
### Device information
* Fire TV device: Fi

[2020-12-31 22:31] rimas-kudelis commented on #2977
@max1c perhaps an "tv remote" android apps will have the menu button?
I've looked over a few of them just now, but found nothing workable so far. I also tried a button remapper, but the only button on my remote that I wouldn't miss is the "speak" button, or whatever its name, and the remapper was unable to intercept it. Lucky me I have two different MiBox remotes, and one of them (the Chinese vers

[2021-01-01 20:29] max1c commented on #2977
Yes, Cetus app has the 3 line menu and it works as a workaround for Firefox. Cetus app is horrible though.

[2021-01-03 21:02] rimas-kudelis commented on #2977
Returning back to the original issue, I think the most obvious way to replace the menu button on Android TV is to show the menu on long click of the select button. At least that's how you trigger what I would call context menu on Android TV homescreen.

[2021-01-03 21:08] rimas-kudelis commented on #2660
Another thing that would have to be done for Android TV is to fix receiving tabs on it. This feature simply does not work on Android TV at the moment, probably because it relies on Amazon's and not Google's messaging service.

[2021-01-03 21:13] rimas-kudelis opened #3030 "Sent tabs are not received on Android TV proper"
## Steps to reproduce
1. Install FFTV on Android TV
2. Sign in to your Firefox Account
3. Send a tab from your PC or phone

### Expected behavior
Tab is received.

### Actual behavior
Tab is not received.

### Device information
* Fire TV device: No
* Latest affected Firefox version: 4.7.1
* Earliest affected Firefox version: ?
* Turbo Mode: makes no difference

Cf #2660

[2021-01-21 18:12] tmxkn1 commented on #3030
I can confirm the same. I just received my Chromecast with Google TV today, set everything up, sideloaded Firefox TV 4.7.1, signed in to my FF account, try sending a tab from my PC from FF 84.0.2 signed into the same FF account, nothing happened.

[2021-01-23 04:47] gyli opened #3032 "Feature request: Control the cursor in web page through Android TV Touchpad"
### Why/User Benefit/User Problem

I use Android TV app as the remote of my TV, and I enjoy using its touchpad more than the Dpad control panel. I hope I can move the cursor in web page through that touchpad, even if it only supports up, down, left, right, four directions. I believe it would be an easier method to move cursor.

I know some other TV remote app also have touchpad feature, so it's pr

[2021-02-05 22:51] zilexa opened #3033 "Use your own FF sync server with Firefox-TV (how to change the default server)"
I would like to use Firefox-TV, but since there is no about-config, how do I change the default Mozilla sync server address to that of my own Firefox Sync server?

[2021-02-06 06:56] cozzyd opened #3034 "Site not working, basic auth to blame?"
I attempted to visit the monitoring page for one of my experiments on Firefox on my TV but it won't even start to load, perhaps because the page requires basic authentication and maybe Firefox-TV may not support that?

If that's indeed the case, is there a plan to support basic auth? It's not super secure but a lot of web pages use it as a screen door.

[2021-02-08 03:02] erkerw opened #3035 "Video can't play"
Hi, thanks for your contribition on this app.
Recently, i find some problem on it.
It doesn't work well on video playing.
Here are these url:
https://www.zabaye.com
https://bde4.cc

[2021-02-08 21:44] st3fan opened #3037 "Firefox-TV Pull Requests fail to build"
[code]

[2021-02-08 21:53] bhearsum commented on #3037
I think https://phabricator.services.mozilla.com/D104454 will fix this.

[2021-02-09 18:50] bhearsum commented on #3037
This is landed. :crossed_fingers:

[2021-02-13 03:29] komawoyo opened #3038 "Is this no longer being updated? Firefox for android now supports extensions"
Is this no longer being updated? Firefox for android now supports extensions. We should have this repository updated.

[2021-02-13 09:04] cadeyrn commented on #3038
There is currenttly no active feature development for Firefox for Fire TV, see https://blog.mozilla.org/l10n/2020/12/22/l10n-report-december-2020-edition/

[2021-02-14 13:41] xmha97 commented on #3030
There is a problem for me too and I can confirm the same.

[2021-02-16 13:09] dskarasev commented on #3030
Same issue

[2021-02-18 19:41] st3fan commented on #3037
@bhearsum I tried a new PR but unfortunately I am running into the same issue https://firefox-ci-tc.services.mozilla.com/tasks/Kr5KnHuGRA-pXz3EFjVSLQ

[2021-02-18 21:46] jeverling commented on #3021
Thanks, how can you find out the code for a long press of the button? I only seem to be able to detect DOWN/UP events. Is there a specific event for this or do you have to infer it from DOWN/UP?

[2021-02-19 01:17] CB-wee commented on #3021
I do not know how to find it, but I know there is another TV browser, TVWeb Browser.
It can display the menu after long pressing the center button, maybe you can try to find the code for that in TVWeb's APK file?

[2021-02-19 14:37] bhearsum commented on #3037
No, it looks like I bungled the patch (sorry). https://phabricator.services.mozilla.com/D105781 should fix it (really!). I'll rerun the failed after it lands.

[2021-02-20 00:36] st3fan opened #3043 "Release management checklist - v4.7.2"
##### Sprint Release Owner: _[name here]_

_Think something can be automated? Add it to [this doc](https://docs.google.com/document/d/1I_pf7RhR8uC0P_jB8o5Y8teNxUuLlpKiF_FyBW9veFY/edit?ts=5cdc4d67)._

#### Tuesday # 1

- [ ] Upgrade a-c

#### Wednesday # 1

- [ ] Verify all `strings-ready` issues in Sprint have strings landed (exports now happen automatically). If not, check with L10N/PM if the iss

[2021-02-20 01:14] st3fan opened #3044 "Release build task failures"
I tried to kick off a release build for 4.7.2 but two of the tasks have failed:

 * Sign for Github - https://firefox-ci-tc.services.mozilla.com/tasks/DJ_WRGK_RrifI507T2UUXg
 * Push to Amazon - https://firefox-ci-tc.services.mozilla.com/tasks/Iu-vfF5CRoKJR4S_4gQ5wQ

It looks like they both failed with the same error.

I compared this to 4.7.1, which is the last build we did a few months ago, and t

[2021-02-22 15:48] st3fan commented on #3037
Closing because we're in good shape now with PR builds.

[2021-02-22 15:48] #3037 closed

[2021-02-23 00:18] mcomella commented on #3044
@st3fan These tasks are not essential for releases. Amazon does not required signed builds to be uploaded to their store (and in fact, if you add your own signing, they strip it) so you can download the unsigned release APK and upload it to the Amazon store for a release. These two tasks are primarily for convenience:
- we put signed APKs on GitHub (for early & historical QA) so we used the "Sign

[2021-02-24 01:00] st3fan commented on #3044
With #3045 I disabled the tasks that are always failing.

[2021-02-24 01:00] #3044 closed

[2021-02-28 18:55] LoneFenris commented on #146
Is this something that could be configurable instead of just disabled? There are uses for being able to download files on a device like this (sideloading apps comes to mind).