[2018-02-27 19:18] #487 closed

[2018-02-27 19:20] mcomella commented on #488
[triage] This may affect seasonal events like March Madness – let's see if we can reproduce at all.

[2018-02-27 19:20] Sdaswani commented on #268
@bbinto and @sdaswani to look at amazon store reviews and see if folks are still upset.

[2018-02-27 19:21] #230 closed

[2018-02-27 19:21] Sdaswani commented on #488
@Sdaswani to test March Madness.

[2018-02-27 19:29] mcomella commented on #442
We might be able to adapt the fennec favicon code: https://searchfox.org/mozilla-central/source/mobile/android/base/java/org/mozilla/gecko/icons

[2018-02-27 20:48] AaronMT commented on #504
I get this only if I deselect send usage data first

[2018-02-27 21:15] Sdaswani commented on #504
@AaronMT can you reliably reproduce?

[2018-02-27 21:17] liuche commented on #441
We also need an accessibility string for this, similar to how we have "Turbo mode" in the overlay: https://github.com/mozilla-mobile/firefox-tv/blob/master/app/src/main/res/values/strings.xml#L563

For turbo mode for example, the string is announced in voice view when the user highlights the turbo button in the overlay as "Turbo mode: checked" or "Turbo mode: unchecked". We'd need a similar string

[2018-02-27 21:29] #535 closed

[2018-02-27 21:35] lime124 commented on #441
@liuche @BrianNJones eitan suggested we do the same for pinning as turbo mode - call it the things then checkbox then checked. So I guess the big difference between the two would be "turbo mode" vs "pin"

[2018-02-27 21:40] liuche commented on #441
Okay, so the string can be "Pin"? Just wanted to explicitly ask what string I should add as the label for the thumbtack icon.

[2018-02-27 22:40] #513 closed

[2018-02-27 22:42] boek opened #540 "Improve structure of the overlay views: don't use nested LinearLayouts"
When adding items to the top/bottom right corners of the overlay I added a nested layout_weight. We should improve the structure to support pinning views to all four corners

context: https://github.com/mozilla-mobile/firefox-tv/pull/529#discussion_r170763479

[2018-02-27 23:20] liuche commented on #443
@lime124 While hunting for new strings, I saw in the IA for #433 that we should have a confirmation toast for deleting a tile from the home screen.

Do we still want that confirmation, and if so, we'll need to get a string from @BrianNJones for it.

[2018-02-28 01:21] liuche opened #542 "Change "identifier" to "id" for bundled tiles JSON"
`id` is shorter and simpler.

Note that this should also update everywhere we use `id` (mainly in the HomeTile data class).

[2018-02-28 06:54] Sdaswani commented on #515
I think this is a bug @liuche

STR:
1. Launch FFTV
2. Youtbue something
3. Open overlay
4. Press 4-way D-pad all the way down

Expected Result: Home button should stay highlighted

Actual Result: Nothing is highlighted, until you press right, and then the settings button is highlight

[2018-02-28 17:32] boek opened #543 "Remove cursor from URLBars"
Since you can't select / copy / paste and you get the cursor in the keyboard view. Prevent the cursor and character navigation on the URLbars

[2018-02-28 17:33] Delphine commented on #523
@liuche: hey, any updates concerning the string export for this? will you be doing any in the end? thanks!

[2018-02-28 18:10] Sdaswani opened #545 "Investigate Missing Pings"
https://sql.telemetry.mozilla.org/dashboard/core-ping-sequence-numbers-count-per-day

This chart shows that Firefox TV is missing sequential pings every day - we need to see if how we configured sending pings is leading to this, as Focus Android seems to be sending sequential pings just fine:

[2018-02-28 18:36] BrianNJones commented on #441
@liuche @lime124 I think we need a slightly more expansive accessibility string than "Pin." Recommend "Pin to homescreen"...is there concern that there may be confusion re: whether reference is to Firefox TV vs. device homescreen?

[2018-02-28 18:52] Sdaswani commented on #488
It's not a great experience, but you can play videos at ncaa.com/marchmadness, and according to [this](https://www.ncaa.com/news/basketball-men/article/2016-03-07/ncaar-march-madnessr-livetm-provide-access-2016-ncaa-division) you'll be able to live stream games from there when the tourney begins.

You can load videos, but the play button oddly takes a while to appear - I wonder if there is some js

[2018-02-28 19:47] mcomella commented on #425
Sebastian left some notes in https://github.com/mozilla-mobile/focus-android/pull/1590#issuecomment-369035960:

I only upgraded Robolectric to 3.6.1 so we should look into this after the release.

[2018-02-28 19:47] mcomella commented on #425
Throwing back to triage: I'd like to do this after the release because Instant Run can greatly speed up our development workflow (i.e. not having to copy the entire APK to device every time we want to test).

[2018-02-28 20:43] #441 closed

[2018-02-28 21:31] mcomella opened #548 "URL bar will overwrite user input when loading"
STR:
1) Click IMDB

The next steps should be performed quickly, while the page loads

2) Open menu
3) Start typing

Expected: input stays
Actual: input is overwritten by redirects

[2018-02-28 21:40] Sdaswani opened #549 "Navigating below bottom row of buttons leads to no buttons being selected"
A button (or the url text) should always be selected.

[2018-02-28 21:41] Sdaswani commented on #515
File https://github.com/mozilla-mobile/firefox-tv/issues/549 for https://github.com/mozilla-mobile/firefox-tv/issues/515#issuecomment-369139894

[2018-02-28 21:46] liuche commented on #549
@lime124 what should happen if the user is on the bottom row of buttons, and tries to move "down" - should this take them back to the top row of buttons, or should the same button stay highlighted?

[2018-02-28 21:50] liuche commented on #549
@lime124  a few questions about how button navigation should work:

- When at the bottom-most row, trying to go further down shouldn't do anything (because you are already at the bottom)
- When at the right-most button on the top row (Turbo mode button), and you hit "right", should this allow you to go to the next row (home button) or should that not do anything (and you stay on Turbo mode)?

[2018-02-28 21:51] #542 closed

[2018-02-28 22:41] liuche opened #551 "Add accessibility string to "pin" behavior"
Quoting from #441
liuche:

BrianNJones:

[2018-02-28 22:44] liuche commented on #551
Opening this as a separate bug so we could land the code.

Since we have the toast for the pin/unpin action, and it's reversible, do you think that would be enough? It might be confusing, so I would also be fine with it saying "Pin site to Firefox homescreen".

[2018-02-28 22:46] liuche commented on #433
Closing this now that all the large list items are closed - polish may be done in the last 2 days, but doesn't need to block this meta.

[2018-02-28 23:17] liuche commented on #441
Note for QA: this doesn't handle the "bundled" sites yet, that is #533.

@lime124, if you want to build this and see how pinning feels, this has landed on master!

[2018-03-01 05:03] lime124 commented on #551
To be clear - this is the label for the pin button? This isn't for the toast that appears after the pin button is toggled.

I think we  do need to be concise as this word(s) is going to be read by the screen reader each time the focus lands on the button as well as the current state. e.g turbo mode, checkbox, checked.

I do think Pin to Firefox homescreen,checkbox, checked to heading towards wordy

[2018-03-01 05:07] eeejay commented on #551
"Pin to homescreen" does seem better. I'm not sure I'm following why "Pin site to Firefox homescreen" was suggested. What will the toast string be?

[2018-03-01 05:15] lime124 commented on #549
@liuche
the overall premise that something should always be selected is correct.
- the up/down buttons should not loop back around e.g. on the top row, pressing down goes to the bottom row, pressing down again does nothing (and vice versa with up)
- hitting right/left should go to the next item in the row. if it's the last item on the top row, pressing right should jump down to the home button (li

[2018-03-01 05:17] lime124 commented on #521
i think i forgot to remove my assignment from the last question so i'm going to do that now. don't hesitate to ping me if i missed something!

[2018-03-01 18:23] mcomella commented on #186
Let's make this more generic. https://developer.android.com/reference/android/support/v17/leanback/package-summary.html Thanks Sebastian!

[2018-03-01 18:36] liuche opened #555 "Rename "defaults" to "bundled""
"Defaults" can be confusing because that can also refer to things like "default search engine" which a user selects - this should be named "bundled".

[2018-03-01 19:39] BrianNJones commented on #551
I'm good w/"Pin to homescreen."

[2018-03-01 19:43] mcomella opened #557 "Use Delegates.observable instead of property setter"

[2018-03-01 22:25] mcomella commented on #549
fwiw, navigating in loops could potentially be confusing for a11y users (e.g. looping from bottom to top). I think what Tif describes seems okay but I'm not expert.

[2018-03-01 23:28] #555 closed

[2018-03-01 23:31] liuche commented on #523
Hi @Delphine, I'm just wrapping up the last new string I think we'll have, #551. I could do an export earlier than March 6 (discussed earlier in the thread), like later today or tomorrow - will ping you about that.

[2018-03-01 23:37] mcomella commented on #521
@lime124 What should we show on a tile if we can't get a screenshot for whatever reason? We could quickly borrow the Focus code (purple tile, domain letter) or the fennec code (colored tile, domain letter) if those designs work for you or we could try something else!

[2018-03-02 00:56] mcomella commented on #521
@lime124 Also, the screenshots are being fetched asynchronously from disk so the images pop-in. To get around this, I added an alpha animation: https://drive.google.com/file/d/1vuhmAFtknztm9Zbk4CKCIEE5jqwqRrZx/view?usp=sharing

However, it looks funky. I suspect it's because:
- If some tile images are fading in, all of them should fade in
- If the images are fading in, we should fade the tiles too

[2018-03-02 01:02] mcomella opened #559 "Provide better indication the home tile list is scrollable"
![device-2018-03-01-170017](https://user-images.githubusercontent.com/759372/36878097-3c4ea2d6-1d72-11e8-8817-5226f2e9b7a0.png)

i.e. there is a Pinterest tile directly below the highlighted metacritic that is highlighted on my screen

[2018-03-02 01:42] boek commented on #504
Did we fix this? I'm not able to reproduce from master on the stick

[2018-03-02 01:48] Sdaswani commented on #504
I don’t think so @boek - @AaronMT was able to reliably reproduce as of yesterday.

[2018-03-02 02:04] mcomella commented on #521
It turns out the overlay is not visible in the emulator (where I took the screenshot from) but is visible on device. Here's what we currently have:

![device-2018-03-01-175608](https://user-images.githubusercontent.com/759372/36879694-df31c6e8-1d79-11e8-991e-fe9cb7d3b900.png)

On Slack, Tif suggested lowering the tile background and removing the overlay. Here's what that could look like with an #f

[2018-03-02 02:08] mcomella commented on #521
Also, here's a screenshot where I enlarged the screenshot size:

![device-2018-03-01-180643](https://user-images.githubusercontent.com/759372/36880009-5f53a12e-1d7b-11e8-84df-03ba4cc8de24.png)

I think we should probably increase their size, even if we don't increase the size of the existing icons. Maybe we could round their corners too. :P

[2018-03-02 02:10] liuche commented on #533
@lime124, so this ends up being a little complicated - there are some inconsistencies because our bundled sites might be redirected by the server.

So the best effort I'm doing is:
- m.imdb.com - I strip the "m", so both imdb.com and m.imdb.com would show up as pinned
- youtube.com/tv adds the video you're watching behind a # (e.g., youtube.com/tv#v=?Ahe9ol) so youtube.com/tv looks pinned for ever

[2018-03-02 02:21] liuche commented on #551
After this string has been added we can export and close #523

[2018-03-02 16:20] npark-mozilla opened #562 "Pinned site shows as 'custom' in Homescreen"
Found while testing #441

When a site is pinned, and the user returns to homescreen, it shows no icon and the caption is shown as 'custom.'  (I pinned bbc.com site)  I couldn't find an open bug that exactly match this, so created this as a precaution.  Please close if it's a duplicate.

![screen](https://user-images.githubusercontent.com/6930774/36908833-6fb9f22c-1e0a-11e8-920a-f33e82c7ffb9.png)

[2018-03-02 16:27] npark-mozilla commented on #562
I think I should've waited for #533 for this. closing now

[2018-03-02 16:27] #562 closed

[2018-03-02 19:18] mcomella commented on #345
It's been working - great job team!

[2018-03-02 19:18] #345 closed

[2018-03-02 19:19] liuche opened #563 "Ellipsize text in urlbar (on overlay and loading url bar)"
Moving this out of Milestone 2.0, because @lime124 says this isn't a blocker.

[2018-03-02 19:20] mcomella commented on #442
[planning] We're going with just screenshots for 2.0.

[2018-03-02 19:21] liuche commented on #442
For 2.0 we're going to do screenshots for #521, so I'm moving this out of milestone.

[2018-03-02 19:23] Sdaswani commented on #504
@AaronMT can you reliably reproduce on the LAT version, or only on debug?

[2018-03-02 19:25] liuche commented on #504
If this only debug-only, we should move this out of the 2.0 milestone and into the triage list.

[2018-03-02 19:26] Sdaswani commented on #525
@sdaswani and @bbinto to test and give their opinion, also @AaronMT and @npark-mozilla to give their thoughts on if page loading is slow because of this.

[2018-03-02 19:33] Delphine commented on #523
@liuche: Aha, ok I got confused - I understood we were supposed to get these strings last Tues (but the thread indicates I'm wrong, haha!). Thanks!

[2018-03-02 19:51] boek opened #564 "Come up with a better active state for nav overlay buttons"
Currently the active and focus state are a little too similar.

---

![screen](https://user-images.githubusercontent.com/1250545/36918822-fb7d2eaa-1e0f-11e8-8d4a-e0571c26a6f6.png)

[2018-03-02 20:35] bbinto commented on #488
+1 for the idea, Susheel, might be a nice delightful experience for the user.

As for SUMO, you'd want to cover the play button delay in there?

[2018-03-02 20:44] bbinto commented on #268
Still being reported, since last release (Jan 25), ~30 reports, as recent as today.

[2018-03-02 21:00] lime124 opened #565 "UI improvements"
General
- [ ] photon white should be tv white #eeeeee.
  - I think this applies to the text and the icons in the overlay.
  - the cursor in the search box on the homescreen
  - the background of the home tiles?

Homescreen
- [ ] no press state on settings button on the homescreen

Overlay
- [ ] #564 better active state color

[2018-03-02 21:21] Sdaswani commented on #488
@bbinto yes, we cover the play button delay article in the SUMO article, since we will have it pinned. But there is an argument that we shouldn't pin it without making the experience super slick (so we would want to investigate making it better).

[2018-03-02 21:32] Sdaswani commented on #268
@bbinto that's 30 reports out of how many reviews?

[2018-03-02 21:51] npark-mozilla commented on #276
To me it looks good, only unusual thing is that I can type on the homescreen url bar without selecting the url bar, by pressing the keyboard icon on the top right corner of the fire app. Even though it accepts keyboard input, it doesn't go to the URL when enter key is pressed - one has to select the URL bar to make screen keyboard visible, then press enter.  This also happens on overlay, which can

[2018-03-02 21:53] npark-mozilla opened #566 "the text on Fire TV app on phone and URL bar may not always match"
I can type on the homescreen url bar without selecting the url bar, by pressing the keyboard icon on the top right corner of the fire app. Even though it accepts keyboard input, it doesn't go to the URL when enter key is pressed - one has to select the URL bar to make screen keyboard visible, then press enter.

This also happens on overlay, which can make the text on Fire app and screen out of syn

[2018-03-02 22:59] lime124 commented on #565
moved all this stuff to the live app test bug #515

[2018-03-02 23:16] #565 closed

[2018-03-02 23:17] mcomella commented on #566
@npark-mozilla Android or iOS?

[2018-03-02 23:19] mcomella opened #567 "Cursor disappears when pressing back from soft keyboard in overlay"
STR
- Go to a page (IMDB in my case)
- Click menu to open overlay
- click enter to open soft keyboard
- Click back twice on hardware remote to return to page

Expected: cursor is visible
Actual: cursor is hidden

[2018-03-02 23:25] lime124 commented on #521
@mcomella catching up...

re: animation ideas for screenshots popping in - let's catch up monday with epang about some ideas.

re: what do we so if we can't do a screenshot - if memory serves we've punted on favicons, even if they are fuzzy? how likely is this to happen? i would say that until we can do favicons, the focus way would be fine, but let's change the purple to something else. maybe ink

[2018-03-02 23:29] mcomella opened #568 "Custom tile screenshots UX polish"
via https://github.com/mozilla-mobile/firefox-tv/issues/521#issuecomment-370085846:
- [ ] Animation for screenshots popping in (Tif to talk to epang on Monday)
- [ ] Placeholder images, like focus, with "ink" background if the screenshot is not found
- [ ] Enlarge the screenshots and round the corners

@lime124 What is "ink" for the background color, for the screenshot placeholder images?

[2018-03-02 23:31] mcomella commented on #521
Moving UX to #568.

[2018-03-02 23:42] liuche opened #569 "Use a single HomeTilesManager to handle pinning/unpinning sites"
Currently, we use both BundledTileManager and HomeTileManager to handle pinning and unpinning, but we should extract that out into a single interface of pin/unpin so it's not confusing. Follow-up to #533

[2018-03-02 23:47] #533 closed

[2018-03-02 23:56] #521 closed

[2018-03-03 00:19] #543 closed

[2018-03-03 00:50] #551 closed

[2018-03-03 18:13] npark-mozilla commented on #566
I saw this on Android

[2018-03-04 05:12] Sdaswani opened #571 "Deleting a Custom Tile Crashes the App"
STR:
1. Create a Custom Tile
2. Try to delete it

[2018-03-04 05:14] Sdaswani opened #572 "Deleting a Pinned Tile Doesn't Actually Delete It"
STR:
1. Go to Home Screen, and delete a Pinned Tile
2. Load a site
3. Go back to Home Screen, Pinned Tile remains

[2018-03-04 05:17] Sdaswani opened #573 "Pinned sites should be added to the end of the list"
I think it should be put at the bottom, or at least Youtube shouldn't be displaced. Not sure what @lime124 had in mind though.

[2018-03-04 05:19] Sdaswani commented on #515
Found some bugs with 4.0.2:

- [ ] https://github.com/mozilla-mobile/firefox-tv/issues/571
- [ ] https://github.com/mozilla-mobile/firefox-tv/issues/572
- [ ] https://github.com/mozilla-mobile/firefox-tv/issues/573

[2018-03-05 15:39] bbinto commented on #268
2770 (that includes all stars)
Mentioning of buffer+freezing: 30, ~ once per day

[2018-03-05 16:58] AaronMT opened #575 "Retain visit history"
We should retain visit history and display an autocompleted URL in both the home-screen's URL bar and in the browser overlay's URL bar.

=> Visit http://thestar.com
=> Navigate back to home-screen and or enter the same URL

Expected to see the URL autocomplete because it was visited previously

[2018-03-05 17:41] Sdaswani commented on #268
Thanks @bbinto does seem like a very small cohort.

[2018-03-05 18:38] #438 closed

[2018-03-05 18:46] liuche commented on #573
In the spec, we said pinning the site puts it at the top. @lime124, what do you think?

[2018-03-05 18:46] liuche commented on #571
@Sdaswani is this deleting from the home screen, or unpinning it?

[2018-03-05 18:52] Sdaswani commented on #571
Deleting from the home screen, I didn't try unpinning it from overlay.

[2018-03-05 18:53] Sdaswani commented on #573
That is a fair decision but just wanted to call it out to @bbinto since Youtube wouldn't be as easily accessible.

[2018-03-05 19:14] liuche opened #577 "Add automation for bi-weekly l10n import"
Like MickeyMoz does for focus-android.

We shouldn't need to manually import strings all the time, a bot can do that for us and open PRs.

[2018-03-05 19:22] lime124 commented on #573
@liuche @Sdaswani - i actually thought we had agreed to append it to the end of the list 😬. in the future, we need to add in the ability to reorganize so people can put it wherever they want.

[2018-03-05 22:06] Sdaswani commented on #567
@boek working on a fix.

[2018-03-05 22:09] Sdaswani commented on #564
XS once @lime124 decides on a color.

[2018-03-05 22:15] liuche opened #580 "[Accessibility] In settings->about, the content (version number) is not accessible."
Feedback from Eitan that this page isn't being read by screenreader. Not a blocker for 2.0, so moving this out of the milestone.

[2018-03-05 22:26] liuche commented on #504
Moving out of 2.0 since it's debug-only.

[2018-03-05 22:27] npark-mozilla commented on #504
I tested with the Live app and verified that it doesn't happen on it.

[2018-03-06 00:14] #567 closed

[2018-03-06 00:17] mcomella opened #583 "Handle custom title name collision"
Right now we do "subdomain.domain" so if you register two youtube.com's, you'll get "youtube" and "youtube" but their screenshots will be different.

Tif said we should try to do something like fennec does: https://github.com/mozilla-mobile/firefox-tv/issues/511#issuecomment-367445729 fwiw, once you dig out the algorithm, I suggest passing it by Tif again because fennec is dealing with a different

[2018-03-06 00:18] mcomella commented on #511
I filed #583 for name collisions polish.

[2018-03-06 00:29] mcomella commented on #434
All our custom tiles bugs are being tracked in the milestone so I don't think this meta bug is useful anymore: closing.

[2018-03-06 00:29] #434 closed

[2018-03-06 00:29] mcomella commented on #434
@liuche Why is this labelled SUMO? Should it be in the milestone so SUMO doesn't miss this?

[2018-03-06 00:30] Sdaswani commented on #434
I think it was in the milestone with SUMO label to remind Joni we needed a SUMO article, but we can also create a specific ticket for that.

[2018-03-06 00:53] mcomella commented on #490
Waiting on deletion of tiles: #443.

[2018-03-06 01:06] liuche commented on #523
Closing this because everything is done - we'll do one more string import on 3/12.

[2018-03-06 01:06] #523 closed

[2018-03-06 01:07] liuche commented on #489
Waiting on some new assets from UX which has some dependencies, so we're moving this out into 2.1.

[2018-03-06 01:51] #573 closed

[2018-03-06 02:07] Delphine commented on #523
@liuche: Unless I'm missing something - since we just exposed strings a couple hours ago, I think we're going to need a couple (few? Depending on if we need to go in and fix strings - to check they are in fact fixed) more imports before 3/12 in order to generate up to date screenshots for l10n QA. I can let you know when locales are looking more caught up.

[2018-03-06 02:24] #443 closed

[2018-03-06 06:08] Sdaswani opened #585 "Pinned Youtube TV *video* Don't Have A Screenshot"
1. Go to youtube.com/tv
2. Pin a specific video
3. Visit home screen

The pinned video has no screen shot in it's tile.

[2018-03-06 06:14] Sdaswani opened #586 "Youtube Videos Don't Always Autoplay"
1. Visit Youtube
2. Choose a video

Actual: Video doesn't autoplay, have to press select and then the play button to start it up
Expected: Video begins playing

This also happens if you pin a youtube video and click on it's custom tile.

FYI sometimes it autoplays, but more often than not it doesn't.

[2018-03-06 06:25] Sdaswani opened #587 "App Crashing After Pinning Youtube Video"
EDIT: As @bkmunar and I are investigating, we're back-tracking all the way to ~~pre-pin~~ cursor refactor code, and we're still see this crash. ~~It looks like it might be switching from the overlay to Home/Settings that is causing a crash.~~ Through bisecting, we believe it's related to when the webview is destroyed (but since the repro isn't consistent, this is a best guess).

STR:

1. Visit You

[2018-03-06 06:26] Sdaswani commented on #515
Found some more bugs:

- [ ] https://github.com/mozilla-mobile/firefox-tv/issues/585
- [ ] https://github.com/mozilla-mobile/firefox-tv/issues/586
- [ ] https://github.com/mozilla-mobile/firefox-tv/issues/587

[2018-03-06 06:27] Sdaswani commented on #572
This has been fixed with the latest LAT.

[2018-03-06 06:27] #572 closed

[2018-03-06 06:27] Sdaswani commented on #571
This doesn't happen with the latest LAT.

[2018-03-06 06:27] #571 closed

[2018-03-06 06:51] Sdaswani commented on #523
I think that makes sense @Delphine - @npark-mozilla and @AaronMT have kindly volunteered to run screenshots as necessary, do let us know when they are caught up.

[2018-03-06 16:55] boek commented on #495
So I think whats happening here is when the soft keyboard closes via the `Previous (Back)` button its triggering the event to focus on the next focusable element.

I tried to re-focus the urlInputBar on previous/backbutton pressed but that didn't work. Maybe it's happening earlier in the lifecycle?

I also tried messing with the focus order, but that caused problems with the remote navigation.

Th

[2018-03-06 18:10] lime124 commented on #568
@mcomella ok sorry that took so long. @boek and i had some confusion over the # value of ink.
he's going to make an inkTV variable that you can then use so we have a consistent color. sound good?

[2018-03-06 18:12] Sdaswani commented on #495
Thanks @boek I don't think is a release blocker, but we can discuss later today.

[2018-03-06 18:46] mcomella opened #588 "Add a UX color palette"
In the past I’ve found having a color palette built into the app was helpful so UX can specify colors as a name, rather than hex, and so we can share colors across the app, which makes it easier to color things (no more naming!), navigate files (a smaller colors.xml), and change colors after the fact (white is actually TV white).

Let's add it after 2.0. I spoke with Tif already and there's an in-

[2018-03-06 18:50] mcomella commented on #588
btw, there's also [the photon color palette from Firefox](https://github.com/FirefoxUX/design-tokens/blob/master/photon-colors/photon-colors.android.xml), but TV colors need to be slightly different.

[2018-03-06 19:02] liuche opened #589 "Hitting back from Settings shouldn't hide the overlay"
Filing from LAT feedback.

[2018-03-06 19:28] liuche commented on #586
I'm seeing this in the old version of the app that's currently in the app store too, so it's not a regression from new code - maybe something with the way youtube.com is handling requests.

[2018-03-06 19:31] Sdaswani commented on #586
ok it's not a release blocker but something to look at if we can before 2.0 release if we have time during the QA / UX polish period.

[2018-03-06 19:33] bbinto commented on #488
Do we need to discuss the play button delay in SUMO though? What makes a topic worth putting on SUMO?

So maybe let's not include it and let the user decide if they want to pin it?

[2018-03-06 20:51] lime124 opened #592 "moar padding on overlay and progress bar"
The overscan on my new TV is crazy and the UI in the overlay and progress bar are right up to the edge. We'll have to see what we can do to fix this.

![2018-03-06 12 39 34](https://user-images.githubusercontent.com/287322/37057661-f0b83b74-213c-11e8-90cf-16038f006f80.jpg)
![2018-03-06 12 50 50](https://user-images.githubusercontent.com/287322/37057694-0e1d9be6-213d-11e8-8282-cc3f78041893.jpg)

[2018-03-06 20:53] Sdaswani commented on #488
I thought if we pin it then we should have some instruction around it. If we let the user pin it themselves, I agree no need for a SUMO.

[2018-03-06 20:56] lime124 commented on #568
@mcomella we may need to put a stroke or shadow on the images. i've noticed those that are mostly white (e.g. nytimes) blend in to the background of the tile. the issue may go away though after you enlarge the tiles. something to watch out for when testing.

[2018-03-06 21:17] boek commented on #592
A couple of questions that I was thinking about when adjusting the padding:

* If the overlay is getting cut off, the webview probably is too.
* Since overscan can be adjusted on the TV. How much padding should we add?
* Do we care enough to potentially educate people to adjust the overscan on their TVs? I've seen a few things that will have an onboarding slide that either shows how far over the o

[2018-03-06 21:28] lime124 commented on #592
I wanted to follow up super fast - to be clear I'm not advocating that we try to fix every one off so that we're constantly chasing our tail and breaking stuff. Instead, can we think about how to fix this in such a way as to make the UI work in a wider array of scenarios.

@boek yes the webview is mega cut off too.

[2018-03-06 21:40] boek commented on #589
@liuche Is this happening because we're replacing the browser fragment with the settings fragment? What approach would work better to prevent the webview from reloading?

[2018-03-06 21:41] lime124 commented on #568
re-pasting link to video for easy finding: https://drive.google.com/file/d/1vuhmAFtknztm9Zbk4CKCIEE5jqwqRrZx/view

i chatted with epang today and he'll take a look as soon as he can.

[2018-03-06 21:44] liuche commented on #589
I thought the fragments should retain their state when they're switching - it doesn't seem like we're recreating the fragment because the url is correct (unless we fetch that from Sessions). My guess (without having looked at the code) is that we're conservatively calling some sort of onResume or init that ends up reloading the website.

[2018-03-06 21:45] liuche opened #593 "3/8 and 3/12 - String import from l10n"
Making an issue so we have the most recent strings before we ship.

- [x] 3/8 import for initial screenshots
- [x] 3/12 Final import

[2018-03-06 21:48] bkmunar commented on #587
Couple of things while trying to investigate this:
1. The crash log @liuche pasted in, I think, is not the crash related to the one this issue is talking about. That specific crash log is repeated multiple times throughout the lifecycle of the app and doesn't result in this crash

2. The STR for this crash is *extremely* spotty. This morning I could get it to crash within 1-5 tries of STR, but aft

[2018-03-06 21:54] #549 closed

[2018-03-06 21:56] Sdaswani commented on #587
Yeah my guess it's the screen shots.

[2018-03-06 22:18] mcomella opened #594 "Support UTF-8+ in TC docker images' unit tests"
In #582, I added some tests which run on robolectric and compare UTF-8 strings (TestPublicSuffix). These passed locally and failed on TC: https://tools.taskcluster.net/groups/aqFyQHWoR3yHMi3736WvDg/tasks/aqFyQHWoR3yHMi3736WvDg/details

I was able to reproduce by downloading the docker container. I was unable to reproduce in the image when I set LC_ALL: `docker run -e LC_ALL=C.UTF-8 -it mozillamobi

[2018-03-06 22:27] liuche commented on #587
Agreed, this log is showing up even if we're not crashing, so it's something else.

We also tried commenting out the screenshots, the exitFullscreen code. Will continue to comment out other code and see if we can isolate where this is happening.

[2018-03-06 22:30] mcomella commented on #594
Inside the docker image (without the env var specified), this also appears to pass the tests:
[code]

---

Note that you'll have uncomment the tests for these commands to start failing.

[2018-03-06 22:34] mcomella commented on #594
Looks like we localgen UTF-8 in the docker image: https://github.com/mozilla-mobile/firefox-tv/blob/b17738d3722244fd654460207907704d028e7980/tools/docker/Dockerfile#L31

I wonder:
- if the firefox-tv image was generated correctly
- What the best practices are here

@pocmo Do you have any ideas?

[2018-03-06 22:36] mcomella commented on #594
Setting -e LANG=en_US.UTF-8 also seems to work (which is how macOS appears to be configured).

[2018-03-06 22:40] mcomella commented on #594
Thinking: it'd be ideal to set the LANG in the image so the build environment is reproducible as to when someone pulls down the image. Failing that, we should make it part of the command that TC runs when it runs the unit tests. I think we should avoid setting the env var in the task cluster config file otherwise (since it won't be reproducible).

[2018-03-06 22:49] mcomella opened #595 "SUMO article for v2.0"

[2018-03-06 22:50] mcomella commented on #434
Filed https://github.com/mozilla-mobile/firefox-tv/issues/595

[2018-03-06 22:52] mcomella commented on #572
Removing from milestone to make our issue count more accurate: this was fixed with #443.

[2018-03-06 22:52] mcomella commented on #571
Removing from milestone to make our issue count more accurate: this was fixed with #443.

[2018-03-06 22:55] mcomella commented on #589
Note: there's a difference between 1) FragmentTransaction.add and 2) FragmentTransaction.replace (which is essentially remove then add). iirc, we've been calling replace.

[2018-03-06 22:59] mcomella commented on #592
I wonder if Silk does anything smart to handle overscan inside the WebView...

[2018-03-06 23:03] mcomella commented on #585
Screenshots are writing into Android's drawing cache. It's possible the video is using a different rendering pipeline which doesn't write into the drawing cache and it's impossible to take a screenshot of.

It could also be that youtube is running in our fullscreen mode, which runs in a different view that we'd have to take a screenshot of instead.

[2018-03-06 23:03] mcomella commented on #583
This is not a release blocker:

[2018-03-06 23:04] #511 closed

[2018-03-06 23:05] mcomella commented on #594
I lied: I just decided to run the gradle test command with LANG=en_US.UTF-8 instead: https://github.com/mozilla-mobile/firefox-tv/pull/582/commits/0f4a1660d4657ae670745a296ecbf422dd16e94f

@pocmo Can you think of a better solution or should we call this fixed and roll it out to our other TC commands and project repos?

[2018-03-06 23:08] Sdaswani commented on #585
@lime124 should we just special case YT videos and use the same icon we use for the pinned tile?

[2018-03-06 23:22] lime124 commented on #515
![button states](https://user-images.githubusercontent.com/287322/37064538-32c7176e-2152-11e8-8957-fd11f483f067.png)

[2018-03-06 23:27] Delphine commented on #523
@Sdaswani : Thanks! I see they are mostly caught up (all except 2 that are at 97%)
If it's possible to run screenshots with latest strings today or tomorrow, that would be great. And then one last time at the very end of the week (since deadline I believe would be Mon). Thanks everyone!

[2018-03-06 23:32] mcomella opened #596 "Context menu indicator doesn't change colors when home tile is pressed"
![screenshot_1520379035](https://user-images.githubusercontent.com/759372/37064855-73694b10-2153-11e8-97bd-1211fd19f085.png)

[2018-03-06 23:36] mcomella commented on #596
Without looking at the code, we could:
- change the context menu color
- Only highlight under the context menu

@lime124 What is the ideal case here?

[2018-03-06 23:36] boek commented on #564
![image](https://user-images.githubusercontent.com/1250545/37065038-2c4fc5be-2154-11e8-86bf-2e7ea73a9d05.png)

[2018-03-06 23:51] liuche commented on #587
Narrowed it down to a single commit (all the way back from Feb 2!), trying some fixes now.

[2018-03-06 23:53] Sdaswani commented on #587
**git bisect** FTW!

[2018-03-06 23:55] Sdaswani commented on #523
We will run them Thursday morning and next Tuesday morning - does that work @liuche ?

[2018-03-07 00:11] mcomella commented on #585
If this is non-trivial: we should use the placeholder. We may get screenshots that are all white from the browser, in which case we should detect it and not store the screenshot, so the placeholder will be used instead.

[2018-03-07 00:17] mcomella commented on #583
[triage] Not 2.0 but we should look out for feedback for this feature.

[2018-03-07 00:18] mcomella opened #598 "Enlarge the custom tile screenshots and round the corners"
Break-out: #568, maybe like https://user-images.githubusercontent.com/759372/36880009-5f53a12e-1d7b-11e8-84df-03ba4cc8de24.png

[2018-03-07 00:19] mcomella opened #599 "Add placeholder images when custom tile screenshot is not found, like focus"
This will follow the "letter" + background image, like what Focus does.

Break-out #568, With `@color/ink` background (waiting on a PR from Jeff for this color).

[2018-03-07 00:20] mcomella commented on #568
Updating this bug to track animations: Tif said we may not get this in 2.0 because the animations may not be perfect yet.

[2018-03-07 00:21] liuche commented on #437
Merged.

[2018-03-07 00:21] #437 closed

[2018-03-07 00:27] mcomella commented on #599
Try to steal the Focus code or the fennec code.

[2018-03-07 01:05] mcomella commented on #548
This is pretty bad, I'm putting it in 2.0 and would even call it a release blocker.

[2018-03-07 01:21] liuche opened #601 "Home Tiles overlapping urlbar"
![screenshot_1520385592](https://user-images.githubusercontent.com/1082253/37068256-a688c21e-2162-11e8-8dd1-9bde220be62b.png)

Should be a quick fix - `android:clipChildren` shouldn't be false for the home tile container, add padding to the top of the RecyclerView.

If that doesn't work, can also try using an `inset` to create padding, or a `layer-list`.

[2018-03-07 01:40] lime124 opened #603 "need string for empty homescreen"
STR
1. On homescreen, delete all the tiles
2. Observe

Expected:
Not a empty screen

Actual:
A barren screen

@BrianNJones for ideas on a possible string to prompt people to go add more tiles because they deleted them.

[2018-03-07 01:41] lime124 commented on #603
not release blocker and too late for 2.0 for strings

[2018-03-07 06:17] Sdaswani opened #604 "Vevo Doesn't Work"
While testing FFTV 2.0, I found that Vevo doesn't work too well.

[2018-03-07 06:18] Sdaswani commented on #515
1.4.0.4 is working pretty good!

[2018-03-07 09:07] pocmo commented on #594
Yes, we needed to do that because otherwise fastlane would fail. In retrospect this might be the same problem you see here. I remember that even though we generated the locale it wasn't available in the Docker image. However it worked with fastlane because we were running it inside a shell script (take-screenshots.sh).

Anyhow. If settings LANG is all that is needed to fix this then let's do this

[2018-03-07 12:09] bbinto commented on #488
Ok, let's not pin it

[2018-03-07 19:12] #601 closed

[2018-03-07 19:12] #490 closed

[2018-03-07 19:21] mcomella commented on #568
Discussion: epang wants to animate *only custom tiles that were just added*, to emphasize that the home tiles have changed. The ideal case is that we animate no other tiles.

The problem is the current implementation: screenshots and titles need to be fetched asynchronously at the moment (titles aren't strictly necessary but the fennec code does so for simplicity - we could probably improve it wit

[2018-03-07 19:29] #588 closed

[2018-03-07 19:39] mcomella opened #607 "Pressing back on controller to navigate back in browser with overlay open feels unnatural"
...as an Android user. I'd expect back to close the overlay.

STR:
1) Go to a website
2) Click a link (or otherwise navigate to a new page)
3) Click menu to open overlay
4) Click back on controller

Expected: overlay closes
Actual: browser goes back. Note that hitting back again (since it's the end of the navigation history) will actually close the overlay. I don't love the inconsistency either.

[2018-03-07 19:42] mcomella commented on #607
fwiw, I think this could feel less unnatural if the overlay was easier to see through: Tif mentions the overlay should be more see-through and it's hard to see through in the bright office (and I have a similar experience).

[2018-03-07 19:46] mcomella opened #608 "Tile titles, "subdomain.domain" not working correctly"
STR
1) Open youtube
2) Pin
3) Return home

Expected: "youtube"
Actual: "www.youtube.com"

We should remove the public suffix (i.e. "com") and strip common prefixes ("m.", "mobile", "www") like fennec.

[2018-03-07 19:48] Sdaswani commented on #608
Oh I saw this last night, thought it was intended.

[2018-03-07 20:19] mcomella commented on #585
Debug notes:
- The video screenshots are full transparency, not white. This is as detectable as white. This happens as soon as they're taken
- Taking a screenshot with the Youtube controls visible and video not playing will display the controls in the screenshot
- Taking a screenshot with the Youtube controls visible and video playing gets a raw screenshot with the controls over the transparency (

[2018-03-07 20:20] Sdaswani commented on #607
I think it makes sense to close the overlay when the user presses back, as it's on the top of the navigation stack.

[2018-03-07 21:14] mcomella opened #610 "Compressing "Youtube video + controls" screenshot takes forever"
STR:
1) Go to a youtube video
2) Show the controls while the video is playing
3) Quickly open overlay and pin (to trigger screenshot)
4) Click home

Expected: Tile appears with screenshot of youtube
Actual: All custom tiles hang for several seconds (twenty?)

Compressing the screenshot to disk is the operation taking a while, which locks the screenshots file system. Since we block titles showing o

[2018-03-07 21:33] mcomella opened #611 "For home tiles, take screenshots of fullscreened views"
If we fullscreen, we overlay the WebView with another View (as recommended by the WebView). We never take screenshots of these views, however, and instead take screenshots of the invalid WebView (all white in the case of Vimeo).

That being said, fullscreen is often only used for videos, which we have trouble taking pictures of (#585) so maybe this isn't worth doing. I've only seen fullscreen on V

[2018-03-07 21:35] mcomella commented on #611
Sample patch for how to do this:
[code]

[2018-03-07 21:38] mcomella commented on #585
- Vimeo shows a black screen if not fullscreened. If fullscreened, it's a white screenshot. If I take a screenshot of the fullscreened view, it's their backfill, not the video (see screenshot). I filed #611 for us to consider always taking screenshots of the fullscreen view when available.
- The UI layout inspector shows a black screen: I expect we won't be able to capture a video screenshot in th

[2018-03-07 21:43] SeburoSUMO opened #613 "Fandango default tile not opening page"
As seen in testing version 1.4.0.5:

Selecting the Fandango tile on the homepage tries to open https://fandango.com.  The page does not open with the connection timing out.  Same response if the address is entered into the address field in the overlay.

The page will open if https://www.fandango.com is entered into the address field in the overlay.

[2018-03-07 21:48] Sdaswani commented on #585
Agree with the solution - detect empty picture and go to default.

[2018-03-07 21:56] bkmunar commented on #613
This sounds like we just have to edit the json, yeah? @mcomella

[2018-03-07 22:03] Sdaswani commented on #613
Yes @bkmunar - that’s be only instance of fandango.com in the app, I bet.

[2018-03-07 22:06] #564 closed

[2018-03-07 22:52] mcomella opened #615 "Run UI/integration tests on CI"
Regressions suck.

[2018-03-07 22:52] #608 closed

[2018-03-07 23:09] #585 closed

[2018-03-07 23:10] mcomella commented on #613
This and IMDB were upgraded to HTTPS in https://github.com/mozilla-mobile/firefox-tv/commit/c0c913460b7e208b6b1fc6db8041e53bdc176183#diff-30c327b7444012e4c8b3f98dde94ed9a to make the "Pin/unpin" site work correctly. However, upgrading to HTTPS isn't as simple as adding an S (as we've noticed since https://fandango.com doesn't have a fine host). For example, [HTTPSEverywhere doesn't force upgrade f

[2018-03-07 23:18] boek commented on #596
I spoke with @lime124 while we were going over overlay colors and she said we should change the context menu icon color to be the same pressed state for now

[2018-03-07 23:35] mcomella opened #617 "Move home related code to home/ pkg"
It's divided in tiles/ and home/ + fragments/

[2018-03-08 00:01] #617 closed, assigned to mcomella

[2018-03-08 00:34] mcomella commented on #613
Options:
1. We ship http. This is less secure for users (e.g. if the site doesn't upgrade them to https, which they do now, or the user's connection is intercepted before it escalates to https) but it's more likely that the websites will always continue to work
1. We ship https: more secure but server configuration could break us

I'm more concerned about fandango than imdb because HTTPS doesn't s

[2018-03-08 00:38] #613 closed

[2018-03-08 01:06] mcomella opened #623 "Polish: screenshot placeholder size"
Tif okayed #599 on Slack but we want to polish it before release.

Added complication: Bryan's patch could affect this code so we need to wait for it to land.

[2018-03-08 01:07] mcomella commented on #623
Here's a sample Tif uploaded:
<img width="622" alt="screen shot 2018-03-07 at 5 04 22 pm" src="https://user-images.githubusercontent.com/759372/37127272-e96309f6-2229-11e8-8ab7-ae319424f1a0.png">

Tif prefers the smaller size but this is not final.

[2018-03-08 01:11] #599 closed

[2018-03-08 01:13] Sdaswani commented on #593
Closing as all translations are in, @Delphine can file a new bug if screenshots show some bad translations.

[2018-03-08 01:13] #593 closed

[2018-03-08 01:21] Sdaswani commented on #487
No worries @rtanglao!

[2018-03-08 01:26] mcomella commented on #604
@Sdaswani Can you be more specific? What doesn't work too well?

[2018-03-08 05:40] Sdaswani commented on #587
I just reproduced this. Trying to get the crash this time.

[2018-03-08 06:03] Sdaswani commented on #587
E/com.amazon.android.webkit.android.AndroidWebViewDelegate(21207): Method not supported in Android WebView
E/com.amazon.android.webkit.android.AndroidWebViewDelegate(21207): java.lang.UnsupportedOperationException
E/com.amazon.android.webkit.android.AndroidWebViewDelegate(21207):      at com.amazon.android.webkit.android.AndroidWebViewDelegate.getWebViewReflection(AndroidWebViewDelegate.java:901)

[2018-03-08 06:07] Sdaswani opened #624 "Turbo Mode Button is Off When It Should Be On"
1. Fresh Install of 1.4.0.6
2. Keep Turbo Mode Enabled
3. Loading Any Tile
4. Bring Up Overlay
5. Turbo Mode is Off

[2018-03-08 06:37] rtanglao commented on #487
* I am in Vancouver Canada. The following link (and all CBC event replay videos from the Olympics) works in Silk on my 4K Fire TV stick  in Vancouver, BC, Canada where I live: https://olympics.cbc.ca/video/todays-events/cross-country-skiing-feb-team-sprint-free-finals/
* https://olympics.cbc.ca/video/todays-events/cross-country-skiing-feb-team-sprint-free-finals/ doesn't work in Firefox for Fire T

[2018-03-08 18:05] liuche commented on #607
This was in the spec for the overlay, where you can go back until there is no more history, and then close the overlay - @lime124 what do you think?

[2018-03-08 18:24] liuche commented on #587
Let's see if reverting the whole patch that we (believe) causes this problem (rather than putting null checks) fixes this problem.

I realize we didn't put down where we found this problem, so documenting it here:
Commit: https://github.com/mozilla-mobile/firefox-tv/commit/71aaeecd28372c5e92b4cbcd05c266c91bf3653d

[2018-03-08 18:29] mcomella opened #625 "Add tests for telemetry probes"
Every time I add a probe, I can't help but think how fragile they are:
- They're untested by programmers as they change the code
- They have no automated tests
- Even when they're not correct, they can mask their errors in the code

And yet, we rely on them heavily. I think we should write tests for telemetry, but I'm not exactly sure what the best practices would be so **this will need some inves

[2018-03-08 18:30] mcomella commented on #594
To update the docker image, we can use this guide Sebastian wrote: https://github.com/mozilla-mobile/focus-android/wiki/Automation:-Docker-guide#updating-the-docker-image :)

[2018-03-08 18:32] mcomella opened #626 "Investigate: total_home_tile_count not appearing in telemetry pings"
Seems that none of the settings in the event ping show up (https://github.com/mozilla-mobile/firefox-tv/wiki/Telemetry#settings)

[2018-03-08 18:34] lime124 commented on #607
from slack last night - this is what we all agreed upon to solve the weirdness people are experiencing:

- from the overlay - remote back button closes the overlay
- from browser view - remote back button goes to the previous page all the way back to homescreen and exits the app
- from the overlay - onscreenback button goes to the previous webpage and that's it until there are no more webpages and

[2018-03-08 18:47] mcomella commented on #626
Solved: we needed to use telemetry.telemetry_mobile_event_parquet, not the focus_event table.

[2018-03-08 18:47] #626 closed

[2018-03-08 19:05] liuche commented on #624
@Sdaswani I don't think this is a bug - I tried this out and it looks like turbo mode is still on, but maybe the new "selected" state is throwing you off? It's more grey, not blue.

[2018-03-08 19:12] justindarc commented on #625
We have a few sanity tests in the telemetry-ios library itself:

https://github.com/mozilla-mobile/telemetry-ios/blob/master/TelemetryTests/TelemetryTests.swift

But, we don't currently test event recording within the Firefox for iOS app itself. What you're proposing isn't a bad idea, but it might be overkill to test it outside of the telemetry library. If the library has its own tests to assure t

[2018-03-08 19:23] mcomella opened #627 "Mitigate long compression times: fine-grain locking in HomeTileScreenshotStore"
In some edge cases (#610), screenshots can't load and block the titles from appearing – we should timeout the screenshot access so that titles can load even if screenshots can't. Then we can do the proper fix in #610.

[2018-03-08 19:33] Sdaswani commented on #624
My bad, was using PiP so probably didn't notice the difference.

[2018-03-08 19:33] #624 closed

[2018-03-08 19:35] liuche commented on #587
I still haven't been able to repro with master, but will try the `release` flavor.

[2018-03-08 19:53] Sdaswani commented on #487
Thanks for the legwork @rtanglao ! As the olympics are over, we can WONTFIX, but I really appreciate your help identifying issues and I thank you in advance for reporting more that you find in the future.

[2018-03-08 20:06] #587 closed

[2018-03-08 20:48] #607 closed

[2018-03-08 21:27] lime124 opened #629 "Updates to color.xml, photon_colors.xml, tv_colors.xml"
This is mostly about getting our color palette in alignment and using consistent naming.

Should we combine photon_colors and tv_colors into a single doc?

Use photon naming for existing/defined photon colors - e.g. photonBlue50
- there are some colors in tv_colors that are already defined in photon_colors

Figure out naming scheme for new, tv only colors - e.g. tv_ink2
- this is for UX to work wi

[2018-03-08 21:32] rtanglao commented on #487
thanks @Sdaswani  i assume that we will have the same issue with the CBC paralympics videos, i'll add a comment here if we do indeed have issues. The paralympics start on March 9 and go for a week. Again probably not big enough to reopen. But maybe the same or similar for NFL, NBA, March Madness Basketball etc?

[2018-03-08 21:35] Sdaswani commented on #487
@rtanglao I was going to ask you to check March Madness actually - is that big in Canada?

[2018-03-08 23:29] mcomella opened #630 "Audit static analysis rule sets"
We have pmd, lint, checkstyle, and ktlint running, but it's unclear how strict our rulesets are and if we're catching all the things we care about: we should audit them to make sure we are.

[2018-03-09 01:40] mcomella commented on #610
Another problem with the existing code: [the common thread pool has a limited size](https://github.com/Kotlin/kotlinx.coroutines/issues/79) so when we block it on IO, we're unable to run other coroutines until these methods return – ouch! Concurrency is hard!

[2018-03-09 02:13] mcomella opened #632 "Last selected button when overlay closed animates when overlay is reopened"
STR
- Open overlay
- Highlight pin site
- Close overlay
- Open overlay

Expected: no animation
Actual: pin site animates

[2018-03-09 02:18] mcomella commented on #525
I notice a big perf difference on the Fire Stick (SF office) when trying to move the cursor while the page is loading and the progress bar is shown.

[2018-03-09 02:25] mcomella opened #633 "Hard to make search queries: cannot intuitively remove autocomplete"
STR
- Click url bar
- Type "a" so you can search for "a"
- Hit delete

Expected: autocomplete is erased but letter you typed isn't, like focus
Actual: letter you typed is erased

You can only create search queries by appending spaces to them or by adding an extra letter and deleting them.

[2018-03-09 03:00] mcomella opened #634 "With > 1 page of home tiles, sometimes cursor disappears when scrolling down"
STR (on Fire Stick, not sure if matters)
- Add > 3 rows of home tiles so it exceeds 1 page
-  Open home
- Click down to enter tiles (from url bar)
- Click right
- Click down 3 times, until you scroll the screen

Expected: item is highlighted
Actual: item is not highlighted: url bar is highlighted

Note: this is not reproducible 100% of the time.

Maybe our recyclerView is creating new views when w

[2018-03-09 03:42] mcomella commented on #627
This is turning out to be non-trivial:
- We can't just time out because the threads are blocking, thus non-cancellable
- An existing bug: there are a maximum number of threads we can use from the CommonPool. When we exhaust that thread count, our new queue jobs, even if they're non-read jobs, will block until the job completes. This means that even if we schedule a timeout, our other blocking task

[2018-03-09 04:01] mcomella opened #635 "Add padding to home tile titles"
Looks bad (see rotten tomatoes):

![device-2018-03-08-200026](https://user-images.githubusercontent.com/759372/37189883-77d6adb4-230b-11e8-91f9-3c30ba3060d2.png)

[2018-03-09 04:04] mcomella commented on #568
The animations I currently have in RecyclerView are weird when there are a lot of custom tiles: there appears to be animations which play more than once and the animations don't appear in order: https://drive.google.com/file/d/1Dv2ETN0ucECjS1qZf_03fQTJPxe7l7Kh/view?usp=sharing

[2018-03-09 04:12] mcomella opened #636 "On home screen, some times screenshots show image, hide it, then start animation"
This is a regression from a coroutine rewrite where we call await for the screenshot, then the title, which may suspend the UI thread and allow the image to get set, before the UI thread resumes, hides the views, and animates.

Concurrency is hard.

[2018-03-09 06:06] Sdaswani commented on #636
Indeed it is, but is sort of fun too :) .

[2018-03-09 06:10] Sdaswani commented on #568
@lime124  do you see any blockers with the animations?

[2018-03-09 06:13] Sdaswani commented on #635
@lime124 can you let us know if this polish that must get in to 2.0?

[2018-03-09 06:35] Sdaswani commented on #634
I think we can safely move this to 2.1 since it's not 100% reproducible and requires a lot of tiling.

[2018-03-09 06:47] Sdaswani commented on #525
Yes, though I'd say it's not unusable, thought it's responsive _enough_ (e.g., you can still scroll the page down, etc.). Something to fix up in 2.1, for sure.

[2018-03-09 06:52] Sdaswani commented on #627
@mcomella sounds like this is a big task - maybe pause it and work on a smaller 2.0 issue?

[2018-03-09 09:32] pocmo commented on #625
Some thoughts:

* I'd separate testing the probes in the app from testing the implementation of the telemetry library itself. The telemetry library has a bunch of tests and so I'd trust it as a consumer. If not then I'd add tests to the library directly. (Meaning: Only test the part your app is responsible)

* During development .. if I do larger changes and want to look at the pings then I enable

[2018-03-09 18:36] mcomella commented on #627
Sorry - I yak shaved pretty bad on this but I came up with the fine-grained locking solution last night and it turns out it was actually pretty simple. I just need to add comments, which I'm timeboxing right now.

[2018-03-09 18:43] mcomella commented on #610
In #627, I mitigated this with fine-grain locking. For this bug, we may want to consider:
- timing-out reads
- if we don't mind increased file sizes with more artifacts, switching to jpeg
- Trying to detect images that take a long time to save (transparency?) and fixing them (or dumping them)

[2018-03-09 18:53] mcomella commented on #635
This was trivial so I did it.

![device-2018-03-09-105204](https://user-images.githubusercontent.com/759372/37224314-f2bfd952-2387-11e8-8e55-6dd7e47e2e68.png)

@lime124 What do you think of ^? I have 6dp padding on the horizontal axis and I added an ellipsis to the start of the title (since I figured the base domain is more important than the subdomain).

[2018-03-09 18:55] mcomella commented on #623
This may want to wait for #598 to avoid wasted effort but if we made square dimensions for the generated tile, it might just work.

[2018-03-09 18:59] mcomella opened #640 "Use TV white"
photon white should be tv white #eeeeee. [ux polish]

    I think this applies to the text and the icons in the overlay.
    the cursor in the search box on the homescreen
    the background of the home tiles?
    svg files also use FFFFFF

[2018-03-09 19:00] mcomella opened #641 "Add settings pressed state"
no press state on settings button on the homescreen [ux polish]

    (This looks different on the Stick (android 22) and the Square (android 25))

    the press state is weird on a tile - this is specifically about the color of the "menu" hint [ux polish]

[2018-03-09 19:00] mcomella opened #642 "Browser view polish"
the elevation doesn't seem to be getting applied to the progress bar [ux polish]
progress bar is distracting from the rest of the page b/c it's too bright and attention getting [ux polish]

    things to try for ux first: truncate URL so box just jump around in width, change opacity of box (85-90%), change opacity of gif (or perhaps change opacity of the whole progress bar)

[2018-03-09 19:01] mcomella opened #643 "Button alignment in overlay polish"
button_border doesn't seem to be applied to the URL button
button_border should be updated to photon grey 40
button_default should be inkTV color and button_disabled (is this an android behaviour?) should be 30% of the default
does button_pressed have an android default behaviour (i.e. android auto darkens the focus color a bit) otherwise photon blue 60 should do the trick
the focus state for the

[2018-03-09 19:03] mcomella commented on #515
@lime124 I find this bug makes it hard for us to split up work so I filed bugs for all the existing issues I could find. Please close this (so nothing more gets added to it) if you think other issues cover all the work here!

[2018-03-09 19:17] lime124 commented on #635
I think that works well. the ellipses at the start is a bit odd, but i think the usability of being able to see the more relevant part of the domain trumps that. thanks @mcomella !

[2018-03-09 19:21] mcomella commented on #640
![device-2018-03-09-111958](https://user-images.githubusercontent.com/759372/37225567-e3539f86-238b-11e8-97a4-528334e5c3a4.png)

@lime124 tv_white on the home tile backgrounds has the same problem with the background color on a few tiles - what should we do? Maybe #ffffff on home tile backgrounds and file a follow-up to get new assets?

[2018-03-09 19:21] lime124 commented on #515
@mcomella - i 100% agree! @liuche and i were talking about this yesterday. even if it's a super small thing we should open a ticket just so it can be easily tracked and closed. thanks for opening issues for these nits!

[2018-03-09 19:24] mcomella opened #644 "After removing unused resources, ensure no instances of white exist"
Use tv_white instead.

[2018-03-09 19:26] #643 closed

[2018-03-09 19:37] mcomella commented on #640
@lime124 Also, the close text on the overlay is #ededf0. I took the liberty of rounding that to #tv_white. Is that correct?

[2018-03-09 19:43] mcomella commented on #644
Consider writing a script that integrates with CI/builds so that this doesn't break.

[2018-03-09 19:51] mcomella commented on #640
@lime124 Here's what I came up with, assuming home tile backgrounds are still #ffffff:

![device-2018-03-09-114339](https://user-images.githubusercontent.com/759372/37226576-3d3e0fd8-238f-11e8-9298-11bfb9c5c211.png)

![device-2018-03-09-115007](https://user-images.githubusercontent.com/759372/37226838-1ae132d4-2390-11e8-8c5c-13a3a9bd8fe9.png)

@lime124 What do you think?

Note that I also took the

[2018-03-09 20:00] mcomella commented on #641
Menu hint is #596 so this is just about the settings pressed state.

[2018-03-09 20:05] mcomella commented on #641
@lime124 Do you have desired colors? Or I could just steal them from the settings screen.

[2018-03-09 20:08] #515 closed

[2018-03-09 20:08] mcomella commented on #515
We'll leave this in the milestone because it tracks some polish work that was done in this ticket.

[2018-03-09 20:25] lime124 commented on #642
- the elevation meaning there doesn't look like there is a drop shadow behind it.
- let's try background of the progress bar at 85%. -     android:background="@drawable/progress_bar_background"
- text color updated to this lighter grey - A0A0A3. let's call it tv_grey_2 for now
- opacity of animation to 85% - i was able to do it by adding gifImageView.alpha = .85f
 to firefoxprogressbar.kt

the

[2018-03-09 20:34] lime124 commented on #641
@mcomella am i correct in ascertaining that the focus state is white at 20%?

[2018-03-09 20:52] lime124 commented on #640
@mcomella see thumb's up above...

re padding in the URL bar: awesome
re home tiles being white: yes - we'll have to leave it at fff and file a follow up ticket to see if we can fix this (or perhaps it's made moot by our new homescreen work
re webview - don't worry about that instance
re icons on overlay - i'm going to take your word that those are tv white. on such a dark background the eye think

[2018-03-09 20:56] lime124 commented on #481
close!

[2018-03-09 20:56] #481 closed

[2018-03-09 21:13] mcomella opened #648 "Make sure all buttons have Material ripple effect when pressed"
By all buttons, I mean the overlay and settings on the homescreen.

According to Jeff, the ripple appears on the Stick but not the 4k, but he doesn't have a 4k to test. I haven't seen the ripples on 4k (though there is a fade out animation on the background when focus is lost).

[2018-03-09 21:28] mcomella commented on #641
This view is set up strangely – I'll have to get back to you on the colors.

[2018-03-09 21:34] #635 closed

[2018-03-09 21:52] boek commented on #592
This requires more thought / UX work. Pushing out to 2.1

[2018-03-09 22:04] lime124 opened #649 "elevation doesn't seem to be getting applied"
despite being defined, it doesn't seem like it's working on either the menu hint circle on the home tile or the progress bar in browser view.

[2018-03-09 22:35] #640 closed

[2018-03-09 22:42] lime124 commented on #649
fwiw, i've found that change this bit of code in home_tile.xml to just a plain white fixes the issue on the homescreen
android:background="@drawable/context_menu_button_background"

[2018-03-09 22:45] #642 closed

[2018-03-09 22:45] lime124 commented on #649
remove `<stroke android:color="@color/overlay_button_border"
        android:width="0.5dp"/>`
from context_menu__button_background.xml

that should at least fix the homescreen one

[2018-03-09 22:49] #636 closed

[2018-03-09 22:50] liuche commented on #528
Pushed a PR to this, which will make this feature barely accessible, but still needs:
- [ ] Announce checked state on focus

This will involve either experimenting with the docs more for Amazon's VoiceView (in [wiki page](https://github.com/mozilla-mobile/firefox-tv/wiki/Accessibility-Caveats) or decompiling the VoiceView code to see what order it calls things in.

[2018-03-09 22:56] #627 closed

[2018-03-09 23:09] mcomella opened #652 "MemoryLeak? Create WebViews in onCreateView but destroy in `onDestroy`"
We did this to fix a crash bug #587, but it seems like there may be a memory leak.

[2018-03-09 23:16] Sdaswani commented on #652
@mcomella is the mem leak frequent enough to put that fix back? Getting it to crash was a lot of magic button pressing.

[2018-03-09 23:21] #596 closed

[2018-03-09 23:21] mcomella commented on #652
I'm not sure - I'd propose we use this bug to investigate. Each time we switch from Browser to Home or Settings, we go through this cycle so we should see if it creates a memory leak.

[2018-03-09 23:22] liuche commented on #528
Unassigning now that first part is landed.

[2018-03-09 23:23] Sdaswani commented on #652
Oh ok it was a true question, not made in response to anything specific :) .

[2018-03-09 23:26] lime124 commented on #649
here's jeff's commit that removes that code i mentioned above to fix the home tile elevation issue.

i can't figure out how to fix it on the progress bar

[2018-03-09 23:38] lime124 commented on #649
for the progress bar i've tried several things. i tried replacing the drawable with just a color background and it didn't work. i also tried setting clippable to false with no impact.

[2018-03-09 23:47] boek commented on #548
What I kinda got to work was using

[code]

This returns true when the TextEdit has focus. But it can have focus without the soft keyboard up. Which could prevent the URLBar from updating while the overlay is open and the URLBar has focus. Any further insight or suggestions would be greatly appreciated!

[2018-03-09 23:57] mcomella commented on #648
I noticed removed the `<item id="mask">` thing and it's children will let the ripple work on the diamond (but then it's unconstrained).

[2018-03-09 23:57] lime124 commented on #649
i'm curious if the fact that the elevation isn't defined in a view is maybe part of the problem. i think this is beyond my capabilities.

[2018-03-10 00:03] boek commented on #641
This has the same ripple problem as #648. There is/was a press state on the Stick

[2018-03-10 00:04] mcomella commented on #648
I also tried the simple formats from https://developer.android.com/reference/android/graphics/drawable/RippleDrawable.html like:

[2018-03-10 00:06] mcomella commented on #648
Can we reproduce this with API 25 (or whatever the diamond is) emulators? I'm running an API 22 emulator, like the Stick.

[2018-03-10 00:30] liuche commented on #589
FragmentTransaction.add doesn't "add" something to the back stack - it just layers the fragment literally on top, in the same container.

@bbinto I'm going to skip the reload page part - from looking at our old builds, that happened anyway and will require more work to persist, but I can at least make the overlay state persist.

[2018-03-10 00:35] liuche opened #654 "Redundant WebViews may take up resources: reuse the webview when going back to BrowserFragment from Settings"
Splitting this off from #589 - if we can somehow reuse the webview, then we don't need to restore the url/reload.

Not sure how much work this is, but some things we could try are
a) Make the lifecycle of the WebView persist past the View lifecycle of BrowserFragment (which is only as long as its visible on the top of the fragment stack, I think), but allow it to be destroyed when returning to the

[2018-03-10 00:41] liuche commented on #495
I'll take a look at this.

[2018-03-10 01:50] mcomella commented on #641
Out of time.

To clarify, Tif wants Settings opacity to be white at 20% opacity when focused and white at 10% opacity when pressed. Maybe we'll fix this up with the ripples #648.

[2018-03-10 02:10] mcomella opened #656 "Progress bar text is hard to read on non-white backgrounds"
![device-2018-03-09-180831](https://user-images.githubusercontent.com/759372/37237188-0f54dd82-23c5-11e8-84cd-2985b164a1e5.png)

[2018-03-10 06:16] Sdaswani opened #657 "Add NYTimes Video to Bundled Sites"
While testing 2.0, I came across a nice NYTimes Video Site which works well on FFTV. May want to pin it to let user's know FFTV is a good source of news.

[2018-03-10 16:10] bbinto opened #658 "Clicking on refresh/reload icon appears to be doing "nothing""
I don't see any progress bar or any indicator that the refresh icon does anything

[2018-03-10 16:12] bbinto commented on #658
Rewording here, I do see a little spinner inside the refresh icon now but it took me a while to notice it, also it's only there for a split second, which I find surprising since the website I'm trying to refresh did take a while to load in the first place.

Not a release blocker or anything for 2.0

[2018-03-11 14:50] bbinto opened #659 "Include Pocket Video Feed"
User Stories:
- As a user, I want to open Firefox to be entertained by interesting recommended web video content
- As a user, I want to have one place for discovering and viewing web video content on my TV

More [here](https://docs.google.com/document/d/1icOKaOhkTymWen6K37tqKGpH_J56X6Hk2GrSedBp_ok/edit#heading=h.hdve4bbf99u3)

[2018-03-12 14:07] Sdaswani commented on #658
@bbinto you did see the loading indicator and url bar start going to work though?

[2018-03-12 16:20] AaronMT opened #660 "Add a setting to restore default tiles"

[2018-03-12 18:03] Sdaswani commented on #656
@bbinto is this a release blocker? i don't think so.

[2018-03-12 18:29] bbinto commented on #656
no

[2018-03-12 19:09] liuche commented on #656
This apparently looks fine on tvs, which is what this color was chosen for, so closing this.

If anyone sees any more problems ON TVs, please reopen this bug.

[2018-03-12 19:09] #656 closed

[2018-03-12 19:12] liuche commented on #526
Moving into backlog - the FireTV basically won't work at all if you don't have internet, so de-prioritizing this.

[2018-03-12 19:13] liuche commented on #568
We're concluding that this wouldn't be too hard engineering-wise, and this is import to make the app look polished.

[2018-03-12 19:17] bbinto commented on #583
We will wait for feedback & data to see how we can improve this.

[2018-03-12 19:17] liuche commented on #595
Pinged Joni, will update with link here.

[2018-03-12 19:19] liuche commented on #589
Should land this for the next release.

[2018-03-12 19:30] mcomella commented on #349
Let's do fix up settings code when we redo the UI.

[2018-03-12 19:30] #349 closed

[2018-03-12 19:30] mcomella commented on #347
Let's do fix up settings code when we redo the UI.

[2018-03-12 19:30] #347 closed

[2018-03-12 19:30] mcomella commented on #348
Let's fix up settings code when we redo the UI.

[2018-03-12 19:30] #348 closed

[2018-03-12 19:31] mcomella commented on #447
Not sure why we'd want for unit tests.

[2018-03-12 19:31] #447 closed

[2018-03-12 19:32] mcomella commented on #416
All depending bugs done.

[2018-03-12 19:32] #416 closed

[2018-03-12 19:32] mcomella commented on #353
Metas probably not useful anymore.

[2018-03-12 19:32] #353 closed

[2018-03-12 19:39] mcomella commented on #415
We don't use tabs and it hasn't gotte in the way yet - let's just close it.

[2018-03-12 19:41] mcomella commented on #351
Will break out.

[2018-03-12 19:41] #351 closed

[2018-03-12 19:41] #415 closed

[2018-03-12 19:41] mcomella commented on #468
Dupe #537 and #538

[2018-03-12 19:41] #468 closed

[2018-03-12 19:42] liuche commented on #595
Joni has finished the following:
Turbo mode: https://support.mozilla.org/en-US/kb/turn-turbo-mode-or-firefox-fire-tv
Clear cookies/site data: https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox-fire-tv
and will finish Pinning/Removing by the end of the day 3/12.

And the main page is here: https://support.mozilla.org/en-US/kb/firefox-fire-tv

[2018-03-12 19:43] mcomella commented on #350
@npark-mozilla Can you verify this on master and close it if it works?

[2018-03-12 19:45] npark-mozilla commented on #350
The latest screenshot shows that onboarding screen is there, so it should be working.

[2018-03-12 19:45] #350 closed

[2018-03-12 20:03] liuche commented on #595
Joni, here are some screenshots for you:

Turbo mode onboarding screen (default selection is "keep turbo mode on" but this can be changed by the user on this screen):
![turbo-onboarding](https://user-images.githubusercontent.com/1082253/37306491-25ba889c-25f5-11e8-954f-1260511a8380.png)

Home tile with menu "hint" icon (on Youtube tile) - this tells the user they can click menu to open a context m

[2018-03-12 20:52] mcomella commented on #350
@npark-mozilla Does selecting each of "Turbo mode on" or "Turbo mode off" set the setting properly?

[2018-03-12 20:54] mcomella commented on #649
fwiw, getting elevation working for me was never as a simple as setting the elevation. Some thoughts:
- Maybe we're not inheriting from the right theme?
- Maybe elevation can only be applied to certain view types (e.g. CardView)

[2018-03-12 20:57] jonisavage commented on #595
Thank you, liuche. I've updated the article. Please let me know if we need any changes.

[2018-03-12 20:58] npark-mozilla commented on #350
@mcomella yup it does. btw, I used the latest LAT download to be sure.

[2018-03-12 21:29] mcomella commented on #399
Let's reopen this if we ever have a reason to use it.

[2018-03-12 21:29] #399 closed

[2018-03-12 21:31] mcomella opened #662 "Remove unused resources"
There is a lot of unused code (making it harder to make fast changes) and resources (taking up space in our APK). We should remove them. This can mostly be done with the IDE.

Please ensure the Android Lint check for unused resources is running when this is complete.

[2018-03-12 21:33] mcomella opened #663 "Move code out of activity/ and fragment/ folders"
These packages are not helpful and we should move the code into more appropriate directories like "home" and "browser".

[2018-03-12 21:36] mcomella commented on #506
We get this free from RecyclerView.

[2018-03-12 21:36] #506 closed

[2018-03-12 22:06] liuche commented on #595
@jonisavage just two small changes:

* We can't actually "unpin" from the home screen (my screenshots might have been a little confusing). You can only remove (which is what you described in the "Remove a site" section). So the section about "Pin or unpin" should only have the "From a web page" section below it (and maybe instructions on opening a web page).

* For the icons, the blue background o

[2018-03-12 22:20] #598 closed

[2018-03-12 23:39] mcomella commented on #537
We should only do this after removing unused code.

[2018-03-12 23:48] Sdaswani opened #665 "v2.0 Release"
@liuche please validate my release process.

![screen shot 2018-03-12 at 4 47 16 pm](https://user-images.githubusercontent.com/4879954/37315105-18ca0b7e-2615-11e8-98b6-9577849b47a7.png)

[2018-03-12 23:57] #589 closed

[2018-03-13 00:09] liuche commented on #525
Clearing assignees bc this is enough of a noticeable change that we should fix it.

[2018-03-13 18:04] mcomella commented on #660
Work-around: clear app data, but Fire TV makes this really hard.

[2018-03-13 18:08] mcomella commented on #652
Dupe #654.

[2018-03-13 18:08] #652 closed

[2018-03-13 18:09] mcomella commented on #654
Keep in mind the memory leak issue of #652.

[2018-03-13 18:12] bbinto commented on #633
Replicate maybe what Focus does, we might want to wait once we improve keyboard

[2018-03-13 18:19] mcomella commented on #615
No commercial frameworks for cloud testing TV but we can manage our own docker emulator (which doesn't have the same behavior as the hardware). Thus, this is more long term.

[2018-03-13 18:22] mcomella commented on #615
Aaron runs this daily so we don't need to do this immediately.

NJ is going to talk to Aaron about setting up a docker instance but again, it's long term.

[2018-03-13 18:22] mcomella commented on #611
[triage] There isn't much benefit here: videos are only fullscreen use case that I know of and we can't take screenshots of videos.

[2018-03-13 18:22] #611 closed

[2018-03-13 18:23] mcomella commented on #610
[triage] This is much less urgent to fix with the mitigation ^.

[2018-03-13 18:24] mcomella commented on #594
[triage] I fixed this with a hack, this bug is to fix it properly. If our team is small, we'll probably ask each other if we run into issues setting up new tests so this isn't urgent.

[2018-03-13 18:26] mcomella commented on #577
[triage] liuche can look at this during the releng work week.

[2018-03-13 18:29] mcomella commented on #575
[triage] With the keyboard rewrite.

[2018-03-13 18:30] liuche commented on #563
@boek looked at ellipsizing and it's hard because of the autocomplete, but a fallback could be fixing the size of the progress bar.

[2018-03-13 18:31] liuche commented on #563
@lime124 to follow up with legal about if there are any problems with not showing the entire url.

[2018-03-13 18:35] liuche commented on #559
According to @lime124 make this bottom row cut off so it's clear the list is scrollable.

Can try fixing this by removing the bottom margin/padding.

[2018-03-13 18:36] #488 closed

[2018-03-13 18:38] mcomella commented on #425
[triage] Timebox to 30minutes for this sprint; if I fail, then we don't do until later.

[2018-03-13 18:39] #268 closed

[2018-03-13 18:44] mcomella commented on #559
@lime124 This is what it looks like if I just remove the padding. What do you think?

![screenshot_1520966559](https://user-images.githubusercontent.com/759372/37362877-b86f67f2-26b3-11e8-9026-b035edd664e6.png)

Note to self: add padding to the recyclerview bottom: it touches the bottom of the screen when scrolled down. This may also fix the bug where the bottom view isn't focused when scrolling d

[2018-03-13 18:45] bbinto commented on #235
@lime124 will provide high level sketches to run by security team for review

[2018-03-13 19:18] liuche commented on #659
Adding @lime124  and @BrianNJones to take a look at the list - _nothing actionable_ but these are the things I can think of for what Eng would need for Pocket feeds so giving a heads up.

[2018-03-13 19:26] liuche commented on #659
Starting a comment for task breakdown, starting with a list of things from an eng perspective:

*UX*
- [ ] (low-fi) mocks for positioning of Pocket Videos on home screen (for ref here's the [Android TV Recommendations](https://designguidelines.withgoogle.com/android-tv/system-overview/home.html) row spec) [how many videos, above/below other bundled tiles]
- [ ] interactions available to Pocket til

[2018-03-13 20:31] mcomella opened #667 "Remove unused settings.xml and code it calls"
Follow-up to #662: this was a little tricky to get right because it specifies default values for settings like "block analytic trackers" and don't "block web fonts".

[2018-03-13 22:02] lime124 commented on #559
wow did you do this _during_ the triage @mcomella ;)

is the spacing between the row that falls off the screen the same as between the rows that fully show on screen? just eyballing it seems a bit more?

[2018-03-13 22:35] #403 closed

[2018-03-13 22:36] mcomella commented on #663
@bkmunar You can build on top of the PR opened for #662 if you'd like or wait until it lands.

[2018-03-13 22:44] mcomella commented on #559
@lime124 It should be the same.

[2018-03-13 22:47] lime124 commented on #559
@mcomella seems good - could totally be an optical illusion, or me just really tired from a long day :)

let's ship it! it addresses my main usability concern. we can follow up or do it a bit differently with the homescreen updates. Thanks!!

[2018-03-13 23:19] mcomella opened #670 "Remove unused gradle code and scripts/tooling"
Follow-up #662: we should remove the unused code in our gradle scripts too.

[2018-03-13 23:31] mcomella opened #671 "Bundled home tile has no padding between icon and title background"
Looks like a regression from #598: the bundled home tiles got larger (I'm not sure if this was intentional).

![device-2018-03-13-163038](https://user-images.githubusercontent.com/759372/37375249-f7f6cbd6-26db-11e8-80be-238fe16159b8.png)

@lime124 Can you confirm this is an issue?

[2018-03-14 00:20] mcomella commented on #634
Might be fixed by #559.

[2018-03-14 00:33] mcomella commented on #634
I think this will be solved if we always reveal the bottomost row: I think this occurs because we're inflating the view while we scroll and sometimes the view is not inflated yet, and thus can't be focused.

That being said, my patch for #559 won't fix this because it only displays the fourth row off the screen (the one that's cut off), but does not show the fifth row when the fourth gets focused.

[2018-03-14 00:52] #662 closed

[2018-03-14 00:53] mcomella opened #675 "Export strings after removing unused strings"
Follow-up: #662. liuche figured we should export the strings before we add new strings so the PR is easier to read over by the l10n team.

[2018-03-14 17:03] AaronMT opened #678 "Clearing data resets telemetry setting state"
Not sure if this is expected (? @mcomella)

Enable telemetry (send usage data), clear data -> state flipped

R.id.telemetryButton; isChecked (true) -> R.id.telemetryButton; isChecked (false)

This is on my Debug build.

[2018-03-14 18:30] AaronMT commented on #615
We're going to order another Fire TV stick and get tests running on a Mac Mini in office for the interim

[2018-03-14 18:48] jonisavage commented on #595
Got it, thanks for the clarification. I've updated the article so that pinning/unpinning happens when the page is open and clarified that the blue background means the pin is selected.

[2018-03-14 18:50] #559 closed

[2018-03-14 18:52] bkmunar commented on #634
Accidentally closed by commit reference

[2018-03-14 20:42] liuche commented on #595
Looked over the new SUMO article and it looks good, thanks Joni. Closing this!

[2018-03-14 20:42] #595 closed

[2018-03-14 20:43] liuche commented on #505
Closing this because @Delphine signed off on screenshots on Tuesday PST morning.

[2018-03-14 20:43] #505 closed

[2018-03-14 22:24] liuche commented on #495
It's weird but I reverted #493 and there were no negative effects.

My guess is that what's happening is Amazon is popping up a custom Activity or view, and requesting focus on whatever view comes up there - when it closes, it doesn't know what view should be focused so one just randomly gets picked.

[2018-03-14 22:55] lime124 commented on #671
so if i follow, the shipped set of tiles (e.g. imdb) the icons are bigger than we're expecting? eyeballing instagram and flickr, they definitely look bigger to me.

@mcomella do you happen to know what they were or do you need that number from me?

[2018-03-14 22:56] #594 closed

[2018-03-14 23:29] mcomella commented on #678
@AaronMT Can you reproduce this on Beta? I think our telemetry switch is just completely busted on debug builds.

[2018-03-14 23:30] mcomella commented on #671
We can undo this.

[2018-03-14 23:30] mcomella commented on #671
@bkmunar Can you look into this when you get a chance? It's a regression from the enlarge screenshots bug.

[2018-03-14 23:38] liuche commented on #665
Already shipped.

Sorry for not seeing this, maybe next time add it to the current milestone rather than just as an open issue?

[2018-03-14 23:38] #665 closed

[2018-03-14 23:41] liuche commented on #495
This is interesting and I'm wondering if the amazon keyboard is doing something funny - when you hit back while on the keyboard, the "Previous" button on the soft keyboard is highlighted and that's how it exits the screen, leading to problematic focus.

If you simply hit "Next" with an empty string, then the expected behavior occurs. My guess is that the keyboard is intercepting the "back" keypres

[2018-03-14 23:50] mcomella commented on #659
@bbinto Is there an existing web version of the Pocket video feed? I wonder if we could use that instead of building new native UI. Some benefits of web:
- We can change it without shipping a new release
- There are fewer expectations around offline access and performance (e.g. no caching code, which is often the most tricky to get right)
- Supposedly modifying prototypes in web code is faster tha

[2018-03-15 00:14] liuche commented on #495
Okay, basically the Amazon keyboard is garbage and calls `requestFocus` when asked to handle its own closing, which messes up the focus of other things - I tested this by replacing our urlbar with an EditText, so we could eliminate any funky stuff that the AutocompleteUrl is doing. This showed that any time you exited the keyboard (either by back or submitting an empty url), a home tile got focuse

[2018-03-15 00:32] liuche opened #682 "Typing and loading youtube.com/tv from overlay urlbar just reloads the current (non-YT) page"
Might be related to our youtube-specific code, which causes a reload if the url is "youtube.com/tv".

[2018-03-15 01:00] #495 closed

[2018-03-15 01:01] #425 closed

[2018-03-15 02:00] mcomella opened #685 "Consider increasing scroll speed, improving scroll/cursor feel"
Note: I'm smoothing out the cursor in #472, which will land soon, so we should wait until that lands before evaluating this.

Trying to scroll through a page to get to the bottom (or whatever you're looking for) is really painful: I suggest we speed it up a bit. I think we could also up the polish by:
- Adding very quick deceleration to scrolling (rather than stopping immediately)
- Perhaps speedi

[2018-03-15 14:27] bbinto commented on #659
@st3fan's team is maybe more advanced in their Pocket video feed integration for Activity Stream?

I like where you are going with this, especially re: "Supposedly modifying prototypes in web code is faster than modifying mobile code... (if you're experienced)"

Downsides are def not negligible either, especially the need to use the cursor.

[2018-03-15 15:44] mkoidin commented on #659
I'm not aware of anywhere that we are publishing on the web the global videos feed currently. We have used it in our mobile apps, but that was built natively. I <think> one of the other Mozilla teams integrated it (Android maybe?) - but I'm not sure what approach they took.

I'm not super familiar with the specifics of what you are dealing with on the Fire TV side of things, but I will say that ge

[2018-03-15 16:20] Sdaswani commented on #659
I think I’m ambivalent about web vs native, but I would want to do something *compelling*, e.g., if we surface the top three pocket vids on the home screen, can we have them play on the home screen (maybe without sound) when the user travels over it.

But I agree with @mkoidin that type of experience is _usually_ easier to implement and/or better if you go native.

[2018-03-15 20:45] liuche commented on #675
Opened PR: https://github.com/mozilla-l10n/firefoxtv-l10n/pull/4

[2018-03-15 21:52] #663 closed

[2018-03-15 21:57] mcomella commented on #525
@liuche I was thinking one solution to this bug would be to convert Gifs to AnimationDrawables, which I think is better supported than the `Movie` class. I found a script, though we'd have to vet it: https://medium.com/@tushar.acharya/converting-animated-gifs-to-animationdrawables-c6594084d7ad

[2018-03-15 21:59] mcomella opened #687 "Move Overlay and progress bar to browser/ pkg"
widget/ is more for widgets that can be re-used all over the app, rather than for a specific feature.

[2018-03-15 22:27] liuche commented on #675
Merged.

[2018-03-15 22:27] #675 closed

[2018-03-16 09:45] pocmo commented on #429
What I noticed yesterday is that Sentry has a "releases" tab (Not sure if this is new?) and there it shows which issues are new in a specific release. It's not a crash rate - but at least helps to see if an update will cause a bunch of new issues.

[2018-03-16 18:05] liuche commented on #671
Oops, @lime124 is actually already flagged on the PR! #680

[2018-03-16 18:11] liuche commented on #592
Unassigning @boek because he's switching to a different product.

[2018-03-16 18:13] #623 closed

[2018-03-16 18:21] mcomella commented on #540
I think we should address this when it becomes a problem (e.g. when we're stuck changing the code or there are perf problems). Closing for now so we don't have to push around the issue.

[2018-03-16 18:21] #540 closed

[2018-03-16 18:26] mcomella commented on #615
Aaron is working on getting UI builds running locally, according to No-Jun.

[2018-03-16 18:32] liuche commented on #660
Engineering is trivial, requires some UX for where to put this option.

[2018-03-16 18:33] mcomella commented on #538
I think findbugs is no longer maintained and spotbugs replaced it.

[2018-03-16 18:34] mcomella commented on #512
[triage] Try the obvious fix – add resizeKeyboard. If it doesn't work, unassign – it's probably not worth it.

[2018-03-16 18:36] liuche commented on #393
Might be fixed by #654

[2018-03-16 18:38] liuche commented on #644
@lime124 mentioned that we might want to get different colors from @shorlander. However, if it's just a matter of changing all the #ffffff to a single color, we can do that easily and don't need new icons.

[2018-03-16 18:39] mcomella commented on #382
May be solved with custom keyboard: #435

[2018-03-16 18:39] mcomella commented on #629
[triage] Clean up the existing code (use Sebastian's photon library too?) and we'll add more to it as necessary.

[2018-03-16 18:40] liuche commented on #659
I don't think this is a "web vs native" question, but rather a "is there something we can reuse" - it seems like there isn't any existing thing (other than what @mcomella already built) so let's just wait for UX to come up with mocks.

[2018-03-16 18:41] mcomella commented on #141
We do this.

[2018-03-16 18:41] #141 closed

[2018-03-16 18:42] mcomella commented on #232
First step: can we still repro?

[2018-03-16 18:44] mcomella commented on #271
First step: see if we can still repro.

[2018-03-16 18:46] liuche commented on #278
Questions for UX would be: how should people scroll inside an iframe? (click and drag? long-press?)

(I'd be worried that if you just had scrolling inside an iframe you would get "trapped" in the iframe and have to scroll all the way to one end or the other of the iframe content.)

[2018-03-16 18:47] liuche commented on #246
No more sidebar, but this is still an issue #682

[2018-03-16 18:47] #246 closed

[2018-03-16 18:47] mcomella commented on #233
@BrianNJones Do you have a string suggestion?

[2018-03-16 18:47] bbinto opened #689 "[1304] Update Settings"
**Why/User Benefit**
- Enable users to access settings in less clicks
- Make it easier for users to understand settings and choices

**What**
- Settings is a channel on the homepage
- All individual settings are a pin on the homepage and open up to a detail view
- Detail view includes:
-- header area with a title and a back button
-- content area that supports:
--- text only (eg about page)
--- te

[2018-03-16 18:48] liuche commented on #226
Duping this to #575

[2018-03-16 18:48] #226 closed

[2018-03-16 18:52] liuche opened #690 "Clean up homescreen UX"
We haven't revisited the homesrceen since it was created in v1, and UX/Product think it needs a refresh.

[2018-03-16 19:14] npark-mozilla commented on #232
This does not happen anymore, embedded videos play normally.

[2018-03-16 19:14] #232 closed

[2018-03-16 20:06] #687 closed

[2018-03-16 20:26] lime124 commented on #671
oops commented on the PR! thanks!

[2018-03-16 20:32] lime124 commented on #592
I'm going to leave this assigned to me for now as I haven't had a moment to investigate. Right now we're focusing on parental controls and pocket work.

[2018-03-16 21:08] Sdaswani opened #691 "Enable about:licenses Page"
"about:license does need to be available somewhere in the product."

[2018-03-16 21:10] Sdaswani opened #692 "Create Short Form Privacy Notice Page"
"Also - we can make a separate short notice for this that makes sense. And it doesn’t have to be a webpage unless you prefer that"
![image uploaded from ios](https://user-images.githubusercontent.com/4879954/37544874-d0df622a-2923-11e8-9850-08dce05fe93f.jpg)

[2018-03-16 21:40] mcomella commented on #278
Potential eng hack: if the page is not scrollable via our usual mechanisms (i.e. scrollY doesn't change), we could try to scroll the first visible iframe instead. This would fix iframes on pages where the entire viewport is not scrollable (i.e. filled with an iframe).

[2018-03-16 21:43] #671 closed

[2018-03-16 22:07] lime124 opened #693 "Show link url (so user knows where they are going if they clicked on the link)"
Chatting with mika about this. In firefox desktop, there is a bar in the lower left corner that appears when you hover over links (showing the destination url) as well as all it shows the state of things as the page loads after clicking on the link (e.g. waiting, transferring, etc).

Our task here is to determine what security properties we can implement (e.g. is it possible to hover over a link o

[2018-03-16 22:09] lime124 commented on #563
removing legal - there's no problem here. I've opened another GH issue to cover those concerns/thoughts: #693

We're good to ellipsize the URL 'button' in the overlay. I can provide a width for the progress bar (but not right this second :) )

[2018-03-17 00:02] Delphine commented on #408
@Sdaswani: I was wondering if this was on the roadmap for the next release? Thanks!

[2018-03-17 00:08] Sdaswani commented on #408
I don’t think so - @bbinto any thoughts on prioritizing this?

[2018-03-19 13:14] Sdaswani opened #694 "2.0 Top Crasher: webView is null in onDestroy"
*mcomella edit*: Historical bug connections:
- #462: I refactored WebFragment -> IWebViewLifecycleFragment. This moved WebView.destroy to onDestroyView (to match when it's created in the layout). This caused crashes...
- #587: the crash bug.
  - First, we added a null check to `onDestroyView` but this still crashed
  - Then we moved webView destruction back to `onDestroy`, without the null check t

[2018-03-19 13:14] bbinto commented on #408
@Sdaswani - In order for me to prioritize, can we get an high level estimate on this, do we need UX? I assume?

[2018-03-19 13:18] Sdaswani commented on #694
![85414f98-f517-4356-bc14-c1c77c0d8326](https://user-images.githubusercontent.com/4879954/37597680-535c7cb8-2b3d-11e8-889a-fe2c650ab32a.png)

[2018-03-19 13:35] Sdaswani commented on #408
I think the UX would be fairly straightforward but it’s at least a medium, and probably a large, from the Eng + QA side.

[2018-03-19 13:44] bbinto commented on #408
Ok, thanks, I wonder if this can be broken down in to several 2-week sprint & dot releases? I suggest scheduling this for after 3.0.

@Delphine -- I know L10n is important and I'm so happy you bring up these things. I might have to say "not now", because our main goal for H1 and FFTV is to include more features that support non-YouTube usage, e.g. Pocket Video feed.

We can chat further if you bel

[2018-03-19 17:50] mcomella commented on #694
The problem is that webView is null going into `onDestroy`. I think either:
- onDestroy is getting called twice (which seems to happen sometimes though it's not well documented. Perhaps https://stackoverflow.com/a/23664121 explains it?)
- onDestroy is getting called with onCreateView being called. This doesn't follow [the lifecycle](https://cdn-images-1.medium.com/max/800/0*YWCr1M1pwWfvCzvZ.png) b

[2018-03-19 18:55] Sdaswani commented on #692
Legal is providing a new privacy notice - @bbinto can we get this into 2.1, 2.2, or worst case 3.0?

[2018-03-19 18:57] mcomella commented on #693
Silk does it (their links show hover effects, unlike ours) but it might require a lot of rejiggering of our code because they might have to mimic a pointing input device to do this.

[2018-03-19 18:57] Sdaswani commented on #691
@bbinto can we get this into 2.1, 2.1 or 3.0? Legal wants it ASAP.

We can reuse the 'Your Rights' language from Focus, but an engineer will have to spend time generating the 'licenses' page and placing it in the product.

[2018-03-19 18:57] mcomella commented on #433
@bbinto Did you mean to reopen this? Maybe it was a side effect of adding, `Epic`?

[2018-03-19 20:03] bbinto commented on #691
I'm fine with 2.1 :)

[2018-03-19 20:15] Sdaswani commented on #691
@liuche @mcomella can we sneak this into 2.1? if not we can do 2.2, or if we need to take some items out of 2.1 to get this in, that might be fine too (depending on what sneaks out).

[2018-03-19 20:31] liuche opened #695 "[April 30] Amazon removing crash reporting"
<img width="1137" alt="screen shot 2018-03-19 at 1 30 00 pm" src="https://user-images.githubusercontent.com/1082253/37620517-b7ec3aba-2b79-11e8-84e6-29052dffcad7.png">

@Sdaswani to follow up with amazon to see what's going on.

[2018-03-19 20:43] liuche commented on #235
@aminalhazwani provided some IA sketches [here](https://www.lucidchart.com/documents/edit/80a8b024-99c7-4b02-bd7b-0ac3f685a185/0?shared=true&) - there's an MVP, as well as subsequent work and customization (for past 3.0).

[2018-03-19 21:13] #557 closed

[2018-03-19 21:22] #472 closed

[2018-03-19 21:30] mcomella commented on #429
It seems that crash reporting from the Amazon dashboard is deprecated: "Starting April 30th, 2018, crash reports will no longer be available on the developer portal. Many third parties offer free and paid crash reporting services." Throwing back to triage...

[2018-03-19 21:46] mcomella commented on #694
stack trace highlights:
[code]

Key facts:
- Some Activity is being created (performLaunchActivity calls onCreate, then onStart which is where we are failing)
- MainActivity.onCreate must have been called (to assign the onValueChanged callback, which is lifecycle aware)
- IWebViewLifecycleFragment...
  - Already exists in the fragment stack (otherwise `popBackStackImmediate` wouldn't try to pop it

[2018-03-19 22:37] mcomella commented on #694
From [the docs](https://developer.android.com/guide/components/activities/activity-lifecycle.html#asem): "The system never kills an activity directly. Instead, it kills the process in which the activity runs, destroying not only the activity but everything else running in the process, as well." When it restores such an Activity, it will restore the UI hierarchy state (by default) and allow us to s

[2018-03-19 22:44] mcomella commented on #694
If the theory is correct, we can:
1) Continue with the current behavior and check for null in onDestroy, which may break the fragment lifecycle
2) Only apply fragment transactions with savedInstanceState != null, attempt to recover our session with onSaveInstanceState and jump right back to BrowserFragment, which I think is what Android intends to happen. However, Focus removes the state for priva

[2018-03-19 23:19] mcomella commented on #694
I can behavior that onDestroy is called twice but I cannot reproduce the crash:
- Add debug log statements to lifecycle methods in Fragment
- Using Pixel 2 emulator, open firefox
- Go to website (I use GVideo)
- CLick home
- Kill the process (I do this via Settings -> Developer -> Running Services -> Cached Processes -> Kill Firefox)
- Open Firefox from the recent app switcher (note: the home scre

[2018-03-19 23:23] mcomella commented on #695
See #429 for initiative to replace crash reporting.

[2018-03-19 23:25] mcomella commented on #694
I added some historical context in comment 0: https://github.com/mozilla-mobile/firefox-tv/issues/694#issue-306457210

[2018-03-19 23:44] mcomella commented on #694
Given the context:
- We (and Focus) didn't crash before the refactor
- This crash seems predictably related to how we restore from the Android lifecycle (code we haven't really changed).
- ^ I can reproduce *similar* behavior

I think a safe fix here would be to just add a null check, which should be safe enough for a re-release.

For correctness, I think we still might want to:
1) Make the webVie

[2018-03-19 23:45] Sdaswani commented on #694
Thanks @mcomella happy to do a re-release, feel free to make a new branch off of releases/v2.0.0.0 and I can push it tonight.

[2018-03-20 00:01] mcomella opened #697 "Correct version numbers, don't screw it up again"
Problems:
- [x] Master needs v2.1
- [ ] v2.0 branch/tag doesn't have the correct version (do we care)?
- [x] Let's not do this again (releng checklist template?)

[2018-03-20 00:10] #694 closed

[2018-03-20 00:52] mcomella commented on #568
@lime124 My current solution caches custom home tile images when they're first used: there is a max of about 30. This means we'll see the animations we currently have when:
1) A user opens the app and it's not in memory. This happens the first time the app is ever opened, after the device is rebooted, or if the system removes us from memory because other apps need that memory
2) The user has looke

[2018-03-20 10:47] pocmo commented on #429
FYI: With GeckoView integration we can't rely on Google Play crash reporting anymore and are going to move ahead with Sentry in Focus/Klar:
https://github.com/mozilla-mobile/focus-android/issues/2326

[2018-03-20 11:30] bbinto commented on #692
That's bundled with #691, right?

I'll let eng decide if they can get it into 2.1, 2.2 is absolutely sufficient from my point of view (happy to move #691 to 2.2 as well)

[2018-03-20 12:27] bbinto commented on #433
oh...yeah, that wasn't intentional, will close it again

[2018-03-20 12:27] #433 closed

[2018-03-20 13:35] Sdaswani commented on #429
Sentry makes a lot of sense as it’s all set up and supported internally.

[2018-03-20 13:40] Sdaswani commented on #692
This is related to 691 though this change is easier than that as 691 requires more work and some UX. So no this isn’t bundled as it’s just a URL change.

[2018-03-20 18:05] bbinto commented on #695
We need to decide if we need/want to include a toggle in settings to opt-in/out

[2018-03-20 18:07] bbinto commented on #693
@bbinto to reach out to Mika how to prioritize these requests

[2018-03-20 18:12] #634 closed

[2018-03-20 18:14] mcomella commented on #685
wrt scroll speed, Tif mentioned we should rope in a11y because some ppl may find slower speeds appropriate (perhaps a case for user-configurable values!).

[2018-03-20 18:17] mcomella commented on #695
Dupe #429.

[2018-03-20 18:17] #695 closed

[2018-03-20 18:30] Sdaswani commented on #429
Why is this assigned to me @mcomella - meaning what do I need to provide? :)

[2018-03-20 18:57] mcomella commented on #429
From the last bug.

[2018-03-20 19:01] mcomella commented on #691
I don't entirely know what's involved to generate the notices but adding an entry point (either in settings or `about/focus:licenses`) is pretty easy. I think this is do-able for v2.1.

[2018-03-20 19:01] Sdaswani commented on #429
Ah yes I am discussing with them on Friday but honestly I think we still need to move to Sentry.

[2018-03-20 19:04] Sdaswani commented on #429
https://sentry.prod.mozaws.net/operations/firefox-tv-debug/#welcome
https://sentry.prod.mozaws.net/operations/firefox-tv/#welcome

[2018-03-20 21:02] bkmunar commented on #537
@mcomella I'm picking this up, is it ok to do what sebastian said? Just use detekt where the condition is at right now depending on how many "smells" there are?

[2018-03-20 21:15] bkmunar commented on #692
Any updates on the link? @Sdaswani

[2018-03-20 21:16] Sdaswani commented on #692
not yet @bkmunar

[2018-03-20 21:38] liuche commented on #697
Going to close this - I'm okay with the v2.0 branch not having the correct version.

Added a wiki page for releng.

[2018-03-20 21:38] #697 closed

[2018-03-20 21:40] liuche commented on #235
Waiting on security feedback, point is @Sdaswani  and @aminalhazwani

[2018-03-20 21:40] Sdaswani commented on #691
@mcomella this work for Focus may give you an idea of what needs to be done to generate the notices: https://github.com/mozilla-mobile/focus-android/issues/1271 It's not a small task, as far as I can tell.

@pocmo is there a tool you can recommend to make it easy?

[2018-03-20 21:52] #525 closed

[2018-03-20 22:05] liuche commented on #634
@lime124 this has landed so can you take a look how the scroll reveal feels? Distance seem good?

[2018-03-20 22:07] mcomella commented on #568
As a possible alternative to the animations we have above ^: https://drive.google.com/file/d/1GSiPeAc1SWQUsGB9e6pwrdIHAxB28JGf/view?usp=sharing

We could either:
1) Block until all screenshots are loaded, then run this animation
2) Do this animation, which may cover up the other animations since it takes some time for the custom tiles to be shown

We'd have to figure out how this would work with s

[2018-03-20 22:09] liuche commented on #691
I don't think we should do about:licenses because it doesn't fit with anything else in the app (unlike Firefox Desktop having about:config, about:preferences, etc) - I'd vote that we could just add another icon to the settings page. No one is going to type 'about:licenses' anyway.

@Sdaswani what needs to be here? Can you get us some text? Does this need to be localized, or is there a site we can

[2018-03-20 22:15] Sdaswani commented on #691
Sorry, it doesn't have to be 'about:licenses', an icon is what I meant. Mika was fine if we copied this
![img_8eac6e805687-1](https://user-images.githubusercontent.com/4879954/37685646-6fb64e7e-2c51-11e8-9508-e84b6e2e83b3.jpeg) and then generate the content for the 'licenses' link. She said you can just replace 'Firefox Focus' with 'Firefox for Fire TV'.

[2018-03-20 22:41] liuche commented on #691
Here's are the ["Your Rights" strings in Focus](https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/res/values/strings.xml#L534) - we can also swipe the translations, because brand name is a localizable string.

[2018-03-20 22:49] liuche commented on #691
@lime124 we'd like to add another item to the settings menu with a link to the equivalent of "Your Rights" (in Focus)

@BrianNJones Can we reuse "Your Rights" in the Settings menu, or do we need a different string?

[2018-03-20 23:02] liuche commented on #691
Since we've built from the Focus code base, for a start we might be able to just copy the licenses that Focus uses, and remove any that we know we're not using anymore.

[2018-03-20 23:14] mcomella commented on #648
We should also make sure the behavior we're seeing is consistent in a new app (i.e. ripple works on stick but not on diamond so our styles aren't screwing this up).

[2018-03-20 23:14] mcomella commented on #648
I'm also opting to remove the ripple in settings: see #641 and the opened PR.

[2018-03-20 23:31] liuche commented on #418
Duping to #692

[2018-03-20 23:31] #418 closed

[2018-03-20 23:31] liuche commented on #310
Duping to #692

[2018-03-20 23:31] #310 closed

[2018-03-20 23:33] liuche commented on #384
Did some investigation, made some test pings on `beta` and `debug` - only the beta pings showed up in the dashboard, so it might be fine to just enable debug telemetr.

[2018-03-20 23:58] liuche commented on #691
Technically this already exists in the product, if you go to "focus:rights" in the url - but of course nobody has ever done that.

[2018-03-21 00:12] liuche commented on #691
Since the license is under "About" in Focus, I'm going to keep it there. Clearing Tif and Brian.

[2018-03-21 00:26] #528 closed

[2018-03-21 00:26] Delphine commented on #408
Thanks everyone for chiming in! (and no worries for the PM hat chat Barbara - that's totally understandable! 😂)

To be very honest, I actually understood from @Sdaswani 's comment in this thread that Amazon was asking us to implement an in app-locale switcher ("Ok so it looks like Amazon thinks we should build an in-app switcher too! 😂"), which is one of the reasons I chimed in here. Also, I think

[2018-03-21 00:33] liuche commented on #691
Quick combination of the Version and Rights:
![screenshot_1521592369](https://user-images.githubusercontent.com/1082253/37689853-c16dfbd2-2c64-11e8-83ec-6dafe3a817e5.png)

[2018-03-21 09:09] pocmo commented on #691
Unfortunately I cannot recommend a magic tool. The process I went through (and the legal review) is somewhat documented in the comments in this legal bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1400284

To find all dependencies I ran "./gradlew app:dependencies > dependency-report.txt". This will print multiple dependency trees. The only important one is the release tree (back then "focusWeb

[2018-03-21 14:00] Sdaswani commented on #691
Thanks for the info @pocmo ! Hopefully we can skip the manual and dull process as per @liuche's suggestion : https://github.com/mozilla-mobile/firefox-tv/issues/691#issuecomment-374786651

@liuche I take it we didn't add any new libraries we'd have to take into account?

[2018-03-21 16:29] mcomella opened #705 "Re-activate detekt on sputnik"
Blocked on #537. This is simple: go to their website and configure our repository to use our detekt config file.

[2018-03-21 16:37] bbinto commented on #603
Currently only 130 users have 0 tiles (https://sql.telemetry.mozilla.org/queries/51947#138709)

[2018-03-21 16:42] mcomella opened #706 "Pressed state for cursor"
*edit:* Updated assets with larger cursor: [Cursor2-assets.zip](https://github.com/mozilla-mobile/firefox-tv/files/1842947/Cursor2-assets.zip)

---

Follow-up to #489, which just changes the UI.

@lime124 I assume we want this in v2.1 if possible?

[2018-03-21 16:46] mcomella commented on #483
Sputnik isn't commenting on failed PRs like https://github.com/mozilla-mobile/firefox-tv/pull/704 – maybe we need to land the travis changes on master?

[2018-03-21 16:52] mcomella commented on #483
Discovered [some logs](https://travis-ci.org/mozilla-mobile/firefox-tv/builds/356442105?utm_source=github_status&utm_medium=notification) from travis:
[code]

Maybe I need to create an API key from my github account and pass it into travis as an env var?

[2018-03-21 16:54] mcomella commented on #483
@pocmo Have you seen this?

[2018-03-21 16:54] Sdaswani commented on #694
So AFAICT from the data we have for 2.0.1, this patch fixed the crash on 7.1 devices, but it's still crashing on 5.1.1 devices. Any reason you can think of for that @mcomella ?

[2018-03-21 16:59] boek commented on #706
![screen recording 2018-03-19 at 03 34 pm](https://user-images.githubusercontent.com/1250545/37724647-7bb86886-2cee-11e8-84e4-4b2d9fae8203.gif)
![cursor-bg-active](https://user-images.githubusercontent.com/1250545/37724681-8ea4a202-2cee-11e8-8200-467ae888fde7.png)
![cursor-bg](https://user-images.githubusercontent.com/1250545/37724683-8ec1f0c8-2cee-11e8-8c4b-343549b860f5.png)
![cursor-fg-active](h

[2018-03-21 17:07] Sdaswani commented on #408
@Delphine v3 is scheduled for early to mid-May, it depends on the UX specs we get in a few weeks.

To be clear on what Amazon said: "My guess is that we assumed the browser gave users the ability to choose their own language." So I don't think they _need_ us to, but it's a definitely nice thing to have.

[2018-03-21 17:12] mcomella opened #707 "Kill Buddybuild files"
We don't use it anymore.

[2018-03-21 17:22] mcomella opened #709 "v2.1 releng"
Adding a checklist so we don't forget to do stuff:

## Overview
For major releases, code freeze is the second Wednesday of the sprint (**Wednesday #2**), followed by two days of UX polish.

For non-major releases, code freeze is the second Friday (**Friday #2**).

## Sprint start [Monday #1]
- [x] Bump app version on `master` branch (versioning follows: Major-Release.Sprint.Bugfix.LAT)

## String

[2018-03-21 17:22] mcomella commented on #697
Added a releng bug for this sprint: https://github.com/mozilla-mobile/firefox-tv/issues/709

[2018-03-21 17:34] mcomella commented on #691
Since so many products use `license.html` files and may need to update if from time-to-time, I feel like we should write a script to do this for us, especially considering how quickly it can go out of date.

Cheap hack: we can try throwing license plain text into a markdown -> HTML generator (assuming the license doesn't do things like `*italics*`).

[2018-03-21 17:50] mcomella commented on #694
I'm not convinced the crash rate has changed at all – 7.1 devices had fewer crashes so it's possible no one on those versions has actually crashed yet.

Also, afaict, it's impossible for us to crash on a NPE now:
- We check for null before using the value
- It can only be re-assigned in this file but all assignments run on the UI thread so it shouldn't get reassigned after checking but before usin

[2018-03-21 18:16] Sdaswani commented on #694
@mcomella I don't think I released the wrong version, as I had a clean directory when I built it.

``~\Code\firefox-tv [releases/v2.0.1 ≡]> git status``
``On branch releases/v2.0.1``
``Your branch is up-to-date with 'origin/releases/v2.0.1'.``
``nothing to commit, working tree clean``

That line number thing is very odd, and does point to something being wrong on Amazon's side.

I'll keep an eye o

[2018-03-21 19:11] pocmo commented on #483
Yeah, it just stopped working suddenly for us too. :(

I haven't looked to much into it and was hoping that it just fixes itself. However I noticed that they added support for ktlint and detekt and enabled that for Focus... in the hope that it will work again soon. :)

[2018-03-21 19:23] lime124 opened #710 "Parental Controls UX Deliverables"

[2018-03-21 20:17] #707 closed

[2018-03-21 20:24] lime124 commented on #706
yes please!

[2018-03-21 20:30] Sdaswani commented on #709
We would ship the bugfix as a branch off of 2.0.1 though, so that's fine to bump master up.

[2018-03-21 20:35] liuche commented on #709
Yeah, I guess that's not too bad to downgrade on a branch only. I think the most correct thing would be to version bump on shipping, but then it's more likely we'll forget - I bumped master from 1.4.something, and I think in the past we've skipped version bumps before too.

[2018-03-21 20:49] mcomella commented on #489
@lime124 The new asset has padding built into it, which means the cursor (constrained by the 45dp we specify) appears smaller:

![device-2018-03-21-134601](https://user-images.githubusercontent.com/759372/37736502-5382dcdc-2d0e-11e8-91ef-ade296f24572.png)

![device-2018-03-21-134503](https://user-images.githubusercontent.com/759372/37736505-55300b7c-2d0e-11e8-97c4-0c9bfc0c6425.png)

Is that okay?

[2018-03-21 21:03] Sdaswani commented on #709
We wouldn't 'downgrade' on the 2.0.1 branch? We'd create a new branch (e.g., 2.0.2) from 2.0.1, make some fixes, and then upgrade it to 2.0.2.

[2018-03-21 21:17] mcomella opened #712 "Cursor can "over scroll" the view"
STR:
- Open a page that has more than one page length (e.g. google video)
- Move to the top of the screen and continue moving up, as if scrolling
- Scroll down

Expected: scrolling immediately starts
Actual: there is a pause, then scrolling starts

I think this is a regression from #684, where we moved from `flingScroll` to `scrollBy`. I'm guessing `scrollBy` isn't constrained by the amount the We

[2018-03-21 21:39] mcomella commented on #483
Closed with https://github.com/mozilla-mobile/firefox-tv/commit/f67ad0af9a4f643222bb124fa3adcde7ab9622b3.

Hopefully sputnik will just start working again.

[2018-03-21 21:39] #483 closed

[2018-03-21 22:33] #537 closed

[2018-03-21 22:34] mcomella commented on #705
I updated this on sputnik's website. Apparently you can't specify your own config so this might break.

No code changes so this is done and can be closed.

[2018-03-21 22:34] #705 closed

[2018-03-21 22:54] mcomella commented on #633
`InlineAutocompleteEditText.onKeyPreIme` gets called with keycode 89 (media_rewind) or 23 (dpad_center), depending on how you press Delete, but `KeyListener.onKey` is never called.

[2018-03-21 23:40] mcomella opened #713 "Pressing back on controller from overlay soft keyboard dismisses overlay"
STR:
- go to page
- open overlay
- click url bar to enter text and raise soft keyboard
- hit back

Expected: soft keyboard dismissed
Actual: keyboard and overlay dismissed

I think the problem is that the soft keyboard is not intercepting the back pressed event, even though it handles it, so the back event also gets sent to the overlay, from which we dismiss the keyboard.

Unfortunately, it seems

[2018-03-22 14:46] bbinto commented on #235
- As a parent, I want to watch adult content without my kids knowing about it
- As a parent, I don't want my kid to visit an adult content website

[2018-03-22 17:21] lime124 commented on #691
sorry for the extreme delay @liuche :( but you totally read my mind. I agree with combining the your rights text with what we have on the about page so there's no need for a new icon or settings item. Later when we have a better Settings architecture and more content we can pull things apart.

[2018-03-22 17:23] AaronMT opened #716 "Add Codecov coverage"

[2018-03-22 17:59] #641 closed

[2018-03-22 18:01] mcomella commented on #716
I re-enabled travis CI check, which restored the code coverage checks from Focus. I don't know if there's more required to get code coverage set up.

[2018-03-22 18:07] lime124 opened #717 "[bug] press and hold on homescreen search box"
STR:
1. Navigate to homescreen
2. Focus on URL search box
3. Press and hold on remote select button
4. Observe

Expected:
Nothing happens until remote select button is released

Actual:
Keyboard pops up with a "remove" overlay option on top of the keyboard.

[2018-03-22 18:20] AaronMT commented on #716
@npark-mozilla - anything else required?

[2018-03-22 18:26] npark-mozilla commented on #716
Other than adding codecov badge on README.md (see focus android example), I think this is it. cool!

[2018-03-22 18:30] lime124 commented on #489
One usability problem I'm seeing with the old, bigger cursor vs the new, smaller one is that on my TV (which has lots of overscan) I 'lose" the cursor when scroll up/down or side to side. The smaller one completely goes off screen, whereas some part of the cursor remains visible with the larger one.

Are other people experiencing that too?

To fix the overshot problem, can we make the target area

[2018-03-22 20:36] liuche opened #718 "Add "About" text describing what Firefox TV is for"
In Focus, we have an **About** page in Settings that describes what Focus is for. We should have one for Firefox TV (instead of just a place to list licenses as in #691 ). Talked to @lime124 and we can add that right above the <you rights> text in the "About" item.

Needs some direction from @bbinto and maybe marketing.

[code]

[2018-03-22 20:36] liuche commented on #691
@BrianNJones I would be fine with "About", but we should consider moving this text to a "Your Rights" item, and then actually having an "About" icon (which would be a good place to highlight what Firefox for Fire TV is for).

For reference, the Focus About text:
https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/res/values/strings.xml#L92

Filing #718 for updating the "About"

[2018-03-22 20:45] Sdaswani commented on #692
Legal is busy this week with some fire alarms, so the new privacy notice probably won't be ready until next week.

[2018-03-22 20:59] #489 closed

[2018-03-22 21:33] mcomella opened #719 "[monkey] Crash: java.lang.IllegalStateException: Expected session to be started before session end is called"
This might actually be a problem in the Telemetry library. This is a low-volume crash that happens in the wild (count is 7 days):

![image](https://user-images.githubusercontent.com/759372/37799781-ff0e690c-2ddd-11e8-8e6e-faf3d6b9d9ec.png)

I get this on device and in the emulator. It seems to repro often with monkey testing.

[code]

[2018-03-22 21:38] mcomella opened #720 "[monkey] Crash java.lang.IllegalArgumentException: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkParameterIsNotNull"
This low-volume crash happens in the wild (count is one-week):

![image](https://user-images.githubusercontent.com/759372/37799960-897af2ae-2dde-11e8-9a5f-024d98de5a62.png)

I think I ran this on the API 22 Android TV emulator.

[code]

[2018-03-22 21:49] mcomella opened #721 "UX review updated cursor: adjust the size"
Assets from https://github.com/mozilla-mobile/firefox-tv/issues/721#issuecomment-375487382:

[Cursor2-assets.zip](https://github.com/mozilla-mobile/firefox-tv/files/1839591/Cursor2-assets.zip)

---

It accidentally landed early in https://github.com/mozilla-mobile/firefox-tv/pull/711#pullrequestreview-105908701 and it's probably not worth backing out.

Here's the old conversation from the old issu

[2018-03-22 21:50] mcomella commented on #721
What is the target area and how does it differ from the cursor size?

[2018-03-22 21:53] mcomella commented on #489
This was accidentally closed so I'm moving UX review to #721.

[2018-03-22 23:11] lime124 commented on #721
@mcomella and I discussed over slack. We misunderstood each other. Bryan gave updated assets to fix the usability issue. Does this cover press state too? Sorry I’m getting a bit confused across the issues :grimacing:

[2018-03-22 23:21] mcomella commented on #721
This is with the new asset:

![device-2018-03-22-161929](https://user-images.githubusercontent.com/759372/37803584-dc92bb8a-2dec-11e8-8552-7fe8708186c4.png)

If you overlay this image with the old cursor image, the blue circles are roughly the same size but the shadow is larger than the old asset (which looks good to me).

@lime124 What do you think? By the way, thanks for updating from our conver

[2018-03-23 00:07] mcomella commented on #712
I wrote up an analysis of what methods we can use to do this on StackOverflow: https://stackoverflow.com/a/49439945/2219998

[2018-03-23 00:37] mcomella commented on #712
I needed to verify my solution working with a shrinking page so I created a test page: http://mcomella.xyz/test/shrinking_page.html

[2018-03-23 13:35] bbinto commented on #718
I think that's a clear case for the amazing @BrianNJones :)

[2018-03-23 15:41] BrianNJones commented on #718
For this to be valuable content, let's get to clarity about the use cases we want to highlight here (privacy? video access? general content consumption via TV?).
- Existing Focus content highlights "private browser" functionality, content that doesn't necessarily make sense in the Firefox for Fire TV context.
-Amazon app store content highlights ability to watch videos (content dates from 12/17, p

[2018-03-23 15:49] liuche commented on #691
@Sdaswani who is the legal contact for this? I have some questions about the Amazon WebView that we're using - it's not licensed under a free or open license, so we either need to change the string that we're using (to not include "free or open"), or maybe we don't need to include a copy of the Amazon license at all? (there's no provision like with other open source licenses that an attribution mu

[2018-03-23 16:17] Sdaswani commented on #691
Please email Legal with your question @liuche .

[2018-03-23 16:58] BrianNJones commented on #691
@liuche let's discuss the value of adding About content. I added this  in (718), but it's valid here.
For this to be valuable content, let's get to clarity about the use cases we want to highlight here (privacy? video access? general content consumption via TV?).
    -Existing Focus content highlights "private browser" functionality, content that doesn't necessarily make sense in the Firefox for F

[2018-03-23 17:59] mcomella commented on #721
Reviewed in the PR: https://github.com/mozilla-mobile/firefox-tv/pull/722#issuecomment-375712155

[2018-03-23 18:03] liuche commented on #692
Moving this to 2.2.

[2018-03-23 18:03] liuche commented on #691
Legal is pretty busy with some fallout, so moving this to 2.2.

[2018-03-23 18:06] #721 closed

[2018-03-23 18:10] mcomella commented on #568
[triage] Tif has been focusing on the homescreen revision and hasn't had time for this one. Tif mentioned Amin might have time for this in a bit.

[2018-03-23 18:10] liuche commented on #691
Er, moving back bc we're extending the 2.1 sprint to catch this extra work.

[2018-03-23 18:10] liuche commented on #692
Er, moving back bc we're extending the 2.1 sprint to catch this extra week.

[2018-03-23 18:13] mcomella commented on #568
I have a WIP open in a branch on my fork: https://github.com/mcomella/firefox-tv/tree/i568-animations

[2018-03-23 18:23] liuche commented on #659
Btw, if this helps UX, including an excerpt of what the Pocket Video API returns.

Basically they include:
* url
* excerpt (description of the video)
* domain (like Youtube - actually they all look like Youtube)
* image (link to thumbnail to include - we probably should also have some kind of "default" if this link is broken/empty)
* miscellaneous Pocket-specific stuff (id, dedupe url hosted on po

[2018-03-23 19:10] Sdaswani commented on #235
@bbinto @lime124 @aminalhazwani I think we should just do this for 3.0:
"In Settings, Have a Parental Controls Icon that has the following schpeal: "You can pin protect launches of Firefox for Fire TV by navigating to Settings -> Preferences and then toggling on Parental Controls. Set a pin and be sure 'Pin Protect App Launches' is turned On."" We can link to this page for more info: https://www.a

[2018-03-23 20:09] Sdaswani commented on #625
This may help with testing telemetry @mcomella https://docs.telemetry.mozilla.org/cookbooks/view_pings_cep.html

[2018-03-23 21:20] lime124 commented on #235
+1 to @Sdaswani.

I think this is going to be the simplest and most straight-forward solution for people trying to set up parental controls. Then in a future release we can iterate more on some of the proposals  and ideas Amin has shared around white/black lists and a kids only view.

So ideally we would just need copy from Brian and an icon for settings. We can use what the About page looks like

[2018-03-23 22:04] Sdaswani commented on #235
@bbinto thoughts on a two step approach? If so we can probably get a prototype of the simple solution pretty soon, and then can mutable requirements and iterate to a final UX.

[2018-03-23 22:15] mcomella commented on #718
I love that we have the opportunity to champion the open web on the TV platform: what if there were more websites like youtube.com/tv that felt it was valuable to tailor their content to a TV interface? What if we could standardize TV browsing techniques (e.g. is a dpad really the best interface?) and APIs to make TV browsing a desirable experience that solves real user needs? (Since it can be sub

[2018-03-23 22:26] mcomella commented on #429
@Sdaswani How do we create accounts to log into this sentry endpoint?

[2018-03-23 22:39] mcomella commented on #429
From https://github.com/mozilla-mobile/focus-android/issues/2326#issuecomment-375788591:

Sebastian also has a good checklist in his focus bug.

[2018-03-23 22:55] mcomella commented on #429
Susheel gave me access.

[2018-03-23 23:35] mcomella commented on #393
I can reproduce this in a standalone app on the emulator:
- Start WebView, sleep 2s
- Focus another view, sleep 2s
- Focus webView

And the WebView controls cannot be accessed anymore. Here's my standalone app code to reproduce: https://github.com/mcomella/firefox-tv-issue393/blob/0cac8fdb97a3bcc8f3c30379f31f250d2f6e5a4d/app/src/main/java/xyz/mcomella/webviewevaljs/MainActivity.kt#L22

I think it'

[2018-03-23 23:39] mcomella commented on #393
Clicking the left sidebar on the page (with a touch event) appears to fix the focus issue.

[2018-03-24 00:04] mcomella commented on #393
In JS, calling `DOMElement.focus()` (e.g. on the element that the user has currently focused) also fixes this issue.

[2018-03-24 00:11] mcomella commented on #393
If I load google.com instead, I can still navigate with the keyboard after the WebView gets focus again: it seems like **this is actually youtube.com/tv 's fault**.

Caveat: when I repro on google.com, when the WebView regains focus, the element I currently had focused is no longer focused and nothing appears to be focused. Maybe the problem is that Youtube.com/tv does not expect to lose focus.

[2018-03-24 00:20] mcomella commented on #393
When the WebView is unfocused and refocused, the active DOMElement is `<body>` rather than whatever the user had focused before: **it's the WebView's fault that it doesn't refocus the existing element and it's youtubeTV's fault for not handling that case.**

[2018-03-24 00:45] mcomella commented on #393
My solution was basically, in WebViewProvider.initWebview:
[code]

But the focus change listener is never called despite:
1) The getter returning the right OnFocusChangedListener object
2) It losing focus, according to the layout inspector.

My going theory is that Android is manipulating IWebView, which it doesn't consider a View (since it doesn't extend View), so it doesn't call onFocusChanged.

[2018-03-24 00:51] mcomella commented on #682
My first step here was to try just removing this hack algother: I made progress, which I mention in #393. I know what the solution needs to be, but it's not working as expected and I've already exceeded my timebox so I'll see how I want to proceed next week.

[2018-03-24 03:31] Sdaswani commented on #393
@mcomella I think this is a important fix so I would continue on if you think you are close to a solution.

[2018-03-24 15:53] bbinto commented on #235
@Sdaswani and @lime124, 100% agreed.

[2018-03-26 15:41] AaronMT opened #726 "Cursor in first position of URL field after entering text and autocompleted URL restored in field"
- Click the URL field on the home-screen
- Clear the field and enter 'a' to autocomplete to amazon.com
- Hit back

Expected to see the cursor after the 'a' in the URL field

Second issue, while viewing the above issue:

- Hit settings
- Go back

See the URL field autocompleted magically to 'amazon.com' with the cursor in position 0 and mazon.com highlighted.

![ezgif-2-2a06d1a290](https://user-ima

[2018-03-26 16:42] pocmo commented on #393
No idea, sorry.

Just to be sure: Does your standalone app use the same base activity and/or fragment? At least AppCompatActivity does some magic too in order to replace some view classes with its own implementation, I think.

[2018-03-26 20:34] mcomella commented on #483
They fixed sputnik on the server-side: https://github.com/TouK/sputnik-ci/issues/15 Yay!

[2018-03-26 22:57] mcomella commented on #393
I tried with AmazonWebView in a raw app and the onFocusChangeListener is never called – it appears the problem is with AmazonWebView. I also tried overriding the `AmazonWebView.onFocusChanged` and `onWindowFocusChanged` and those aren't called either.

[2018-03-27 00:11] mcomella commented on #393
I was able to fix the problem in the default use case with the following code:
[code]

But it doesn't work when we refresh the page or go back because we didn't have a chance to retrieve the focused element (i.e. when losing focus).

To work around this, in addition to the above code, we could:
- Try to find another entry point for capturing the focused View (e.g. if navigationEvent occurs, add `o

[2018-03-27 00:46] mcomella commented on #393
Okay, I got a solution that seems reasonable – I just need to clean it up.

[2018-03-27 01:24] Sdaswani commented on #393
Awesome!!!!

[2018-03-27 14:43] liuche commented on #718
I agree with Brian, @bbinto what are the things that we want to highlight "about" Firefox TV? Can you give some guidance/priority on key features of our product? I like what mcomella is highlighting as the future of "a browser for tv", but if we want to update this text in the near future we can also highlight what features we have:

* ad-blocking Turbo mode
* Youtube access
* Ability to clear his

[2018-03-27 16:54] liuche opened #727 "Foundational Content Strategy Document (tone, content, alignment)"
Create/define foundational content strategy documentation, to document voice/tone, general content strategy, alignment w/photon products, etc.

(@BrianNJones made a great point during our retro that we need to have a document to detail the content/tone of this project.)

[2018-03-27 17:49] liuche opened #728 "Marketing content on Amazon download pages isn't localized"
It seems like the download pages for Firefox TV aren't localized for all locales. See [email thread](https://groups.google.com/a/mozilla.com/d/msg/firefox-tv/95c2qfoPVik/uLjpQANnBgAJ) from @Delphine :

While it seems parts of our Firefox for Fire TV pages appear localized, definitely not all of it is. More specifically, what remains in English are these sections:
* The title where our product name

[2018-03-27 18:22] #712 closed

[2018-03-27 18:35] Sdaswani commented on #728
@sdaswani to follow up with Amazon.

[2018-03-27 18:37] Sdaswani commented on #726
@lime124 can you comment how annoying this for users?

[2018-03-27 18:38] Sdaswani commented on #726
Also may be changing due to home screen work #690

[2018-03-27 18:42] Sdaswani commented on #718
@bbinto to answer @BrianNJones qeustions here: https://github.com/mozilla-mobile/firefox-tv/issues/718#issuecomment-375707903

[2018-03-27 18:47] Sdaswani commented on #678
@AaronMT closing unless you say it's happening on non-debug builds too.

[2018-03-27 18:47] #678 closed

[2018-03-27 19:40] mcomella commented on #726
On the overlay, we only let users focus around the URL bar, not actually add a cursor into the field itself: this solves that problem there and we could apply that solution here.

[2018-03-27 19:45] mcomella commented on #720
This will only be reproducible with the seed if the code is the same. I forgot to record the one I reproduced with but the master 5 days later is 8ae895c24820816ccdffd6cc80ed6a4c587e66a1.

[2018-03-27 19:45] mcomella commented on #719
This will only be reproducible with the seed if the code is the same. I forgot to record the one I reproduced with but the master 5 days later is 8ae895c24820816ccdffd6cc80ed6a4c587e66a1.

[2018-03-27 19:46] mcomella commented on #586
I received a user report that sounds like this issue: they clicked a tile on Youtube, saw a black screen and assumed it was taking a long time to load, so they hit back and clicked the tile again (at which point the video played). If the user thinks the videos aren't loading and this problem happens several times in a row, **they may never be able to watch the video.**

Our work-around has been to

[2018-03-27 21:16] lime124 commented on #726
yes - this is something that we'll keep in mind and address while taking a look at the homescreen designs.

let's leave this issue open for now and we can either use this to just fix the search bar for the release or have another issue that covers this and other homescreen revisions we want to make for the release.

[2018-03-27 21:21] Sdaswani commented on #728
@Delphine @liuche
![screen shot 2018-03-27 at 2 21 00 pm](https://user-images.githubusercontent.com/4879954/37995666-1b0729ba-31ca-11e8-9df0-eb47e23e69e1.png)
![screen shot 2018-03-27 at 2 20 01 pm](https://user-images.githubusercontent.com/4879954/37995667-1b1f8942-31ca-11e8-9cf6-843de645a7b3.png)

I think we can localize everything we need to, like we have for german:

[2018-03-27 21:31] #716 closed

[2018-03-27 22:37] #548 closed

[2018-03-27 23:03] #706 closed

[2018-03-27 23:22] liuche commented on #691
Just dumping this here for my reviewer (or maybe legal) - here's the list of dependencies for `amazonWebviewRelease` (which are the same):

runtime: https://gist.github.com/liuche/6f28dfe55f17d29c80bd65198347a936
compile: https://gist.github.com/liuche/5895441b431522320f8761981b95403a

And for Focus:
runtime: https://gist.github.com/liuche/d7a21489cdff7c14fe782aeae6da9ec0

so for TV we don't inclu

[2018-03-28 00:03] mcomella opened #730 "[a11y] Menu button doesn't work as expected with overlay shown"
STR
- activate voiceview
- Go to page, open overlay (double-tap menu)
- Double-tap menu to close menu

Actual: Sometimes it closes the overlay, sometimes it reopens it
Expected: Overlay is closed

I think we need to only run our special menu button handling (to close on menu press) if VoiceView is disabled and that'd just fix this issue.

[2018-03-28 00:07] mcomella opened #731 "When going page -> home -> page2, back stack feels wrong"
I know this was an intentional decision but this particular behavior feels weird to me (which I don't know if it was the intended use case). STR:
- Go to a web page
- Open the overlay, go home
- Go to another web page
- Hit back

Expected: go to home screen
Actual: goes back to first web page

Maybe we should clear the back stack if the user ever goes home (rambling thoughts: but I guess it accide

[2018-03-28 00:09] liuche commented on #691
@Sdaswani can you ping Mika about these two questions?

* This comment: https://github.com/mozilla-mobile/firefox-tv/issues/691#issuecomment-375710203
* Review new license:
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport"

[2018-03-28 00:17] lime124 commented on #731
The actual result  in the str was not the intent. Home is at the very top
of our information hierarchy or stack. Pressing back from the home screen
exits the app.

I have IA that I can share later but now I’m about to eat dinner.

On Tue, Mar 27, 2018 at 5:07 PM Michael Comella <notifications@github.com>
wrote:

[2018-03-28 00:39] mcomella commented on #393
I filed https://bugs.chromium.org/p/chromium/issues/detail?id=826577

[2018-03-28 10:32] Delphine commented on #728
@Sdaswani : As for the French website, I think the translation was done and uploaded manually by someone in staff through the dev website - but that's just me assuming. Would be great though to confirm that in case I've missed something and Amazon has some kind of machine translation in place already for all these sections.

Continuing from the email thread: Chenxia asks if we should add this to t

[2018-03-28 15:46] Sdaswani commented on #691
@liuche Legal is still snowed under - let’s do this in 2.2 or 3.0. Sorry!

[2018-03-28 15:51] Sdaswani commented on #728
@delphine yes the French listing was changed by me at the request of Sylvestre. Sorry I didn’t change the app name - I think that caused the initial confusion!😫

I’m fine with your option to set up Firefox TV similar to Focus Android / iOS 👍🏾.

Please do let me know if your Amazon contacts bear more fruit than I have so far, but I’ll keep pushing in my side. 🙏🏾

[2018-03-28 15:54] Delphine commented on #408
Thanks for the clarification Susheel.
So I looked again at the list of countries where the Firefox TV is currently available in, and seems that the only corresponding locale that we're missing is Japanese at the moment.
However it says that we're targeting India soon, so that's something to keep on the lookout for, since it's a HUGE market. We've got a lot of potential Indian locales we can transl

[2018-03-28 16:04] Sdaswani commented on #408
Pressed the wrong button sorry! 🤣

[2018-03-28 16:10] Delphine commented on #408
Uhm, nevermind, we have Japanese... Gonna update the comment!

[2018-03-28 18:10] liuche commented on #429
Added a few more items to the checklist .

From the Focus Android issue for adding Sentry, we should also consider how we're going to build in the Sentry secret (we'll also have to do this for including the Pocket API key in #659 ).

From the [bugzilla discussion](https://bugzilla.mozilla.org/show_bug.cgi?id=1402946) over adding Sentry to Firefox iOS, things look to be fine from the Legal and Secu

[2018-03-28 18:15] mcomella opened #736 "Eliminate code coverage failures"
We don't block on merge and seeing failures all the time but merging anyway makes us more blind to CI failures: let's eliminate the failures.

See how to do it by copying iOS: https://bugzilla.mozilla.org/show_bug.cgi?id=1411757

https://github.com/mozilla-mobile/firefox-ios/commit/c1314f1fec41683bc71566b8014c136499de6938#diff-8bc9db6adba7208e25c96be322351063

[2018-03-28 18:28] mcomella commented on #736
PR open: https://github.com/mozilla-mobile/firefox-tv/pull/735

[2018-03-28 19:07] bkmunar commented on #717
ily @liuche

[2018-03-28 19:21] #717 closed

[2018-03-28 19:49] liuche commented on #393
@mcomella looks like your Chromium issue was triaged to be a Chrome issue - maybe you weren't clear that you were using the WebView rather than Chrome itself.

[2018-03-28 20:04] SeburoSUMO commented on #272
This issue was filed to help contributors support FxTV.  As a contributor, I have been able to run FxTV in Android Studio.  Whilst an emulator is not the full experience, it was about 80% suitable for supporting the product.

On the flipside of this, building a version without leanback is an extra task for a very small user population and it would be unfair to expect this to happen.

Provision of

[2018-03-28 20:32] mcomella commented on #736
Closed in https://github.com/mozilla-mobile/firefox-tv/commit/e7f13990b5bd703c7fb0591137cb5001c08b7214

[2018-03-28 20:32] #736 closed

[2018-03-28 21:35] lime124 commented on #657
i just remembered there are other video sites like lynda and skillshare (both require buying something) but there may be other educational sites out there too.

liuche mentioned tedtalks.

[2018-03-28 22:03] liuche commented on #692
Looks like Legal is still busy so bumping this to 2.2 along with #691 .

[2018-03-28 22:25] mcomella opened #738 "Animate cursor pressed state"
The current implementation is pretty jarring. I think we should cross-fade between the two views.

@lime124 Would you agree? (pressed cursor state is on master)

[2018-03-28 22:50] mcomella commented on #738
Here's a quick mock-up with animations:
https://drive.google.com/open?id=1AiArxhzvD2bl2QhzxDdva2sOzQ86Y7Q8

And here's master without animations:
https://drive.google.com/open?id=1YrPy5N-uHWVjytBd0JEq63dKLff9g-3b

The code is available here:
https://github.com/mcomella/firefox-tv/tree/i738-proto-pressed-anim

One downside to animations is that it's pretty janky to run them when the page is loading

[2018-03-28 23:15] #682 closed

[2018-03-28 23:17] mcomella commented on #393
This was fixed with #682.

[2018-03-28 23:17] #393 closed

[2018-03-28 23:28] mcomella commented on #393
QA: Before this fix and without our old hack to reload youtube.com/tv, opening and closing the overlay would cause the dpad to be unresponsive on youtube.com/tv, e.g. STR:
1) Open youtube.com/tv
2) Click menu button on controller to open overlay
3) Click menu button on controller to close overlay
4) Click right on dpad

Expected: move right
Actual: move nowhere. dpad isn't working.

It'd be great

[2018-03-29 00:10] lime124 commented on #738
working with Bryan Bell...stay tuned :)

[2018-03-29 00:11] lime124 commented on #731
![app ia](https://user-images.githubusercontent.com/287322/38062851-00bf288c-32ab-11e8-85a0-f764f76c9f84.png)
As promised - lmk if there are any follow up questions!

[2018-03-29 00:38] Sdaswani commented on #429
If it means anything, I agree! 🤣

[2018-03-29 00:43] mcomella commented on #429
Implementation notes:

From firefox-ios Slack:

Also, Stefan mentions:

[2018-03-29 00:44] mcomella commented on #429
Here's iOS' init method: https://github.com/mozilla-mobile/firefox-ios/blob/988384977656692eff4579b4f2fac29ea3b5fb8c/Shared/SentryIntegration.swift#L34

[2018-03-29 16:22] liuche commented on #713
@mcomella I was looking at this and I think the emulator is doing something different from the tv. Can you double check this and let me know if this is reproducible on a tv (rather than just the emulator)?

[2018-03-29 16:59] mcomella commented on #713
My original STR is with the TV and I can reproduce on the emulator with the following steps:
- Load page (I used google video)
- Open overlay
- *Click* url bar to open soft keyboard
- Hit back in external menu (i.e. the one with the power button)

Expected: Overlay is shown, keyboard dismissed
Actual: Browser is shown, keyboard and overlay dismissed

**Bryan noticed a behavior:** if you long-press

[2018-03-29 18:18] mcomella commented on #272
Thanks for the update, Seburo.

Given these two points and tha our primary use case would likely be SUMO contributors, I think it's unlikely that we'll get around to implementing this (given the feature work we'd also like to do). I'm going to close for now – **please reopen this if it would be extremely useful to you at some point!**

[2018-03-29 18:24] bkmunar commented on #713
I know I'm a genius

[2018-03-29 18:30] mcomella commented on #731
@lime124 My STR leads me to "Previous Item in Stack" (on the bottom left): is "Previous item in stack". I assume that means "Previous browser page" and it cannot be the home screen? In which case, the STR I've provided is the intended behavior?

[2018-03-29 19:00] liuche opened #740 "[Legal] Sign-off on License/About"
We combined "Your Rights" and "About" into the same page in #691. We decided to land it because the existing license wasn't easily visible in the product (and could only be accessed by going to `focus:rights` in the urlbar).

**About page**
![screenshot_1522352498](https://user-images.githubusercontent.com/1082253/38109917-96a6282a-334e-11e8-8477-c6d76217b5e8.png)

**Page opened when clicking "lic

[2018-03-29 19:03] liuche opened #741 "Follow-up: Add "Your Rights" header to (license) About page"
Forgot to add "Your Rights" text back per https://github.com/mozilla-mobile/firefox-tv/issues/691#issuecomment-375449046 - this involves reverting some l10n string deletions for a previously existing string in https://github.com/mozilla-mobile/firefox-tv/commit/f89058f761871b6df67a9be0ad72357dc2d728a8

Follow-up to #691 .

[2018-03-29 19:41] liuche commented on #741
![screenshot_1522352498](https://user-images.githubusercontent.com/1082253/38109935-a4bb9378-334e-11e8-9014-b3a5c1cedb22.png)

[2018-03-29 20:47] liuche commented on #713
@bkmunar also if you could test this on a firetv, that would be helpful - I forgot to bring mine, and I know there are differences between emulator and TV.

(Or @mcomella but I think he's doing some Fennec stuff atm)

[2018-03-29 21:02] mcomella opened #744 "Set detekt warning/failure threshold to 0"
It's 5 warning & 10 error now. The tool is mostly useless if you can break things and get away with it.

[2018-03-30 16:05] lime124 commented on #731
Ok so if you look at "previous item in stack"  that's basically any webpage i.e. your history. then follow the line to "first item in stack - i.e. homescreen". if the you're at the first item in the stack, i.e the homescreen, that's where you'll go. otherwise you'll just be shown the previous webpage.

Ahhh!! I see where you're coming from now! In my brain first item in the stack = homescreen. Bei

[2018-03-30 16:16] liuche commented on #429
I don't think there's much we can do about 2 (especially since fingerprinting is already done by other websites, apps), but the risk is pretty low.

For 1), can we send a different id each time? What does Firefox iOS/Focus do?

For 3), I think it's okay to include stack traces (is there an Android doc that states non-PII in stack traces, the way Apple does?, but we should audit our own logging to

[2018-03-30 17:27] mcomella commented on #429
Spoke to Tif on Slack:

Tif wonders why desktop includes separate toggles and thinks we should investigate. However, given the timing and priorities, for v1, we're going to design it as a single toggle. Tif notes that we should be careful that users won't get surprised or mad by the changes.

[2018-03-30 17:32] liuche commented on #271
We don't seem to have history on newly opened tiles from the home screen anymore, so I can't repro this. (However, it could be that there's some difference between redirects in non-US countries, that are creating a history back stack?)

I do notice some funny Youtube behavior with the back button though - (in the emulator) when you hit back after loading YT from the tile, it acts as if you're "nav

[2018-03-30 17:32] #271 closed

[2018-03-30 17:32] lime124 commented on #429
By making sure appropriate documentation or sumo pages get updated to
reflect the additional thing being sent. :)

On Fri, Mar 30, 2018 at 10:27 AM Michael Comella <notifications@github.com>
wrote:

[2018-03-30 17:38] liuche commented on #429
The Focus privacy policy does cover crash reporting collection (#692 is open to make a Firefox TV-specific one, but Legal is busy at the moment so I assume we're just going to keep using the one for Focus).

[2018-03-30 17:39] liuche commented on #658
Is this for when the overlay is open? One thing we could do is have the progress bar show up above the overlay as well, but would want to clear this with UX first.

[2018-03-30 22:08] #713 closed

[2018-03-30 23:29] mcomella commented on #429
It looks like Firefox iOS is missing unique user IDs with their crash reports (from the Sentry UI). I don't see them explicitly removing the code so I wonder if there's a discrepancy between the SDKs such that Android creates a UUID if it's not available and iOS doesn't.

I'm less concerned about the actual stack traces and the messages we put in them, e.g. "utf-8 should always be available" in th

[2018-03-31 00:23] mcomella opened #746 "Sentry: add "release", "beta", etc. to crash event to avoid using the wrong key"
We currently use **different keys to separate production from non-production** so the current implementation is acceptable. However, **if we ever swap the keys, we're screwed!** We should add which build the user is running to the crash events so that if we ever swap the keys, we notice the discrepancy and filter them out. **This is especially important because we make the builds by hand.**

Sentr

[2018-03-31 00:25] mcomella opened #747 "Sentry: consider failing the build if we don't have a key for release"
**This prevents us from accidentally shipping without a crash reporter, which would fail silently and thus be really hard to track.**

However, depending on how this is implemented, this could make developer's jobs harder because they won't be able to make release builds without a sentry key. Also, we'd have to figure out CI too.

[2018-03-31 00:26] mcomella commented on #429
Filed some follow-ups:
- #747 ✈️ : fail release builds without a key
- #746: add which buildVariant we're using to crash events

[2018-03-31 00:28] mcomella opened #748 "SUMO Focus privacy notice: can't access "opt-out" link"
It uses dpad navigation and it's impossible, afaict, to hit the "opt-out" link to read the page on how to opt out.

[2018-03-31 00:29] mcomella opened #749 "Settings: add "Send usage data" "learn more" link"
Like in Focus. All our mobile apps (except fennec?) currently link to this page: https://support.mozilla.org/en-US/kb/send-usage-data-firefox-mobile-devices

Note that the page will need to be updated for TV and Sentry will need to be added to it.

[2018-03-31 01:52] mcomella opened #750 "Sentry: consider moving init to Application"
e.g. we're missing crash reporting for OnboardingActivity

The docs put it in an Activity but that would require multiple inits and it seems fine to put it in application since it uses the applicationContext.

[2018-03-31 03:32] Sdaswani commented on #429
Those docs are great!

[2018-04-01 19:15] bbinto commented on #718
Low priority for now, I’ll work with marketing and Brian to in the future. No immediate action needed right now.P3On Mar 27, 2018, at 12:42 PM, liuche <notifications@github.com> wrote:Assigned #718 to @bbinto.—You are receiving this because you were assigned.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-04-02 22:48] mcomella commented on #692
Note: Privacy notice needs to include sentry crash reporting.

[2018-04-02 22:58] mcomella commented on #731
Tif and I spoke on Slack: one discrepancy is that, currently, there are multiple conceptual back stacks. If you go to several websites and then go home, from home's perspective, you've just cleared the back stack (i.e. hit back and you'll leave the app: this is the first conceptual back stack. However, if you load a new page in the browser and then press back, you'll go back to the last page you v

[2018-04-02 23:37] mcomella opened #751 "Consider using pause/resume WebView fix to restrict background CPU use"
To mitigate battery issues, Focus implemented a pause/resume fix - https://github.com/mozilla-mobile/focus-android/pull/2274 - found in this article: http://www.mcseven.me/2011/12/how-to-kill-an-android-webview/

Roughly, it loads a blank page in onPause and resumes the old page in onResume

Assuming it does anything and that Fire TV acts like regular Android, our benefits:
- Shuts down WebView in

[2018-04-02 23:43] ekager commented on #751
We actually did not implement the loading a blank page feature yet, exactly because I was worried about the cons you detailed above. We did use one of their suggestions in the article which is to use pauseTimers() and resumeTimers() to *hopefully* pause any JavaScript timers that would continue in the background. Would be interested to hear your thoughts on the loading of a blank page, and maybe w

[2018-04-03 15:27] mcomella opened #752 "Sentry"

[2018-04-03 22:59] Sdaswani commented on #728
@Delphine it looks like there is an [API for app publishing](https://developer.amazon.com/developer-publishing), and you can [specify localized conten](https://developer.amazon.com/docs/dev-publishing-api/devpubapi-update-an-existing-app.html#sample-json-to-put)t. Can you check this out and let us know if you have questions.

[2018-04-03 23:01] bbinto commented on #659
Some notes from the UX meeting

For v1:
- need to design Pocket Video feed list (native vs. web)
- no personalized feeds yet (no login)

To discuss
- Frequency of pulling from Pocket API
- Most visited, or most viewed

[2018-04-03 23:06] #429 closed

[2018-04-03 23:34] mcomella opened #753 "Sentry: add additional documentation"

[2018-04-04 16:49] Sdaswani opened #755 "[meta] Amazon Fixes"
These issues should be fixed by April 10th! Maybe we can get these fixed in 2.1.

- [x] https://github.com/mozilla-mobile/firefox-tv/issues/507
- [x] https://github.com/mozilla-mobile/firefox-tv/issues/756
- [ ] https://github.com/mozilla-mobile/firefox-tv/issues/783

[2018-04-04 17:06] Sdaswani commented on #507
@mcomella apparently using a voice command when we are in firefox causing another webview to be launched, according to Amazon.

[2018-04-04 17:09] Sdaswani opened #756 "Pause & Resume Timers"
To pause JavaScript timers while app is in background, call  WebView.pauseTimers in Activity onPause(). Also call  WebView.resumeTimers in Activity onResume() to resume JavaScript.

[2018-04-04 17:40] Delphine commented on #728
Thanks Susheel! Will definitely look into this asap.

[2018-04-04 19:43] #741 closed

[2018-04-04 19:47] mcomella commented on #756
See also #751.

[2018-04-04 19:52] #753 closed

[2018-04-04 20:00] mcomella opened #758 "Sentry: audit thrown exception messages for PII"
Now that every thrown exception can cause a crash and be reported to sentry, we need to make sure we're not collecting PII. In theory, we shouldn't be: we try to avoid including PII in logcat, where exceptions dump their output.

This is a follow-up to #429: we landed it already but should just double-check what we're collecting.

[2018-04-04 20:31] Sdaswani commented on #235
"Here is the Android API for setting the permissions: https://developer.android.com/reference/android/content/RestrictionsManager.html#requestPermission(java.lang.String,%20java.lang.String,%20android.os.PersistableBundle)" More to come....

[2018-04-04 20:48] mcomella commented on #758
FIXED: I ran through the output of `ag throw --ignore test --ignore androidTest` and did not see any PII.

[2018-04-04 20:48] #758 closed

[2018-04-04 21:14] lime124 opened #759 "UX Homescreen and Pocket Feed Deliverable"
### Information Architecture

- See [image](https://user-images.githubusercontent.com/287322/38335185-58b77334-3812-11e8-8aff-d62be99673ea.png)

### Homescreen
- [Mockups](https://firefoxux.github.io/people/aalhazwani/firefox-for-fire-tv/homescreen-pocket-tile/)
- [Previous Mockups](https://user-images.githubusercontent.com/287322/38335198-640a89c4-3812-11e8-9c2e-7bd15bd6dd0b.png)

#### Strings
-

[2018-04-05 20:08] mcomella opened #761 "[Pocket] Add Pocket feed view (w/ placeholders items)"
See #759 for progression of mocks.

We need to decide if this should be native Android (complicated back stack) or web (complicated to pass things back and forth). Our current idea is a hybrid: we use `firefox:pocket` to open the pocket feed view, which replaces the Browser view. This lets us leverage the browser back stack and still write things in native code.

[2018-04-05 20:09] liuche opened #762 "[Home] Combine browser/homescreen architecture"
With the new homescreen being part of overlay, we'll need to change the browser/homescreen architecture.

Options we discussed were:
* Use Fragment backstack to handle overlay/browser/overlay stack
* Use two fragments, browser fragment (with a blank "firefox:blank"), and overlay fragment

[2018-04-05 20:09] mcomella opened #763 "[Pocket] Backend: Add Pocket tile to model: as a bundled tile?"
We can special case the UI in the code but making it a bundled tile will simplify removing it.

[2018-04-05 20:10] mcomella opened #764 "Get API keys into the build system for Pocket"
Follow what we did with Sentry. Consider failing release builds if we don't have the key (will complicate CI).

[2018-04-05 20:12] mcomella opened #765 "Download and cache Pocket video data"
Questions:
- How often should this list be refreshed? Determined by UX or from the API cache header?
- Will we actually cache or just download in real-time? How should we animate if we don't cache?

[2018-04-05 20:12] liuche opened #766 "[Home] Consolidate back button behavior and ensure back behavior is correct"
Now that we're handling showing the home/overlay in two places (as an overlay, and as a default home screen), we need to make sure the back button behavior isn't spread out everywhere (MainActivity, BrowserFragment, HomeFragment).

[2018-04-05 20:13] mcomella opened #767 "[Pocket] Integrate Pocket data with feed"
Pocket data from #765 and feed from #761.

[2018-04-05 20:13] liuche opened #768 "[Home] Combine layouts for home and overlay"
Move the RecyclerView from HomeFragment to overlay to match mocks in #759

[2018-04-05 20:13] mcomella opened #769 "[Pocket] Error handling on Pocket video feed"
Requires UX feedback. Consider keeping it simple for v1 and adding telemetry to figure out how often these are seen.

[2018-04-05 20:15] liuche opened #770 "[Home] Update overlay buttons to reflect current navigation state"
Reflect the "home" state without a browser stack in the overlay buttons.

Back, forward, refresh, pin should all be disabled and un-activated.

This should also fix the problems with the navigation buttons incorrectly gaining focus when moving through tiles (introduced in #768).

[2018-04-05 20:15] mcomella opened #771 "[Pocket] External dependencies for Pocket (Questions for other teams)"
Sample questions:

Pocket
- Can we get the top 3 from the API (we could just cache this though...)?
- How often is the API updated?
- Can the API manage our traffic? How often can we download per user?
- Will Pocket want to host this content themselves later, as a web experience?
- How does the vision of Pocket sign-in interact with their plans?
- Assets, colors, logos (in SVG?)
- Where do the vid

[2018-04-05 20:16] liuche opened #772 "[Home] Verify existing telemetry isn't broken"
This involves discussion with Product, to determine what probes to collect.
- [ ] Unique tiles clicked per user per session
...anything else?

[2018-04-05 20:18] mcomella opened #773 "Can't get back to Pocket Feed from Youtube"
We remap back on the remote to ESC to correctly interface with Youtube. This is a problem with the Pocket video feed because most videos are from Youtube: if you click a youtube video, you can't easily get back to the video feed list with the existing behavior.

[2018-04-05 20:19] mcomella opened #774 "[Pocket] Add Pocket video megatile"
(recyclerView span, selection state, menu, visual design refinements?)

[2018-04-05 20:19] mcomella opened #775 "[Pocket] Add Megatile error handling (can slip?)"
Requires UX feedback. Consider keeping it simple for v1 and adding telemetry to figure out how often these are seen.

[2018-04-05 20:20] mcomella opened #776 "[Pocket] Add mechanism to undo Pocket tile removal"
Currently users can remove tiles and re-add them by revisiting the website and repinning as a custom tile. However, there is no way to undo the removal of native content.

[2018-04-05 20:21] mcomella opened #777 "[Pocket] Add telemetry to Pocket video feed"
Goal + KPI
Confirm hypotheses that by adding Pocket recommended video feed, people will interact with the feature (click on the mega tile), and find it interesting enough to click, watch, and stay longer in app.

Be able to identify users who use the feature, and bucket them to see if their session time is higher, and retention is better (come back more often)

**Add additional probes**

Megatile:

[2018-04-05 20:30] #756 closed

[2018-04-05 20:30] mcomella opened #778 "codecov/patch still failing"
![screenshot-2018-4-5 closes 756 pause resume timers by bkmunar pull request 760 mozilla-mobile firefox-tv](https://user-images.githubusercontent.com/759372/38390218-80e8991e-38d5-11e8-9626-f810b4fd19c7.png) from #760.

@npark-mozilla Do you know what's up?

[2018-04-05 20:55] npark-mozilla commented on #778
Codecov is saying that the diff between the patch and master (i.e. the changes) is not covered by unit tests at all. It seems For now, we can disable the check on patch, and only monitor for the % drop on the project.

[2018-04-05 21:03] liuche opened #780 "[Pocket] Discovery: Need a way to add/remove the Pocket MegaTile"
Follow-up to #774

_Added by @bbinto_

**Why/User Benefit**
- If users don't want to have recommended Pocket videos shown, they should have an option to remove them
- Firefox's promise to give users choice

**What**
- Option to remove Pocket video mega tile
- Option to add it back
- Define patterns to remove/add things

**Acceptance Criteria (how do I know when I’m done?)**
- Probe when people rem

[2018-04-05 21:46] mcomella commented on #774
We could maybe use the [SpannedGridLayoutManager](https://github.com/Arasthel/SpannedGridLayoutManager), discovered in this SO post: https://stackoverflow.com/a/39484534

[2018-04-05 21:58] mcomella commented on #507
When starting via ADB, I can confirm this behavior: there are multiple references to WebView and multiple references to BrowserFragment. I'm guessing our BrowserFragments aren't getting cleaned up when we launch the activity again (maybe because we're adding them to the back stack?) and each one of them spawns a new WebView.

[2018-04-05 22:04] mcomella opened #781 "eglCodecCommon glUtilsParamSize errors in logcat"
I see these a lot in logcat with debug mode on my emulator:
[code]

I assume these are coming from the WebView. Maybe Amazon would know?

[2018-04-05 22:10] mcomella commented on #507
When we get the new intent, we create an additional sessions, each of which has its own BrowserFragment and WebView: `MainActivity.onNewIntent` is being called when it's called from the command line, which calls `SessionManager.createSessionFromIntent` and creates the new session.

Since we only support one session, we probably just want to update the current page with the passed in arguments. Thi

[2018-04-05 23:01] liuche commented on #774
We talked about making *not* part of the GridLayout and having a separate section so it's easier.

[2018-04-05 23:05] liuche commented on #761
@aminalhazwani, we'll need mocks for the Pocket video feed that is shown when you click on the Pocket "megatile". Thanks!

[2018-04-05 23:42] liuche commented on #770
Note: for Pocket, we'll disable pinning.

[2018-04-05 23:45] liuche commented on #770
Note: for Pocket megatile, we'll disable pinning.

[2018-04-06 00:13] liuche opened #782 "[Home] Handle tile "removal" now that menu button is overloaded"
With the overlay, the menu button will close the overlay, but that means we can't also use it for deleting tiles anymore.

Some options we discussed were:
* Remove "remove" - don't allow removing for this release
* Long-press "select" button to trigger remove context menu
* Add new "doorhanger" UI to add remove option

Whichever option we choose, we should also revisit it in a sebsequent release (

[2018-04-06 00:45] Sdaswani opened #783 "Crash when navigating home while watching a youtube video"
"If you’re watching a YouTube video and press the menu button on the remote (video continues to play), and navigate to Home or Settings, Firefox will often crash"

More details to follow.....

[2018-04-06 17:44] mcomella commented on #762
As part of #507, I've been looking at the way we manage fragments: BrowserFragment is tied to SessionManager so it makes the behavior unnecessarily complicated. We may want to consider simplifying the behavior with this bug.

[2018-04-06 17:45] mcomella commented on #783
@Sdaswani Do you have additional details here?

[2018-04-06 17:55] mcomella commented on #782
iiuc, the behavior would be that the user long-presses the home button to unpin a top site.

@aminalhazwani General concerns that can be overruled with further research 😄:
- Accessibility with VoiceView overrides some of the button behavior so we should make sure there aren't conflicts. I think long-pressing home opens the VoiceView settings.
- Without a11y, long-pressing the home button from the

[2018-04-06 18:05] Sdaswani commented on #783
Not yet, I will post as soon as I do.

[2018-04-06 20:09] mcomella commented on #507
I actually discovered our existing code is relatedly incorrect without launching a new activity:
[code]

This code says we'll create a new BrowserFragment and a new session *every time* and URL is entered from the home screen. I confirmed this behavior by checking that there are multiple instances of BrowserFragment in the heap. Maybe this is what caused all the slow-down in the past.

[2018-04-06 20:42] Sdaswani commented on #507
@mcomella is that only when a URL is entered, or also when a tile is chosen?

[2018-04-06 21:25] mcomella commented on #507
I came up with a fix where we have at max one session:
[code]
However, there were some non-trivial issues.

In our code, I think we've been "globally" accessing BrowserFragment via findFragmentsByTag. However, this will unexpectedly return null after home is shown because the back stack is cleared when the home screen is opened. Therefore, we'll create a new BrowserFragment each time the home scre

[2018-04-06 21:39] lime124 commented on #782
@aminalhazwani thanks for jumping on this so quickly after your PTO (welcome back!)

The design rationale for double tap vs long press totally makes sense and I agree.

I echo mcomella's concerns about using the home button as the long press. I agree it should be reserved for the system (though I'm sure there are examples of apps breaking this).

The menu seems plausible, but it seems like it's re

[2018-04-06 21:52] lime124 opened #784 "improve the focus state of selected items"
Why: From a distance on dark/mixed backgrounds it's hard to understand what it's being focused. If we zoom focused piece of UI the motion really catches the eye/attention and improves the overall navigation experience.

Description: When a tile is selected we use this approach. For pieces of UI, like buttons I believe that having a stronger focus ring might be enough.

![0](https://user-images.git

[2018-04-06 21:52] lime124 commented on #784
FYI @mcomella @aminalhazwani

[2018-04-06 23:48] mcomella opened #785 "Memory leak: fragments aren't being garbage-collected"
STR:
- From home screen, open Settings (move to gear) and close settings (via back button) 3 times
- In Android profiler, force GC
- Get heap dump
- Search for "SettingsFragment"

Expected: 0 references to SettingsFragment
Actual: 3 references

[2018-04-06 23:58] mcomella commented on #507
It turns out this is a full blown memory leak: I filed #785. This is making it difficult to fix this bug: the only solution without fixing the memory leak is to pull the WebView out of BrowserFragment and into MainActivity, re-using the view there.

[2018-04-07 00:01] mcomella commented on #785
One thing I noticed: the leak appears to be coming from the view hierarchy. I commented out all of the View code (e.g. click listeners) that keeps a reference to SettingsFragment and added a new static click listener to the view hierarchy. When I GC'd, the Fragments were cleaned up but the static click listeners were not.

[2018-04-07 00:39] mcomella commented on #507
I fixed #785 so now we can build on top of that to make sure our WebView instances are getting GC'd as necessary.

[2018-04-07 00:49] mcomella commented on #507
Next steps:
- Fix [patch from previous comments](https://github.com/mozilla-mobile/firefox-tv/issues/507#issuecomment-379385704): make loadUrl work correctly, ensure there are no unwelcome side effects
- Extract method as separate method in `ScreenController` (for re-use)
- Call this method from `onNewIntent` and `handleIntent` (probably bring one layer of abstraction down from SessionManager to S

[2018-04-09 04:25] mkoidin commented on #659
@bbinto Apologies for the delayed response - I was on PTO the past two weeks.

Re: the JSON response - if there is something else needed (or that we want to remove), we can tweak that - so happy to discuss.

[2018-04-09 09:23] sousmangoosta opened #787 "Youtube DRM video not supported"
When I try to play a protected content from youtube, I have a player error, this works on silk browser.
I got an ID : HH1T 63MV QYWK

Here is the logs in android studio debug mode :

[code]

[2018-04-09 13:42] aminalhazwani commented on #782
@mcomella ops, thinking too much on the homescreen I wrote Home button instead of Menu button, sorry!

@lime124 if it's not possible to include a graphic in the chip we could use the unicode symbol `☰`. My rational there was to display what users see on their remote rather than describing it.

Anyway, here is an overview of the buttons and their resulting actions.

### While on FireTV Homescreen *

[2018-04-09 15:21] AaronMT opened #788 "Unable to enter a new URL in the emulator"
1. Launch the browser
2. Tap the URL bar
3. Enter 'example.com'
4. Open the menu
5. Tap the address bar
6. Backspace (you can't view the address bar) a bunch of times
7. Enter 'example.org' and push enter on your keyboard
8. See URL is http://example.com/example.org loaded

Tested via master (7571b7e) on emulator

[2018-04-09 15:33] AaronMT opened #789 "Unable to set focus to the address bar in the menu after entering a URL in the emulator"
1. Launch the browser
2. Tap the URL bar
3. Enter 'example.com'
4. Open the menu
5. Tap the address bar
6. Just push enter (should reload example.com)
7. Open the menu
8. Attempt to focus the address bar

Tested via master (7571b7e) on emulator

[2018-04-09 18:05] lime124 commented on #782
Thanks for the very through analysis Amin! I would love to hear what @mcomella and @liuche think about the options.

[2018-04-09 18:12] mcomella commented on #788
Dupe #512.

[2018-04-09 18:13] mcomella commented on #512
Aaron mentions this makes QA difficult so I'm throwing this back to triage.

[2018-04-09 18:45] mcomella commented on #787
@sousmangoosta Thanks for the report - do you have a URL as an example of protected content on Youtube? Does this only affect either tv.youtube.com or youtube movie purchases?

[2018-04-09 18:47] mcomella commented on #507
@Sdaswani I would say one to two days.

[2018-04-09 18:49] mcomella commented on #784
Note to eng: I think this should be trivial to do with `StateListAnimator`.

[2018-04-09 18:51] liuche commented on #782
For (c), I like the primary/secondary actions being tied together into a single button. It feels very natural because that's the main "action" button anyway. The hardest part there will be getting a string that explains the "center" or "select" button, but implementation-wise it isn't hard.

From an engineering perspective, here are the difficult parts:
* Substituting an image into string. I didn'

[2018-04-09 18:57] mcomella commented on #782
(c) is the easiest from an engineering perspective so 👍! From a design perspective, I like that it doesn't conflict with a11y and that semantically the actions are linked. My hesitation is that Android's guidelines have moved away from long-press for anything but multi-select mode to avoid hidden functionality. But given the time constraints we have from both an eng and a design perspective and th

[2018-04-09 19:17] AaronMT commented on #788
Unrelated

[2018-04-09 20:39] lime124 commented on #782
Thanks mcomella and liuche for the thoughts! Let's go with c - I think it's the best option and everyone seems to have agreed on that too :)

The few outstanding things I see are:

1. Finalize a string for the toast - @BrianNJones for help
2. Depending on the string we may or may not need an icon or graphic (if that's feasible)
3. Ensure long press in app does nothing outside of this context. As A

[2018-04-09 20:43] lime124 commented on #782
Something I just remembered - @liuche @mcomella I think one or both of you mentioned that for this first version we won't be able to remove the Pocket Tile? If that is the case, we should make sure to handle that as well. I would think one step would be to note show the toast when Pocket is selected and the other would be to show a message if the person does try to long press on the Pocket tile.

[2018-04-09 20:51] mcomella commented on #282
The suggested method doesn't exist on AmazonWebView – I assume it'll be added in a future iteration.

[2018-04-09 21:00] Sdaswani commented on #282
OK checking with Amazon. Odd!

[2018-04-09 21:01] Sdaswani commented on #507
Thanks @mcomella . @bbinto just to note that 2.1 is still ongoing so the 3.0 schedule may get impacted.

[2018-04-09 21:52] liuche commented on #783
I can't seem to repro this, despite switching back and forth.

[2018-04-09 22:08] liuche opened #791 "Cursor direction not cancelled on Youtube when switching to non-cursor view"
STR:
- When loading YT, scroll all the way to the right and hold down button until page loads
- Load a video and scroll down to suggestions

Expected:
- Normal navigation behavior

Actual:
- Screen keeps scrolling

![device-2018-04-09-150821](https://user-images.githubusercontent.com/1082253/38525619-dde83284-3c07-11e8-84ef-1e73ece91035.png)

[2018-04-09 22:10] liuche commented on #709
Before we ship we should do one more import, because the "Your Rights" strings actually need to be re-translated.

[2018-04-10 01:31] mcomella opened #793 "Users may lose sessions when the app is backgrounded: audit restoration code"
## User value
When the system clears us from memory to conserve resources, it will give us the opportunity to restore state. Currently, we ignore that opportunity and users will open on the home screen without their back forward history. Instead, we could send users back to the website they were last looking at with the back stack they had navigated with.

## Details
We should look at how we handl

[2018-04-10 07:10] sousmangoosta commented on #787
@mcomella : It's a youtube movie purchase, eg: https://www.youtube.com/watch?v=Md6EgfXoDfY .
But I think there is no DRM for the preview content.

[2018-04-10 14:01] aminalhazwani commented on #782
Thank you all for the feedback!

We could display the toast and dismiss it after a user actually unpins a website or after a 5 seconds timeout. We could also show the toast 3 times at launch.

![fftv - chip unpin top site](https://user-images.githubusercontent.com/1721875/38560442-f0df110e-3cd5-11e8-82a1-d84628a4f956.jpg)

If a user tries to unpin Pocket Videos we could show a toast, same position

[2018-04-10 15:31] aminalhazwani commented on #759
Hello there! As @lime124 wrote up here I would like to share with you some explorations I've been doing for the Pocket Videos feed.

On launch, if the connection is slow, or if the API is not responding, we could show and empty/loading screen.

![fftv pocket video feed - loading](https://user-images.githubusercontent.com/1721875/38565083-b10e486e-3ce0-11e8-9eed-b58f81827058.jpg)

If there is an er

[2018-04-10 17:06] Sdaswani commented on #787
I'm pretty sure this is due to [not being able to support 4k content yet ](https://github.com/mozilla-mobile/firefox-tv/issues/277)- I can play some purchases, but for the recent purchases which are 4k, I can't play either.

[2018-04-10 21:13] lime124 commented on #782
i'm curious how much harder it would be to do the dismissable toast over the original proposal. @liuche @mcomella ?

@aminalhazwani let's wait on that answer before digging in more to some IxD questions I have on that one.

[2018-04-10 21:37] mcomella commented on #759
Thanks for the mock-ups, Amin! I like the visual design – it's clean and consistent with the platform, but also stands out (I like those colors, at least on my display :).

Here are some thoughts:
- Have you looked at overscan, particularly on the carousel? I wonder if the padding/spacing will still look great with overscan
- I haven't seen this on a TV yet: will the carousel and selected tile be

[2018-04-10 22:16] mcomella commented on #654
When we have multiple WebView instances, force GC in the profiler doesn't always seem to remove the WebView instances on the first try: this means redundant WebViews might be using more resources than they need to. This gives extra emphasis to the utility of this bug.

[2018-04-10 22:25] mcomella opened #794 "We support only one "tab" but more than one session can be created: hard to change back stack/url loading/session code"
What: the current code permits having more than one session. From a user's perspective, this is actually no different than if they had one session.

Who/why: From a developer's perspective, **this makes the back stack/url loading/session code hard to understand. If we ever need to make changes to this code, it will take longer than expected and may be error-prone** (e.g. #507 took several days but

[2018-04-10 22:29] mcomella opened #795 "Back stack code is hard to change for a variety of reasons: consider simplifying it"
Sorry if this is difficult to understand: this code is really difficult to understand and I'm having difficulty summarizing concrete steps to break it down/change it.

## User value
From a user's perspective, this code mostly works. However, if we modify the back stack behavior or add an additional screen, the development time to make the change may be long and the change error-prone. In extreme c

[2018-04-10 22:30] mcomella commented on #507
Follow-ups are #654, #793, #794, #795: this code is really crufty!

[2018-04-10 23:06] liuche commented on #759
Thanks for these mocks! I think mcomella's answered your questions above before I got a chance to :P

Here are some questions of mine (these are mostly further than v3.0):
* How does this fit with the longer-term "Pocket video recommendations" website plan (e.g., TV-optimized website")? Will it be confusing to users if/once we switch to a website (rather than a native view)? And if this is somethi

[2018-04-10 23:06] Delphine commented on #728
Sorry, took me time to get back about this.
So I took a look and talked around, and turns out that it would actually be Firefox TV engineers who would know if this works or not :)

This might help, it's what what we're currently doing for Appstore and Google Play:
https://l10n.mozilla-community.org/stores_l10n/documentation/
I know @st3fan has done the entire Appstore integration, so he may have s

[2018-04-11 00:22] mcomella opened #797 "Add LeakCanary to dev builds"
### Vision statement / What / Requirements
Memory leaks are bad: they cause many crashes but ones that are not tracked well by Sentry. When we have them, memory leaks are very time consuming to debug. [LeakCanary](https://square.github.io/leakcanary/) helps us find memory leaks when they're added to the code base.

### Impact
Significantly reduced risk of memory leaks.

### Acceptance criteria
* L

[2018-04-11 01:02] #507 closed

[2018-04-11 01:28] mcomella commented on #442
Moved to https://github.com/mcomella/firefox-tv/tree/inc-i442-icons for my branch naming sanity. :)

[2018-04-11 04:09] Sdaswani commented on #282
Amazon's recommendation is to not compile against the Amazon Webview jar file - are we doing that @mcomella ?

"[C]ompiling against the Amazon Web View jar file ... is no longer necessary. Just use the standard Android Web View. All web view calls will be mapped to Amazon Web View on Fire TV."

[2018-04-11 04:27] Sdaswani commented on #783
@AaronMT apparently your Fire TV stick should reproduce this issue. Can you try to repro?

[2018-04-11 04:32] Sdaswani commented on #755
@AaronMT the two completed tickets are QA ready, and it would be great if you could get us a crash reprot for 783.

[2018-04-11 04:37] Sdaswani commented on #728
Thanks @Delphine - I think the immediate thing we need to do is have @bbinto prioritize this. Barbara let me know if you want to discuss IRL to help you prioritize.

[2018-04-11 07:41] sousmangoosta commented on #787
@Sdaswani : It's not 4k, it's 720p @24fps max with widevine on my desktop firefox browser with codecs avc / mp4a.

[2018-04-11 14:08] Sdaswani commented on #787
Understood @sousmangoosta - let us check some things internally and we will follow up on this issue.

[2018-04-11 14:16] AaronMT commented on #783
Unable to replicate any crash.

[2018-04-11 14:44] AaronMT commented on #787
Slight hunch that a video player

@sousmangoosta Can you try rebooting your device and then trying to play a video in Firefox without starting Silk? It is possible that the Fire TV Stick only supports single player instantiation and it wasn't released?

[2018-04-11 17:13] aminalhazwani commented on #759
This is great! Let's summarize the questions/feedback:
- Overscan?
- Awkwardly big?
- Thumbnails?
- TV-optimized website?
- Where do videos come from?
- Action on tile?
- What is Pocket?

**Overscan?**

Good point, I changed the layout to include the 5% overscan recommendation.

![fftv pocket video feed - grid and overscan](https://user-images.githubusercontent.com/1721875/38630151-5fd7bc38-3db6-1

[2018-04-11 20:35] Sdaswani commented on #277
Yes we hope to have it fixed soon.

[2018-04-11 20:42] Sdaswani commented on #783
Thanks @AaronMT checking with Amazon.

[2018-04-11 20:56] bkmunar commented on #782
I'd like to pick this up once UX is finalized :)

[2018-04-11 20:57] mcomella commented on #771
Another question:
- For youtube, the best experience is youtube.com/tv, however, the URLs it lists are youtube.com URLs ([sample JSON](https://github.com/mozilla-mobile/firefox-tv/issues/659#issuecomment-375758100)). How can we rewrite these URLs to make them /tv? Perhaps we can use the `dedupe_url` field?

[2018-04-11 21:05] mcomella commented on #782
I think that's only if we split the megatile into multiple tiles (i.e. so there isn't a single "Pocket" section to click on): what did we decide to do for the megatile? Can we update #774 with the details?

We'd have to build it ourselves so it'd take more effort (whereas the toast is trivial): I'd rather spend the implementation effort on higher impact things (like our v2!). I'm also especially c

[2018-04-11 21:25] mcomella commented on #759
### Nav pattern
Conceptually, rows 3 or 4 make the most sense to me: you see where you've been and what's in the future. This is what youtube.com/tv does. fwiw, the Fire TV homescreen does row 2.

I think it's hard to say without trying to use it, however.

### Awkwardly big
I was actually concerned about it being awkwardly tall but...

But it seems everyone else does this and it looks fine so wfm

[2018-04-11 22:16] bbinto commented on #759
@liuche and @mcomella -- I'm a bit confused, while I love the detailed video feed page, I assume we agreed last week to not ship the list view in 3.0 due to concerns about time frame.

Please let me know.

[2018-04-11 22:34] mcomella opened #798 "Add telemetry probe: unique tiles clicked per user per session"
Why: we want to know if our users use the app in a variety of ways or generally use it for a few experiences. This is an important baseline measurement in v2.1 for our homescreen redesign in v3.0, where we hope for users to use the app in a larger variety of ways.

[2018-04-11 22:35] mcomella commented on #51
This was addressed in #507.

[2018-04-11 22:35] #51 closed

[2018-04-11 22:36] mcomella commented on #568
I'm not actively working on this.

[2018-04-12 01:01] liuche opened #800 "Change OnUrlEnteredListener inputs to a sealed class"
This is going to cause some incorrect telemetry for url loading at some point. Currently, `OnUrlEnteredListener` is really confusing to use because it has two functions, but they both call the same thing, just with some arguments as null.

* It should be clear that this interface shouldn't be implemented, and all callers should call through to these
* Have a single function, where the arguments wi

[2018-04-12 07:00] sousmangoosta commented on #787
@AaronMT : I installed Silk after playback issue to verify if it works on Silk, but I'll try and let you know.

[2018-04-12 07:07] sousmangoosta commented on #787
@AaronMT : I uninstalled Silk, clear data on Firefox, reboot, choose no turbo mode, try again to load the movie, same issue.

[2018-04-12 14:56] BrianNJones commented on #782
I don't think "long press" makes sense for something that's not a phone (or, put another way: "long press" is understood to be a phone screen convention). Existing style guides for Roku/Apple TV/etc don't weigh in. I'd like to establish this as a convention:

Press and hold <insert icon or button name> to <action>

So: Press and hold SELECT to unpin from homescreen

[2018-04-12 15:01] AaronMT commented on #787
Thanks for checking.

[2018-04-12 16:31] bbinto commented on #759
Meeting with Tif, Amin, Chenxia, Mike on April 12, we've confirmed the following
- Long one-row mega tile, when user clicks on tile, it opens up the feed list (Amin or Tif will post updated mocks asap)
- Mega tile cannot be removed by user for v 3.0
- Mega tile will be sitting above the current home tiles
- Product not worried about placement / prominence of tiles

Feed List
- Mike to confirm whic

[2018-04-12 18:13] mcomella commented on #759
The leanback `ListRowView` widget does implementation 3/4: it starts on the left but always highlights the center view while scrolling. (I'd post a video but I can't get one on the emulator).

[2018-04-12 18:18] mcomella commented on #761
You can use the leanback support lib's `ListRowView` to implement the carousel. Here's some sample code:
[code]

To use:
[code]

There are also higher level abstractions that combine multiple widgets (e.g. multiple rows), but this seems more flexible and simpler for our use case.

[2018-04-12 18:30] liuche commented on #798
Talked to Frank and from our discussion, per-session is much better than "forever". He also suggested that we could upload unique tileIds per session, obfuscating the bundled tiles with a client salt, but to get this into 2.1 per-session unique tile count should be fine.

[2018-04-12 18:35] liuche commented on #771
@bbinto I can start the conversation with Pocket in an email thread, but can you remind me who the point person is here (w/ email)?

[2018-04-12 20:56] mcomella commented on #798
@liuche Why is it better?

I'm not sure what the value of this is over the count.

[2018-04-12 21:12] mcomella commented on #798
@pocmo I'm adding a probe that needs to reset at the end of a session. The existing telemetry code starts and stops sessions in `onPause/onResume`, which seems wrong to me (e.g. a dialog could stop a session). Why did you choose to put them there instead of `onStart/onStop`?

[2018-04-12 21:23] mcomella opened #801 "Telemetry sessions start/stop in onPause/onResume: should it be onStart/onStop?"
_edit_: We may want to take a step back and work with the data team to determine what we want a session to mean, e.g. should sessions continue if the user goes from Friday into Saturday? Should they have a max length? Should they continue if the user puts the app into the background and reopens the app 5 seconds later?

---

`onPause/onResume` is usually called when focus is moved to an object dra

[2018-04-12 21:31] liuche opened #802 "Provide Firefox TV apks for download (Play Store, Android TV)"
There doesn't appear to be a good TV browser on Google Play for Android TV, except Puffin (which doesn't work in all countries).

* We could provide download links (for people to sideload) [cheap]
* Could release on Play Store (but requires signing, release drivers) [requires other teams]

@ekager (being our unofficial tech PR) mentioned that there are people with Android TVs who ask about getting

[2018-04-12 21:41] liuche commented on #798
Re: questions above:
* per-session vs forever
Frank said aggregating data over even a week was non-ideal because then the analysis is not very granular and can only provide insights into behavior at the weekly level (which could bucket many types of usage, e.g. visiting 1 website every day vs 1 website once a week are different usage patterns that would be helpful to differentiate on).

* Unique t

[2018-04-13 09:38] pocmo commented on #801
I bounce the question back to you. :-)

I think I just followed the approach in Fennec for parity:
https://dxr.mozilla.org/mozilla-central/source/mobile/android/base/java/org/mozilla/gecko/telemetry/TelemetryCorePingDelegate.java#90

There you added the following comment:

However I think this is only true up to Honeycomb:
https://developer.android.com/reference/android/app/Activity.html#ActivityL

[2018-04-13 12:26] bbinto opened #804 "Custom Awesomebar"

[2018-04-13 13:59] aminalhazwani commented on #759
Thanks @mcomella. So this is how it might look. From left to right: first card, second card - which is center in the screen, third card+n - centered in screen -, and last card.

<img width="2337" alt="screen shot 2018-04-13 at 3 52 56 pm" src="https://user-images.githubusercontent.com/1721875/38738773-46852be8-3f33-11e8-876b-9c8c2572cdfc.png">

How do you usually get specs/redlines? Do you and @li

[2018-04-13 14:48] aminalhazwani commented on #782
Thanks @BrianNJones!

[2018-04-13 14:52] #798 closed

[2018-04-13 15:17] mcomella commented on #759
Antlam and Bram used to do things like this: https://cloud.githubusercontent.com/assets/51007/23636057/40ddc66a-0338-11e7-95ae-ae330c77e70f.png I find it helpful because it disambiguates the provided dimensions rather than using text like, "This box should be Xdp".

That being said, I'm not not opposed to trying new things! I noticed that Sketch has a measurement tool so screenshots of a design to

[2018-04-13 15:44] mcomella commented on #801
:hurtrealbad:

Good sleuthing. For fennec history:
- Pre-HC support [was removed on 2016-03-17](https://bugzilla.mozilla.org/show_bug.cgi?id=1220184#c12)
- I implemented session measurements this way [on 2016-05-19](https://bugzilla.mozilla.org/show_bug.cgi?id=1243595#c23)
- I mention in low memory situations (and other reasons) it is less like to be called [on 2016-05-31](https://bugzilla.mozilla

[2018-04-13 15:47] mcomella commented on #435
Dupe #804.

[2018-04-13 15:47] #435 closed

[2018-04-13 15:48] mcomella commented on #804
FYI previous design from #435:
![image](https://user-images.githubusercontent.com/759372/38744706-5b12e438-3ef7-11e8-8d1b-72e34d48220f.png)

[2018-04-13 15:58] pocmo commented on #801
+1 for changing this - we just need to make sure the data folks are looking at still makes sense to them - but I see you are already taking care of that. Please let us know this evolves so that we can follow in Focus (and then Fenix).

Yep. Back then I was still hoping to have a single activity flow. With the exception of settings this mostly is still true

Yeah, that true. I think one use case on

[2018-04-13 16:42] mcomella opened #805 "Fix/suppress Android lint baseline issues and remove baseline file"
We enabled warningsAsError for Android lint in #790: we should go through the baseline issues and fix the issues or suppress them: having a baseline file is not ideal (but there are also higher priorities).

[2018-04-13 17:11] mcomella opened #806 "Upgrade gradle plugin to 3.1.1"
Due to a bug in lint, this is needed to continue my work in #805.

[2018-04-13 17:20] mcomella opened #807 "Audit detekt configuration: make it as strict as possible using baseline"

[2018-04-13 17:21] mcomella opened #808 "Fix/suppress detekt baseline issues and remove baseline file"
We're going to make it stricter in #807: we should go through the baseline issues and fix the issues or suppress them: having a baseline file is not ideal (but there are also higher priorities).

[2018-04-13 17:24] mcomella opened #810 "Enable kotlin warnings as errors"
See also https://github.com/mozilla-mobile/focus-android/issues/1900

[2018-04-13 17:32] kennylong commented on #777
To be consistent with how we are measuring recommendations in the Firefox new tab, Pocket would need impressions and clicks per video recommendation (unique `id` provided in feed response).

[2018-04-13 17:33] mcomella commented on #805
My PR won't finish the issue and I think my time would be better spent on getting detektCheck strict so unassigning.

Note that `UnusedResources` is getting flagged because some resources are used in `amazonWebView*` variants but not `gecko*` variants: I'm not sure it's worth the effort to keep these in-sync.

[2018-04-13 17:55] kennylong commented on #771
@mcomella Taking a stab at answering some of your questions:

* As long as you're hitting the CDN version of the feed (`getpocket.cdn.mozilla.net`) you will be fine.

* You can add a `count` param to the request if you'd like.

* One new video is added to the top of the feed each hour.

* No current plans for this but maybe worth exploring.

* Not sure I follow what the question is here, but happy

[2018-04-13 18:09] bbinto commented on #804
Depends on #575

[2018-04-13 18:10] liuche commented on #804
Q: Do we need to show history?
A: We can show some kind of indicator to differentiate results (e.g. history vs search suggestions)

[2018-04-13 19:09] sousmangoosta commented on #787
For my opinion, by default the webview use the default Android MediaPlayer who not have DRM.
We need to use Amazon port of Exoplayer to support DRM : https://developer.amazon.com/fr/docs/fire-tv/media-players.html#exoplayer

[2018-04-13 19:15] SeburoSUMO commented on #278
A user reported in SUMO that they were unable to scroll down in https://www.projectalpha.com/browse/ .

[2018-04-13 22:14] liuche commented on #795
From Settings, I think we're opening content like About (and links therein). This is something that should be in a separate webview IMO, because it has nothing to do with the user's web history and in a mental model should be "native" - sharing the webviews/backstack here would lead to confusion.

[2018-04-13 23:24] mcomella commented on #802
I [crunched the numbers of non-Amazon devices](https://sql.telemetry.mozilla.org/queries/52549#139939) and also got [a users-per-device list](https://sql.telemetry.mozilla.org/queries/52548): I agree, it's small atm.

[2018-04-15 21:16] IasonNissopoulos opened #816 "Tile placement according to users visits"
## What
 Tiles are sorted according to the times the user has visited the site

## Why

- Less time for the user to find his most visited tiles, which goes in hand with the custom-pinned tiles logic.

- Better user access.

- Faster browsing.

## Positives

- Faster browsing.

- UI look and feel won't change.
## How do I know when I’m done?
- When a tile's website gets more visits than another's,

[2018-04-15 21:25] IasonNissopoulos commented on #816
I am working on it.

[2018-04-16 12:11] aminalhazwani commented on #775
We could use the same chip as we do for the remove tile message https://github.com/mozilla-mobile/firefox-tv/issues/782#issuecomment-380109379

![Remove Pocket Tile](https://user-images.githubusercontent.com/1721875/38560569-37cc2cb4-3cd6-11e8-8349-694c80c5f4d4.jpg)

[2018-04-16 12:13] aminalhazwani commented on #769
@mcomella is this what you need?

![Pocket Video Feed Error](https://user-images.githubusercontent.com/1721875/38565127-cab63e98-3ce0-11e8-9229-c4d87599ab72.jpg)

[2018-04-16 18:25] pchocho commented on #759
Hi there, I'm Peter Cho, the head of design at Pocket. @liuche just invited me. Great to see this work in progress and excited to see videos from Pocket getting sent to this new experience.

For reference, our coral brand color is: #EF4056, and here is the SVG for the Pocket mark.
[LogoPocket_96.svg.zip](https://github.com/mozilla-mobile/firefox-tv/files/1916640/LogoPocket_96.svg.zip)

A couple th

[2018-04-16 18:29] liuche commented on #771
Hi @kennylong, thanks for the answers! A few follow-up questions:

As far as I can tell, this only gives the 3 most recent - do you have a "best 3" or "most popular", so we can provide the most appealing content in our homescreen thumbnail? If Pocket Videos is something experimental at the moment, that's something we can discuss later if Pocket Videos gets traction in Firefox TV.

The TV-optimized

[2018-04-16 18:35] mcomella commented on #769
Yep – thanks! fwiw, I'm still working out how much we cache the feed data and thus how often this can possibly be seen (e.g. if we always have cached data, it'll only be seen the first time).

@BrianNJones Do you have some strings in mind?

[2018-04-16 18:38] aminalhazwani commented on #759
Here the link to the inspectable mocks https://firefoxux.github.io/people/aalhazwani/firefox-for-fire-tv/pocket-video-feed/v6/index.html#artboard0, feel free to ping me if something is not clear nor possible to implement!

[2018-04-16 20:02] liuche commented on #783
Going to bump this back into triage and assign to @Sdaswani because he's following up with Amazon (but this might take a little while bc he's PTO this week).

[2018-04-16 20:03] liuche commented on #755
Bumped #783 back to triage because blocked on Amazon, so won't ship with 2.1.

[2018-04-16 20:03] #755 closed

[2018-04-16 20:08] mcomella commented on #795
I mean if the user had visited some sites, opens settings, leaves the app, clicks a link (or otherwise sends Firefox a browsing intent), and we launch a browserfragment on top of settings. In this case, there are two WebView/BF instances consuming resources.

[2018-04-16 20:09] mcomella commented on #775
@aminalhazwani Sorry I wasn't clear – this bug is also for solving what we should show if we're unable to obtain image thumbnails.

[2018-04-16 20:53] mcomella commented on #816
Thanks for the suggestion @IasonNissopoulos, we'll take a look at this in triage tomorrow.

I received an email saying you were also working on this (it seems that it may have been deleted). I just wanted to suggest you wait until our triage discussion before jumping in because we'll want to review this design and see how it fits in with the vision of the product: do we like it? Does it conflict w