[2018-10-26 23:17] Baron-Severin opened #1400 "[1397] #2: Implement test for onboarding"
Part of #1397

Onboarding is only encountered after fresh installs, and so is not often used during development.

Tests should verify that:
- Onboarding page is shown first time app runs
- Enable turbo mode is clickable
- Disable turbo mode is clickable
- Turbo mode state persists when selected from onboarding

[2018-10-26 23:20] Baron-Severin commented on #1399
Note that QA covers this in TestRail

[2018-10-26 23:28] Baron-Severin opened #1401 "[1397] #3: Implement test for Pocket happy path"
Part of #1397

Pocket is relatively low visibility to developers, but we should know if our changes ever break its happy path.

Given a mocked successful Pocket API response, these tests should verify that:
- Pocket mega tile loads images
- Pocket mega tile is clickable
- Clicking Pocket mega tile navigates to Pocket screen
- Tiles in Pocket screen load images
- Selecting a loaded tile in Pocket s

[2018-10-26 23:35] Baron-Severin opened #1402 "[1397] #4: Implement test for full-screen video"
Part of #1397

We previously had a bug that caused full-screened videos to break when navigating forward and backward (https://github.com/mozilla-mobile/firefox-tv/issues/1224).  As watching videos is a major use case for us, we should write a regression test to make sure that full-screened videos behave as expected.

This test should:
- Write a custom page that supports full-screen video (relying

[2018-10-29 16:41] pocmo commented on #1374
Filed AC issue: https://github.com/mozilla-mobile/android-components/issues/1199

Moved issue in upcoming sprint (0.30)

[2018-10-29 16:47] pocmo commented on #787
Removing a-c label: Patch will be in 0.29.0.

[2018-10-29 22:18] mcomella opened #1404 "Endless log statements: PocketEndpoint: getGlobalVideoRecommendations: network error"
## Steps to reproduce
Unknown. I had left the emulator on in the background and at some point, the emulator screen went black (emulating sleep mode?) and the log spam started

### Expected behavior
Pocket network requests happen in reasonable (on the order of minutes) intervals after failure.

### Actual behavior
[code]

Spams the logs. I think the network request is may be throwing, so we never g

[2018-10-29 22:18] mcomella commented on #1404
CC @Baron-Severin FYI, related to our discussion in your PR.

[2018-10-29 22:20] mcomella opened #1405 "Progress bar gets stuck on screen when menu is open during page load"
## Steps to reproduce
- Click YouTube tile
- Quickly open menu
- Wait for full page load
- Hide menu

### Expected behavior
Progress bar is hidden

### Actual behavior
Progress bar is on screen. When navigating to additional pages, the progress bar remains on the screen.

### Device information
* Fire TV device: Android TV emulator API 26, have repro'd on device
* Firefox version: v3.0+ local

![s

[2018-10-29 22:22] liuche opened #1406 "Add script for signing builds"
### Why/User Benefit/User Problem
While making release builds, there are sometimes differences between debug and release builds, and we should make it easy to test the release builds.
Since unsigned builds do not install on an emulator or device, it's nice to have a script that does the signing with a local keystore to facilitate testing.

### What / Requirements
Add a signing script for firefox-t

[2018-10-30 00:08] liuche opened #1408 "On a fresh install, Pocket megatile is skipped when scrolling down"
## Steps to reproduce
Uninstall Firefox, this only happens on a fresh install
Install Firefox, and click through onboarding screens
Scroll down from nav bar

### Expected behavior
Pocket megatile gets highlighted

### Actual behavior
Nav highlight skips down to home tiles. Scrolling back up works again.

### Device information

* Fire TV device: Cube
* Firefox version: master 1213142

[2018-10-30 00:09] liuche commented on #1408
@Baron-Severin probably fallout from #1283 ?

[2018-10-30 00:18] Baron-Severin commented on #1408
@liuche sounds probable.

[2018-10-30 04:02] Baron-Severin commented on #1408
The Pocket refactor is going to affect the logic for this.  I have a fix on a PR into the refactor, @liuche could you take a look at it?

https://github.com/Baron-Severin/firefox-tv/pull/1

[2018-10-30 04:59] liuche commented on #1173
Hm, it looks like Focus has a different Docker file now - @pocmo is there a better way to update Docker images than building them locally? Otherwise, I'll see if I can just do this.

[2018-10-30 08:51] pocmo commented on #1173
No not really. We haven't automated building the Docker images. Something we could consider doing eventually.

In this case: Your docker image is using `sdkmanager`. You may be able to just run `yes | sdkmanager --licenses` at the beginning of your task. This should accept all new licenses. This may be a faster way to unblock you here.

Eventually you probably still want to update your Docker imag

[2018-10-30 15:25] athomasmoz commented on #787
0.29.0 now available, removing the 'blocked' label

[2018-10-30 17:03] cartertrout commented on #1259
Netflix wants its users to stream through the Netflix native app rather than the browser (with the exception of desktop, where Netflix uses browsers because there is no native app model).

When we engage Netflix, we should consider refraining from disclosing the device details (although that might not be possible) because Netflix will likely make a business decision to not invest in their website

[2018-10-30 18:10] Baron-Severin commented on #1405
This may be fixed by our changes when we rearchitect BrowserFragment, and even if it's not the logic involved will have changed significantly.  If possible, it would be good from an engineering time standpoint to fix this after that rearchitecture has been completed.

[2018-10-30 18:25] mcomella opened #1409 "Record telemetry for which remote controls we receive key events for"
### Why/User Benefit/User Problem
Typically users will use the Amazon hardware remote to input actions. However, they may not always: it'd be good to know how often alternative control mechanisms are used so we know how well we need to support these devices. I believe touch events include a device identifier of some kind.

### What / Requirements
- ~~Figure out which device identifiers there are~~

[2018-10-30 18:28] mcomella opened #1410 ""Forward" button is not enabled when going back on YouTube; can't traverse through back stack"
## Steps to reproduce
- Go to YouTube
- Play a video
- Open menu
- Press back in overlay a few times (e.g. until top-level YouTube)

### Expected behavior
Forward is enabled

### Actual behavior
Forward is not enabled. Not that if you press back some more to a non-YouTube site, forward will be enabled and you can move forward through the YouTube back stack

### Device information
* Fire TV device:

[2018-10-30 18:30] mcomella commented on #1272
We're not seeing a cookies pop-up: we may need to spoof an EU IP address to see the cookies pop-up.

[2018-10-30 18:34] liuche commented on #1308
@netz-filter do you see the problem with exiting on any other site other than Youtube?

Also, we don't yet support alternative HDMI-CEC remote commands, but we can make this a bug for that.

[2018-10-30 18:34] mcomella commented on #1271
The website only supports swipe gestures and we don't support swipe-to-drag. I wonder if this is a accessibility issue on the website's side, e.g. swipe-only seems hard for people with motor impairments.

[2018-10-30 18:35] mcomella commented on #1271
This may be less important if there is an Amazon app on device that would be used instead of the site.

[2018-10-30 18:36] athomasmoz commented on #1266
@AaronMT were you able to reproduce this? This could be a general memory problem, but let's first see if we can reproduce.

[2018-10-30 18:41] liuche commented on #1265
Making this a P3 because not that many people use a lot of custom tiles (or remove all tiles). This could be a problem with RecyclerView (and also might happen if there are too many tiles).

[2018-10-30 18:44] mcomella commented on #1264
I've also seen this in the navigation bar on the home screen.

The solution might be to remove the web font tracker from the block list, assuming that is the problem. afaik, we never really update the Disconnect blocklists so this might be improved if we do that.

@pocmo Do you have a suggestion on how we can fix this issue? I think the Disconnect lists are in a-c now but iirc, we can't update the

[2018-10-30 18:45] mcomella commented on #1259
Waiting on webcompat: https://github.com/webcompat/web-bugs/issues/19963

[2018-10-30 18:47] mcomella commented on #1241
This still only has two crashes: seems insignificant. Closing.

[2018-10-30 18:47] #1241 closed

[2018-10-30 18:50] mcomella commented on #1308
Telemetry to see how often these are used: #1409.

[2018-10-30 18:51] mcomella commented on #1410
Related to #1231?

[2018-10-30 18:52] mcomella commented on #1231
Next steps:
- Try on TV
- If reproduce, then file bug for a-c: we think this was working before moving to a-c (maybe look into the code too)

[2018-10-30 18:54] mcomella commented on #1244
We did this at some point.

[2018-10-30 18:54] #1244 closed

[2018-10-30 18:55] athomasmoz commented on #1225
No longer exists. A-C now handles it

[2018-10-30 18:55] #1225 closed

[2018-10-30 18:57] mcomella commented on #1205
This was fixed at some point.

[2018-10-30 18:57] #1205 closed

[2018-10-30 18:58] #1140 closed

[2018-10-30 18:58] mcomella commented on #1104
Dupe #1366.

[2018-10-30 18:58] #1104 closed

[2018-10-30 19:00] liuche commented on #1215
@liuche to verify

[2018-10-30 20:35] Sdaswani opened #1412 "App exits to device home screen on playing video from IMDB site"
Affected devices      : Fire TV 2014 , Fire TV 2015   ,Amazon Fire TV Edition  ,Fire TV Stick with Alexa Voice Remote, Fire TV Cube ,Fire TV (Gen 3),Fire TV Stick.

Issue Present in Live : Yes

Repro rate            : 5/5

Steps to reproduce:

1. Install and launch the app.

2. Select the IMBD thumbnail from homescreen of the app

3. Once the IMDB site open try to play any video in the site

4. Ob

[2018-10-30 21:06] Sdaswani commented on #1412
@dnarcese could not reproduce on Fire TV Pendant with Fire OS 6.2.5.3. @psymoon checking with the newer OS 6.2.5.5 .

[2018-10-30 21:11] psymoon commented on #1412
@Sdaswani Not reproducible with 6.2.5.5

[2018-10-30 21:17] dnarcese opened #1413 "Upgrade a-c to 0.29.0"
Needed to fix #787.

[2018-10-30 21:39] liuche opened #1414 "Update Sentry to new SDK"
### Why/User Benefit/User Problem
Sentry's SDK has been updated, and the old keys are listed as "deprecated". The keys still seem to work, but we should update on our own schedule, rather than suddenly when things stop working

### What / Requirements
* Upgrade to new Sentry SDK
* Update Sentry keys bundled with clients
* Update secrets on Taskcluster to match

### Acceptance Criteria (how do I kn

[2018-10-30 22:00] liuche commented on #1412
Was able to repro this on the Cube, but it looks like a webview crash. Attaching a log here (this is with Turbo mode off):

[code]

Snipping out some irrelevant looking display state logging.

[2018-10-30 22:15] mcomella commented on #1414
@liuche Did you fix the TC build for release builds or do we have to ask everyone to purge their local Sentry keys?

[2018-10-30 22:27] severinrudie opened #1416 "Rotten Tomatoe video crash after forward seek"
## Steps to reproduce
- Navigate to https://www.rottentomatoes.com/m/pet_sematary_2019/trailers/11309356?
(as of 10/30/18 at 3:20PM PST, this is listed as Pet Cemetary under Trailers and Videos on the RottenTomatoes homepage)
- Play video
- Seek forward

### Expected behavior
- Video fast forwards

### Actual behavior
- Video freezes, then app crashes (reproduced on 2 of 5 attempts)

### Device in

[2018-10-30 22:32] liuche opened #1417 "IMDB videos have inconsistent click behavior (play button, outside play button)"
## Steps to reproduce
Open IMDB video and play it
Click on play button area, or click outside play button (or still in video)

### Expected behavior
Video plays or pauses based on current state

### Actual behavior
When clicked in the play button area, video plays and then pauses, like a double click.
When clicked outside the play button area, the video plays/pauses correctly, but toggles between

[2018-10-31 00:47] Baron-Severin opened #1418 "[1396] #5: Implement test for hardware buttons"
Part of #1396

We handle hardware button presses in a variety of different ways, so it would be possible for us to break one of their uses without noticing.

Tests should verify that:
- Back button presses close full-screened videos when possible
- Back button presses cause the WebView to navigate back when possible
- Back button presses return to home screen when possible
- D-pad presses move foc

[2018-10-31 00:49] Baron-Severin opened #1419 "[1396] #6: Implement test for testing network page load"
Part of #1396

Most of our tests mock out network traffic, so it would be good to have one that makes an actual network request to ensure that related settings are configured correctly.

Test should:
- Select a high-reliability site
- Make network call to said site
- Verify that site loads as expected

[2018-10-31 00:53] Baron-Severin opened #1420 "[1396] #7: Implement test for YouTube"
Part of #1396

YouTube makes up a significant portion of our usage, so it would be good to have an automated test that ensures that we do not push any changes that impact its functionality.  This is relatively important, but these tests will likely be somewhat flakey.

Tests should verify that:
- YouTube loads
- D-button presses move focus around page
- Selecting a video causes it to play
- Pause,

[2018-10-31 00:59] Baron-Severin opened #1421 "[1396] #8: Implement tests for accessibility"
Part of #1396

Accessibility is very important, but it is also very easy to miss regressions related to it.  We should investigate how other teams test accessibility, and write several smoke tests to ensure that we will notice if accessibility breaks.

[2018-10-31 01:02] Baron-Severin opened #1422 "[1396] #9: Implement test for top 20 sites"
Part of #1396

We should gather telemetry information about sites most used on our app, and identify important flows for the most popular on the list.  It would help to be able to verify that our most important destinations (and preferably at least a few of our bundles tiles) work as expected.  These tests will be very flakey (as they will be reliant upon network connection, and also site specific

[2018-10-31 01:05] Baron-Severin opened #1423 "[1396] #10: Implement test for autocomplete"
Part of #1396

Typing using a TV remote is very difficult, so our users are extremely reliant upon good autocorrect.  It would be good for us to write a smoke test to make sure that this functionality works as expected, although working out how to write this will require some investigation.

[2018-10-31 01:07] Baron-Severin opened #1424 "[1396] #11: Implement test for progress bar"
Part of #1396

We have seen a few minor regressions related to the progress bar, and so it would be good to write a test that would catch any reoccurrences.

This should verify that:
- Progress bar is visible during loading
- Progress bar is invisible after loading
- Progress bar shows the correct URL
- Progress bar animates while it is on screen

[2018-10-31 11:52] netz-filter commented on #1308
Fire TV 3+Firefox TV pre-release v3.0.1.1

Except for Youtube I could not find any more problems.

As a fallback would be alternative HDMI-CEC commands for the Home and Menu keys would be desirable.

Firefox TV v3.0.2 has already been officially released and added to the Amazon Store?

[2018-10-31 12:16] netz-filter commented on #1308
A similar [problem](https://forums.geforce.com/default/topic/996307/?comment=5095446) except that someone was looking for a suitable remote control.

[2018-10-31 15:06] abodea opened #1426 "Scrolling is not working on twitch.tv"
## Steps to reproduce

1.  Go to www.twitch.tv.
2. Access home page / search option / any channel(that has panels under the live stream / viewers list
3. Scroll down

### Expected behavior
 The scroll up/down should work and the video/lists should be reachable
### Actual behavior
The scroll is not working on twitch.tv and the videos/lists cannot be reached
### Device information

* Fire TV device:

[2018-10-31 15:47] abodea opened #1427 "The FF for FireTV crashes when minimized a live stream video"
## Steps to reproduce
1. Open www.twitch.tv
2. Access any livestream
3. From the video livestream channel, select the 3 dot menu
4. Select the videos menu(this option is used for the past broadcast videos)

### Expected behavior
The livestream video is minimized and the other videos(past broadcasts) are visible
### Actual behavior
The FF for FireTv crashed after the livestream video is minimized(a

[2018-10-31 15:49] abodea commented on #1427
Note that I was able to find only the following crash stack:

1540999184.287 3474-4101/? I/CrashReporterActivityManagerCallback: addErrorToDropBox inserted hashcode=7f37948a773d276738e4f5a8b1ead734f48b7ded for eventType wtf.
1540999184.508 3474-3486/? I/CrashDescriptorUtil: addErrorToCommonLog Hash already present in file
1541000400.960 4854-4912/? D/AmazonCMS: CMS is starting up (postCrash: false

[2018-10-31 16:01] AaronMT commented on #1401
Onboarding too?

[2018-10-31 16:06] AaronMT commented on #1266
Build: c6bb934ec13921d5d299423ed6d32c9a0bf62948
Device: 4K Stick.

Wasn't able to reproduce using the steps above. @levisacal can you reproduce on a basic TV stick?

[2018-10-31 16:10] AaronMT commented on #1427
I had to switch to desktop mode.

[2018-10-31 16:11] AaronMT commented on #1426
The mobile site works for me. To get the desktop site, I had to manually access the desktop site in the dotted menu in the top right.

[2018-10-31 16:20] abodea opened #1428 "The livestream video gets truncated after accessing it for the second time"
## Steps to reproduce
1. Go to www.twitch.tv.
2. Select any livestream video and start watching.
3. Navigate to the videos channel section(past broadcast)
4. Click on the livestream "Name"(channel) in order to access the livestream video
### Expected behavior
The livestream video is displayed correctly
### Actual behavior
After returning from videos section, the livestream video gets truncated on

[2018-10-31 16:22] abodea commented on #1426
Hello Aaron I forgot to mention that this issue occurred to me in desktop mode too.

[2018-10-31 16:22] Baron-Severin commented on #1401
I think we should be safe to skip onboarding in this test, https://github.com/mozilla-mobile/firefox-tv/issues/1400 will cover it.

[2018-10-31 17:57] AaronMT opened #1429 "URL in address-bar from YouTube casting fails to load independently"
Testing YouTube casting to my Fire TV device. I casted one video, and then backed out to the home-screen. I attempted to visit the URL that was placed in the address bar and just got a black screen.

Tested via c6bb934ec13921d5d299423ed6d32c9a0bf62948 on my FireTV 4K Stick.

[2018-10-31 18:06] liuche commented on #1286
After testing the new casting behavior, we've found that there actually...isn't a way to choose Firefox or Silk - the OS just decides somewhat arbitrarily.

Still waiting on @athomasmoz to see what we want to do about this Silk/Youtube casting issue. @athomasmoz if we don't figure out a way to cast directly to Firefox, will we move this out of this sprint?

For now, I'll just export these strings,

[2018-10-31 18:07] liuche commented on #1286
We can use [ImageSpan](https://developer.android.com/reference/android/text/style/ImageSpan#ImageSpan(android.graphics.drawable.Drawable,%20int)) to embed the cast icon in the text.

[2018-10-31 19:48] mcomella commented on #1298
We have a BasicNavigationTest that's supposed to cover back/forward enabled at the UI level but perhaps this navigation pattern is more specific and needs a different regression test.

[2018-10-31 19:49] mcomella commented on #926
This probably got fixed with components.

[2018-10-31 19:49] #926 closed

[2018-10-31 19:49] mcomella commented on #407
Probably cleared with components.

[2018-10-31 19:49] #407 closed

[2018-10-31 19:50] mcomella commented on #38
This is handled by components now: they're probably doing the right thing. :)

[2018-10-31 19:50] #38 closed

[2018-10-31 19:55] mcomella commented on #282
We do this now.

[2018-10-31 19:55] #282 closed

[2018-10-31 19:55] mcomella commented on #290
Dupe #1235.

[2018-10-31 19:55] #290 closed

[2018-10-31 19:55] mcomella commented on #291
This isn't possible yet.

[2018-10-31 19:55] #291 closed

[2018-10-31 19:56] mcomella commented on #451
This was done.

[2018-10-31 19:56] #451 closed

[2018-10-31 19:59] athomasmoz commented on #1429
@AaronMT is this reproducible on Silk?

[2018-10-31 20:03] mcomella commented on #654
We only have one WebView now.

[2018-10-31 20:03] #654 closed

[2018-10-31 20:04] mcomella commented on #747
^ See above. Also, this check might happen in automation-tools repo.

[2018-10-31 20:04] #747 closed

[2018-10-31 22:20] athomasmoz opened #1433 "Youtube Fling Plays Previous Youtube Video"
## Steps to reproduce

1. Youtube fling a video (video A). Make sure it plays through Firefox
2. Disconnect youtube (using your phone) and close it
3. Close Firefox on Fire TV and open another app
4. Youtube fling another video (video B)

### Expected behavior

Video B plays on the Apple TV

### Actual behavior

Video A plays on the Apple TV through Firefox

### Device information

* Fire TV devic

[2018-11-01 12:08] sousmangoosta commented on #787
I can confirm it's ok with a-c 0.29

[2018-11-01 14:52] AaronMT commented on #1429
no

[2018-11-01 16:30] AaronMT commented on #1433
Doesn't it get added to the YouTube queue by default and plays after the first video?

[2018-11-01 18:11] #817 closed

[2018-11-01 18:20] liuche commented on #1433
@athomasmoz ^

[2018-11-01 18:22] liuche commented on #1380
Opened PR for export: https://github.com/mozilla-l10n/firefoxtv-l10n/pull/16

[2018-11-01 18:52] athomasmoz commented on #1433
I will test that out. Would that be desirable behaviour though? If someone sees a video on their phone and wants to play it on their TV, does it make sense it's added to the end of a queue rather than just playing straight away? cc @aminalhazwani

[2018-11-01 18:56] liuche opened #1437 "Merge missing changelog changes from branch-releases into master"
We've been doing branch-releases, so those changelogs are not reflected in master. Pulling them into changelog on master from the Releases page.

[2018-11-01 19:01] Baron-Severin opened #1438 "Write better way to test LiveData emissions"
### Why/User Benefit/User Problem
LiveData tests are currently verbose and difficult to read.  It would help make testing easier to write and maintain if we had a few helper functions that made them easier to set up.

[2018-11-01 19:19] mcomella opened #1441 "[1364] Consolidate testing initialization code"
We add SessionIdlingObserver and skipOnboarding rules to every test and there is a lot of redundancy. Let's clean it up before we write more tests because it's less work to change now.

[2018-11-01 20:46] Baron-Severin opened #1442 "ProgressBar lingers after page load"
### Why/User Benefit/User Problem
We are currently displaying the ProgressBar for three seconds after a page load completes.  Based on personal, informal testing, shortening this seems to have a massive impact on perceived performance.  I think we should consider tweaking this number.

Current (3 second pause)
![progress-3](https://user-images.githubusercontent.com/13170306/47878804-5f869800-dddc-

[2018-11-01 20:50] liuche commented on #1380
Merged.

[2018-11-01 20:50] #1380 closed

[2018-11-01 22:29] Baron-Severin opened #1444 "Emulator only: Progress bar updates rapidly with junk URLs when turbo mode is on"
NOTE: reproducible on emulator only

## Steps to reproduce
- Turn on Turbo mode
- Select RottenTomatoes tile

### Expected behavior
- Progress bar should display "www.rottentomatoes.com"

### Actual behavior
- Progress bar rapidly shifts between ad related URLs

### Device information

* Fire TV device: Emulator
* Firefox version: f4d3262811011976ac913e66c08c7b160318e5e7

![with-turbo](https://use

[2018-11-01 22:29] Baron-Severin commented on #1444
Won't fix: issue filed for documentation purposes only

[2018-11-01 22:46] liuche opened #1446 "Take L10N screenshots"
All features with strings have landed, with the exception of #1286 Youtube Casting Hint (which is blocked) and #202 Request desktop site (which is toast-strings only - do we take screenshots for toasts?).

@AaronMT how long would screenshots take, and can you make sure that we are getting screenshots for the new "Turbo Mode onboarding" screen?

[2018-11-01 22:49] psymoon commented on #1398
Required for https://github.com/mozilla-mobile/firefox-tv/issues/1391

See: http://robolectric.org/migrating/

[2018-11-02 00:00] liuche commented on #1437
Oops, closed by #1440

[2018-11-02 00:00] #1437 closed

[2018-11-02 00:11] #1365 closed

[2018-11-02 00:35] mcomella opened #1448 "[1364] PageLoadTest fails; convert to Robot pattern & make NetworkPageLoadTest"
BasicNavigationTest does basic browser navigation with local files so now we really only want this test to make sure the network part of page loads is still working. Fix it, move it to our Robot pattern, and make it clear it's only for network page loads.

I think the failure is caused because the page layout changed: we should use pages we have control over. Here's the failure:
[code]

[2018-11-02 00:57] mcomella commented on #1444
The URL that ends up in the overlay **is not always the page that was loaded**. STR:
- Visit mozilla.org
- Wait for page to load
- Open overlay

Expected: url is mozilla.org
Actual: url is google analytics. See screenshot:
![screenshot_1541120121](https://user-images.githubusercontent.com/759372/47888025-8b674500-ddff-11e8-8e88-a8b3a8879056.png)

This is bad because it makes it difficult to know i

[2018-11-02 01:00] mcomella commented on #1444
@pocmo Has anything changed in a-c that might have caused this? If there's nothing on the top of your head, we'll investigate: it could be us too! :)

[2018-11-02 01:06] mcomella commented on #1444
Once this is fixed, we'll have to fix `NetworkPageLoadTest` (assuming #1448 lands).

[2018-11-02 07:56] pocmo commented on #1444
I don't remember any change in that area that could have caused this. I only see us updating the URL in the `Session` from `onPageStart()` and `onPageFinished()`.

[2018-11-02 08:02] pocmo commented on #1264
Do you know more here? Do you know which tracker may have caused that? `Session.trackersBlocked` contains a list of trackers that we have blocked for the currently loaded page.

Yeah, the lists are part of `browser-engine-system`. We could consider updating them. Without full DNT support we won't be able to block everything - regardless of which version we use.

For reference. Firefox's lists are

[2018-11-02 08:20] pocmo commented on #1264
I filed an issue in the AC repository: https://github.com/mozilla-mobile/android-components/issues/1252

After looking at the code there may be a situation where we block a webfont here (maybe even with TP disabled). Can you try to reproduce this and see if there's anything in `Session.trackersBlocked` for that page?

[2018-11-02 12:41] aminalhazwani commented on #1433
For this specific scenario (where you close both Firefox and YouTube) when you cast video B, video B should play. So how @athomasmoz described it.

For what @AaronMT described, if you don't close both apps, and you try to cast a second video the YouTube mobile app prompts you with a modal that asks you if you want to play it immediately or add it to queue.

![img_ee481cc3f476-1](https://user-image

[2018-11-02 15:32] dnarcese opened #1452 "Upgrade to a-c 0.30 - Use a-c ic_device_desktop"
The previous desktop site icon was not the right size, so using our own version until a-c is upgraded.
(Didn't want to block merging https://github.com/mozilla-mobile/firefox-tv/pull/1411 on this)

Link to a-c issue: https://github.com/mozilla-mobile/android-components/issues/1256

[2018-11-02 15:38] AaronMT commented on #820
Not sure how to 'exit Firefox'. I hit the Home button, and tap Firefox and the app resumes. However, I did restart my device and loading the pinned YouTube URL loads the video fine.

Works for me?

[2018-11-02 15:48] #820 closed

[2018-11-02 15:58] AaronMT commented on #1446
First run turbo mode on boarding: https://www.dropbox.com/sh/kzcf7d66sw0oke6/AAC3Z4Zjk1toFiVeTdT7ahUea?dl=0

[2018-11-02 16:17] Delphine commented on #1446
Thanks Aaron! very helpful :)

[2018-11-02 19:35] Baron-Severin opened #1453 "VideoVoiceCommandMediaSession Kotlin NPE"
See https://sentry.prod.mozaws.net/operations/firefox-tv/issues/4898695/?query=is:unresolved

This was first seen on 10/31/18, and we're seeing around 3k events per day (good to fix, but not critical).

Kotlin NPE is thrown when a null value is passed as an argument to a non-nullable param, and in this case it seems to be caused by a double-bang in `WebRenderFragment#onDestroyView` that calls into

[2018-11-02 19:49] Baron-Severin opened #1454 "IllegalStateException on showBrowserScreenForCurrentSession"
First seen: 10/31/18
Approximate instances per day: 550

See https://sentry.prod.mozaws.net/operations/firefox-tv/issues/4898589/?query=is:unresolved

The proximate cause of this seems to be that `MainActivity` is sometimes calling `ScreenController.showBrowserScreenForCurrentSession` after `onSaveInstanceState` has been hit, resulting in an `IllegalStateException`.  Some quick research online sug

[2018-11-02 19:55] Baron-Severin opened #1455 "lateinit property not initialized before access in MainActivity"
First seen: 10/31/18
Approximate instances per day: 60

See https://sentry.prod.mozaws.net/operations/firefox-tv/issues/4898723/?query=is:unresolved

From the stack trace, it is not clear to me what property has not been properly initialized.  The fact that this is a Kotlin error leads me to believe that the problem is on our end, and with such a low error count seems likely to be caused by an inf

[2018-11-02 20:12] sousmangoosta opened #1456 "[Youtube] Icons doesn't appears correctly on master branch"
## Steps to reproduce

Run youtube on master branch with commit >= 0358236948c540f66834e74d41d5f55fe97e2b02
It's ok on commit 398d0287e147782b7cf760614f20d9e7682f4fd7 (second screenshot)

### Expected behavior

Icons should appears on left menu bar

### Actual behavior

Only accounts icon appears on the left menu bar.

### Device information

* Fire TV device: ?
* Firefox version: ?

<img width="1

[2018-11-02 20:37] #202 closed

[2018-11-02 22:56] liuche commented on #1446
@Delphine are there more screenshots that you need? If not, I'll close this issue (since screenshots won't work for any of the other new features, and we're removing Youtube hint from this release).

[2018-11-02 23:05] #1438 closed

[2018-11-02 23:52] Delphine commented on #1446
I think we are good to go then. thanks!

[2018-11-03 01:39] #1406 closed

[2018-11-03 01:41] #1446 closed

[2018-11-03 02:58] Baron-Severin commented on #1453
Upon closer inspection, a better course of action seems to be moving JS init and cleanup in the `WebViewCache`.  This will require either pulling a significant amount of context into the cache, or providing it with a reference to an instance of `VideoVoiceCommandMediaSession`.  The latter is probably doable, but given the low number of crashes and high volume of work at present, this will be put o

[2018-11-05 12:12] levisacal commented on #1259
This is a multi-part message in MIME format.
--------------3E79B05439A84DCF0AE295CE
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: 7bit

    Hello,

        I am out of office from October 22 to November 2. Back at work
        on November 5.

      For
        any urgent issues or any enquiry please contact Ioana Chiorean
        <ioana.chiorean@softvisioninc.eu>

        Thank

[2018-11-05 16:00] AaronMT opened #1462 "Unable to scroll on YouTube.com"
- Visit http://www.youtube.com
- Attempt to scroll off-screen

This makes YouTube.com unusable.

Tested with c1fd2d0030a518be8b59eb5365aac9c103422642 (master) on a 4K Stick.

[2018-11-05 16:08] AaronMT commented on #1462
This was actually the Gecko APK.

[2018-11-05 16:37] AaronMT opened #1463 "CNET video fails to load"
- Visit http://cnet.com
- Visit the videos section and click on any video

The controls are all greyed out and the video is black. I suspect on load it's hitting some compatibility error in web console.

This works in Silk.

Tested with c1fd2d0030a518be8b59eb5365aac9c103422642 (master) on a 4K Stick.

[2018-11-05 16:49] #1441 closed

[2018-11-05 17:45] psymoon commented on #1412
I can't seem to reproduce this on cube (OS 6.2.5.5). I tried playing 5 videos with turbo on and off. @npark-mozilla can also confirm

[2018-11-05 21:29] mcomella opened #1464 "[1364] Change `toggleTurbo` to explicit on/off; unify `turnDesktopModeOn/Off`"
In NavigationOverlayRobot, we have two different paradigms:
- toggleTurbo
- turnDesktopModeOn/Off (which asserts the current state is the opposite of what's requested and changes the value)

We should consolidate our approaches. There are three:
1. Toggle
1. "turn on" will assert the current state is off and switch it on
1. "turn on" will look at the current state and switch it on only if it's alr

[2018-11-05 21:30] #1448 closed

[2018-11-05 21:37] Baron-Severin commented on #1464
I prefer option 2 as well.

I disagree regarding merging `turnXOn` and `turnXOff` into `setX(boolean)`, though.  The repetition is very minor, it adds very little code to maintain (it just adds a `!` or `not` to the other call, most changes won't break that), and I find it to be more readable.

[2018-11-05 21:46] mcomella opened #1465 "Consider implementing long press on back button to open back stack"
### Why/User Benefit/User Problem
Sometimes a user wants to go back in history by more than one site: this requires them to hit the back button until the page they wanted to see has been loaded. However, wobile devices can be slow and have limited bandwidth so this process can take a while.

Fennec has a feature where you can long-press the back button to open the back stack: it'd be cool to imple

[2018-11-05 21:47] #1366 closed

[2018-11-06 09:00] aminalhazwani commented on #1465
@mcomella do we have telemetry on Fennec of the % of users who is this feature against the % of users who press the back button multiple times?

[2018-11-06 17:50] #1408 closed

[2018-11-06 18:58] Baron-Severin opened #1467 "Clean up LiveData tests"
Our first LiveData tests were written in a way that can be improved.  The following improvements should now be made:

- Move from Espresso to JVM.  Use `PreventLiveDataMainLooperCrashRule` rule to allow this
- Use `postValue` instead of wrapping tests in `ActivityTestRule#runOnUiThread`
- Replace awkward creation and replacement of observers with our new `LiveData#assertValues` extension function

[2018-11-06 19:34] liuche commented on #1442
@aminalhazwani since this is tiny, we'd like to do this in the next sprint because it's literally just changing a "how long we want to delay"

Here's the line to change, if you want to try some values (and you can even make a PR if you want :P)
https://github.com/mozilla-mobile/firefox-tv/blob/master/app/src/main/java/org/mozilla/tv/firefox/webrender/FirefoxProgressBar.kt#L25

[2018-11-06 19:37] liuche commented on #1428
Is this also in Silk?

[2018-11-06 19:42] liuche commented on #1417
@npark-mozilla and @psymoon couldn't repro, and this seems minor so we can close this.

[2018-11-06 19:42] #1417 closed

[2018-11-06 19:52] athomasmoz commented on #1275
@levisacal can you share a video of what the glitch looks like?

[2018-11-06 19:53] liuche opened #1468 "Problems with signing in with Facebook credentials"
This bug is to look at Facebook signin flow, which has some problems (see #1277 and #1273 for more details).

Could be because Facebook signon might be using popups or some other flow, which causes problems.

[2018-11-06 19:53] liuche commented on #1274
Duping to #1468.

[2018-11-06 19:54] liuche commented on #1277
Duping to #1468.

[2018-11-06 19:54] #1277 closed

[2018-11-06 19:57] athomasmoz commented on #1266
General memory concern and not reproducible on newer devices. Closing for now

[2018-11-06 19:57] #1266 closed

[2018-11-06 21:38] Baron-Severin opened #1469 "Release WebView reference in onLowMemory"
We have a fair number of out of memory exceptions, especially on the Stick, and they appear to be thrown primarily when the app is backgrounded.  With a recent change that allows `WebViewCache` to store significant state between `WebView` instances, it may make sense to release our `WebView` reference in low memory scenarios.

To do:
-  Clear `WebViewCache` in `onLowMemory`
- Verify that this does

[2018-11-06 21:47] mcomella opened #1471 "[startup crash] UninitializedPropertyAccessException: lateinit property serviceLocator has not been initialized"
Launch local build and crashes on startup in emulator:

     Caused by: kotlin.UninitializedPropertyAccessException: lateinit property serviceLocator has not been initialized
        at org.mozilla.tv.firefox.webrender.WebRenderFragment.onCreate(WebRenderFragment.kt:94)
        at android.support.v4.app.Fragment.performCreate(Fragment.java:2414)
        at android.support.v4.app.FragmentManagerImp

[2018-11-06 22:44] #1471 closed

[2018-11-06 23:51] #1268 closed

[2018-11-07 04:18] Baron-Severin opened #1474 "Crash when backing from the last site in the backstack"
## Steps to reproduce
- From home screen
- Select any pinned tile
- Hit back button

### Expected behavior
- Return to home screen

### Actual behavior
- Crash with KNPE

### Device information

* Fire TV device: emulator
* Firefox version: 03605889383ed1d861e4326acef552824cc20d08

### Additional information

It looks like this was introduced in ce95451e60da81475d0119fd7870874af672d52e, where we a

[2018-11-07 15:07] levisacal opened #1476 "No video shown when in fullscreen on watchcartoononline.com"
## Steps to reproduce

Go to watchcartoononline.com
Watch any video in Full Screen (i.e. family guy)

### Expected behavior

Video plays correctly in full screen

### Actual behavior

Video is not shown when in full screen

### Device information

*Fire TV device: fire tv with 4k and Alexa Voice Remote
*Firefox version: 3.0

https://youtu.be/pHHcslLoCy0

[2018-11-07 15:07] levisacal commented on #1275
Hi @athomasmoz,

Wasn't able to reproduce anymore on the current production version neither on the above site or on twitch or vimeo.

But when entering full screen on watchcartoononline.com the screen did not show the video. I have logged in another issues for this  https://github.com/mozilla-mobile/firefox-tv/issues/1476

[2018-11-07 16:21] AaronMT opened #1477 "Images missing in browser"
Build: 03605889383ed1d861e4326acef552824cc20d08

Lately I am seeing missing images on sites

E.g, Reddit

![screen shot 2018-11-07 at 11 17 19 am](https://user-images.githubusercontent.com/102331/48144403-ceea0500-e27e-11e8-99ce-af21f67da307.png)

E.g, CNN

![screen shot 2018-11-07 at 11 19 13 am](https://user-images.githubusercontent.com/102331/48144496-08bb0b80-e27f-11e8-9b9f-781b33c2ba0f.png)

[2018-11-07 16:45] athomasmoz commented on #1275
Thank you! I'll close this issue and will triage the new one you've created

[2018-11-07 16:45] #1275 closed

[2018-11-07 17:03] Baron-Severin commented on #1477
This looks like https://github.com/mozilla-mobile/firefox-tv/issues/1264.  Turbo mode is blocking custom fonts, so we get these weird symbols instead.

[2018-11-07 17:16] AaronMT commented on #1477
Can confirm disabling turbo mode fixes this.

[2018-11-07 18:56] mcomella commented on #1477
I agree with Severin: dupe #1264.

[2018-11-07 18:56] #1477 closed

[2018-11-07 18:56] mcomella commented on #1264
In #1477, we also see this on TD Bank, Reddit, and CNN.

[2018-11-07 22:01] dnarcese commented on #1239
@aminalhazwani If there is more than one author, how should they be displayed? Would a comma-separated list make sense?

[2018-11-07 22:18] Baron-Severin opened #1480 "Pocket refactor regression: crash when backing out of Pocket screen"
## Steps to reproduce
- From home screen
- Select Pocket mega tile
- Hit back button

### Expected behavior
- Return to home screen

### Actual behavior
- Crash to desktop

### Device information

* Fire TV device: Stick
* Firefox version: 53a375c144f7a23464c47ff702ab8b8ac4a020cf

### Stack trace
11-07 14:15:01.679 18743-18743/org.mozilla.tv.firefox.debug E/AndroidRuntime: FATAL EXCEPTION: main

[2018-11-07 22:48] Baron-Severin commented on #1392
@aminalhazwani I noticed some odd toolbar behavior, and I wanted to verify with you what we wanted before putting too much work into recreating it.

STR:
- Navigate to pinned tile (URL bar is updated)
- Open menu
- Open URL bar keyboard
- Delete a few characters
- Close keyboard (URL bar text is unchanged)
- Unfocus URL bar

Expected:
???

Actual:
User text is replaced by current URL

So my questi

[2018-11-07 23:46] #1442 closed

[2018-11-08 00:43] mcomella commented on #1465
@mmccorks Do you know if we have this data?

[2018-11-08 09:01] aminalhazwani commented on #1239
@dnarcese yes, comma-separated list makes sense! Eg `CNN, YOUTUBE`

[2018-11-08 10:43] pocmo commented on #1452
Removing a-c label: This was released with 0.30.0.

[2018-11-08 14:17] levisacal commented on #1412
Was only able to reproduce 2 times after around 20 tries on Fire TV with 4k and Alexa Voice Remote (OS 6.2.5.5). No specific STR just tried to watch a video on IMBD. Firefox version 3.0.2

[2018-11-08 17:55] athomasmoz opened #1482 "Tile for Event"
https://docs.google.com/document/d/1NhIta9XU5Lv1-1OmnTCYTNc-613VHrhzRZ0FqsOTq3M/edit?ts=5be2ab9a

[2018-11-08 20:22] #1413 closed

[2018-11-08 21:10] Baron-Severin opened #1483 "IMDB request desktop site doesn't work"
## Steps to reproduce
- Open IMDB
- Request desktop site

### Expected behavior
- IMDB desktop site displayed

### Actual behavior
- IMDB mobile site displayed

### Device information

* Fire TV device: Cube
* Firefox version: 53a375c144f7a23464c47ff702ab8b8ac4a020cf

### Theory
We are redirected to www.m.imdb.com.  My theory is that, when we send a desktop user agent but navigate to this mobile U

[2018-11-08 22:41] dnarcese opened #1484 "Move transformation logic out of PocketVideoAdapter, into PocketViewModel"
Currently, if the Pocket API does not return an author, the pocket video adapter is transforming the author field into the platform of the video by formatting the url. This transformation should happen in the VM, but `FormattedDomain#format` needs reference to context, which the VM doesn't have.

Possible solution (from @Baron-Severin):
- change FormattedDomain from being a singleton into being a

[2018-11-08 22:56] mcomella opened #1485 "Move codecov to TaskCluster, remove travis CI"
### Why/User Benefit/User Problem
We have two CI – TaskCluster and Travis – and this makes our CI more fragile to failures (i.e. travis is down) or if travis shuts down. As such, we want to move all our CI to infrastructure we own: TaskCluster.

codecov is currently running on travis and android-components managed to move codecov to TC: https://github.com/mozilla-mobile/android-components/pull/125

[2018-11-09 00:03] #1239 closed

[2018-11-09 00:15] Baron-Severin commented on #1231
Filed https://github.com/mozilla-mobile/android-components/issues/1311

[2018-11-09 00:54] Baron-Severin commented on #1392
Thanks for the clarification!  I'm changing the behavior to update the URL when the user interacts with something (clicking a tile, forward, back, refresh, etc), but otherwise to hold on to what they last typed.

@aminalhazwani on an unrelated question, I noticed that we don't currently close the overlay when the user refreshes.  That feels wrong, do you mind if I change that?

[2018-11-09 01:44] liuche opened #1486 "Kotlin coroutines requires the unsigned META-INF that are being removed"
The signing script `tools/sign-apk.sh` removes unsigned content from the apk bundle, but Kotlin requires the `META-INF/` files. For now, put them back.

[2018-11-09 10:22] aminalhazwani commented on #1392
@Baron-Severin yeah, I absolute agree. I think we have an issue for that, lemme find it. Here https://github.com/mozilla-mobile/firefox-tv/issues/1288 🙂

[2018-11-09 13:02] aminalhazwani commented on #1071
So, I've been thinking about this for a while and we're possibly closer to a solution. Before diving into the proposal some important info:

- UPPERCASE (R) indicates actions executed with the remote
- Lowercase (T) indicates actions executed with the toolbar

This proposals takes also into account the fact that we want to use the MENU (R) for contextual features (see #1167).

The following image

[2018-11-09 18:38] Baron-Severin opened #1489 "Failed Pocket network requests do not print their exceptions"

[2018-11-09 19:20] #1348 closed

[2018-11-09 19:30] #1486 closed

[2018-11-09 21:03] mcomella commented on #1362
@athomasmoz I would like to work on this this sprint.

[2018-11-09 21:07] Sdaswani commented on #1412
@Sdaswani to have @haldemann99 have their QA team try to repro on the LAT.

[2018-11-09 21:08] liuche commented on #1125
@BrianNJones any thoughts on this?

[2018-11-09 21:38] #1489 closed

[2018-11-09 22:00] liuche opened #1491 "Bundled pinned sites not showing up as "pinned" in overlay"
## Steps to reproduce
Open bundled site.
Open overlay.

### Expected behavior
Pin icon is filled in, when on a bundled site, functionality added in #533 (except for problems with redirects like youtube.com/tv)

### Actual behavior
Site shows as unpinned, even though it's a bundled site.

### Device information

* Fire TV device: 4k
* Firefox version: master bde0ee04

[2018-11-09 22:15] mcl21014 opened #1492 "Grey Screen on Resuming Firefox for Fire TV"
## Steps to reproduce
Open Firefox after allowing device to idle a while, and notice a grey screen pops up.
### Expected behavior
Webpage or start page should load normally.
### Actual behavior
You get a grey screen and nothing loads unless you press the home button. This includes URLs, refreshing the page, etc.
### Device information
Fire OS 6.2.3.2
* Fire TV device: Fire Stick 4k (2018)
* Firefo

[2018-11-09 22:17] mcl21014 commented on #1492
Behavior seems occasional, not 100% sure on how it's triggered.

[2018-11-09 23:06] liuche commented on #1273
Duping this to #1468.

[2018-11-09 23:06] #1273 closed

[2018-11-09 23:07] #1285 closed

[2018-11-09 23:42] Sdaswani opened #1495 "Crash on Sky Video"
## Steps to reproduce
When I try to open the following https://video.sky.it/news/diretta on Fire TV and Fire Stick keep crashing.

### Expected behavior
No crashes

### Actual behavior
Crash

### Device information

* Fire TV device: TV Stick
* Firefox version: Production

[2018-11-10 01:13] #1045 closed

[2018-11-10 01:14] liuche commented on #1173
Updated the TC release docker image to match the ones for PRs, which fixes this issue, see green release build task:
https://tools.taskcluster.net/groups/Ofm4Ph1aSoS-i-1CsVWfuQ

[2018-11-10 01:14] #1173 closed

[2018-11-10 20:02] giofish commented on #1495
Video showing crash:
https://youtu.be/J_vIOSXqlkc

[2018-11-11 17:00] mcl21014 opened #1497 "Turbo mode breaks images in 3.0.2.1"
## Steps to reproduce
1) Enable turbo mode.
2) Load up a web page such as html5test.com or youtube.com for example.
### Expected behavior
Images should not have a grey box with an X in them and page should load. (Possibly unicode replacement symbol or image placeholder?)
### Actual behavior
Grey boxes with Xs in them appear sporadically as long as turbo mode is enabled.
### Device information

* F

[2018-11-11 19:47] mcl21014 opened #1498 "Pocket links freeze browser in 3.0.2.1"
## Steps to reproduce
Open one of the suggested Pocket links on the main page of Firefox.
### Expected behavior
Pocket link loads up and an article or video or whatever is displayed.
### Actual behavior
The links have some sort of Mozilla text placeholder and a bunch of jargon as their text description. Upon selecting a dark grey screen appears and the throbber appears indefinitely, only way to st

[2018-11-12 14:50] BrianNJones commented on #1125
I'd vote for redundant here. It may be redundant, but it's contextual and probably helpful.

[2018-11-12 18:19] mcl21014 opened #1499 "Add (multitasking) Picture in Picture Mode for FireOS6 based devices"
### Why/User Benefit/User Problem
You can't currently watch a video and multitask on a Fire TV. This is annoying. No web browser currently allows this. Allowing PiP mode would grant multitasking abilities to the user on supported devices.
### What / Requirements
Device must run at least FireOS6. I know for a fact Nougat on Android TV supports PiP mode, but I'm uncertain if Amazon has removed it.
#

[2018-11-12 18:20] mcl21014 commented on #1499
Sorry edited bug on mobile and couldn't edit properly. Will fix up bug description ASAP.

[2018-11-12 18:26] safemanusa opened #1500 "FireFox For Fire TV 2.1.2 does not support YouTube TV paid subscription"
## Steps to reproduce
I setup a brand new Firestick 4K and downloaded FireFox For Fire TV 2.1.2. The browser itself works as expected so far. However my issue is with YouTube. The YouTube bookmark you have pinned on FireFox works fine for playing YouTube videos on my TV. BUT the issue is those subscribers of PAID YouTube TV to watch LIVE TV have nothing to use on the pre-built bookmark for YouTube

[2018-11-12 18:38] Sdaswani commented on #787
talking to @HiralSModi - certain DRM will work, but not all DRM will work. platform fix is required all DRM types. re-opening to track that platform work. Hiral to provide list of supported media soon.

[2018-11-12 18:41] Sdaswani commented on #1284
@psymoon can you detail the disconnect case that works in Silk but doesn't work in Firefox?

[2018-11-12 18:43] safemanusa opened #1501 "Update Firestick 4K to Firefox 3.x"
## Steps to reproduce
I cannot get FireFox 3.0 on my Firestick 4K.

I tried to uninstall and re download but still get same version.

### Expected behavior
Update button

### Actual behavior
No vehicle to update

### Device information

* Fire TV device: Firestick 4K
* Firefox version: 2.1.2

[2018-11-12 18:47] safemanusa commented on #1492
I get same thing. I press the return button on the remote and it returns back to the page you were on. Does not seem to go to a screen saver.

[2018-11-12 18:53] liuche commented on #1433
@psymoon did some investigation and found that on reconnecting the Youtube app to cast again, we're receiving messages for both the previous video, and the new video. This looks like a result of not handling the "disconnect Youtube app" event, but that's something that the OS seems to do, so we need to surface that issue.

[2018-11-12 19:11] mcomella commented on #1501
Thanks for reporting! Due to differences in the device's software I don't know that we've released to the Firestick 4K yet: https://github.com/mozilla-mobile/firefox-tv/blob/master/CHANGELOG.md#302---2018-10-30

@Sdaswani Can you confirm? What's our plan for releasing v3.* to the Firestick 4K?

[2018-11-12 19:11] mcl21014 commented on #1501
I can get it on my Fire Stick 4k. But it's version 2.x, which is the production version.

[2018-11-12 19:12] mcomella commented on #1492
@npark-mozilla Have you seen behavior like this on `v2.1.x`? If so, we should try to reproduce again on `v3.x`. Note that both reporters see this on the Fire Stick 4k.

[2018-11-12 19:13] Sdaswani commented on #1501
@Sdaswani funny you mention this - @haldeman99 and I just spoke and he said in his testing 3.0 worked well on this device, so if 3.1 is shipping after black friday, we can just do a version bump on the two APKs and add the 4k stick for 3.0.

@athomasmoz should we do this this week?

[2018-11-12 19:14] mcomella opened #1502 "Remove robolectric from changelog"
https://github.com/mozilla-mobile/firefox-tv/blob/master/CHANGELOG.md#changed includes robolectric but the CHANGELOG is for user-facing features and robolectric is not a user facing feature (git history or issues/milestones are for non-user facing features).

[2018-11-12 19:16] mcomella commented on #1071
@aminalhazwani Thanks for spec'ing this out: this makes sense to me for users with a Fire TV remote but we've been seeing users who may not have a menu or home button on their device - #1308 - is there anything we can do for them? (I wonder if these alternative remotes have other ways of creating a menu command...)

[2018-11-12 19:19] mcomella commented on #1308
Another annecdote: my Samsung smart TV remote controls the Fire TV automatically but it doesn't have a home or menu button (only dpad and back).

Yes but only to a limited set of devices: see our changelog https://github.com/mozilla-mobile/firefox-tv/blob/master/CHANGELOG.md#302---2018-10-30

Neat idea: we're looking into voice commands from Alexa skills in #932.

[2018-11-12 19:34] safemanusa commented on #1501
Thanks guys for updating so quickly! Is there any way to get the working version? Does 3.0/3.1 support tv.youtube.com? Is there anyway to get added to the developer version updates? Would love to do test beta versions.

[2018-11-12 19:43] safemanusa commented on #1501
According to the change log 3.0 was already released to Firestick 4K?

![image](https://user-images.githubusercontent.com/19233164/48371237-f2e38700-e680-11e8-9bfd-713ac1e89896.png)

[2018-11-12 19:51] Sdaswani commented on #1501
@safemanusa i can add you to the Live App Testing, please let me know your amazon devices email address. We support http://www.youtube.com/tv, but not tv.youtube.com AFAIK.

[2018-11-12 20:14] safemanusa commented on #1501
Oh thanks so much @Sdaswani. I sent my email address to your email address. I did open another issue related to tv.youtube.com. I am hoping that tv.youtube.com is something that can be made available soon! Many folks are looking for this availability!

[2018-11-12 20:39] mcomella commented on #1489
@Baron-Severin Have you verified what is in these exceptions? We generally avoid logging exceptions that may contain PII (like urls) or are from an external source (like this) so we don't leak private information. While other apps can't read the logs, users can share their logs to other parties which could contain this confidential information, not knowing about the confidential info.

We could al

[2018-11-12 20:41] mcomella commented on #1468
Google's sign in flow, on some sites like pinterest, requires multiple window support. See https://github.com/mozilla-mobile-skunkworks/firefox-connect/issues/494 for additional investigation

[2018-11-12 21:16] mcl21014 opened #1503 "Clearing browsing history does not clear previously visited pages from the back button"
## Steps to reproduce
1) Browse to some websites.
2) Press the hamburger menu on your remote to bring up the start page.
3) Click select over the cog wheel for settings.
4) Select and hit "Clear all cookies and site data".
### Expected behavior
There should be no option to press the back button.
### Actual behavior
There is still an option to go back through history for the session.
### Device inf

[2018-11-12 21:38] liuche opened #1504 "Temporarily turn off Youtube casting"
Due to #1433 problems with disconnect/reconnect (that relies on the OS passing some information), and #1284 being unable to control which app Youtube is being cast to, @athomasmoz said we should temporarily disable Youtube casting.

[2018-11-13 10:44] aminalhazwani commented on #1071
@mcomella I checked the documentation and it seems that both the [Toshiba TV](https://developer.amazon.com/docs/fire-tv/device-specifications.html?v=ftveditiontoshiba4k#remote-and-game-controllers-5) and [Element 4K TV](https://developer.amazon.com/docs/fire-tv/device-specifications.html?v=ftveditionelement#remote-and-game-controllers-7) provide a Fire TV remote.

I tried to to use the Fire TV wit

[2018-11-13 12:55] mcl21014 commented on #1501
Please add me as well to live testing @Sdaswani when you have a moment. I shot you an email a day or so ago. I'd be honored to help catch issues in the prerelease versions as I've already done. My credentials to login are different than my GitHub email, so please don't mistake the mail as spam.

[2018-11-13 14:50] BrianNJones commented on #1125
Yes, thank you, liuche!

[2018-11-13 15:29] npark-mozilla commented on #1492
I remember seeing grey screen a while ago, but haven't seen it recently. but @levisacal can take a look

[2018-11-13 16:19] athomasmoz commented on #1501
@Sdaswani Yes, ideally we get all devices onto the latest version. If the Stick 4k looks good with 3.x, let's go for it.

[2018-11-13 16:37] mcl21014 commented on #1501
In my experience the startup grey screen issue is gone on 3.x on the Fire Stick 4k.

[2018-11-13 16:39] mcl21014 commented on #1492
Seems to only effect 2.x on the Fire Stick 4k as far as I can tell.

[2018-11-13 16:49] dnarcese commented on #1463
Looks like turbo mode is blocking the video. Turning it off allows the video to play.

[2018-11-13 16:57] athomasmoz commented on #1362
Added to sprint. Can you please add an estimate and let me know how that impacts our current sprint commitment? Does it mean anything else will fall out?

[2018-11-13 17:19] levisacal commented on #1492
Wasn't able to repro this on the current production version 3.0.2 with Fire Stick 4k and Fire OS 6.2.5.5.

Tried to repro by resuming Firefox after going idle or first resuming the device from screen saver and then resuming Firefox

[2018-11-13 18:16] athomasmoz commented on #1071
Hi Amin! Thanks for putting this together. I think overall it's very intuitive, I would echo Mike's point about confirming remotes.

The only workflow that confuses me a little is "You can exit the app via the BACK (R) from the first website in the history stack." If you're at website A and click back, I would expect to go to the Firefox homescreen, and maybe a 2nd back press exits the app. Can yo

[2018-11-13 18:29] aminalhazwani commented on #1071
Absolutely! First, the only way to open (go back to) the homescreen is via the MENU button and the proposal is to keep this as much consistent as possible. Second, many Fire TV apps allow users to exit the app right after launch via the BACK button (and some prompt a confirmation dialog), therefore the proposal -- let users exit the app from the first website they visit (similarly to Silk) with a

[2018-11-13 18:48] athomasmoz commented on #1071
Ok awesome, thank for the extra details! I like really like that you're keeping behaviour consistent with how other Fire TV apps work.

Let me know when you're comfortable moving this to the implementation stage. It's in our current sprint.

[2018-11-13 19:12] mcomella commented on #1503
Note: we had a test to cover this behavior but it's failing: #1360.

[2018-11-13 19:22] mcomella commented on #1503
Possible issues:
- We could have broken the switch to clear data on the active WebView
- iirc, we added state restoration (when OOM): that could be interfering

[2018-11-13 19:23] liuche commented on #1500
@safemanusa if you have the LAT, can you try and see if using Desktop mode fixes this problem?

[2018-11-13 19:25] athomasmoz commented on #1497
Duplicate of #1264

[2018-11-13 19:25] #1497 closed

[2018-11-13 19:26] liuche commented on #1498
That seems like we may have forgotten to include the Pocket key in this pre-release build - I'll close this, but we recently also fixed #1173 so hopefully this won't happen again on pre-release builds.

[2018-11-13 19:26] #1498 closed

[2018-11-13 19:27] safemanusa commented on #1500
@liuche do you mean version 3.0x? How do I get to desktop mode?

[2018-11-13 19:28] athomasmoz commented on #1492
This should be fixed in #1501 . Closing

[2018-11-13 19:28] #1492 closed

[2018-11-13 19:30] Sdaswani commented on #265
Another user report on this: https://support.mozilla.org/en-US/questions/1239990

[2018-11-13 19:30] mcomella commented on #1469
@Baron-Severin How do we know this? Is this information in sentry?

[2018-11-13 19:32] liuche commented on #1491
This works for RottenTomatoes, so it's possible we just need to update the list of sites if they've changed (redirects, etc)

[2018-11-13 19:35] mcomella commented on #1483
Expected solution: remove the common mobile subdomains like "m.", change the user agent to the desktop version, and refresh the page.

@pocmo We see similar behavior in focus (iOS): can this be solved with components?

[2018-11-13 19:42] mcomella commented on #1468
Triage notes:
- This solution could be re-used between this and Show
- We could fix this by implementing tab support
- We can ask Facebook to see if they have a sign in flow without multi-window support and track down sites to tell them to use the simpler solution. It's an endless race though

[2018-11-13 19:46] liuche opened #1508 "Users don't have/know about the Menu button"
We've seen a few users commenting on how they don't know how to open the overlay.

One possibility is that users are continuing to use their TV remote (like the Samsung Smart TV), which doesn't have a Menu button.

Some thoughts/options:
* Hint: We used to have a "hint" on the homescreen with the "menu" button as an icon. However, this wouldn't handle the case where people are not using the Fire T

[2018-11-13 19:46] liuche commented on #1508
Tagging @aminalhazwani, bc I'm filing this from discussion w/ @athomasmoz during triage.

[2018-11-13 19:51] athomasmoz commented on #1203
Does this cause any issues in screen reader mode? @AaronMT are you able to test this?

[2018-11-13 19:51] liuche commented on #1504
Triage decision: We'll turn off YT casting in 3.1 if we can't get #1433 fixed in time.

[2018-11-13 19:53] athomasmoz commented on #1202
@AaronMT do you mind testing this one out? Wondering if it's still an issue

[2018-11-13 19:53] Sdaswani commented on #1500
Oh this is duplicated by #265

[2018-11-13 19:54] Sdaswani commented on #1500
@safemanusa sorry for the delay, desktop mode will ship soon.

[2018-11-13 19:54] Sdaswani commented on #265
Closing as duplicated by #1500.

[2018-11-13 19:54] #265 closed

[2018-11-13 19:58] safemanusa commented on #1500
@Sdaswani and @liuche - so 3.0x is on my Fire Stick 4K right now! I just tried accessing tv.youtube.com. When I got to the Welcome Screen I used the menu key to select desktop mode and voila! The navigation screen is there! Hooray!

ISSUES: Cannot scroll down the screen. Just like when you are viewing Gmail.

ISSUE: Selecting a broadcast just brings up a green screen. No video.

BUT this IS progre

[2018-11-13 20:00] liuche opened #1509 "NullPointerException in ComposerSupport$ModeInfo < AmazonHdmiServiceManager"
We're seeing this with 3.0.2 release
152k crashes
[code]

[2018-11-13 20:05] liuche commented on #1453
@Baron-Severin also add a comment in Sentry linking to the GH so we don't accidentally dupe file Sentry crashes.

[2018-11-13 20:14] safemanusa commented on #1500
Also cannot scroll across the screen (left to right).

[2018-11-13 20:16] safemanusa commented on #1500
Selecting a show sometimes just goes to a black screen. Again no video. Some shows show there is live content. But the thumbnail window is static and not moving as it should.

[2018-11-13 22:02] athomasmoz commented on #1495
Retest after #1234

[2018-11-13 22:15] #1452 closed

[2018-11-13 22:53] liuche commented on #1500
I wonder if this is related to #787 DRM bug, for which some DRM-ed youtube content is working, but other content is not. It's a platform bug, but we're currently trying to get a list of what is/is-not supported.

[2018-11-13 23:54] liuche commented on #1433
Follow-up here:
- The bulk of the logic is handled by Youtube, not DIAL; once the pairing code from the DIAL intent is passed to Youtube through the url launch, DIAL doesn't really participate so it's likely not a DIAL protocol problem
- Will test this by loading the pairing code in Chrome, which has the most recent version of Chromium to determine if it's not a Chromium bug
- We'll continue to in

[2018-11-14 00:42] psymoon commented on #1234
This is most likely platform (webview) or a-c problem. It looks like the session "hangs" and any webview related operations are blocked while Fire-TV UI (overlay, etc) still works

[2018-11-14 01:17] mcomella commented on #1125
@BrianNJones While I think this is cleverly more efficient for screen reader users, from a developer's perspective I'm concerned about providing a different experience for certain users over others. For example, if the onboarding or help experience changes drastically (e.g. perhaps including new configuration options), we may forget to update this string to take into account those changes and scre

[2018-11-14 01:18] mcomella commented on #1125
@eeejay ^ Do you have any thoughts?

[2018-11-14 01:28] eeejay commented on #1125
So the issue is how to label the "?" button? I think it should give the same information a sighted user would have (ie. not much). So it should just be labelled something like "information", or "about pocket".

(putting the text content of the next screen as the label does not make things easier for the user.. they will still click on it, and it doesn't describe the button)

Is part of the issue h

[2018-11-14 01:32] mcomella commented on #1362
@athomasmoz Little impact on the current Echo Show sprint: I plan to prioritize the current Echo Show sprint and think I can finish that by the end of the week, barring any large distractions. As for Firefox for Fire TV, I don't know that I'll finish this by the end of the sprint but in that case, we can just bump it to the next one: I don't think it's something we need to commit to a release.

[2018-11-14 05:29] safemanusa commented on #1500
@liuche @Sdaswani - I looked at #787 and had an inspiration! I tried watching tv.youtube.com on my Silk browser and so far I can watch the live video!!! Quality is very good! The scroll bar thingy to the right and left appears to work. So there is some hovering effect by moving the cursor over the row you want to scroll. Still cannot scroll down which is limiting! So somehow I must have gotten des

[2018-11-14 05:40] Sdaswani commented on #1500
Interesting @safemanusa . Silk uses a different version of Chromium than we do so maybe that’s the difference. This will help us triangulate a solution - thanks!

[2018-11-14 05:48] safemanusa commented on #1500
Glad I could help. Now we only need to get a scroll down action and it would be good to go!

[2018-11-14 05:53] safemanusa commented on #1500
Neither the FireFox for Fire TV nor Silk seem to support scrolling past the bottom of the screen on certain websites like email and tv.youtube.com. Even in desktop mode. In Silk I can push it a little bit by placing the cursor above a row of thumbnails and hit the Select button.

[2018-11-14 05:53] safemanusa commented on #1500
But Silk seems to employ a hover action.

[2018-11-14 09:34] aminalhazwani commented on #1071
Yes, we can start to implement this and test it. Also cc @pocmo since he gave also a deeper take at this.

[2018-11-14 10:15] pocmo commented on #1483
This is the same in pretty much every browser including Firefox for Android and Chrome. I wouldn't start to mess with URLs tbh. and there are a lot of edge cases (mobile.twitter.com, en.m.wikipedia.org, ..).

[2018-11-14 10:20] pocmo commented on #1071
What I didn't get from the diagram yet is will selecting a website from the homescreen **during a session** start a new session or load the site in the current session.

If my path is:

[code]

And now I select "Website C" from the Homescreen. In which of those states will I be:

[code]

[code]

[2018-11-14 11:16] aminalhazwani commented on #1508
For reference this is what Silk does on fresh install as soon as you visit your first website.

![silk](https://user-images.githubusercontent.com/1721875/48479222-fd2f8d80-e806-11e8-809f-fb7d28430ec1.png)

[2018-11-14 13:39] aminalhazwani commented on #1071
Thanks @pocmo, that's a good question. I wouldn't reset the history stack after every time users open the homescreen. We could keep the session (and the history stack) available as long as the app is open. Once the app is close we could keep only the tab that is left open and reset the rest of the history stack. There are pros and cons -- I don't have a strong opinion about it. I would loop in als

[2018-11-14 14:04] aminalhazwani commented on #1508
Also, other things to keep in mind, on fresh install we have the Turbo Mode onboarding, and right after the Pocket onboarding. One after the other.

[2018-11-14 14:10] aminalhazwani commented on #1508
And another thing that we might also consider the fact that the TV is accessible to the whole household.

[2018-11-14 15:16] BrianNJones commented on #1125
My initial impulse was to prioritize context, but Eitan's "should have the
same information a sighted user would have (ie.  not much)" makes more
sense. (It's also the most accurate context, now that I think about it.)

Thanks!
Brian

On Tue, Nov 13, 2018 at 7:28 PM Eitan Isaacson <notifications@github.com>
wrote:

[2018-11-14 15:57] AaronMT commented on #1203
No, navigating the home-screen reads out the default tiles.

Note: There's no voice-over for Pocket home-tile, no audible "Pocket".

[2018-11-14 16:00] AaronMT commented on #1202
On the home-screen pressing menu does nothing on my 4K. I can directionally input perfectly fine.

[2018-11-14 16:14] AaronMT commented on #1264
Also visible on YouTube player controls

[2018-11-14 16:54] pocmo commented on #1264
I'm curious whether AC 0.31.0 changed anything here?

[2018-11-14 17:45] mcl21014 commented on #1498
If they reappear, is there something that can be done? Like add the ability to hide the pocket feed on prerelease builds?

[2018-11-14 18:31] liuche commented on #1125
Okay, sounds good - I'll wait to get more strings from @BrianNJones, and open another PR.

[2018-11-14 18:59] #1504 closed

[2018-11-14 20:10] bhourigan opened #1511 "Significant amount of traffic sent to getpocket.cdn.mozilla.net/v3/firefox/global-video-recs?consumer_key="
I'm a Pocket employee.

This is not an application bug but rather a report of potentially incorrect behavior observed by the administrators of the getpocket.cdn.mozilla.net endpoint.

Over the past 30 days, we've seen approximately 82,031,606,399 hits to `getpocket.cdn.mozilla.net/v3/firefox/global-video-recs?consumer_key=` (consumer key is empty). These requests are invalid and being answered wit

[2018-11-14 21:51] dnarcese commented on #1234
This looks to be an Amazon WebView bug. Loading the videos on an empty WebView project produces the same behaviour, but it is not reproducible on emulators. @Sdaswani can you follow-up with Amazon?

[2018-11-14 22:00] Baron-Severin commented on #1469
@mcomella only anecdotal at this point, unfortunately.  I know I've seen OOM crashes while the app is backgrounded, particularly when other apps start videos.  I don't ever recall seeing one while actively using our app.  It would be good to log this condition to Sentry to verify.

[2018-11-14 22:48] liuche commented on #1511
Wow, 82B is a lot of hits. We released 3.0 on Oct 4 to about 20% of our users (based on device), and then 3.0.2 around Oct 31 to almost all of our users, so let me know if you're seeing number bumps at those times that would indicate it's us.

I just checked both our recent beta build and the 3.0.2 build we released, and see that they are receiving the Pocket video feed content in-app.

I'm not su

[2018-11-14 23:33] liuche commented on #1511
I don't see anything obvious at the moment (after checking the builds that we've released) so I'm going to let this ride until triage.

[2018-11-14 23:35] #1502 closed

[2018-11-15 01:46] liuche commented on #1511
We used to have a bug where if there was an error in the parsing (or there was no key), we'd retry the request, which sounds like this problem - however, we added an exponential backoff to fix this.
https://github.com/mozilla-mobile/firefox-tv/issues/1404

The devices that would be affected by this would be:
- devs building without a key - this could be debug, testing, QA
- LAT accidentally releas

[2018-11-15 02:04] liuche commented on #802
Duping to #240

[2018-11-15 02:04] #802 closed

[2018-11-15 02:05] liuche commented on #240
Puffin also has a "send link to tv" using QR codes.

![screenshot_2018-08-10 puffin tv - fast web browser - apps on google play](https://user-images.githubusercontent.com/1082253/43980327-a0952b02-9ca2-11e8-8a7e-b974f7315128.png)

[2018-11-15 02:36] Sdaswani commented on #1511
@liuche @Baron-Severin i would suggest we wireshark and logcat the tagged build to see how many calls are being made, i.e., do we think the bug that we fixed is the only source of the calls? If you are 100% sure that's fine, but I don't want us to miss another potential source of these calls. Given the amount it could be many code paths.

[2018-11-15 02:45] liuche commented on #1433
Did some more testing, with cross-browser loading of the Youtube pairing URL:

Here are the Chromium versions with the browsers that I tested:
Firefox TV Chromium WebView version: 59.0.3071.125
Silk Chromium version: 70.0.3538.64
Desktop Chrome Chromium version: 70.0.3538.102

The STR before was, every other "Cast" to Firefox would have problems reconnecting and just show the previous video.
As an

[2018-11-15 02:49] Sdaswani commented on #1433
I wonder if this works better on GeckoView. :/ Anyhow: https://github.com/mozilla-mobile-skunkworks/amazon-roadmap/issues/10

[2018-11-15 03:01] liuche commented on #1433
#1234 also looks like it's a Chromium version problem.

[2018-11-15 04:06] mcomella commented on #240
@liuche wrt previous comment, is this the wrong issue?

[2018-11-15 04:31] liuche opened #1515 "Don't run background updates for Pocket if there is no Pocket key"
Currently, we run an exponential backoff for refreshing the Pocket feed, but we run this even if we don't have any Pocket keys (partly relating to #1511 82B). We can add a quick check in `startBackgroundUpdates` for the Pocket key.

[2018-11-15 04:39] liuche commented on #1511
Well this is embarrassing - we've found the source of these calls, and this is from some bad background backoff code (we backoff if a call succeeds, but...not if it fails). Since these originate from debug builds without a key, aka dev builds, nearly all these calls probably originate from devices in our office, as they're sleeping and retrying in the background.

This is fixed in #1404 where we a

[2018-11-15 05:35] Sdaswani commented on #1511
Glad to hear this seems to be limited to internal debug builds @liuche .

@bhourigan if you can provide any more data on the source of these calls to confirm it's a limited set of clients, that would be great.

[2018-11-15 06:54] mpurzynski commented on #1511
If you say "network" three times you summon the NSM power.

Do you still see a lot of queries from Mozilla offices or datacenters? The majority of that traffic comes from bughunter (and bughunter cannot be discussed here).

[2018-11-15 06:55] mpurzynski commented on #1511
I sent a breakdown of the traffic source IP addresses, per site, to digi. If you need more, you know where to find me.

[2018-11-15 16:31] AaronMT commented on #1218
Still reproducible on master (056c157218683ce4f03d1f53ababed4205bd643c)

[2018-11-15 16:39] aminalhazwani commented on #1071
I brought up this problem with @topotropic and she gave us some great inputs.

So here a proposal: what we could do is to reset the history stack after a user closes the app for more than XX minutes (5? 10? I am thinking about app switching -- back and forth). And after this elapsed amount of time we could reset the history stack, so on next launch the app will open the homescreen.

Nevertheless w

[2018-11-15 17:29] Baron-Severin opened #1517 "Clear data doesn't clear data"
## Steps to reproduce
From home screen
- Open any pinned tile
- Open menu
- Open settings
- Clear data & return to home screen

### Expected behavior
- URL bar should be empty
- Back, forward, refresh, pin, and desktop mode buttons should be disabled
- Hitting the menu button should do nothing

### Actual behavior
- URL bar contains URL from previously selected tile
- Back, forward, refresh, pin,

[2018-11-15 18:20] athomasmoz commented on #1433
What does an upgrade to Chromium involve? I assume it’s a pretty big task?

If it’s something that could blanket fix a number of media player issues and fix the YouTube Fling issue, it could be worth it.

Thanks,
Ashley Thomas | athomas@mozilla.com | Product Manager, Firefox Mobile

[2018-11-15 18:22] mpurzynski commented on #1511
Can you mitigate by filtering out certain user agents?

[2018-11-15 18:26] mcomella opened #1518 "Consider crashing OkHTTP if there are too many outbound requests"
We had a bug where Pocket would send out a lot of requests – #1511. In practice, we would never want to make a significant number of outbound requests: maybe we should add an interceptor that if there are enough outbound requests made in a certain period of time, we crash.

[2018-11-15 18:30] bhourigan commented on #1511
The results were filtered by URI, status, and useragent. This is the BigQuery query I used:

`select count(distinct requestip) from pocket_cloudfront_logs.getpocket_cdn_201811 where uri = '/v3/firefox/global-video-recs' and status = 400 and useragent = 'okhttp/3.10.0';`

[2018-11-15 18:31] Sdaswani commented on #1433
@athomasmoz we would much more likely upgrade to Geckoview, even if the upgrade to Chromium wasn't a huge task. We really have two options - GV or Amazon Webview.

[2018-11-15 18:36] mcomella commented on #1511
@liuche @Baron-Severin Did we write a regression test for this? Should we file a follow-up to do it?

[2018-11-15 18:46] AaronMT commented on #1517
Maybe related. On dialog accept I see:

`2018-11-15 13:45:11.379 4083-4083/org.mozilla.tv.firefox.debug W/cr_AwContents: Application attempted to call on a destroyed WebView
    java.lang.Throwable
        at org.chromium.android_webview.AwContents.isDestroyed(AwContents.java:1262)
        at org.chromium.android_webview.AwContents.isDestroyedOrNoOperation(AwContents.java:1192)
        at org.chro

[2018-11-15 18:50] liuche commented on #1511
Hmmm, that's interesting news. From the cases I listed above:

I would expect this to be a few set of IP addresses, but this probably doesn't account for anywhere near that number of IP addresses.
@npark-mozilla what's the scale of testing that we do with non-Pocket-key builds? Are the different test builds on different IPs?
@Sdaswani do you know if there is other automated testing that is being d

[2018-11-15 18:51] Sdaswani commented on #1511
@bhourigan thanks for the update on the distinct IP address - 403,323 is very much. It's a bit odd though as we have around 1MM DAU using pocket on FFTV. https://sql.telemetry.mozilla.org/queries/59642#154251

Maybe the number is smaller due to cable provider IP address pooling.

@liuche is there any code path where we are mistakenly not putting in the consumer_key?

[2018-11-15 18:52] npark-mozilla commented on #1511
@liuche since we don't run automated tests on CI, non-pocket key build for testing is very minimal, unless there are many contributors downloading and building them locally to test it out.

[2018-11-15 19:05] Baron-Severin commented on #1511
No, that seems like it should be a high priority though.

@mcomella also mentioned the possibility of writing a request interceptor that will throw a crash if too many network requests go out in a short period, which I think is a good idea.

[2018-11-15 19:16] Sdaswani commented on #1511
Hmmm do we want users crashing in the field for extraneous network request logic we got wrong? Can we just get the network code right and tested?

[2018-11-15 19:41] bhourigan commented on #1511
Correct.

[2018-11-15 19:52] AaronMT commented on #1503
Maybe related. On dialog accept I see:

`2018-11-15 13:45:11.379 4083-4083/org.mozilla.tv.firefox.debug W/cr_AwContents: Application attempted to call on a destroyed WebView
    java.lang.Throwable
        at org.chromium.android_webview.AwContents.isDestroyed(AwContents.java:1262)
        at org.chromium.android_webview.AwContents.isDestroyedOrNoOperation(AwContents.java:1192)
        at org.chro

[2018-11-15 20:58] dnarcese commented on #1264
a-c 0.31.0 fixes this

[2018-11-15 21:05] dnarcese opened #1520 "Update to a-c 0.31.0"
0.31.0 is needed to fix #1264

[2018-11-15 21:18] liuche commented on #1498
@mcl21014 if you see them again, please file a bug! That way we can fix it as soon as possible.

Are you still seeing this? If you are, please let me know - this could be something else if you see this again, and I'd appreciate hearing more details! (where you got the build from, when you installed it, etc)

[2018-11-15 21:59] Sdaswani opened #1521 "Change Google Search Code"
**What / Requirements**

We need to change our search code for Google. We can do this in a major or minor release.

**Acceptance Criteria (how do I know when I’m done?)**

New search code sent during searches

[2018-11-15 22:12] Baron-Severin commented on #1511
The code should be right and should be tested, but as the old adage goes, tests can verify bugs, they can't verify correctness.  Crashing might be extreme, but at least logging to Sentry and shorting out the additional requests seems like an appropriate fallback to me.

[2018-11-15 22:13] bhourigan commented on #1511
No significant deviation between November 1st, 2nd, and 3rd.

[2018-11-15 23:06] mcl21014 commented on #1498
Yes I'm still seeing it on the prerelease build. I downloaded the source for 3.0.2.1 and compiled it in Android Studio with some help. Installed it a few days back.

[2018-11-15 23:45] #1218 closed

[2018-11-16 08:48] pocmo commented on #1520
I want to highlight an important change in 0.31.0 that will affect you, see changelog here:
https://mozilla-mobile.github.io/android-components/changelog/#0310

In that version we removed the workaround you requested about always playing protected content (DRM) in favor of a full-featured permission API. The changelog contains a snippet that shows how you can re-create this behavior with the new p

[2018-11-16 15:06] #1491 closed

[2018-11-16 15:16] BrianNJones commented on #1125
"About Pocket"

[2018-11-16 15:44] dnarcese commented on #1463
This issue is being seen across all products that use tracking protection, so an update to the Disconnect lists is needed to stop blocking cnet videos. An issue has been filed with them [here](https://github.com/disconnectme/disconnect-tracking-protection/issues/61).

[2018-11-16 17:45] dnarcese commented on #1042
Pressing back from a Pocket video goes to the YouTube homescreen. Pressing back from the Pocket feed goes to the overlay with the search bar focused. I haven't been able to repro the focus loss bug.

Is this issue only for the focus loss bug? Or do we want to change the behaviour so that clicking back from a Pocket video goes to the Pocket feed?

[2018-11-16 18:38] Baron-Severin commented on #1042
This bug was that specific steps could cause the user to end up on the home page, but unable to interact with any views.  I just checked and it's no longer reproducible so I'm closing it.  We may want to change some of the back behavior here, but that will need to be a new issue and will require input from @aminalhazwani.

[2018-11-16 18:38] #1042 closed

[2018-11-16 19:07] mcomella opened #1522 "Enable QA to verify telemetry on endpoint"
### Why/User Benefit/User Problem
Right now the only way we know the telemetry is working is during the developer's initial testing. Since there's no recurring testing, the code could change and break telemetry: in general, we can only assume our telemetry is accurate so we may not be making accurate data-based decisions that affect our users.

### What / Requirements
The minimal effort implementa

[2018-11-16 19:09] Sdaswani commented on #1501
@liuche will do this as part of the 3.1 submission.

[2018-11-16 19:16] athomasmoz commented on #1310
Waiting on #1394

[2018-11-16 19:16] Sdaswani commented on #1412
@haldeman99 said: "Confirmed with the AWV  team that this requires a fix from AWV. Your next major release  shouldn’t be held up by this. If you have a way to catch the exception  and fail gracefully (i.e. not crash), that would be  good." is catching the exception possible @psymoon ?

[2018-11-16 19:45] liuche commented on #1071
During Sprint Planning, we discussed that for users who are continuing to use their tv remote, which lacks a menu button. In this flow, it is not longer possible to get to the "homescreen" without a menu button. (but keep in mind that we still don't know how many users this would be, but this could be quite high depending on how many people buy "smart tvs")

[2018-11-16 20:20] habib commented on #1511
Folks, this bug is costing us quite a bit of $ and we'd like to see this get addressed as quickly as possible.

[2018-11-16 20:29] habib commented on #1511
Sounds good! Please let me know so I can engage with the vendor after the fix has gone through.

[2018-11-16 20:42] liuche opened #1523 "Investigate: Missing Pocket key"
Continuation of #1511 - the backoff fix should be in, but we still haven't found the underlying cause, which is that the Pocket request is being made without a Pocket key.

[2018-11-16 20:47] mcomella commented on #1071
In general, I don't mind this behavior and I think it could be standard on some "household devices" like this and Echo Show. However, it's hard to get the number just right and likely needs some kind of session restore (e.g. user uses Firefox, leaves it on but device goes to sleep, comes back in a few hours and they lost their place).

What do other apps do on this device?

[2018-11-16 20:47] mpurzynski commented on #1511
Are we gonna be billed even if we filter out rouge requests, based on the uri or UA?

I can think of a couple of things that could be done.

[2018-11-16 20:49] Sdaswani commented on #1234
@dnarcese can you 1) link to the plain vanilla webview project here and 2) detail what device you [reproduced the issue](https://github.com/mozilla-mobile/firefox-tv/issues/1234#issuecomment-438831728) on?

[2018-11-16 20:51] liuche commented on #1511
I've added a new UA for these requests, which will be of the form "FirefoxTV-<version>", which should roll out to all our releases devices once 3.1 is shipped.

I split off a separate bug #1523 to figure out where we are dropping this key, because the numbers indicate that it must be our release population.

[2018-11-16 20:52] liuche commented on #1511
Actually, I'll repoen this bug, because it looks like there's still conversation here.

[2018-11-16 20:54] dnarcese commented on #1234
1) plain webview project: https://github.com/mcomella/WebViewRaw
2) I reproduced on Fire TV 4k

[2018-11-16 20:55] bhourigan commented on #1511
Thank you, I look forward to getting this resolved.

There is a cost associated with each request. I'll share details with you off GitHub.

[2018-11-16 21:49] liuche commented on #1523
The confusing part of this is that
a) Pocket key is included at build-time, and we call it only in one place, so there should be no cases where the Pocket video feed is present, but calls without an API key are being made - it should be one or the other
b) We have not heard of release builds missing the Pocket video feed

[2018-11-16 23:53] #1517 closed

[2018-11-17 00:38] Baron-Severin opened #1527 "Make PocketEndpoint.GLOBAL_VIDEO_ENDPOINT null if key is invalid"
Currently, we check whether or not the Pocket key is valid before making our initial Pocket request.  However we make these requests from several other locations in the code as well (periodic background updates, user initiated retries from an error megatile).  This previously led to a bug where invalid requests were being made.

One more reliable way to fix this would be to null out the PocketEndp

[2018-11-17 04:41] Baron-Severin opened #1528 "PocketOnboardTest is failing (Espresso)"
It looks like using rule `MainActivityTestRule` with argument `skipOnboarding = false` is not showing an onboarding screen.

Removing the rule and replacing it with the former `new ActivityTestRule<MainActivity>(MainActivity.class, false, false);` does not solve the problem either.

### Device information

* Fire TV device: Cube
* Firefox version: af3ea79c44c930b353f45e527f15760d7c6c30cb

[2018-11-18 15:49] netz-filter commented on #1511
@ liuche
In some forums will be linked to GitHub and some Android TV users may use here:
https://github.com/mozilla-mobile/firefox-tv/releases/tag/v3.0.1.1

The file “app-release.apk“ Firefox TV pre-release v3.0.1.1 invites you to sideload and Pocket Feature is missing here completely. Or should pocket features be completely hidden in certain countries?

Why do not you just release a beta in the P

[2018-11-19 13:36] aminalhazwani opened #1530 "Inconsistent author on pocket videos"
## Steps to reproduce

In the case of videos from YouTube channel "Seeker" the author is not always consistent. Sometimes is marked as "Seeker" and sometimes as "YouTube".

![pocket-seeker](https://user-images.githubusercontent.com/1721875/48710411-7ca6cd80-ec08-11e8-895e-94bede4e1c32.png)

![pocket-youtube](https://user-images.githubusercontent.com/1721875/48710426-892b2600-ec08-11e8-8e5b-07da4dc

[2018-11-19 13:36] levisacal opened #1531 "Add option to be able to edit tiles"
### Why/User Benefit/User Problem

After pinning a tile to home screen user cannot edit it's title

### What / Requirements

When trying to remove a tile, an edit option should be present as well

### Acceptance Criteria (how do I know when I’m done?)

[2018-11-19 15:04] dnarcese commented on #1530
In this case, it is showing YouTube because the pocket api returned an empty list for the `authors` field.

@kennylong should it be possible for there to be no author for a video? Are there certain cases where this happens?

[2018-11-19 15:08] aminalhazwani commented on #1174
Specific issues have been filed: #1313 and #1314.

[2018-11-19 15:11] aminalhazwani commented on #950
I think we can close this @athomasmoz since we have #1304

[2018-11-19 15:13] aminalhazwani commented on #776
Probably we can close this as a dupe of #1174 @athomasmoz

[2018-11-19 16:26] #776 closed, assigned to nobody

[2018-11-19 16:33] athomasmoz commented on #1530
@dnarcese nice job building in a graceful fallback for this. Sounds like the issue here is on the pocket side. I suggest we close this issue once we get confirmation from their team to look into this.

[2018-11-19 18:55] kennylong commented on #1530
@dnarcese This looks like a rare corner case -- we have it captured but don't have an immediate fix. Given the graceful fallback handling, my understanding is that that's okay if it occasionally shows up like this, but let us know if you feel differently (and also if you see this issue come up more frequently).

[2018-11-19 19:50] cpeterso commented on #1248
@psymoon Does this MediaSession issue require new GeckoView APIs?

btw, EngineView's `addJavascriptInterface` and `removeJavascriptInterface` method definitions moved here:

https://github.com/mozilla-mobile/firefox-tv/blob/master/app/src/main/java/org/mozilla/tv/firefox/ext/EngineView.kt#L62-L75

[2018-11-19 20:01] AaronMT commented on #1528
Saw this today on trying to run it. Regression from https://github.com/mozilla-mobile/firefox-tv/issues/1218 ?

[2018-11-19 20:08] psymoon commented on #1248
@pocmo @cpeterso yes that is correct, GeckoView doesn't have javascript injection API AFAIK

[2018-11-19 20:18] pocmo commented on #1248
@psymoon With us having more control over GeckoView: Would we prefer some kind of MediaSession API (instead of injecting JS and doing all that manually)?

[2018-11-19 20:19] psymoon commented on #1248
@pocmo yes, that would make more sense

[2018-11-19 20:30] cpeterso commented on #1248
I filed a bug requesting a GeckoView API, though we need more details about what the API would need to do and if there is a precedent WebView API we can copy.

https://bugzilla.mozilla.org/show_bug.cgi?id=1508371

[2018-11-19 21:18] liuche commented on #1511
Hi @netz-filter, thank you for those links, some very good points on this.

Since Pocket is only providing english content, we turned it off for non-en locales because of concerns that people would feel that the app was too US-centric. If we see good usage, Pocket might decide to allocate more resources to provide video content for different locales.

Mainly we haven't decided if we want to releas

[2018-11-19 22:44] #1125 closed

[2018-11-19 23:16] #1530 closed

[2018-11-20 07:08] netz-filter commented on #1511
Pocket is also annoying for me and Pocket is always displayed in DE since publication.
Only in the pre-release v3.0.1.1 is Pocket completely hidden.
Maybe then also causes the false hiding "non-en locales" your problems?

There will be A users who have locked Youtube in the router for children. or B basically do not want this content from Youtube. There should be an option to disable Pocket in Set

[2018-11-20 14:41] levisacal opened #1534 "Some icons from Youtube and other services are broken"
## Steps to reproduce

1.  Go to Youtube or Hollywoodreporter.com and watch any video

### Expected behavior

The Home, Trending, Subscription icon from Youtube and the Facebook, Twitter icon on Hollywoodreporter.com appear correctly

### Actual behavior

The Home, Trending, Subscription icon from Youtube and the Facebook, Twitter icon on Hollywoodreporter.com appear broken.

Also the Play/Pause i

[2018-11-20 16:30] giofish commented on #1495
watch.cbc.ca (or hgtv.ca) not available outside canada.
Tried hdtv.com videos not playing

[2018-11-20 16:44] npark-mozilla commented on #1534
@levisacal are you in turbo mode when this happens?

[2018-11-20 16:58] athomasmoz commented on #1495
Thanks for adding details on the additional sites! We're tracking CBC & HGTV under https://github.com/mozilla-mobile/firefox-tv/issues/1234

[2018-11-20 18:36] dnarcese opened #1535 "Fandango tile shows error page"
Clicking the Fandango tile gives an error page. The url needs to be https://mobile.fandango.com/ instead of https://**www**.mobile.fandango.com/

[2018-11-20 19:19] psymoon commented on #1528
This is the result of temporary behaviour change from https://github.com/mozilla-mobile/firefox-tv/pull/1512 for 3.1 Turbo Mode fix. Once we get https://github.com/mozilla-mobile/firefox-tv/pull/1514, we can revisit my hotfix and use LiveData instead

[2018-11-20 19:20] athomasmoz commented on #1234
#1495 may also be the same issue. Should retest that one after fix for this goes in.

[2018-11-20 19:29] athomasmoz commented on #1097
@AaronMT is this causing an issue with testing? If not, I will close as not supported.

[2018-11-20 19:43] Baron-Severin opened #1537 "Only print Pocket IO exceptions on debug builds"
### Why/User Benefit/User Problem
We are currently logging IOExceptions encountered when making Pocket related network requests in `PocketEndpoint#getGlobalVideoRecommendations`.

Users sometimes paste their logs online, potentially without realizing that personal information could be compromised.

### What / Requirements
We should only log these exceptions from debug builds.

[2018-11-20 19:43] Baron-Severin commented on #1489
@mcomella  Opened https://github.com/mozilla-mobile/firefox-tv/issues/1537

[2018-11-20 19:46] #1535 closed

[2018-11-20 21:40] liuche commented on #748
Works for me on 3.1 on Cube.

[2018-11-20 21:40] #748 closed

[2018-11-21 00:57] liuche commented on #1501
Submitted 3.1 and included all Fire TV devices.

[2018-11-21 08:34] levisacal commented on #1534
This happens with both turbo mode on and off

[2018-11-21 11:50] aminalhazwani commented on #1156
@liuche when VoiceView (https://www.amazon.com/gp/help/customer/display.html?nodeId=202105320) is enabled long press of MENU toggles Review mode on and off.

Is this something that could go in conflict if we let users open the Homescreen with a MENU long press? Also with VoiceView enabled I was able to reproduce the bug (with VoiceView you have to double press MENU to open the Homescreen).

Taking

[2018-11-21 19:06] AaronMT commented on #1534
Dupe of https://github.com/mozilla-mobile/firefox-tv/issues/1264

[2018-11-21 19:14] #1534 closed

[2018-11-21 21:27] dnarcese opened #1542 "Can't go back out of YouTube (with remote back)"
## Steps to reproduce
1. Click Google search tile
2. Open overlay and click YouTube tile
3. Click back button on remote several times to try and get back to Google
### Expected behavior
Can get back to Google
### Actual behavior
Cannot go back to Google from the remote back button. Focus stays on the 'Home' icon of YouTube.
### Device information

* Fire TV device: 4k
* Firefox version: 3.1

[2018-11-21 21:29] dnarcese commented on #773
Moving this out of this sprint in favor of the more important bug #1542.

[2018-11-21 21:31] dnarcese opened #1543 "YouTube toolbar back visits redirects"
## Steps to reproduce
1. Click on Google search tile
2. Open overlay and click on YouTube tile
3. Click back several times with overlay back button
4. Observe url bar
### Expected behavior
- If watching video- goes back to YouTube homescreen, then to Google
- If on YouTube homescreen- goes back to Google
### Actual behavior
Each back click visits a YT redirect link which does not affect the displa

[2018-11-21 22:37] #1520 closed

[2018-11-21 22:41] dnarcese commented on #1264
Fixed in [PR 1541](https://github.com/mozilla-mobile/firefox-tv/pull/1541)

[2018-11-21 22:41] #1264 closed

[2018-11-21 23:56] npark-mozilla opened #1546 "Leaving loading video website to open pocket tile causes browser to not load any site"
## Steps to reproduce
- Go to 680news.com
- Click a video (latest video image) , wait until the page loads
- The page is loading for a while, doesn't look like it's completed, so click menu button to go to the main view
- Select one of the pocket tile to load
### Expected behavior
- Website loads

### Actual behavior
- Load freezes, the progressbar is frozen

IT looks like if I go to main menu whi

[2018-11-22 00:01] npark-mozilla commented on #1546
logcat shows repeat of the following:
[code]

[2018-11-22 00:19] mcl21014 commented on #1497
Seems fixed now in the latest build as of tonight.

[2018-11-22 00:46] npark-mozilla commented on #1546
This may be a dupe of #977

[2018-11-22 16:34] athomasmoz commented on #1546
@npark-mozilla I just tried this on the release version. 680news.com latest video plays for me. I know you were seeing the issue on your cube though, do you mind retesting with the live version?

[2018-11-22 16:52] npark-mozilla commented on #1546
I just tested on live version, and I see the video playback fine, with no freeze on both cube and stick.  Only difference I notice is that the cookie warning popup shows up early when I go to 680news.com which I can dismiss, rather than the same time when I go to the video link.   Not sure what happened there though.  I suppose we can close this issue then?  (I see cnn website is loading fine now

[2018-11-22 16:56] athomasmoz commented on #1546
Phew! Thanks for checking that out. I don't think we need to log a bug for the cookie popup showing up early, unless we start to see any issues caused by that.

[2018-11-22 16:56] #1546 closed

[2018-11-22 18:41] AaronMT commented on #1511
@netz-filter Can you verify that this is fixed now with no new 3.1 UAs?

[2018-11-22 19:54] AaronMT commented on #1042
When I back out from a Pocket video I get stuck in the YouTube home-screen without a way to return to the browser. We should fix that.

[2018-11-22 19:56] dnarcese commented on #1042
@AaronMT Issues #773 and #1542 will fix that.

[2018-11-22 20:59] athomasmoz commented on #1511
Yes, we hid pocket for all non-EN locales because the curated videos are all EN.

We have a design change that will allow users to remove any of the sections from the homescreen #1314 . It sounds like this is a great use case for it, so I appreciate the feedback

[2018-11-22 22:53] netz-filter commented on #1511
@ AaronMT

Fire TV Stick 3 4K:

1. Today an update with the Firefox TV Version 3.0.3 has been rolled out from the DE Amazon Appstore and Pocket is hidden.

2. In the Firefox TV Version 3.0.3, the app can no longer be terminated with the backspace key. Bug or feature?

Firefox TV Version 3.0.3? This is probably an error in the version number, or it was a wrong version released?

@ athomasmoz

I rea

[2018-11-23 16:04] athomasmoz commented on #1374
@mcomella is this still an issue? See the latest comment on the a-c issue https://github.com/mozilla-mobile/android-components/issues/1199#issuecomment-441251246

[2018-11-23 18:31] mcl21014 commented on #1503
Seems to be fixed in the latest version of 3.1. Someone should close this.

[2018-11-23 18:58] AaronMT commented on #1503
Yep fixed in another issue. Thanks for verifying.

[2018-11-23 18:58] #1503 closed

[2018-11-23 21:48] dnarcese opened #1547 "Pocket megatile error page is never hidden"
Once the Pocket megatile error page is shown (if no network connection or if Pocket fails to retrieve any videos), it is never hidden again even on clicking Try Again.

[2018-11-24 02:40] Sdaswani commented on #1511
re-opened as the issue seems not to have abated.

[2018-11-24 04:49] Sdaswani commented on #1501
i think we need to re-open this, right @liuche ?

[2018-11-25 00:35] mconca opened #1549 "Peloton videos crash the browser"
Peloton just released a digital version of their product allowing subscribers to view any of their workout and training videos online. Trying to view these with Firefox for Fire TV seems to crash the browser, however.

STR:
1. Navigate to onepeloton.com
2. From the site's hamburger menu, select Sign In
3. Select Classes from the top nav bar
4. Pick any class
5. Press play

Result:
Screen goes blan

[2018-11-26 04:11] AaronMT commented on #1549
Might need a minimal test-case if sign-in is required.

[2018-11-26 16:32] rpappalax opened #1550 "Have a way to disable cache on geckoview"
### Why/User Benefit/User Problem
Currently, caches need to be disabled in order to see the text elements and full DOM tree on geckoview. In geckoview example app, full_accessibility_tree to true does this, we need a similar way to achieve this on reference browser. eeejay knows more detail about this.

### What / Requirements
see: https://github.com/mozilla-mobile/reference-browser/issues/264

##

[2018-11-26 18:34] oremj commented on #1511
If we send back a blank 200 response or fill in the apikey with lambda @ edge or have the origin send back results for blank consumer keys, would that slow down the clients?

[2018-11-26 22:24] Baron-Severin opened #1552 "Ensure Pocket requests are never made if key is null"
### Why/User Benefit/User Problem
This is a further mitigation for https://github.com/mozilla-mobile/firefox-tv/issues/1511

Currently, Pocket calls are made from a few different places in the codebase.  Some of these verify that a key exists beforehand, some don't.  It is also possible to add additional calls in the future and forget to include this logic.

To fix this, checks for whether or not

[2018-11-26 22:28] Baron-Severin opened #1553 "Don't make any Pocket requests from non-English locales"
### Why/User Benefit/User Problem
Currently, Pocket is only shown to users in English speaking locales.  However, in the interest of separating concerns, the repo is currently unaware of locales.  Requests are made regardless, and only displayed if the locale is correct.

Non-English locales make up a substantial proportion of our user base, so it would be good to minimize these wasted calls.

###

[2018-11-27 00:35] Baron-Severin opened #1554 "Test Pocket backoff logic"
### Why/User Benefit/User Problem
When writing `PocketVideoRepo`, we were unable to test the most complex and error-prone part of the code (failed request backoff logic).  It currently regulates calls using coroutine delays, making testing difficult.

There should be a way to handle time through an abstraction that allows us to test this code.  As this code is complex, this should be a high priori

[2018-11-27 18:34] #1550 closed

[2018-11-27 19:10] psymoon commented on #1554
It might be worth it to look into https://github.com/square/okhttp/wiki/Interceptors to possibly replace our manual retry logic

[2018-11-27 19:11] liuche commented on #1549
May be related to #1495, and we should see if this a WebView version problem.

[2018-11-27 19:22] athomasmoz commented on #1543
@psymoon @dnarcese Check out possibel solutions
@aminalhazwani can you confirm the desired behaviour here?

[2018-11-27 19:39] athomasmoz commented on #1501
All devices now have the same code. It's listed under 2 version numbers which we will fix next release.

[2018-11-27 19:39] #1501 closed

[2018-11-27 22:56] dnarcese commented on #1542
Blocked on #1543

[2018-11-27 22:57] dnarcese commented on #1543
a-c needs to expose whether a page load is a redirect so that we can handle back behaviour differently.
Link to issue -> https://github.com/mozilla-mobile/android-components/issues/1493

[2018-11-28 09:18] netz-filter commented on #1511
Hi @liuche!

Thanks for your information!

https://github.com/mozilla-mobile/firefox-tv/blob/master/CHANGELOG.md#302---2018-10-30

1. Do not quite understand the relation of her question.

If I had read correctly, from version Firefox 3.0.2 on Pocket should be hidden and in the version Firefox 3.0.2 from the Appstore the Pocket Feed was visible to me.
As already written, the version Firefox TV v3.

[2018-11-28 13:17] aminalhazwani commented on #1543
Yes, confirmed.

As a side note the same happens on Desktop if we open youtube.com/tv. But it doesn't happen for other website which have a redirect.

[2018-11-28 14:44] rpappalax opened #1556 "Add toggle for UI automation"
https://docs.google.com/document/d/17Ba_om6Z02hHLtpPcylCgHTi5a9Llyb3ebQgNAcrI7Q/edit

[2018-11-28 18:49] athomasmoz commented on #1071
@aminalhazwani I'd like to add this to next sprint. However, I'm worried about the back button behaviour. We're getting more & more feedback about people needing the back button to return to the homescreen & ultimately exit the app. What are your thoughts on having the back button from Website A take you to the homescreen. And the back button from the homescreen exit the app?

[2018-11-29 07:22] liuche opened #1557 "Separate out Mozilla services components from code base"
Currently we include all services endpoints, like telemetry, crash reporting, and Pocket in the repo codebase, but any fork of this repo will also send requests and telemetry. We assume only our own apps are using this code, which, being open source, isn't always a good assumption.

A few things we might want to do here:
- Protect endpoints by adding them at build time (through Taskcluster, like w

[2018-11-29 15:14] aminalhazwani commented on #1071
@athomasmoz I thought we where opting for this approach 🙂

See https://github.com/mozilla-mobile/firefox-tv/issues/1071#issuecomment-438384460 up here.

[2018-11-29 16:07] athomasmoz commented on #1071
Oh may be a misunderstanding of your previous message. In your diagram, BACK goes right out of the app. But if someone only has a back button, then how do they reach the overlay? So my question is, can the back button from site A first go to the homescreen/overlay. And then a 2nd back press exit the app

[2018-11-29 18:50] dnarcese commented on #1202
I just ran into this again. I can reproduce by clicking the menu button twice. It only works once from a fresh install, but it is continuously reproducible after every fresh install.

[2018-11-29 18:58] Baron-Severin opened #1558 "Replace custom copyBackForwardList with A-C equivelent"
### Why/User Benefit/User Problem
We need the `WebBackForwardList.currentIndex`, which is not currently exposed by A-C `Session`.

### What / Requirements
Once `Session` provides this information, remove our temporary code that retrieves it (found in `EngineView#currentBackForwardIndex`.

[2018-11-29 19:01] pocmo commented on #1558
https://github.com/mozilla-mobile/android-components/issues/1340

[2018-11-29 19:49] dnarcese opened #1559 "Grey screen on WebView after Settings"
## Steps to reproduce
1. Click Google search tile
2. Open overlay and click Settings
3. Click back on remote
4. Click menu button
### Expected behavior
Google search should appear.
### Actual behavior
Grey screen with frozen progress bar is shown. If you scroll down, Google search is shown but the progress bar is still frozen on screen.
### Device information

* Fire TV device: 4k
* Firefox versio

[2018-11-29 22:36] Baron-Severin opened #1560 "Remove Pocket code from WebRenderFragment#onUrlChanged"
### Why/User Benefit/User Problem
There is some outdated code in `WebRenderFragment#onUrlChanged` that should have been removed during the Pocket refactor.  As it was missed, we cannot be sure that it is not currently supporting important behavior.

### What / Requirements
- Remove Pocket related code from `WebRenderFragment#onUrlChanged`
- Verify that behavior is unchanged

[2018-11-30 13:12] aminalhazwani commented on #1071
Ok, let's try to see if this might work.

1. Launch Firefox
2. Open Website A
3. Press BACK on remote
4. Show Homescreen (instead of exit app as Silk)
5. Press BACK
6. Exit app (instead of dismissing homescreen and going back to website A)

If we use the BACK button to exit the app instead of dismissing the homescreen there is no direct way to return to Website A from the homescreen. So while we w

[2018-11-30 18:19] Baron-Severin commented on #658
This is fixed in https://github.com/mozilla-mobile/firefox-tv/issues/1392.  Per @aminalhazwani, clicking the refresh button now closes the overlay.

[2018-12-04 17:43] yoasif commented on #240
"Me too" comment here.

I picked up a Nvidia Shield TV over black friday this year and was surprised to not find Firefox available in the Play Store, having seen the news about Firefox TV a while back. I managed to get it installed from one of the apk mirror sites while writing this comment, and it seems to work without issue.

[2018-12-05 17:23] AaronMT opened #1565 "Empty test suite on attempt to execute individual UI tests"
On fresh clone and fresh project import to AS, attempting to run a UI test (default configurations) I am presented with

`Process finished with exit code 1
Class not found: "org.mozilla.tv.firefox.ui.BasicNavigationTest" Empty test suite.`

Merely by right clicking the test and running/debugging the UI test.

I double checked if the Gradle config for `        testInstrumentationRunner "org.mozilla

[2018-12-05 17:35] AaronMT commented on #1565
Running the entire package works
<img width="618" alt="screen shot 2018-12-05 at 12 34 12 pm" src="https://user-images.githubusercontent.com/102331/49532300-34cfa980-f88a-11e8-983e-2097895fed25.png">

[2018-12-05 17:58] AaronMT commented on #1565
After suite execution, attempts on running individual tests are presented with

`"/Applications/Android Studio.app/Contents/jre/jdk/Contents/Home/bin/java" -ea -Didea.test.cyclic.buffer.size=1048576 -Didea.launcher.port=65082 "-Didea.launcher.bin.path=/Applications/Android Studio.app/Contents/bin" -Dfile.encoding=UTF-8 -classpath "/Applications/Android Studio.app/Contents/lib/idea_rt.jar:/Applicat

[2018-12-06 18:15] mcomella commented on #1360
@Baron-Severin Please update us on the status of this bug.

[2018-12-06 18:22] mcomella commented on #773
I have a functioning WIP, possibly fragile, in https://github.com/mcomella/firefox-tv/tree/i773-youtube-back

[2018-12-07 16:03] mcomella commented on #1311
Implementation tip: look into the Android TV support libraries to see if there is a re-usable component for channel rows.

[2018-12-08 05:06] Baron-Severin commented on #1360
We believed that this was failing because of a problem with the test, but it was due to an actual bug.  This bug was fixed in https://github.com/mozilla-mobile/firefox-tv/pull/1524.  Lesson learned, the tests don't help much if we don't take them seriously and verify that they're meaningful.  We'll do better next time.

However... this test is expanded as part of #1392.  It now checks that back/fo

[2018-12-10 17:33] #1482 closed

[2018-12-10 17:43] Sdaswani opened #1566 "Build 3.1.2 with LN Tile Removed"
We need to shut off the promotion since the concert is tomorrow night.

[2018-12-10 18:00] mcomella commented on #1522
FYI @athomasmoz: this is a joint effort with other teams so we should do this sooner rather than later.

[2018-12-10 19:37] npark-mozilla commented on #1565
I tried this locally, and could not repro.  This could be related to the gradle upgrade.  In my case the tests are running on both Fire Cube and API 27 TV sim

[2018-12-10 20:46] npark-mozilla commented on #1565
@rpappalax noticed that the gradle version was upgraded to 4.5/4.6 after selecting "Open existing android project".  but we should use gradle 4.10.2 in order for the app to build properly.  Perhaps this could have caused the issue.  Also, I noticed that I had to import the gradle project in AS for the first time in order to properly build the project.

[2018-12-10 21:06] Baron-Severin opened #1567 "ProgressView is visible after switching fragments"
## Steps to reproduce
From home screen
- Navigate to any site
- Open menu
- Open Pocket screen
- Back to main menu
- Close menu (i.e., return to browser)

### Expected behavior
- ProgressBar will be invisible

### Actual behavior
- ProgressBar is visible (but motionless)

### Device information

* Fire TV device: Pendant
* Firefox version: Release

[2018-12-11 00:30] mcomella opened #1568 "Typo in screenshots script: will not assemble android test as expected"
https://github.com/mozilla-mobile/firefox-tv/blob/00b61b4f5344eb878b0efa4cafb61d535f1b9bc3/download-build-run-locale-screenshots.sh#L54

should be:
[code]

@AaronMT FYI.

[2018-12-11 00:50] mcomella commented on #1374
@athomasmoz Yes, I think we are still affected.

[2018-12-11 19:08] AaronMT commented on #1565
`./gradlew connectedDebugAndroidTest -Pandroid.testInstrumentationRunnerArguments.class=org.mozilla.tv.firefox.ui.BasicNavigationTest`

Works fine.

[2018-12-11 19:43] mcomella commented on #240
@yoasif Which APK mirror site did you use? We're curious where our APKs are being hosted. :)

[2018-12-11 19:49] mcomella commented on #1565
@AaronMT Have you tried deleting your run configurations (or the more nuclear option of removing `.idea` and recreating the project)? I think android studio is caching invalid state which can happen when the tests are renamed or moved. Since it's working on the command line, it's a good indication that it's Android Studio's fault.

[2018-12-11 21:17] npark-mozilla opened #1569 "UI Tests cannot run in Debug mode"
## Steps to reproduce
Run UI Test in Android Studio, to either device or simulator, in debug mode

### Expected behavior
Test starts

### Actual behavior
Test does not start, stuck after the command `$ adb shell CLASSPATH=$(pm path android.support.test.services) app_process / android.support.test.services.shellexecutor.ShellMain am instrument -r -w -e targetInstrumentation org.mozilla.tv.firefox.d

[2018-12-11 21:45] npark-mozilla commented on #1569
I guess my question is why it's looking for `/data/app/android.support.test.orchestrator-2` instead of `/data/app/android.support.test.orchestrator` .  On other machines (where it still fails, I've seen it looking for `/data/app/android.support.test.orchestrator-1` as well.

[2018-12-11 21:53] npark-mozilla commented on #1569
seems like Android Studio isn't the issue either, when `adb shell am instrument -w -e debug true org.mozilla.tv.firefox.debug.test/org.mozilla.tv.firefox.FirefoxTestRunner` is executed on cli, the test hangs as well.  it runs test fine with other test options it seems.

[2018-12-11 22:37] AaronMT commented on #1565
I've nuked and re-cloned. Must be something living outside the project.

[2018-12-12 01:38] Sdaswani opened #1570 "Investigate Remote Install of Firefox"
https://developer.amazon.com/docs/fling/remote-install.html

https://developer.amazon.com/docs/fling/understanding-the-amazon-fling-service.html

[2018-12-12 03:32] liuche opened #1571 "Can't play LiveNation media player"
On release, trying to play the firefoxconcerts.livenation.com media player results in a crash on release (probably due to Amazon watchdog killing the app for a dead webview), and making the webview unresponsive on debug.

This could just be a webview chromium bug - I noticed that the ad plays on Silk, but doesn't stream.

Note, this might not be actionable, and maybe a WONTFIX because the event wi

[2018-12-12 15:43] #1109 closed

[2018-12-12 17:13] athomasmoz commented on #1213
Yes, let's close this issue. I don't think it's worth us tracking

[2018-12-12 17:13] #1213 closed

[2018-12-12 17:55] liuche commented on #1566
Build has been made and released, closing.

[2018-12-12 17:55] #1566 closed

[2018-12-12 21:35] liuche commented on #1571
Waiting for Loren to get some more info from LiveNation on this video player and stream.

[2018-12-12 22:00] #1369 closed

[2018-12-12 22:00] #1547 closed

[2018-12-13 15:23] AaronMT commented on #1565
@npark-mozilla and I can both reproduce on our laptops now

Here's the issue:

![screen shot 2018-12-13 at 10 19 30 am](https://user-images.githubusercontent.com/102331/49948031-9b734980-fec0-11e8-9f23-981ec870e4b8.png)

On attempt to run any test under the Android Instrumented Tests category it will fail. Android Studio (or something in the default configurations) thinks the tests are JUnit tests

[2018-12-13 18:56] liuche commented on #1523
Action to take here: audit the code and document in this bug where we could be dropping the Pocket key (leading to invalid requests), or explain why that's not possible. Then we can close this bug.

[2018-12-13 19:38] mcomella commented on #1409
It looks like this is possible. Each `KeyEvent` has a `getDeviceId()` method that can be inserted into `InputDevice.getDevice(deviceId)` and returns the following data:
[code]

In particular, mName, mVendorId, and mProductId seem like useful fields to potentially record.

We need to figure out the question we want to answer to determine how we should record the telemetry (e.g. we should probably o

[2018-12-13 19:40] mcomella commented on #1409
For my Samsung smart TV remote that controls the Fire TV, I see:
[code]

Curiously, the device name is, "virtual": I guess the smart TV is controlling the fire TV through software.

Note also that the `deviceId` changes between devices even if it's the same remote (i.e. cube has 6 for fire TV remote but stick has 5 for fire TV remote).

[2018-12-13 19:43] athomasmoz commented on #1409
The question we want to answer is "what controls do users have available to them?" It doesn't look like that information is returned, but if we can map the mName, mVendorId, and mProductId back to a remote, that should do it! So I agree those fields make sense to track

[2018-12-13 19:52] mcomella commented on #1543
afaict, these aren't redirect links: youtube.com/tv is actually broken. It doesn't handle back button presses beyond changing the URL. You can reproduce this behavior on desktop:
- Open youtube.com/tv on desktop
- Click a video
- Press back in toolbar

Expected: go back to previous youtube page
Actual: content only changes when moving to previous

[2018-12-13 19:53] mcomella commented on #1543
I think this can be closed as WORKSFORME (unless we wanted to reach out to youtube about the problem).

[2018-12-13 19:54] mcomella commented on #773
WIP is actually for #1542: I should read more carefully.

[2018-12-13 19:55] mcomella commented on #1542
I disagree – see that issue. I have a functioning WIP that fixes this issue, possibly fragile, in https://github.com/mcomella/firefox-tv/tree/i773-youtube-back

My WIP only goes back in the browser stack: it won't pop into the fragment back stack or close the app.

[2018-12-13 20:05] mcomella commented on #1543
To be explicit about what youtube is doing, I think they're using the [HTML 5 history API](https://developer.mozilla.org/en-US/docs/Web/API/History_API#Adding_and_modifying_history_entries) which lets a website update the URL and add events to the back/forward toolbar back stack _without reloading the page_ (i.e. letting them dynamically fetch and modify the content with javascript). This behavior

[2018-12-13 20:15] mcomella commented on #1367
It looks like this is partially addressed in #1392.

[2018-12-13 20:27] liuche opened #1572 "Can't exit app with back-button press"
## Steps to reproduce
Open app.
Click back button on remote.

### Expected behavior
Exits app.

### Actual behavior
Doesn't exit app, no feedback.

[2018-12-13 20:39] mcomella commented on #1558
In the PR for #1392, I suggested using `toolbar.canGoBackOrForward` instead for performance reasons.

[2018-12-13 22:00] npark-mozilla commented on #1565
So it looks like android studio thinks those UI tests are not Instrumented tests, but Kotlin classes (i.e. unit tests) instead, (as seen from the icons above) when individual tests are selected under 'Android Instrumented Tests' tab.  For some reason, the test runs when the folder is selected, and as Aaron mentioned above, in Project view they are working.  I think this is more to do with Android

[2018-12-13 22:00] #1565 closed

[2018-12-13 22:17] npark-mozilla commented on #1565
Found out more, so if I change the line
`@get:Rule val activityTestRule = MainActivityTestRule()` to
`@Rule
    var mActivityTestRule: ActivityTestRule<MainActivity> = MainActivityTestRule()`
Then it kicks off the sim and tries to run the test, but it complains because `mActivityTestRule` isn't `public`.  However, adding `public to `mActivityTestRule` is redundant.   @mcomella do you know a quick

[2018-12-13 22:52] yoasif commented on #240
Downloaded from https://www.apkmirror.com/apk/mozilla/firefox-android-tv/firefox-android-tv-3-1-1-release/firefox-android-tv-3-1-1-android-apk-download/

[2018-12-14 16:12] dnarcese commented on #1572
Do we want to show a confirmation dialog before exiting?

[2018-12-14 18:47] #1288 closed

[2018-12-14 18:47] #1392 closed

[2018-12-14 18:47] #1347 closed

[2018-12-14 21:21] #1543 closed

[2018-12-14 22:10] athomasmoz opened #1577 "JW Player Version 8 Crashes Fire TV"
## Steps to reproduce

1. Open Firefox
2. Open https://developer.jwplayer.com/tools/stream-tester/?playerversion=7
3. Open https://developer.jwplayer.com/tools/stream-tester/?playerversion=8

### Expected behavior

Both URLs should display the JW Player testing site, and the "TEST PLAYER" video should auto-play

### Actual behavior

Player version 7 works as expected
Player version 8 crashes Firef

[2018-12-15 00:10] liuche commented on #1511
This should be resolved now - we've contacted the fork and requested changes to remove the spamming bug, and the Pocket endpoint has been moved to a different CDN that handles these requests. Hopefully these steps will mitigate these problems enough.

[2018-12-15 00:10] #1511 closed

[2018-12-17 19:04] #1568 closed

[2018-12-17 21:18] mcomella commented on #1282
**Update:** l10n has requested that we remove unused strings so we can have an understanding of the overlap of strings between Focus, Fire TV, and Echo Show: bumping to triage. In order to do this, we also have to remove unused code because strings that are referenced in unused code will not be considered unused.

[2018-12-17 23:36] mcomella opened #1580 "Bug 1514907"
https://bugzilla.mozilla.org/show_bug.cgi?id=1514907

[2018-12-18 00:33] #1552 closed

[2018-12-18 00:52] #1580 closed

[2018-12-18 19:04] #1528 closed

[2018-12-18 19:31] liuche commented on #1499
This could also be split-screen within Firefox (e.g. multiple tabs, so you can browse + watch Youtube).
If we want to allow Firefox as the PIP, we'd need to talk to Amazon to see if they allow this. AFAIK I don't see any other apps with this capability yet.

[2018-12-18 20:20] mcomella opened #1582 "Consider adding a private browsing mode"
### Why/User Benefit/User Problem
The TV is a shared device and sometimes users don't want others in the shared environment to know about their browsing history: we should consider adding a private browsing mode to help these users.

Note: this was user requested.

### What / Requirements
- Add private browsing mode
- Consider how this might interact with parental controls
- Think about telemetry

[2018-12-18 20:23] liuche opened #1583 "Explore remote control shortcuts for faster browsing"
### Why/User Benefit/User Problem
Navigation is really limited by the simple remote, so shortcuts could make it easier to navigate to content users are looking for.

For example, Netflix uses the "down" button to show a toolbar when you're in a video; @mcomella also created a PR a while ago to explore how to "page down" with a double-tap on the down button: https://github.com/mozilla-mobile/firefo

[2018-12-18 20:31] dnarcese commented on #1572
Merged into releases/v3.1.3

[2018-12-18 20:31] #1572 closed

[2018-12-18 20:55] dnarcese opened #1584 "Can't go back out of YouTube from a Pocket video with remote back"
Similar to #1542, but specifically for the case where you got to YouTube from clicking a video in the Pocket feed.
## Steps to reproduce
1. Visit any site
2. Open overlay and click Pocket
3. Click video
4. Try to exit YouTube with remote back button
### Expected behavior
Ability to go to the previously visited site.
### Actual behavior
Stuck on YouTube side navigation bar.
### Device information

[2018-12-18 22:53] dnarcese opened #1585 "Followup to PR #1576"
Some issues still need to be addressed from PR #1576 to make it the most accurate and efficient:

- [x] Create separate class for everything related to YouTube back handling
- [ ] Pressing back from Pocket can exit YouTube #1584
        (related) Ability to exit YouTube if it was visited by typing youtube.com/tv in urlbar

- [ ] Write tests - will be done in #1584 because behaviour will change

-

[2018-12-18 23:25] Baron-Severin opened #1586 "Clean up Toolbar MVVM PR"
#1392 was merged while I was on PTO, but there are some remaining code cleanliness issues to be addressed.  See comments on https://github.com/mozilla-mobile/firefox-tv/pull/1514

[2018-12-18 23:46] liuche commented on #1557
For app-id, all we need to do is include a ping in [`TelemetrySettingsProvider`](https://github.com/mozilla-mobile/firefox-tv/blob/master/app/src/main/java/org/mozilla/tv/firefox/telemetry/TelemetrySettingsProvider.kt#L25) to collect `BuildConfig.APPLICATION_ID`

[2018-12-19 01:07] #1557 closed

[2018-12-19 01:48] #1553 closed

[2018-12-19 15:33] dnarcese commented on #1584
Visiting YouTube from Pocket acts differently than visiting from the home tile because it does not actually visit 'youtube.com/tv' or 'https://ftv.cdn.mozilla.net/ytht'. In the current implementation for exiting YouTube, we check for 'https://ftv.cdn.mozilla.net/ytht' in the backstack and then go back to the previous item. Since videos have different urls everytime, a different approach is needed.

[2018-12-19 16:19] npark-mozilla opened #1589 "Firefox exits when back button is pressed on a webpage after the app is reopened"
## Steps to reproduce
- Enable turbo mode, open website by typing in the URL bar
- After the page is open, press back button to go back to main view
- Press back button again to exit
- Select the app to reopen
- Type the same URL (different URL should also work)
- Press back button

### Expected behavior
- Shows the tile view and remains there

### Actual behavior
- Shows the time view briefly, th

[2018-12-19 16:21] npark-mozilla commented on #1589
Workaround:  use the menu to get back to the home-screen instead of the back-button

[2018-12-19 16:25] npark-mozilla opened #1590 "Cursor disappears after history is cleared, and back button is pressed from URL page"
## Steps to reproduce
- Open Google.com
- Press back button to go to the tile view
- Go to settings, and clear history
- Enter URL on the URL bar to open google.com again
- Press back button

### Expected behavior
- Tile view should be shown, with selected element highlighted

### Actual behavior
- There is no highlight on the tile view, clicking menu button shows the highlight on the back button,

[2018-12-19 16:34] AaronMT commented on #1590
Current work-around is to use the device `menu` button to return to the home-screen.

[2018-12-19 16:49] npark-mozilla opened #1591 "History URL is displayed more than once when using back/forward button"
## Steps to reproduce
- Open app, and click Fandango tile to open Fandango URL.
- Click menu button, then click Hollywood Reported tile to open HR URL.
- Click menu button, then click Flickr tile to open Flickr URL.
- Click menu button, and continue pressing back until the end , and then forward until the forward button is greyed out
### Expected behavior
- The visited urls are shown only once, in

[2018-12-19 17:21] AaronMT opened #1592 "Application hang (or focus) issue after clearing private data and hitting back"
* Build: 3.1.3
* 4K Device

Launch 3.1.3

- Settings, Clear Private Data
- Hit `back` on the device remote

Application either hangs or loses focus and is thus unusable from that point onwards.

[2018-12-19 17:30] AaronMT commented on #1592
This seems reproducible in 3.1.2 too.

[2018-12-19 17:53] Baron-Severin commented on #1592
@AaronMT I'm unable to reproduce on v3.1.2, could you verify?  I'm testing on a Cube, I'll double check on other devices.

AFAICT, this was introduced in b81db7f6ba24fd2dad2c32c2c1c6ca15dc869734.

[2018-12-19 17:58] Baron-Severin commented on #1592
Just to document some weirdness...

- Open settings
- Clear private data
- Hit back on remote remote
- Hit menu on remote twice
(Turbo mode button appears to be focused)
- Hit any direction keys on the d-pad
(Nothing will happen)
- Click
(Pocket will appear to be clicked, app will crash with the following KNPE)

[code]

[2018-12-19 18:35] Baron-Severin commented on #1592
More clues.

The implementation of this that didn't cause any focus issues hit this code when backing after clearing data.

[code]

Interestingly, even though the overlay is clearly visible to the user, `!browserOverlay.isVisible` is evaluating to true, so the top branch is hit.

TL;DR, it looks like both the old and the new code **should** return false from this use case, but the old code didn't.

[2018-12-19 18:45] npark-mozilla commented on #1591
Also, this may be an existing issue, but when back or forward is pressed, you can't press the button of opposite direction immedidately. For example, I can't press back and then press forward immediately.   I need to leave the app for 5 seconds or so, then the button of opposite direction is enabled.

[2018-12-19 18:49] dnarcese commented on #1589
Seems to be that the second time the app is opened, `firefox:home` isn't properly being added to the history stack, so from the first website, the app thinks there is nothing to go back to, and therefore closes.

[2018-12-19 18:58] liuche commented on #1590
Looking at this, it seems really similar to #1592, because we're not handling focus correctly when returning to the homepage after history is cleared. (Also see @dnarcese's [comment](https://github.com/mozilla-mobile/firefox-tv/issues/1589#issuecomment-448703643) in #1589, which probably isn't related but could be confusing the overlayVisibility check if we're not "on" the correct ABOUT_HOME url).

[2018-12-19 19:03] liuche commented on #1591
The slow Forward button enable is #1231.

I'll take a look at this. Maybe we're not updating the url correctly, or updating it from an older state so the old url is swapped in briefly. Looking at the progress bar, the url isn't changing, so this might be something we're doing wrong while updating the overlay in callbacks.

[2018-12-19 19:10] npark-mozilla commented on #1589
FYI, this does not repro on 2.1.2

[2018-12-19 19:11] npark-mozilla commented on #1590
FYI, this does not repro on 2.1.2

[2018-12-19 19:40] mcomella commented on #1565
On Mon, Dec 17, 2018 at 7:28 AM No-Jun Park <notifications@github.com>
wrote:

What do you mean under 'Test' on 'Projects' as well? I'm familiar with the
"androidTest" hierarchy in the "Android" view, which is where the UI tests
are located and I'm familiar with the "Project" view but I'm not sure how
these are related.

[2018-12-19 19:55] npark-mozilla commented on #1565
@mcomella so currently Fire TV UI tests will fail to run under:
![screen shot 2018-12-19 at 2 51 37 pm](https://user-images.githubusercontent.com/6930774/50244346-b43a9e00-039d-11e9-86d9-812315a384fc.png)
![screen shot 2018-12-19 at 2 51 52 pm](https://user-images.githubusercontent.com/6930774/50244351-b997e880-039d-11e9-8bff-4fc0e30e1789.png)
Because AS thinks they are unit tests.
But will run on

[2018-12-19 20:56] liuche commented on #1409
I think this would be worth prioritizing for Q1, @athomasmoz!

Also, @mmccorks is there a way to see what percentage of our users have never used the menu button?

[2018-12-19 21:30] Baron-Severin commented on #1592
Per @AaronMT the focus bug is also reproducible on some devices.

This is not a new regression, and as long as it is not reproducible on master we will not be fixing it on v3.1.3.

[2018-12-19 21:32] #1592 closed

[2018-12-19 21:55] npark-mozilla opened #1595 "Cannot back out of YT if the app is reopened"
## Steps to reproduce
- Open app, open YT by clicking the tile
- Click a couple of video links
- Press back button until tile view is shown
- Press back button to exit the app
- Reopen app
- open YT by clicking the tile
- Click back button to exit YT to tile view
### Expected behavior
- Shows tile view
### Actual behavior
- Stays in YT
Pressing menu to show tile view then clicking back only return

[2018-12-19 21:58] npark-mozilla commented on #1595
Workaround: click menu button to go to tile view, clear history, then press back button

[2018-12-19 22:00] Baron-Severin commented on #1589
I see this in the logs when this crashes.  Possibly related to a memory leak?

[code]

[2018-12-19 22:07] npark-mozilla opened #1597 "Forward button is always enabled when back button is pressed until the end after YT visit"
## Steps to reproduce
- Open app, go to YT, play a video
- press back button on remote until tile view is shown.
- press back button on UI until back button is greyed out, and forward button is enabled
- press forward button until it's greyed out

### Expected behavior
- Forward button is greyed out at some point

### Actual behavior
- Forward button is never greyed out, while URL bar is displayin

[2018-12-19 22:39] AaronMT commented on #1595
Reproducible on the 4K too, same build.

[2018-12-19 22:40] AaronMT commented on #1597
Reproducible on the 4K, same build. Wouldn't block.

[2018-12-19 22:59] mmccorks commented on #1409
@liuche so long as there is an event sent when the menu button is used we could do that. Can you file a data science bug to pull that data?

[2018-12-19 23:06] athomasmoz opened #1598 "Lose Forward History After Youtube"
## Steps to reproduce

### Expected behavior

### Actual behavior

### Device information

* Fire TV device: ?
* Firefox version: ?

[2018-12-20 15:35] npark-mozilla commented on #1595
I cannot repro this on the latest LAT

[2018-12-20 15:36] #1595 closed

[2018-12-20 15:40] npark-mozilla commented on #1589
I can no longer repro this issue, closing it

[2018-12-20 15:40] #1589 closed

[2018-12-20 15:42] levisacal opened #1601 "Press play/pause to continue appears for a slight moment when the app is reopened and a YT is resumed"
## Steps to reproduce

1. Access YouTube and watch a video
2. While watching the video, exit the app using the Home button
3. Resume the app

### Expected behavior

Video resumes correctly

### Actual behavior

Press to play/resume button appears for a moment before the video resumes

### Device information

* Fire TV device: Fire TV 4k with Remote
* Firefox version: 3.1.3

[2018-12-20 16:42] dnarcese commented on #1542
#1576 was merged into releases/3.1.3.

[2018-12-20 16:42] #1542 closed

[2018-12-20 16:45] dnarcese opened #1602 "Merge fixes for #1542 and #1572 into master"
These two fixes related to back button behaviour have only been merged into `releases/3.1.3` branch. They need to be in master as well.

[2018-12-20 17:24] mcomella opened #1604 "Add telemetry for Pocket download (understand user bandwidth)"
### Why/User Benefit/User Problem
We download Pocket data in the background every 45 minutes or so. However, some users may not have a good connection and this can negatively affect their experience (e.g. their playing videos rebuffer on every download, every 45 minutes). We should add some telemetry to understand how this background download might be affecting their experience (e.g. length of dow

[2018-12-20 18:22] athomasmoz commented on #1231
@Baron-Severin I can't reproduce this. Sounds like it may have been fixed by components team, do you mind trying it out again?

[2018-12-20 19:07] Baron-Severin commented on #1231
Still reproducible for me, unfortunately
Device: Cube
Version: 234acb430dcec7423be7d7dd5191cd3e23186b2b

![slow-forward-enable](https://user-images.githubusercontent.com/13170306/50305353-6bd7ba80-0447-11e9-9b68-1265a04201f0.gif)

[2018-12-20 19:54] Baron-Severin commented on #1412
I've been unable to reproduce this on 4k, Cube, or Stick.  Could anyone verify that this is still an issue?  It's possible that this has already been addressed on Amazon's end.

[2018-12-20 19:55] Sdaswani commented on #1412
I can ask Amazon if they can still repro, let me know if i should.

[2018-12-20 21:05] Baron-Severin commented on #1412
@Sdaswani that would be super helpful, thanks!

[2018-12-20 21:05] mcomella commented on #1565
@npark-mozilla fwiw, I usually run by right-clicking "androidTest" in the "Android" project view and that seems to work correctly:
<img width="664" alt="screen shot 2018-12-20 at 13 04 00" src="https://user-images.githubusercontent.com/759372/50310753-dabd0f80-0457-11e9-845e-784b1aa8d0fa.png">

[2018-12-20 21:34] npark-mozilla commented on #1565
Oh actually, I think below declaration of ActivityTestRule makes it run on any config.  Just tried it and it works for me:
[code]

Maybe we can later open a PR to update the UI test scripts unless this would potentially cause other issues?
@AaronMT FYI

[2018-12-20 22:57] athomasmoz commented on #1364
Closing in favour of keeping individual tickets only.

[2018-12-20 22:57] athomasmoz commented on #1304
Closing in favour of keeping individual tickets only

[2018-12-20 23:19] Baron-Severin opened #1607 "Pocket related UI tests are broken"
### Why/User Benefit/User Problem

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2018-12-20 23:52] liuche commented on #1571
More logs here: https://gist.github.com/liuche/85ec240b719f522bcacd38bd5c182ecd

[2018-12-21 00:09] Sdaswani commented on #1412
@Baron-Severin it may also have been fixed by IMDB? I would say if you can't repro per the STRs, go ahead and close. We can also re-open.

[2018-12-21 00:12] #1412 closed

[2018-12-21 16:40] athomasmoz commented on #1237
@levisacal can you reproduce this on the latest version? Just tried on my fire tv stick basic edition and the videos worked for me.

[2018-12-21 17:08] AaronMT opened #1609 "URL in address-bar not updating"
Build: master (b5f34a5d01bfa21c8ae74ba86da64e07612b1754)
Device: 4K

Discovered this issue when trying to pin a stream on Twitch and the pinned tile was not the URL I was on.

- Visit http://twitch.tv (redirects to http://m.twitch.tv)
- Check the address-bar on the home-screen (should be https://m.twitch.tv)
- Tap on any game directory
- Check the address-bar on the home-screen (URL is https://m.t

[2018-12-21 18:18] dnarcese commented on #1602
Closed in #1603

[2018-12-21 18:18] #1602 closed

[2018-12-21 18:49] mcomella commented on #1565
We switched from `@Rule @JvmField` to `@get:Rule` because it was less
verbose but if the latter is causing issues, I'm okay with us changing it
back.

On Thu, Dec 20, 2018 at 1:34 PM No-Jun Park <notifications@github.com>
wrote:

[2018-12-21 19:01] Baron-Severin commented on #1565
`@rule @JvmField` and `@get:Rule` _should_ be equivalent in this case, but who knows.

FWIW, I always find running tests via the UI to be annoyingly flakey.  I aliased `./gradlew connectedAndroidTest`, which I find to be much more reliable (for whatever reason).

[2018-12-21 19:06] npark-mozilla commented on #1565
Same here, only advantage of running test via IDE is when I need to set breakpoints and debug.  I don't think we're in any particular hurry to update the test scripts, just want to have a record so we'll know what to do when test fails on UI.

[2018-12-21 20:52] athomasmoz commented on #1577
Note: this issue doesn't exist on Echo Show. Maybe we don't need to go all the way up to Chromium v70 for the fix? cc @liuche

[2018-12-21 21:02] #1586 closed

[2018-12-21 22:15] liuche commented on #1577
Actually, I just tried this out on Fire TV with master (3.1.3) and I don't see a crash for 7 or 8.

The full-screen cuts off though:
![jw7](https://user-images.githubusercontent.com/1082253/50365754-d1e93e00-052a-11e9-9f8e-a351812d291d.png)

[2018-12-22 01:14] liuche opened #1611 "WebView destroyed without correct cleanup on Clear Data, SettingsFragment crash (non-app crash)"
Probably similar to this `KotlinNullPointerException`: https://sentry.prod.mozaws.net/operations/firefox-tv/issues/5052169/?query=webview

## Steps to reproduce
Clear Data from Settings

### Expected behavior
SettingsFragment doesn't crash

### Actual behavior
SettingsFragment crashes, goes back to homescreen. (The flash looks like a crash, but isn't an app crash).

[code]

[code]

### Device info

[2018-12-22 01:15] liuche commented on #1592
Actually now that the SettingsFragment crashes on data clear in #1611, this isn't even a problem anymore.

[2018-12-24 17:48] mcl21014 opened #1612 "Pins keep resetting upon exiting Firefox for Fire TV"
## Steps to reproduce
Remove some default pins, and exit Firefox for Fire TV via the back button. Sometimes upon returning to the app, the default pins are restored. Exact cause unknown.
### Expected behavior
The default pins should stay removed.
### Actual behavior
The default pins are restored despite the user removing them.
### Device information
Fire Stick 4k, Firefox for Fire TV LAT v3.1.3

[2018-12-26 17:43] liuche commented on #1370
Linking this to #1396 so we don't lose it.

[2018-12-26 19:01] mcl21014 opened #1613 "Add ability to change default search engine"
### Why/User Benefit/User Problem
Currently, all searches are routed through Google. Silk has the ability to change search engines, so why not Firefox? Google isn't the most private search engine out there, for one.
### What / Requirements
Add the UI and underlying code to change the search engine, kind of like in Focus.
### Acceptance Criteria (how do I know when I’m done?)
When Bing, DuckDuckGo,

[2018-12-27 17:23] bleonard252 opened #1614 "YouTube navigation mode on other websites"
### Why/User Benefit/User Problem
This would benefit developers and users for easier, site-controlled navigation.

### What / Requirements
* A button to switch navigation
* A meta value to request/require navigation switch

### Acceptance Criteria (how do I know when I’m done?)
Pressing the navigation button should change it to arrow key mode, rather than a cursor mode. A meta value on a page shou

[2018-12-27 19:25] severinrudie opened #1615 "Clear data between Espresso tests"
Issue for tracking purposes only

[2018-12-27 21:43] #960 closed

[2018-12-28 18:44] liuche opened #1619 "Add on-screen button to overlay to exit Firefox"
### Why/User Benefit/User Problem
Users say it's difficult to exit the app, adding a button to the overlay will help users who can already access the menu overlay to exit the app

### What / Requirements
Design for button to exit the app, on the overlay (This is already part of the IA in https://github.com/mozilla-mobile/firefox-tv/issues/1071#issuecomment-437353066 , and there's a design, we just

[2018-12-28 20:26] #1615 closed, assigned to severinrudie

[2018-12-31 16:41] jamiesonpepper commented on #1234
Almost logged a net new bug, but eventually found this reference as I experienced the watch.cbc.ca issue. Is this assigned to someone for a fix or target release in the future or pending on an Amazon WebView fix for a FireOS update?

[2018-12-31 17:02] athomasmoz commented on #1234
Hi @jamiesonpepper thanks for confirming you experienced this issue as well. The problem is with playing content from JW Player v8 (tracked in #1577 ). You're correct, this is pending a change to Amazon Web View. Unfortunately, I don't have a target date for that, but I will keep this issue updated.

[2018-12-31 17:19] athomasmoz opened #1620 "Track Clicks on YouTube Tile"
### Why/User Benefit/User Problem

Determine how many people & sessions use Firefox for things outside YouTube

### What / Requirements

* YouTube Tile clicks are tracked

### Acceptance Criteria (how do I know when I’m done?)

* We can pull data to determine the count & percent of sessions that include non-YouTube tile clicks
* We can pull data to determine the count & percent of users that click

[2018-12-31 17:28] athomasmoz opened #1621 "Add Tracking for Content Types"
### Why/User Benefit/User Problem

To ensure we support activities our users want to do outside of watching YouTube videos, determine how often sessions include watching content outside YouTube, listening to content outside YouTube, or include browsing without consuming video/audio content.

### What / Requirements

* Track when a video is played from a site other than YouTube
* Track when audio i

[2018-12-31 18:49] mcomella opened #1622 "Previously loaded page is briefly shown when opening external links: confusing"
## Steps to reproduce
- Open Firefox
- Visit IMDB
- Press home button
- Open youtube.com app (already configured to open Firefox or maybe just not having silk installed is enough?)

### Expected behavior
YouTube opens

### Actual behavior
IMDB opens, then youtube opens.

This is confusing when page loads are slow (e.g. slow connection or slow device like Stick): the user clicks the "youtube.com" a

[2018-12-31 18:54] mcomella opened #1623 "Cursor can take long time to appear when navigating away from YouTube TV"
## Steps to reproduce
- Open youtube tv
- Open overlay and navigate away

### Expected behavior
Cursor appears as soon as new page is loaded

### Actual behavior
Cursor appears when the URL in the progress bar changes. Before the cursor loads, key events will go to web content so this permits undesirable behavior where you can spatially navigate the page.

I think this is related to #1591: the url

[2018-12-31 18:55] mcomella opened #1624 "Youtube in search results opens in mobile page"
## Steps to reproduce
- Use url bar to search for "cats"
- Click "videos" on page load
- Select youtube.com video

### Expected behavior
Page loads in youtube TV

### Actual behavior
Page loads in m.youtube.com

### Device information
* Fire TV device: Stick
* Firefox version: v3.1.3

[2018-12-31 19:00] mcomella opened #1625 "Fullscreen video on cc.com will be cut off when scrolled"
## Steps to reproduce
- Visit cc.com
- Find a video to play
- Scroll page so top of video is cut off
- Click on video to show controls and click fullscreen to fullscreen video

### Expected behavior
Video is fullscreen and entirely visible

### Actual behavior
Video is cut off on the top

### Device information
* Fire TV device: Stick
* Firefox version: v3.1.3

[2018-12-31 20:19] athomasmoz opened #1626 "Add Marketing Tiles without App Store Submission"
### Why/User Benefit/User Problem

When the first Mozilla LiveNation event happened in December, we had to add a tile pointing to the event through a new version submitted to the app store. To simplify this in the future, and make it safer to turn on / turn off, let's enable it via CMS

### What / Requirements

* Submitting a new version of the app is not required to add/change/remove marketing ti

[2018-12-31 20:33] mcomella opened #1627 "Replace Bitmap.withRoundedCorners with components implementation"
It's more maintainable to put this shared code in components. Waiting on https://github.com/mozilla-mobile/android-components/issues/1633

[2019-01-01 00:06] mcomella opened #1628 "Investigate potential memory leak in state restoration (i.e. don't keep activities)"
See also FFES: https://github.com/mozilla-mobile/firefox-echo-show/issues/153

## Steps to reproduce
- On Android tablet emulator, Enable don't keep activities
- Open app
- Press home
- Open app
- Open profiler
- Force GC
- Take heap dump
- Open heap dump, search for MainActivity

### Expected behavior
One instance of MainActivity

### Actual behavior
Multiple instances of MainActivity

I don't kn

[2019-01-01 00:11] mcomella commented on #1628
User consequences: there are a few cases:
- Users with long running sessions (including opening/closing the app) may have Firefox crash on them when we run out of memory
- Users with long running sessions may have Firefox be killed in the background, making it take longer to start up
- Other apps may be starved for memory so will be killed and take longer to start up
- Firefox (and other apps) may

[2019-01-02 18:26] athomasmoz opened #1630 "[META] Organize Homescreen by Channels"
### Why/User Benefit/User Problem

As a user, I want the tiles on the homescreen to be organized using both up/down arrows and side-to-side so that I can reach my desired tile faster given my FireTV remote.

We also assume that such organization will help users mental model and navigation. Up/Down to change channel, right/left to navigate content of a single channel. Embracing the d-pad navigation

[2019-01-02 19:07] #1523 closed

[2019-01-02 19:19] mcomella commented on #1627
This will be in components 0.37 (the next release).

[2019-01-02 19:34] AaronMT commented on #1362
(@mcomella) there was one or two attempts by (@npark-mozilla) a couple months ago at loading a debug build on a Nexus tablet in the office and at the time the major blocker for tests passing was the interactions with the overlay/menu system and UI Automator/UiDevice interactions expecting remote usage (e.,g `pressMenu()`). We haven't looked at it since but I still expect there to be issues.

[2019-01-02 20:58] lime124 commented on #1619
here is the icon: https://drive.google.com/open?id=1fGEOhh9Mzv8ABEa4JpqZrH5fHpmp0_Dc&authuser=tshakespeare@mozilla.com

The goal was to use the same icon as the remote to reinforce the idea of fire tv home. I got approval from Bryan Bell on the design.

[2019-01-02 21:45] dnarcese commented on #1584
A possible approach to handle visiting YouTube from Pocket or from typing youtube.com/tv into url bar:

- Anytime YouTube is visited (coming from a website other than YouTube), add the index of that website in the backstack to a list. When remote back is clicked and the YouTube guidelist is focused, pop and visit the last index in the list. This will handle cases where YouTube is visited multiple

[2019-01-02 21:55] mcomella commented on #1614
Our initial investigation shows that the default implementation does not work well on most websites: they're not intentional with dpad handling so the navigation is unintuitive. Unless we whitelist sites that implement dpad handling correctly, we'd have to implement our own code to handle websites generically which is very challenging.

@bleonard252 Do you have a specific site in mind that correct

[2019-01-02 22:16] liuche opened #1631 "Audit and clean up cases where there is no Session even though we expect one"
Follow-up from #1394: There are a couple of places where we "force create" a session because we expect one but one does not exist. These are suspicious and we should clean them up, or fix the problems that could lead to these (or comment them clearly).

When initializing WebRenderFragment from a session: https://github.com/mozilla-mobile/firefox-tv/blob/master/app/src/main/java/org/mozilla/tv/fire

[2019-01-02 22:26] liuche opened #1632 "Switch to a-c SafetIntent"
Follow-up to #1394 - noticed that we're using a local SafeIntent version when one exists in a-c.

This could also just be an audit to switch to a-c versions of more code.

[2019-01-02 22:56] mcomella opened #1633 "DesktopModeTest does not need to register sessionIdlingLoadingResource"
This happens automatically in MainActivityTestRule.

[2019-01-03 00:16] athomasmoz commented on #1619
Thanks @lime124 ! Good idea with the icon design.

[2019-01-03 00:44] mcomella opened #1635 "Use isEnabled(Boolean) & friends matchers from components"
https://github.com/mozilla-mobile/android-components/issues/1640

We currently have this code duplicated in FFTV and FFES: https://github.com/mozilla-mobile/firefox-tv/blob/6b36f79c030b186feba68562fb999415031cae68/app/src/androidTest/java/org/mozilla/tv/firefox/helpers/Matchers.kt#L14

[2019-01-03 01:23] mcomella opened #1636 "[#1394 Follow-up] Add test for state restoration"
This is being added to the mission critical tests after the fact.

It's difficult to test state restoration manually and developers often forget to do it so we should write a test to ensure we're restoring state properly under various situations and that the UI continues to function correctly.

I think you can simulate state restoration with [`ActivityScenario.recreate`](https://developer.android.

[2019-01-03 15:59] dnarcese commented on #1387
The best way to do this would be to mock the pocket endpoint and make it so that on first hit it returns an error state and on the next hit it returns a success state. This would require the serviceLocator to be substituted per individual test, so that each test can change the dependencies it needs.

[2019-01-03 17:50] Baron-Severin commented on #1387
@dnarcese I would normally agree, but we previously set up some code to support this kind of testing.  Any Espresso test should be able to push out mocked `PocketRepo` state via `FirefoxTestApplication#pushPocketRepoState`, and it'll immediately flow out through the app.  So that part of the test should be pretty easy.

[2019-01-03 18:59] athomasmoz commented on #1577
Additional notes to help debug:
* This appears to crash on some devices, and endlessly load on others
* It happens with any JW Player video, a few sites you can try are
- watch.cbc.ca (go to live video)
- hgtv.ca
- video.vice.com

[2019-01-03 19:34] jrconlin commented on #1065
closing https://bugzilla.mozilla.org/show_bug.cgi?id=1488838 for now to clean up tasks for ops.

[2019-01-03 19:46] athomasmoz commented on #1584
Thanks for checking the telemetry, I'm not surprised remote back is used more. Do you mind detailing out the steps for the edge case? I'm having a hard time following it.

[2019-01-03 19:52] dnarcese commented on #1387
@Baron-Severin I tried it that way, but I think the problem was that Try Again did not function properly. `pushPocketRepoState` created another repo state that Try Again could not update. So clicking Try Again was not updating the UI.

[2019-01-03 19:57] dnarcese commented on #1584
@athomasmoz yup! Hopefully this makes more sense:
1. visit google
2. visit youtube tile and watch video
4. visit imdb
5. visit youtube tile and watch another video
6. click toolbar back several times until back on imdb
7. click toolbar back again to get to first youtube video
8. click remote back several times to back out of youtube

Expected: Taken back to google
Actual: Taken back to imdb

[2019-01-03 20:05] dnarcese commented on #1577
The behaviour is different between debug and release builds. The player consistently crashes on release builds but on debug builds there is no crash but the webview breaks (current site is still responsive but unable to visit any other sites).

[2019-01-03 20:13] athomasmoz commented on #1584
Do you get stuck in a loop then? So,

7. click remote back several times to back out of youtube (taken to imdb)
8. click remote back again (taken to youtube)
9. click remote back again (taken to imdb)?

[2019-01-03 20:59] dnarcese commented on #1584
@athomasmoz I don't think you would get stuck in a loop. The next time you exit YouTube with remote back, you would get back to Google. If you exit YouTube with toolbar back, it would still follow the backstack correctly and get you back to Google as well.

[2019-01-03 23:08] athomasmoz commented on #1584
Oh ok. I think that's a fair trade off. But we should keep a bug logged for that in the backlog

[2019-01-04 01:38] mcomella commented on #1584
What's the difference between this solution and the current implementation? What information are we gaining? What are the trade-offs (pros, cons) between this solution and the current implementation?

How does this solution address visiting YouTube from Pocket (i.e. going back in the fragment back stack)?

You tell me! :) @dnarcese

[2019-01-04 16:23] athomasmoz commented on #777
@psymoon What's the status of this one? Is it blocked on a-c?

[2019-01-04 18:36] Baron-Severin commented on #1387
@dnarcese Sounds like the code I wrote to set up tests isn't as flexible as it should be.  Is there a WIP branch with these changes where I can try to improve on it?

[2019-01-04 18:52] liuche opened #1638 "[#1394 Follow-up] Improve about:home handling w/ fewer special cases"
As part of #1394 we found that the about:home history item introduces a bug when loading VIEW intents (which we'll need in #1284). We should re-evaluate how we approach that, possibly:
* Removing `about:home` from the history stack entirely now that Overlay is just a Fragment
* Use `canGoBackTwice` to make sure we shouldn't be exiting the app

This also needs to handle the case of closing a Firefo

[2019-01-04 19:06] psymoon commented on #777
@athomasmoz I'm working on this on the a-c side

[2019-01-04 19:57] dnarcese commented on #1577
I've linked the crashes to this sentry report -> https://sentry.prod.mozaws.net/operations/firefox-tv/issues/4789503/
@athomasmoz It has affected 145k users. Let me know if there is other information you need!

[2019-01-04 21:34] dnarcese commented on #1387
@Baron-Severin https://github.com/dnarcese/firefox-tv/commit/4a8fcdec1271e1c4162c7bf1c327eb67554d658b

[2019-01-04 23:34] Baron-Severin opened #1639 "Backing during page load causes URL bar to switch between URLs"
## Steps to reproduce
### From home screen
- Open tile X
- Return to overlay
- (wait ~.5 seconds)
- Open tile Y
- Return to overlay
- (wait ~.5 seconds)
- Select back button

### Expected behavior

- URL bar should display URL A

### Actual behavior

- URL bar switches back and forth between URL A and URL B

### Device information

* Fire TV device: Cube
* Firefox version: 77b6ac3809067762674f0f9c

[2019-01-05 01:37] liuche opened #1640 "Track Overlay Architecture regressions in 3.1.3.* LAT"
Here's a bug to add any regressions that you find for our LAT branch https://github.com/mozilla-mobile/firefox-tv/tree/releases/v3.1.3.1

Some known issues:
- [x] Clicking "menu" on Pocket won't bring up Overlay
- [ ] Can't exit if open Firefox from cold start with a VIEW intent for a url
- [ ] Exiting app with "back" doesn't clear history (we should discuss whether this is intended behavior @atho

[2019-01-07 15:32] dnarcese commented on #1620
@athomasmoz Should a YouTube tile click still count for a click on a `bundled` home tile?
ie. in our Telemetry we have an entry for `bundled` `home_tile` clicks and there will be a new entry for `youtube` `home_tile` clicks. When a user clicks the YouTube tile, should the number for both entries increase, or just the youtube entry?

[2019-01-07 15:38] levisacal opened #1641 "YouTube Autoplay off option does not take effect when linked with a device"
## Steps to reproduce

Set YouTube Autoplay option off on Firefox for TV and also on the linked device which is using the native YouTube app

### Expected behavior

Suggested video does not start automatically

### Actual behavior

Suggested video starts automatically

### Device information

* Fire TV device: Fire TV 4k with Remote
* Firefox version: 3.1.3.1

[2019-01-07 15:58] AaronMT commented on #1612
Is this only specific to that build?
I'm unable to reproduce this. Tested with master (4381d6424496ed740620735813c95bd3f6d225e3) on the emulator. Removed a bunch of default tiles, hit back to the Android launcher, restored the browser to the foreground and didn't see any default tile restoration.

[2019-01-07 16:01] levisacal commented on #1641
Closing issue as I can't reproduce this anymore. Sorry for the mistake

[2019-01-07 16:01] #1641 closed

[2019-01-07 16:24] athomasmoz commented on #1620
Yes, I don't want to change the behaviour there. We should still have it count for a home tile click.

I'm glad you called it out though, sounds like something that should be documented. Do we have documentation on the different events tracked?

[2019-01-07 18:17] mcl21014 commented on #1612
Uncertain if specific to this build. My LAT version hasn't updated yet, and I'm unable to build Firefox for Fire TV from source just yet. I'll ask for some help building and check again later.

[2019-01-07 19:40] mcl21014 commented on #1612
Now I built an updated version from source. Will check in and give feedback.

[2019-01-07 23:36] liuche opened #1644 "[Meta] Follow-ups for Overlay re-architecture"
Keeping track of some comments/follow-ups to break out from #1637:
- [ ] Be explicit about startup flow (between Intents, restoring instance, onCreate) https://github.com/mozilla-mobile/firefox-tv/pull/1637#discussion_r245436918 #1658
- [ ] Use `onSaveInstanceState` for restoration, in a way that doesn't break "Clear Data" (also consider fixing Clear Data to not need activity recreation) https://g

[2019-01-08 02:08] mcomella commented on #1623
I noticed the cursor state gets updated in `SessionIsLoadingObserver`: made it should be listening for the url change observer.

[2019-01-08 13:35] pocmo commented on #1231
A fix for this was released with 0.33.0. Is this still an issue? Tentatively removing the a-c label here. Please file a new AC issue if you are still seeing problems.

[2019-01-08 13:36] pocmo commented on #1374
We moved this into our current sprint.

[2019-01-08 15:23] psymoon opened #1645 "Upgrade to a-c 0.37"
Required to land https://github.com/mozilla-mobile/android-components/issues/1606

Also see: https://github.com/mozilla-mobile/firefox-tv/issues/777

[2019-01-08 19:00] #1620 closed

[2019-01-08 19:59] #1607 closed

[2019-01-08 22:22] Baron-Severin opened #1648 "Ignore failing UI tests"
### Why/User Benefit/User Problem

Some UI tests have been fixed, then regressed without devs being aware.  Running them on CI will help to ensure they stay up to date and useful.

### What / Requirements

- Ignore tests that are currently failing (or only failing on emulators)
- Write notes in each test with any helpful information

[2019-01-08 22:38] Baron-Severin opened #1649 "BasicNavigationTest is broken on emulators"
This test verifies (among other things) that the URL bar is filled with the page title after opening a URL.

On emulators, the URL bar shows various assets instead of page titles (#1444) whenever Turbo mode is enabled.

I attempted to turn off Turbo mode early in the test to mitigate this, which works in NetworkPageLoadTest, but here it led to strange process crashes.

[2019-01-09 01:53] liuche commented on #1631
We could probably also optimize clearing data, which currently recreates the activity, but could just call `EngineSession.clearData` - unclear why we needed to recreate the activity now, but maybe there was a reason.

[2019-01-09 15:54] npark-mozilla commented on #1362
@mcomella So I ran basicnavigationtest on Moto G5 today, and ran into strictmode policy violation, but if I manually tap OK button to dismiss (had to do it 4 times), the test runs and passes.  If we can fix this issue, we should be able to try the rest of the test on Firebase.

[2019-01-09 18:02] Baron-Severin opened #1651 "Provide a way for Espresso tests to use different fake objects"
### Why/User Benefit/User Problem

#### Description
Most Espresso tests should use production code, but networking objects are substituted out for the sake of reliability.  In at least one example, these need to be faked in diffferent ways (#1378 requires a real `PocketVideoRepo` with a fake `PocketEndpoint`, #1045 uses a fake `PocketVideoRepo`).

##### Problems
- As far as I can tell, all Espress

[2019-01-09 18:56] Baron-Severin commented on #1387
@dnarcese just an update, I'm still working on that change.  There are a few things that make it difficult, I opened up https://github.com/mozilla-mobile/firefox-tv/issues/1651 and included more details there.

[2019-01-09 19:31] athomasmoz commented on #1639
Retest after #1646

[2019-01-09 19:33] npark-mozilla commented on #1362
One more thing that we remembered is that on a low-resolution phone, the entire area of the app won't be drawn properly. (especially vertically) Initially we thought this may lead to the UI interaction failure, but it looks like the tests are passing nevertheless.

[2019-01-09 22:22] Baron-Severin commented on #1310
Unassigning myself because I'll be working on Echo Show by the time this is unblocked.

[2019-01-09 22:36] mcomella opened #1652 "Integrate Glean SDK Trial"
### Why/User Benefit/User Problem
Glean is the path forward for mobile telemetry SDKs at Mozilla so we should use it to reduce the maintenance burden of using our own telemetry SDK owned by the product teams. This should be more reliable and more easy to test than our existing solution.

### What / Requirements

- Review PR from Glean team
- Create SLA (agreement with glean team on post-production

[2019-01-10 00:06] liuche commented on #1310
Also, note on possibly laggy perf seen in FFES, due to holding onto all fragment state: https://github.com/mozilla-mobile/firefox-tv/pull/1637#discussion_r245449221

[2019-01-10 00:55] #1409 closed

[2019-01-10 01:02] mcomella commented on #1628
I notice that `AccessibilityManager.addTouchExplorationStateChangeListener` adds listeners with strong references:
- http://androidxref.com/9.0.0_r3/xref/frameworks/base/core/java/android/view/accessibility/AccessibilityManager.java#732
- http://androidxref.com/9.0.0_r3/xref/frameworks/base/core/java/android/view/accessibility/AccessibilityManager.java#142

In Echo Show, I do not remove these list

[2019-01-10 04:41] #1370 closed

[2019-01-10 04:41] #1393 closed

[2019-01-10 22:18] mcomella commented on #797
Throwing this back to triage given our recent memory leak, #1628. See also FFES: https://github.com/mozilla-mobile/firefox-echo-show/issues/179

[2019-01-10 23:05] davismtl commented on #1065
Best success criteria ever written.

[2019-01-10 23:38] athomasmoz opened #1655 "Crash the first time you open Firefox through YouTube.com app"
## Steps to reproduce

1. Search "youtube"
2. Download "YouTube.com" app
3. Open app, unselect checkbox and click "Firefox"

### Expected behavior

Youtube opens in Firefox

### Actual behavior

Looks like something tries to load, then you are taken to Fire TV homescreen. Note: this only happens the first time after installing the app

### Device information

* Fire TV device: Cube
* Firefox versi

[2019-01-11 10:23] levisacal commented on #1640
YouTube overlay is missing also with the following STR:
1. Start up Firefox with a clean profile (Clear all cookies and site data)
2. Open YouTube from the top 10 sites panel and remain on the Welcome! Sign in - it's free page
3. Open up a Pocket Video

YouTube overlay is missing.

The issues is not 100% reproducible

[2019-01-11 13:52] levisacal commented on #1237
@athomasmoz  I am able to reproduce the issue on the current 3.1.3.2 LAT version. The STR is a bit different:
1. Play a video on IMDB (video plays correctly).
2. Go to the Rotten Tomatoes site.
3. Hit the back button on the remote so you go back to the IMDB video.

Let me know if you think these would any new logs.

[2019-01-11 16:22] dnarcese commented on #1640
There is a focus regression related to switching fragments. The previous behaviour was that when you click the Pocket megatile and then return to overlay, the megatile would be focused, and the same for clicking Settings. This doesn't happen anymore - focus goes to the top element on the visible screen.

[2019-01-11 16:44] AaronMT opened #1657 "After Clearing Data, the first attempt to exit app through "back button" doesn't work"
Build: 08758c21ef6cc8f820d9e4ea30520e358c3e6b64 (master)

 - Clear Private Data
 - Hit Back (address-bar will be focused)
 - Hit Back again (address-bar is not focused) - (the app should close but doesn't?)

From then, hitting the remote directional pad does not re-focus any UI element. The only way to perform interactions is to close and reopen the browser.

[2019-01-11 17:41] athomasmoz commented on #1315
Blocking implementation this story on the ticket to move settings to channel. Once that's implemented, we don't need the settings icon (as described in Amin's previous design).

Also, re-assigning to UX to decide where the Firefox branding should go with the new overlay design. That design should also consider the addition of the exit/home button from #1619

[2019-01-11 17:44] athomasmoz commented on #1619
@lime124 your design is based off the new collapsed toolbar, which is currently [blocked](https://github.com/mozilla-mobile/firefox-tv/issues/1315#issuecomment-453598061)

Do you think it would make sense to add this home/exit button to the existing toolbar?

[2019-01-11 18:50] liuche opened #1658 "[#1394 Follow-up] Be explicit about startup flow"
We have several entry points into the app (Intents, restoring instances, onCreate) and #1394 simplified the flow through these steps, but it needs to address all these entry points (and make sure each entry point does any setup necessary, like creating sessions).

See for more context: https://github.com/mozilla-mobile/firefox-tv/pull/1637#discussion_r245436918

[2019-01-11 18:54] liuche opened #1659 "[#1394 Follow-up] Use onSaveInstanceState for restoration"
In #1394, we removed usage of `onSaveInstanceState` to save state on app close, because it was breaking when using "Clear Data".
Some options to look at:
- Don't do activity recreate - since we're recreating the activity, the app goes through the `onSaveInstanceState` which is interacting badly with the fragment manager (and leaving the Settings Fragment in a limbo state, detached from the activit

[2019-01-11 18:58] liuche opened #1660 "[#1394 Follow-up] Retain focus when going "back" from Pocket or Settings"
## Steps to reproduce
Highlight Pocket on Navigation Overlay
Open Pocket
Hit back

### Expected behavior
Pocket item is highlighted on Navigation Overlay, showing user the previous state

### Actual behavior
Default Navigation Overlay highlight behavior

[2019-01-11 18:59] liuche opened #1661 "[#1394 Follow-up] Verify behavior"
- [ ] after ac37 lands, verify back/forward buttons toggle correctly on page navigation (and don't toggle indefinitely)
- [ ] Does switching from LinearLayout to FrameLayout w/ Fragment containers cause any perf regressions? https://github.com/mozilla-mobile/firefox-tv/pull/1637#discussion_r245149464
- [ ] Verify telemetry is still working

[2019-01-11 19:04] liuche opened #1662 "[#1394 Follow-up] Add helper function to throw illegal states in a Sentry.capture(Throwable)"
One thing we started doing in #1394 was sending Sentry reports when we assert states that we don't expect. This is currently very piecemeal, so we should make a helper function to do this.

[2019-01-11 19:13] liuche opened #1663 "[#1394 Follow-up] Move Action.Show*Toast to consumable"
See context:
https://github.com/mozilla-mobile/firefox-tv/pull/1637#discussion_r245857132

[2019-01-11 19:18] liuche commented on #1644
Filed individual bugs and linked to these in the first comment.

[2019-01-11 20:08] #1394 closed

[2019-01-11 21:03] liuche commented on #1657
@AaronMT I think this is fixed on the new master (now that we've merged the overlay changes in) - can you verify this?

[2019-01-11 21:16] liuche commented on #1362
@mcomella we discussed this during sprint planning, and it looks like there are some more comments for this - so it looks like there are some more action items from QA.

[2019-01-11 21:25] athomasmoz opened #1664 "Refactor overlay into split"
Refactor overlay into split

    This will involve adjusting fragment transactions so that WebRenderFragment is visible

### Why/User Benefit/User Problem

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2019-01-11 21:30] mcomella opened #1665 "Consider adding TestRail test case for opening Firefox through youtube.com app"
We recently found a crash when opening Firefox through the youtube.com app: #1655. Currently, we have no automation to test this case (receiving links from external apps) so we should consider adding a TestRail test case for this.

I was thinking we test both opening Firefox for the first time and opening Firefox while it's already running. Steps:
- Install Firefox
- Clear data (through UI or `adb

[2019-01-11 21:42] liuche commented on #1660
We won't need this once we switch to channels #1630

[2019-01-11 22:56] athomasmoz commented on #1237
Thanks @levisacal ! I think this is related to #1577 . I'll add a note to retest once that is resolved.

[2019-01-11 23:00] athomasmoz opened #1666 "Animate overlay entrance/removal"
### Implementation Notes

- Fragment transitions look unsuitable for this
- Note that current fragment transactions use show/hide, which don't hit lifecycle methods
- NavigationOverlayFragment is already in a container that sits on top of the WebRenderFragment, so that won't need changing

### Why/User Benefit/User Problem

To help users understand that this is overlaying on top of their screen. I

[2019-01-11 23:02] athomasmoz commented on #1310
Closing in favour of splitting into separate tickets.
- Refactor overlay into split #1664
- Animate overlay entrance/removal #1666
- Center selected channel on screen #1312

[2019-01-11 23:02] #1310 closed

[2019-01-11 23:03] mcomella commented on #1362
@Baron-Severin Can you look into the BasicNavigationTest issue (or should we just disable it)?

@npark-mozilla Can you clarify why we are running tests on phone emulators and not tablet or TV emulators again? Also, is it possible to disable testing on low-resolution phones? I think we should just test on the largest phones available, assuming we have to test on phones.

[2019-01-11 23:07] npark-mozilla commented on #1362
@mcomella on Firebase, there is no TV emulator available.  There is a Nexus 9 emulator (they deprecated the device), but from the Focus experience it is quite buggy.

We can choose to run tests on specific devices, but when I ran it on Pixel 2, which is supposedly a high res device, it still had screen drawn incorrectly.

[2019-01-11 23:13] athomasmoz commented on #1619
Confirmed design & updated original description in this ticket to reflect.

[2019-01-11 23:33] Baron-Severin opened #1668 "PinnedTileTests is broken"
### The Problem
There are two known issues with this test.
- An off by one error.  We `assertPinnedTileExists` in position 11, however this should target the 11th tile (i.e., position 10)
- The 11th tile appears off screen, causing the Espresso assertion that it exists to fail

### Attempted Solutions
- Deleting several tiles (allowing room for the new one to be on screen), and then targetting the

[2019-01-11 23:36] Baron-Severin commented on #1362
@mcomella #1668, #1649, and #1360 have been filed as follow-ups for ignored tests.

BasicNavigationTest has already been ignored (it's tracked in #1649).  I've also been working on fixing it.

[2019-01-12 00:30] Baron-Severin opened #1669 "Animate Scrolling as Focus Moves on Overlay"
Split out from #1312
Blocked by #1664

### Requirements
* When no page has been navigated to (e.g., after clearing data), overlay should be attached
  * The top portion of the overlay (containing the toolbar) and the bottom (containing Pocket and pinned tiles) are visually attached, with no space between them.
<img width="900" alt="image" src="https://user-images.githubusercontent.com/1721875/4756

[2019-01-12 00:31] Baron-Severin commented on #1312
Blocked on #1669 (an intermediate state broken out of this story)

[2019-01-13 23:13] mcl21014 opened #1670 "Unable to disable "send usage data""
Ticking off the box results in no change. Running Firefox for Fire TV 3.2 on a Fire Stick 4k with the latest updates installed.

[2019-01-14 08:58] levisacal commented on #1655
After Firefox is opened up, the remote directional pad does not re-focus any UI element on YouTube. The only way to perform interactions is to access the start page by using the menu button and to access any other link.

[2019-01-14 16:05] AaronMT commented on #1657
The worst of it is fixed however on first `back` attempt when the address-bar is focused, it is ignored (thus if one is trying to back out of the application, they have to hit back twice).

[2019-01-14 16:12] AaronMT commented on #1670
Oof, yeah I see this too.

[2019-01-14 16:16] AaronMT commented on #1609
Can we get this triaged?

[2019-01-14 16:29] AaronMT opened #1671 "Handle amzn://apps/android? URLS"
https://developer.amazon.com/blogs/post/Tx3A1TVL67TB24B/Linking-To-the-Amazon-Appstore-for-Android

[2019-01-14 16:32] athomasmoz opened #1672 "Setup Split Test for Homescreen Design"
### Why/User Benefit/User Problem

To ensure our changes to the homescreen don't negatively impact users. Ideal scenario is an improvement, however, the home screen improvements are being made to set us up for additional space on the homescreen. So as long as there is no downfall is user experience, we plan to stick with the changes

### What / Requirements

* Homescreen improvements launched at 1

[2019-01-14 16:36] Sdaswani commented on #1670
@psymoon @dnarcese can you tag team on this ASAP please?

[2019-01-14 17:15] athomasmoz commented on #1609
@AaronMT is this specific to twitch?

[2019-01-14 17:19] athomasmoz commented on #1657
Can you confirm the new STR? Is this correct:

- Clear Private Data
- Hit Back (address-bar will be focused)
- Hit Back again

Expected behaviour: App closes
Actual behaviour: address-bar is not focused. Hitting back again will exit app

[2019-01-14 17:42] athomasmoz commented on #1666
Blocked on #1664

[2019-01-14 18:10] mcomella commented on #1649
No-Jun also mentioned StrictMode violations: not sure if this is still
relevant.

[2019-01-14 18:16] npark-mozilla commented on #1362
@mcomella so `gcloud firebase test android models list` shows the currently available firebase devices for testing, (and no... it doesn't let you create a custom emulator to run tests, if we're gonna do that, we need to do this all locally, which I don't recommend)  But I just realized pixel 2 is only 1920 x1080.  I see Nexus 6P is 2560 x1440.  This is almost on par with Nexus 9, (2048 X1536) perh

[2019-01-14 18:17] #1645 closed

[2019-01-14 18:20] mcomella commented on #1362
@npark-mozilla Where did you get the `gcloud` executable from? Alternatively, feel free to send me a list of devices I can help look over too.

Note that resolution isn't the most important thing (because display density can collapse how large pixels are physical): screen size is. The 6P is more like the Pixel 2 XL in screen size.

@Baron-Severin Have you seen that issue?

[2019-01-14 18:22] npark-mozilla commented on #1362
@mcomella sorry, forgot to attach this list: [devicelist.txt](https://github.com/mozilla-mobile/firefox-tv/files/2756535/devicelist.txt)

[2019-01-14 19:17] #1670 closed

[2019-01-14 21:06] dnarcese commented on #1619
@athomasmoz What should the behaviour of the exit button be?
- similar to remote home button: after clicking button and re-opening app, you are returned to the same state
- similar to back button exit behaviour: re-opening starts from a clean state with no history

[2019-01-14 21:17] Baron-Severin commented on #1362
I haven't, no.  @npark-mozilla do you have reproduction steps that we could follow to try and fix the strictmode error?

[2019-01-14 21:45] athomasmoz opened #1675 "Setup A/A Test with Fretboard (release and verify)"
### Why/User Benefit/User Problem

As a PM, I want to see the difference in metrics for 2 test groups created with Fretboard, so that I can measure the impact of new features using A/B tests

### What / Requirements

* A/A test run with Fretboard, using a 50/50 split
* Dashboard set up to monitor results (data science request https://bugzilla.mozilla.org/show_bug.cgi?id=1520033 )

### Acceptance C

[2019-01-14 21:49] athomasmoz opened #1676 "Add Fretboard"
### Why/User Benefit/User Problem

As a PM, I want Fretboard set up on Firefox for Fire TV to run split testing, so that I can measure the impact of new features using A/B tests

### What / Requirements

* Fretboard is added to Firefox for Fire TV

### Acceptance Criteria (how do I know when I’m done?)

* Fretboard package has been added to FFTV
* Determine package structure

[2019-01-14 21:57] athomasmoz opened #1677 "A/B Test for Exit Button"
### Why/User Benefit/User Problem

As a PM, I want to split test the new exit button added to the home screen overlay as a trial for Fretboard, so I can be confident it will be ready to test larger changes

### What / Requirements

* A/B Test set up for homescreen with (A) or without (B) the exit button on the homescreen overlay #1619
* There are no other differences between version A & B
* A dash

[2019-01-14 22:14] npark-mozilla commented on #1362
@Baron-Severin Oh, just run any Fire TV UI tests on android studio, on a phone device.
Interestingly, this doesn't fail on an emulator... Hmm.  I am not sure whether we should ignore it or try to fix it still.

[2019-01-14 22:53] athomasmoz commented on #1619
@dnarcese thanks for checking, it should match the home button behaviour. The back button to exit behaviour is only different because it exits after you've gone back through the whole history stack.

[2019-01-15 04:02] Sdaswani commented on #1522
@athomasmoz any idea when this will be prioritized in Q1?

[2019-01-15 16:03] dnarcese opened #1680 "No accessibility for Pocket megatile"
VoiceView for the Pocket megatile on the overlay is not working after the refactor.

[2019-01-15 16:25] #1680 closed

[2019-01-15 16:31] athomasmoz commented on #1522
It's prioritized just under some P1 bugs, so it's a potential for next sprint or the one after.

[2019-01-15 21:54] athomasmoz commented on #1152
@Sdaswani Can we close this? We are monitoring Sentry in our triage meetings

[2019-01-15 21:57] #1152 closed

[2019-01-15 21:58] athomasmoz opened #1682 "Create a Feature Provider for Phased Feature Rollouts"
### Why/User Benefit/User Problem

As a Product Manager, I want to roll out new features slowly to reduce the impact on users if the changes cause crashes or unexpected bugs

### What / Requirements

* Feature provider is in place that handles directions from Fretboard to run experiments

### Acceptance Criteria (how do I know when I’m done?)

* Using Fretboard & the Feature Provider, I can roll o

[2019-01-15 21:59] athomasmoz commented on #1682
Code for this may already exist in Focus

[2019-01-15 22:02] athomasmoz opened #1683 "Capture variant from split tests in Telemetry data"
### Why/User Benefit/User Problem

As a Product Manager, I want to see & compare metrics from each variate of my split test so that I can determine which is better for my user

### What / Requirements

* All telemetry pings from user actions include the test variant

### Acceptance Criteria (how do I know when I’m done?)

* Dashboards can be filtered on a particular variant of a split test

[2019-01-15 22:45] Baron-Severin commented on #1362
@npark-mozilla I'm trying on a Galaxy S7 on Android 7.0.  Haven't encountered any strict mode violations, but I am seeing the following pop up occasionally (and it's causing tests to fail).  Is this what you were seeing as well?

![screenshot_20190115-143829](https://user-images.githubusercontent.com/13170306/51214890-12db3500-18d4-11e9-8e12-f4be8c51620f.png)

[2019-01-16 14:11] netz-filter opened #1684 "Firefox will not start after updating to Firefox TV v3.2.2"
After the update to Firefox TV v3.2.2 from the Amazon DE Appstore Firefox does not start anymore.

After uninstalling Firefox with a subsequent reinstallation, the Pocket message "Here come from Pocket recommended videos" with a query "OK, understood" Firefox crashes again.

If you try to open Firefox again, only a gray screen appears briefly and the app crashes again.

Amazon Fire TV Stick 4K
Fir

[2019-01-16 15:04] Hocer commented on #1684
Exact same issue here.

Please fix ASAP!

[2019-01-16 15:59] AaronMT commented on #1684
Was unable to reproduce on my 4K (6.2.3.2) device (English). Clean installation of 3.2.2 and first-launch works for me.

I then upgraded my OS firmware to 6.2.5.8, swapped from English to German and reinstalled the application and can reproduce the crash.

`01-16 10:58:35.550  6710  6710 E AndroidRuntime: Process: org.mozilla.tv.firefox, PID: 6710
01-16 10:58:35.550  6710  6710 E AndroidRuntime:

[2019-01-16 16:09] dnarcese opened #1685 "InputDevice.getDevice(keyEvent.deviceId) must not be null"
https://sentry.prod.mozaws.net/operations/firefox-tv/issues/5127229/?query=is:unresolved

[2019-01-16 16:22] levisacal commented on #1684
Reproduced on my 4k fire tv (6.2.5.8) as well with any other locale than EN.

[2019-01-16 17:57] #1684 closed

[2019-01-16 20:19] #1685 closed

[2019-01-16 20:20] npark-mozilla commented on #1362
@Baron-Severin No I dont get this message - I suspect it's because of the phone's USB setting?  (It's probably set to disable data transfer) Does your computer's adb detect the connected phone?

The strictmode failure I see happens when the test is just about to start.

[2019-01-16 21:13] athomasmoz opened #1690 "Add Telemetry Probe for new intents"
### Why/User Benefit/User Problem

As a Product Manager, I want tracking on new intents, so that I can see how many times Firefox is opened from another app (ie. youtube.com or YouTube Fling feature in future)

### What / Requirements

* Add probe for new intent

### Acceptance Criteria (how do I know when I’m done?)

* We can see a count of the number of times a new intent is made

[2019-01-16 21:19] athomasmoz opened #1691 "ScreenController Inconsistent state assertion on 3.2"
ScreenController Inconsistent state, expected NAVIGATION_OVERLAY, got WEB_RENDER

https://sentry.prod.mozaws.net/share/issue/074800e7d1f7460ea3be3412edc9194e/

[2019-01-16 21:22] psymoon commented on #1655
WIP fix pr merged here - https://github.com/mozilla-mobile/firefox-tv/pull/1688. Next step is to reproduce and verify that it's fixed

[2019-01-16 22:13] Baron-Severin commented on #1691
Note that this is not actually crashing, it logs an exception to Sentry but does not throw.

This occurs when a user clears data.  This effectively changes the currently active screen to the navigation overlay, but does not update state in `ScreenController`.  This causes actual and percieved state to be out of sync, triggering a report to Sentry.  This should be fixed as it could lead to hard to

[2019-01-16 22:36] Baron-Severin opened #1693 "Develop consistent assertion strategy"
### Why/User Benefit/User Problem

We currently have several different assertion strategies, including throwing exceptions on unexpected state, logging it to Sentry, and ignoring it completely.  These respectively lead to unnecessary production crashes, confusing Sentry reports that look like crashes, and developers being unaware of strange states in the app.  Improving this would help us to find

[2019-01-16 22:37] Baron-Severin commented on #1691
From the commit message of the fix:

RCA:
When clearing data, the displayed screen was changed to NavigationOverlayFragment, however the ScreenController did not actually update its currentActiveScreen value. This caused a disconnect between expected and actual current state. At this time, no user impact has been noticed, but there could be strange transaction bugs related to this.

Fix:
Setting u

[2019-01-16 23:04] #1691 closed

[2019-01-17 00:30] mcomella commented on #1693
I agree that we should investigate and agree upon a consistent assertion strategy. However...

This "what" section includes a solution and I think we should avoid prescribing one at the outset of this ticket.

## My opinion
Whether or not you should turn off asserts at runtime is a hotly contested issue. For the sake of discussion, here's my opinion.

I disagree with disabling assertions at runtim

[2019-01-17 00:35] npark-mozilla commented on #1665
@levisacal , could you look into this? thanks!

[2019-01-17 15:18] #1665 closed

[2019-01-17 21:17] athomasmoz commented on #777
@psymoon Is there a list of the new telemetry probes being added somewhere?

[2019-01-17 21:55] Baron-Severin commented on #1693
@mcomella

Good point, edited.

To be honest, I agree with everything you said to a greater or larger degree, and I have flipped back and forth on this myself.  That said, we recently had all non-EN users crash on startup on an invalid state exception (https://github.com/mozilla-mobile/firefox-tv/issues/1684), and a silent error with minor repercussions on an invalid state assertion/Sentry call (h

[2019-01-17 22:23] Baron-Severin commented on #1362
@npark-mozilla the transfer mode was flipping itself back to data transfer, but it's an old, beat up device and may be a quirk specific to it.  I wasn't able to reproduce what you reported, is there any chance you could send me a video?  Otherwise I'm mostly blocked on this one.

[2019-01-18 00:18] psymoon commented on #777
@athomasmoz No, where do they generally added?

[2019-01-18 00:45] athomasmoz commented on #777
Hmm I think they're typically added here: https://github.com/mozilla-mobile/firefox-tv/blob/master/docs/telemetry.md

[2019-01-18 01:16] mcomella commented on #1362
@npark-mozilla Nexus 9 is the flaky device? Have we considered the Nexus 10 or the Nexus 7? There's also the Galaxy Tab 3, but it's old, and various Samsung plus size devices (S9+, Note ..., etc.).

wrt Android version, [ideally we run on 22 and 25](https://github.com/mozilla-mobile/firefox-tv/wiki/Amazon-device-reference) but I think any of Android 21+ will be okay. We may have to deal with issue

[2019-01-18 01:22] mcomella commented on #777
Ashley is correct: please document all new probes in the telemetry documentation in-tree.

[2019-01-18 02:55] mcomella commented on #1282
Taking care of this now so the l10n team isn't blocked.

[2019-01-18 08:05] cpeterso opened #1698 "Implement EME UI"
### Why/User Benefit/User Problem

Users would like to watch YouTube DRM content they have paid for.

### What / Requirements

Summary of desired UI features:

1. "Play DRM-controlled content" setting to enable/disable EME in FFTV (like desktop Firefox).
2. DRM icon in the address bar and site info for pages that play EME content (like desktop Firefox).
3. User prompt offering to re-enable EME if

[2019-01-18 15:53] npark-mozilla commented on #1362
@mcomella since they only have API 22 and below, and I was kinda looking for API 25 (the way Espresso picks up DOM is kinda different between 25 and those below 25 I noticed), so haven't tried on those yet. But if 22 is okay, then we can give a try for sure.  There's that nexus 7 clone that supports API 25 so maybe it's a good idea.  @Baron-Severin I sent you the credentials for the remote testkit

[2019-01-18 16:19] psymoon opened #1699 "Add automated/integrated test for newIntent()"
### Why/User Benefit/User Problem
Discovered in https://github.com/mozilla-mobile/firefox-tv/issues/1655, regression from  https://github.com/mozilla-mobile/firefox-tv/pull/1637.

Any time user enters the app via other apps (Youtube.com app), Push Notification or Fling, it fires up `onNewIntent()`. Our recent overlay refactoring is designed independently from LifeCycle methods so we need more test

[2019-01-18 18:08] mcomella commented on #1362
below 25 I noticed)

I haven't personally noticed this but it's possible – the WebView version
is frozen with the API version so older emulators are using older WebView
versions.

In any case, it's worth a shot! :) The WebView version for Fire TV is
frozen at v59 currently, which is maybe 1.5 years old, iirc. I'd guess
those emulators would be a little older.

[2019-01-18 19:19] psymoon commented on #1676
Created a bug for Kinto backend: https://bugzilla.mozilla.org/show_bug.cgi?id=1521161

[2019-01-18 19:35] #1655 closed

[2019-01-19 02:51] Baron-Severin opened #1700 "Fix ToggleDataCollectionTest#WHEN_data_collection_button_is_toggled_THEN_button_state_persists_when_returning_to_settings"
I noticed that this is broken on master.  This needs to be fixed (or at the very least ignored) before we can get ui tests on CI.

[2019-01-22 00:34] Sdaswani commented on #1521
Agree 👍🏾!

[2019-01-22 00:34] #1521 closed

[2019-01-22 15:08] #1690 closed

[2019-01-22 15:47] pocmo commented on #1374
Removing a-c label: See [Bug 1486879](https://bugzilla.mozilla.org/show_bug.cgi?id=1486879) for details.

[2019-01-22 15:48] pocmo commented on #777
Removing a-c label: @psymoon has landed the needed code in AC. To my knowledge no additional changes in AC are required.

[2019-01-23 00:15] #1282 closed

[2019-01-23 00:15] mcomella commented on #1282
@Pike @Delphine FYI that, like FFES, I completed the unused string removal here on FFTV.

[2019-01-23 17:31] athomasmoz commented on #1677
We decided not to run an A/B test on this. We will trial fretboard with an A/A test.

[2019-01-23 17:31] #1677 closed

[2019-01-23 19:14] athomasmoz commented on #1657
Todo: determine if this is still an issue on the latest & whether or not it's a regression

[2019-01-23 19:21] athomasmoz commented on #1624
Better solution may be to give the user the option to open in youtube TV. Because this could have a negative impact for users, we should test different options when we implement.

[2019-01-23 20:08] psymoon opened #1705 "Allow Proguard to keep all the necessary @JavascriptInterface classes/methods with WebView"
Generated in the default `proguard-rules.pro`. Uncomment https://github.com/mozilla-mobile/firefox-tv/blob/master/app/proguard-rules.pro#L23

[2019-01-23 20:29] npark-mozilla opened #1706 "Testing: Have UI Tests run daily"
We're currently working on adding automated tests into CI. Until then, we should run tests periodically and provide results.  As a temp measure, QA will run UI test suite locally until the automation is in place.  @levisacal , could you run the tests daily (when there is a commit to master) and generate issues for failures?  If you have issues running the test, we can help you.

[2019-01-23 22:35] mcomella commented on #1379
A few things we should verify:
- Are crash pings the best solution to come up with crash rates?
- How will our crash ping interface with GeckoView?

[2019-01-23 22:36] Sdaswani commented on #1379
@mmccorks can you please respond?

[2019-01-23 22:42] mmccorks commented on #1379
We just met to discuss this - we plan to meet again to discuss whether we should use the existing crash pings or send something custom (and what that should look like). But we agreed that we should send some sort of crash ping so that a) we can attribute crashes to a given build and b) consolidate native and managed crash counts in one place for better product decision making. Happy to chat with y

[2019-01-23 23:00] #1619 closed

[2019-01-23 23:52] cpeterso commented on #1248
In [GV bug 1508371](https://bugzilla.mozilla.org/show_bug.cgi?id=1508371#c6), @mcomella says that FFTV should be able to implement the MediaSession using GV's existing MediaDelegate and MediaElement APIs. I will close GV bug 1508371 and the FFTV team can track the MediaSession work in this issue.

[2019-01-24 00:21] Baron-Severin commented on #1362
Update re the strictmode violation.  This is caused by an `android.os.strictmode.UntaggedSocketViolation` thrown by OkHttp3.  They have marked the issue as will not fix, and suggest either disabling this check, or adding some workaround code pasted into the ticket.  A few people have responded saying that the workaround code does not work.

I'm not yet sure why this fails on certain Remote TestKit

[2019-01-24 00:47] liuche opened #1707 "Sentry: crash in "onBackPressed" in MainActivity (3.2.2)"
## Steps to reproduce
This has very few events, but this could be a race condition - in any case, back-press is something we should have an eye on. We can close this if it doesn't show up any more.

Sentry report: https://sentry.prod.mozaws.net/operations/firefox-tv/issues/5127306/

### Device information

* Fire TV device: AFTT
* Firefox version: 3.2.2 (short release, rolled back)

[2019-01-24 00:51] liuche opened #1708 "Crash in Pocket onSocketTimeout"
## Steps to reproduce
34k users, 64k events (this isn't a ton)
Sentry report: https://sentry.prod.mozaws.net/operations/firefox-tv/issues/4966839/

`SocketTimeoutException at org.mozilla.tv.firefox.pocket.PocketEndpointRaw in getGlobalVideoRecommendations at line 78`

We should at least try to catch and log this, rather than crashing.

### Device information

* Fire TV device: ?
* Firefox version:

[2019-01-24 01:51] mcomella commented on #1362
fwiw, we could consider logging these StrictMode events instead of
displaying a user-facing dialog. User-facing is usually good because
they're more noticeable, but not in cases like these. x_x

[2019-01-24 13:25] pocmo commented on #1248
If the MediaDelegate is enough then this sounds like something we may want to implement in the/a component. Does this make sense @mcomella?

[2019-01-24 16:59] AaronMT commented on #1584
Still reproducible on master (3020765b406db21367dd400696a7e2403063fba5) on my 4K

[2019-01-24 17:09] athomasmoz commented on #1584
@AaronMT Is this a dup of #773 ? I scheduled that into next sprint as a P1 thinking it was this issue. Agree it is important

[2019-01-24 18:19] AaronMT commented on #1584
Nearly the same

#773 can't easily get back to the feed
#1584 can't get back to the browser

[2019-01-24 18:35] athomasmoz commented on #1584
Got it, thanks for the clarification. I'll update priorities and make sure this one #1584 is on the table for next sprint.

[2019-01-24 19:41] dnarcese commented on #1231
This is fixed, closing.

[2019-01-24 19:41] #1231 closed, assigned to nobody

[2019-01-24 21:43] #1362 closed

[2019-01-24 22:03] mcomella opened #1714 "Use components lib-publicsuffixlist"
It is identify the suffix in URLs, e.g. ".com" or ".co.uk" so we can create pretty home tiles. Our public suffix list code is old, crufty, and slightly asynchronous so I'd hope the components implementation provides a better API for us.

See also https://github.com/mozilla-mobile/firefox-echo-show/issues/210.